In [20]:
import pandas as pd
import numpy as np

In [21]:
!ls

AirQualityUCI.csv  AirQualityUCI.xlsx  preprocessing.ipynb

In [33]:
data_raw = pd.read_csv("AirQualityUCI.csv",sep=";")
columns = ['Date', 'Time', 'CO(GT)', 'PT08.S1(CO)', 'NMHC(GT)', 'C6H6(GT)',
           'PT08.S2(NMHC)', 'NOx(GT)', 'PT08.S3(NOx)', 'NO2(GT)', 'PT08.S4(NO2)',
           'PT08.S5(O3)', 'T', 'RH', 'AH']
data_raw = data_raw[columns]
data_raw = data_raw.iloc[:9357,:]
data_raw

,Date,Time,CO(GT),PT08.S1(CO),NMHC(GT),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH
0,10/03/2004,18.00.00,"2,6",1360.0,150.0,"11,9",1046.0,166.0,1056.0,113.0,1692.0,1268.0,"13,6","48,9","0,7578"
1,10/03/2004,19.00.00,2,1292.0,112.0,"9,4",955.0,103.0,1174.0,92.0,1559.0,972.0,"13,3","47,7","0,7255"
2,10/03/2004,20.00.00,"2,2",1402.0,88.0,"9,0",939.0,131.0,1140.0,114.0,1555.0,1074.0,"11,9","54,0","0,7502"
3,10/03/2004,21.00.00,"2,2",1376.0,80.0,"9,2",948.0,172.0,1092.0,122.0,1584.0,1203.0,"11,0","60,0","0,7867"
4,10/03/2004,22.00.00,"1,6",1272.0,51.0,"6,5",836.0,131.0,1205.0,116.0,1490.0,1110.0,"11,2","59,6","0,7888"
5,10/03/2004,23.00.00,"1,2",1197.0,38.0,"4,7",750.0,89.0,1337.0,96.0,1393.0,949.0,"11,2","59,2","0,7848"
6,11/03/2004,00.00.00,"1,2",1185.0,31.0,"3,6",690.0,62.0,1462.0,77.0,1333.0,733.0,"11,3","56,8","0,7603"
7,11/03/2004,01.00.00,1,1136.0,31.0,"3,3",672.0,62.0,1453.0,76.0,1333.0,730.0,"10,7","60,0","0,7702"
8,11/03/2004,02.00.00,"0,9",1094.0,24.0,"2,3",609.0,45.0,1579.0,60.0,1276.0,620.0,"10,7","59,7","0,7648"
9,11/03/2004,03.00.00,"0,6",1010.0,19.0,"1,7",561.0,-200.0,1705.0,-200.0,1235.0,501.0,"10,3","60,2","0,7517"
10,11/03/2004,04.00.00,-200,1011.0,14.0,"1,3",527.0,21.0,1818.0,34.0,1197.0,445.0,"10,1","60,5","0,7465"
11,11/03/2004,05.00.00,"0,7",1066.0,8.0,"1,1",512.0,16.0,1918.0,28.0,1182.0,422.0,"11,0","56,2","0,7366"
12,11/03/2004,06.00.00,"0,7",1052.0,16.0,"1,6",553.0,34.0,1738.0,48.0,1221.0,472.0,"10,5","58,1","0,7353"
13,11/03/2004,07.00.00,"1,1",1144.0,29.0,"3,2",667.0,98.0,1490.0,82.0,1339.0,730.0,"10,2","59,6","0,7417"
14,11/03/2004,08.00.00,2,1333.0,64.0,"8,0",900.0,174.0,1136.0,112.0,1517.0,1102.0,"10,8","57,4","0,7408"
15,11/03/2004,09.00.00,"2,2",1351.0,87.0,"9,5",960.0,129.0,1079.0,101.0,1583.0,1028.0,"10,5","60,6","0,7691"
16,11/03/2004,10.00.00,"1,7",1233.0,77.0,"6,3",827.0,112.0,1218.0,98.0,1446.0,860.0,"10,8","58,4","0,7552"
17,11/03/2004,11.00.00,"1,5",1179.0,43.0,"5,0",762.0,95.0,1328.0,92.0,1362.0,671.0,"10,5","57,9","0,7352"
18,11/03/2004,12.00.00,"1,6",1236.0,61.0,"5,2",774.0,104.0,1301.0,95.0,1401.0,664.0,"9,5","66,8","0,7951"
19,11/03/2004,13.00.00,"1,9",1286.0,63.0,"7,3",869.0,146.0,1162.0,112.0,1537.0,799.0,"8,3","76,4","0,8393"
20,11/03/2004,14.00.00,"2,9",1371.0,164.0,"11,5",1034.0,207.0,983.0,128.0,1730.0,1037.0,"8,0","81,1","0,8736"
21,11/03/2004,15.00.00,"2,2",1310.0,79.0,"8,8",933.0,184.0,1082.0,126.0,1647.0,946.0,"8,3","79,8","0,8778"
22,11/03/2004,16.00.00,"2,2",1292.0,95.0,"8,3",912.0,193.0,1103.0,131.0,1591.0,957.0,"9,7","71,2","0,8569"
23,11/03/2004,17.00.00,"2,9",1383.0,150.0,"11,2",1020.0,243.0,1008.0,135.0,1719.0,1104.0,"9,8","67,6","0,8185"
24,11/03/2004,18.00.00,"4,8",1581.0,307.0,"20,8",1319.0,281.0,799.0,151.0,2083.0,1409.0,"10,3","64,2","0,8065"
25,11/03/2004,19.00.00,"6,9",1776.0,461.0,"27,4",1488.0,383.0,702.0,172.0,2333.0,1704.0,"9,7","69,3","0,8319"
26,11/03/2004,20.00.00,"6,1",1640.0,401.0,"24,0",1404.0,351.0,743.0,165.0,2191.0,1654.0,"9,6","67,8","0,8133"
27,11/03/2004,21.00.00,"3,9",1313.0,197.0,"12,8",1076.0,240.0,957.0,136.0,1707.0,1285.0,"9,1","64,0","0,7419"
28,11/03/2004,22.00.00,"1,5",965.0,61.0,"4,7",749.0,94.0,1325.0,85.0,1333.0,821.0,"8,2","63,4","0,6905"
29,11/03/2004,23.00.00,1,913.0,26.0,"2,6",629.0,47.0,1565.0,53.0,1252.0,552.0,"8,2","60,8","0,6657"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9327,03/04/2005,09.00.00,"1,2",1022.0,-200.0,"4,1",715.0,192.0,806.0,118.0,1004.0,831.0,"17,8","30,7","0,6205"
9328,03/04/2005,10.00.00,"1,4",970.0,-200.0,"3,4",677.0,166.0,888.0,113.0,931.0,613.0,"21,1","23,7","0,5875"
9329,03/04/2005,11.00.00,"1,3",1000.0,-200.0,"5,3",779.0,171.0,805.0,115.0,1001.0,640.0,"24,0","19,3","0,5673"
9330,03/04/2005,12.00.00,"1,4",996.0,-200.0,"5,3",781.0,177.0,806.0,124.0,985.0,631.0,"26,5","16,4","0,5594"
9331,03/04/2005,13.00.00,"1,0",928.0,-200.0,"3,8",701.0,119.0,926.0,86.0,902.0,456.0,"28,7","13,7","0,5302"
9332,03/04/2005,14.00.00,"1,0",933.0,-200.0,"4,2",722.0,121.0,899.0,87.0,890.0,450.0,"28,5","13,1","0,5002"
9333,03/04/2005,15.00.00,"1,1",956.0,-200.0,"5,4",783.0,142.0,857.0,100.0,896.0,516.0,"30,0","11,1","0,4624"
9334,03/04/2005,16.00.00,"1,3",968.0,-200.0,"6,3",826.0,197.0,867.0,132.0,898.0,548.0,"29,4","10,4","0,4192"
9335,03/04/2005,17.00.00,"1,4",953.0,-200.0,"6,1",817.0,242.0,872.0,156.0,891.0,603.0,"28,9","9,9","0,3866"
9336,03/04/2005,18.00.00,"1,2",1015.0,-200.0,"4,6",743.0,190.0,851.0,138.0,981.0,597.0,"22,8","21,7","0,5945"
9337,03/04/2005,19.00.00,"2,7",1248.0,-200.0,"11,1",1018.0,367.0,599.0,181.0,1289.0,1167.0,"19,9","33,0","0,7608"
9338,03/04/2005,20.00.00,"2,5",1180.0,-200.0,"7,9",894.0,355.0,636.0,187.0,1200.0,1372.0,"17,5","40,7","0,8073"
9339,03/04/2005,21.00.00,"1,5",1102.0,-200.0,"6,0",812.0,235.0,693.0,158.0,1178.0,1042.0,"16,4","46,6","0,8642"
9340,03/04/2005,22.00.00,"1,6",1116.0,-200.0,"5,8",803.0,233.0,696.0,153.0,1173.0,1055.0,"15,5","49,0","0,8579"
9341,03/04/2005,23.00.00,"1,2",1100.0,-200.0,"5,1",769.0,170.0,722.0,128.0,1147.0,1049.0,"14,3","52,5","0,8497"
9342,04/04/2005,00.00.00,"0,9",1012.0,-200.0,"3,5",683.0,117.0,801.0,93.0,1073.0,816.0,"14,2","51,4","0,8275"
9343,04/04/2005,01.00.00,"0,6",944.0,-200.0,"1,9",579.0,70.0,925.0,58.0,1002.0,598.0,"13,8","51,2","0,8058"
9344,04/04/2005,02.00.00,"0,5",912.0,-200.0,"1,5",544.0,69.0,959.0,55.0,1002.0,573.0,"12,1","56,3","0,7927"
9345,04/04/2005,03.00.00,"0,4",887.0,-200.0,"1,1",508.0,62.0,1047.0,51.0,974.0,549.0,"11,3","58,9","0,7888"
9346,04/04/2005,04.00.00,"-200,0",864.0,-200.0,"0,8",478.0,52.0,1116.0,43.0,958.0,489.0,"11,8","56,0","0,7743"
9347,04/04/2005,05.00.00,"0,5",888.0,-200.0,"1,3",528.0,77.0,1077.0,53.0,987.0,578.0,"10,4","59,9","0,7550"
9348,04/04/2005,06.00.00,"1,1",1031.0,-200.0,"4,4",730.0,182.0,760.0,93.0,1129.0,905.0,"9,5","63,1","0,7531"
9349,04/04/2005,07.00.00,"4,0",1384.0,-200.0,"17,4",1221.0,594.0,470.0,155.0,1600.0,1457.0,"9,7","61,9","0,7446"
9350,04/04/2005,08.00.00,"5,0",1446.0,-200.0,"22,4",1362.0,586.0,415.0,174.0,1777.0,1705.0,"13,5","48,9","0,7553"
9351,04/04/2005,09.00.00,"3,9",1297.0,-200.0,"13,6",1102.0,523.0,507.0,187.0,1375.0,1583.0,"18,2","36,3","0,7487"
9352,04/04/2005,10.00.00,"3,1",1314.0,-200.0,"13,5",1101.0,472.0,539.0,190.0,1374.0,1729.0,"21,9","29,3","0,7568"
9353,04/04/2005,11.00.00,"2,4",1163.0,-200.0,"11,4",1027.0,353.0,604.0,179.0,1264.0,1269.0,"24,3","23,7","0,7119"
9354,04/04/2005,12.00.00,"2,4",1142.0,-200.0,"12,4",1063.0,293.0,603.0,175.0,1241.0,1092.0,"26,9","18,3","0,6406"
9355,04/04/2005,13.00.00,"2,1",1003.0,-200.0,"9,5",961.0,235.0,702.0,156.0,1041.0,770.0,"28,3","13,5","0,5139"
9356,04/04/2005,14.00.00,"2,2",1071.0,-200.0,"11,9",1047.0,265.0,654.0,168.0,1129.0,816.0,"28,5","13,1","0,5028"

In [38]:
data_selected = data_raw[["Date", "Time", "CO(GT)"]]
data_selected

            Date      Time  CO(GT)
0     10/03/2004  18.00.00     2,6
1     10/03/2004  19.00.00       2
2     10/03/2004  20.00.00     2,2
3     10/03/2004  21.00.00     2,2
4     10/03/2004  22.00.00     1,6
5     10/03/2004  23.00.00     1,2
6     11/03/2004  00.00.00     1,2
7     11/03/2004  01.00.00       1
8     11/03/2004  02.00.00     0,9
9     11/03/2004  03.00.00     0,6
10    11/03/2004  04.00.00    -200
11    11/03/2004  05.00.00     0,7
12    11/03/2004  06.00.00     0,7
13    11/03/2004  07.00.00     1,1
14    11/03/2004  08.00.00       2
15    11/03/2004  09.00.00     2,2
16    11/03/2004  10.00.00     1,7
17    11/03/2004  11.00.00     1,5
18    11/03/2004  12.00.00     1,6
19    11/03/2004  13.00.00     1,9
20    11/03/2004  14.00.00     2,9
21    11/03/2004  15.00.00     2,2
22    11/03/2004  16.00.00     2,2
23    11/03/2004  17.00.00     2,9
24    11/03/2004  18.00.00     4,8
25    11/03/2004  19.00.00     6,9
26    11/03/2004  20.00.00     6,1
27    11/03/2004  21.00.00     3,9
28    11/03/2004  22.00.00     1,5
29    11/03/2004  23.00.00       1
...          ...       ...     ...
9327  03/04/2005  09.00.00     1,2
9328  03/04/2005  10.00.00     1,4
9329  03/04/2005  11.00.00     1,3
9330  03/04/2005  12.00.00     1,4
9331  03/04/2005  13.00.00     1,0
9332  03/04/2005  14.00.00     1,0
9333  03/04/2005  15.00.00     1,1
9334  03/04/2005  16.00.00     1,3
9335  03/04/2005  17.00.00     1,4
9336  03/04/2005  18.00.00     1,2
9337  03/04/2005  19.00.00     2,7
9338  03/04/2005  20.00.00     2,5
9339  03/04/2005  21.00.00     1,5
9340  03/04/2005  22.00.00     1,6
9341  03/04/2005  23.00.00     1,2
9342  04/04/2005  00.00.00     0,9
9343  04/04/2005  01.00.00     0,6
9344  04/04/2005  02.00.00     0,5
9345  04/04/2005  03.00.00     0,4
9346  04/04/2005  04.00.00  -200,0
9347  04/04/2005  05.00.00     0,5
9348  04/04/2005  06.00.00     1,1
9349  04/04/2005  07.00.00     4,0
9350  04/04/2005  08.00.00     5,0
9351  04/04/2005  09.00.00     3,9
9352  04/04/2005  10.00.00     3,1
9353  04/04/2005  11.00.00     2,4
9354  04/04/2005  12.00.00     2,4
9355  04/04/2005  13.00.00     2,1
9356  04/04/2005  14.00.00     2,2

[9357 rows x 3 columns]

In [47]:
grouped_df = data_selected.groupby( ["Date", "Time"] )

                    CO(GT)
Date       Time
01/01/2005 00.00.00   -200
           01.00.00    1,6
           02.00.00    2,5
           03.00.00    2,7
           04.00.00    1,9
           05.00.00    1,4
           06.00.00    1,5
           07.00.00    1,4
           08.00.00    1,1
           09.00.00    1,0
           10.00.00    1,2
           11.00.00    1,7
           12.00.00    2,3
           13.00.00    2,2
           14.00.00    2,4
           15.00.00    2,2
           16.00.00    2,1
           17.00.00    3,0
           18.00.00    4,7
           19.00.00    3,6
           20.00.00    2,5
           21.00.00    2,3
           22.00.00    2,1
           23.00.00    1,7
01/02/2005 00.00.00    1,3
           01.00.00    1,1
           02.00.00    1,0
           03.00.00    0,9
           04.00.00    0,8
           05.00.00    0,9
...                    ...
31/10/2004 18.00.00    6,6
           19.00.00    4,7
           20.00.00    4,1
           21.00.00    4,1
           22.00.00    2,7
           23.00.00    2,6
31/12/2004 00.00.00   -200
           01.00.00   -200
           02.00.00   -200
           03.00.00   -200
           04.00.00   -200
           05.00.00   -200
           06.00.00   -200
           07.00.00   -200
           08.00.00   -200
           09.00.00   -200
           10.00.00   -200
           11.00.00   -200
           12.00.00   -200
           13.00.00   -200
           14.00.00   -200
           15.00.00   -200
           16.00.00   -200
           17.00.00   -200
           18.00.00   -200
           19.00.00   -200
           20.00.00   -200
           21.00.00   -200
           22.00.00   -200
           23.00.00   -200

[9357 rows x 1 columns]

In [42]:
for key, item in grouped_df:
    print(grouped_df.get_group(key), "\n\n")

            Date      Time CO(GT)
7110  01/01/2005  00.00.00   -200


            Date      Time CO(GT)
7111  01/01/2005  01.00.00    1,6


            Date      Time CO(GT)
7112  01/01/2005  02.00.00    2,5


            Date      Time CO(GT)
7113  01/01/2005  03.00.00    2,7


            Date      Time CO(GT)
7114  01/01/2005  04.00.00    1,9


            Date      Time CO(GT)
7115  01/01/2005  05.00.00    1,4


            Date      Time CO(GT)
7116  01/01/2005  06.00.00    1,5


            Date      Time CO(GT)
7117  01/01/2005  07.00.00    1,4


            Date      Time CO(GT)
7118  01/01/2005  08.00.00    1,1


            Date      Time CO(GT)
7119  01/01/2005  09.00.00    1,0


            Date      Time CO(GT)
7120  01/01/2005  10.00.00    1,2


            Date      Time CO(GT)
7121  01/01/2005  11.00.00    1,7


            Date      Time CO(GT)
7122  01/01/2005  12.00.00    2,3


            Date      Time CO(GT)
7123  01/01/2005  13.00.00    2,2


            Date      Time CO(GT)
7124  01/01/2005  14.00.00    2,4


            Date      Time CO(GT)
7125  01/01/2005  15.00.00    2,2


            Date      Time CO(GT)
7126  01/01/2005  16.00.00    2,1


            Date      Time CO(GT)
7127  01/01/2005  17.00.00    3,0


            Date      Time CO(GT)
7128  01/01/2005  18.00.00    4,7


            Date      Time CO(GT)
7129  01/01/2005  19.00.00    3,6


            Date      Time CO(GT)
7130  01/01/2005  20.00.00    2,5


            Date      Time CO(GT)
7131  01/01/2005  21.00.00    2,3


            Date      Time CO(GT)
7132  01/01/2005  22.00.00    2,1


            Date      Time CO(GT)
7133  01/01/2005  23.00.00    1,7


            Date      Time CO(GT)
7854  01/02/2005  00.00.00    1,3


            Date      Time CO(GT)
7855  01/02/2005  01.00.00    1,1


            Date      Time CO(GT)
7856  01/02/2005  02.00.00    1,0


            Date      Time CO(GT)
7857  01/02/2005  03.00.00    0,9


            Date      Time CO(GT)
7858  01/02/2005  04.00.00    0,8


            Date      Time CO(GT)
7859  01/02/2005  05.00.00    0,9


            Date      Time CO(GT)
7860  01/02/2005  06.00.00    1,1


            Date      Time CO(GT)
7861  01/02/2005  07.00.00    1,6


            Date      Time CO(GT)
7862  01/02/2005  08.00.00    3,7


            Date      Time CO(GT)
7863  01/02/2005  09.00.00    4,8


            Date      Time CO(GT)
7864  01/02/2005  10.00.00    4,1


            Date      Time CO(GT)
7865  01/02/2005  11.00.00    4,5


            Date      Time CO(GT)
7866  01/02/2005  12.00.00    4,5


            Date      Time CO(GT)
7867  01/02/2005  13.00.00    3,7


            Date      Time CO(GT)
7868  01/02/2005  14.00.00    4,2


            Date      Time CO(GT)
7869  01/02/2005  15.00.00    3,3


            Date      Time CO(GT)
7870  01/02/2005  16.00.00    3,2


            Date      Time CO(GT)
7871  01/02/2005  17.00.00    3,6


            Date      Time CO(GT)
7872  01/02/2005  18.00.00    3,5


            Date      Time CO(GT)
7873  01/02/2005  19.00.00    4,1


            Date      Time CO(GT)
7874  01/02/2005  20.00.00    4,0


            Date      Time CO(GT)
7875  01/02/2005  21.00.00    3,3


            Date      Time CO(GT)
7876  01/02/2005  22.00.00    3,0


            Date      Time CO(GT)
7877  01/02/2005  23.00.00    2,6


            Date      Time CO(GT)
8526  01/03/2005  00.00.00    0,6


            Date      Time CO(GT)
8527  01/03/2005  01.00.00    0,6


            Date      Time CO(GT)
8528  01/03/2005  02.00.00    0,4


            Date      Time CO(GT)
8529  01/03/2005  03.00.00    0,2


            Date      Time CO(GT)
8530  01/03/2005  04.00.00    0,2


            Date      Time CO(GT)
8531  01/03/2005  05.00.00    0,2


            Date      Time CO(GT)
8532  01/03/2005  06.00.00    0,2


            Date      Time CO(GT)
8533  01/03/2005  07.00.00    0,5


            Date      Time CO(GT)
8534  01/03/2005  08.00.00    1,5


            Date      Time CO(GT)
8535  01/03/2005  09.00.00    1,9


            Date      Time CO(GT)
8536  01/03/2005  10.00.00    1,4


            Date      Time CO(GT)
8537  01/03/2005  11.00.00    0,9


            Date      Time CO(GT)
8538  01/03/2005  12.00.00    0,7


            Date      Time CO(GT)
8539  01/03/2005  13.00.00    0,8


            Date      Time CO(GT)
8540  01/03/2005  14.00.00    1,0


            Date      Time CO(GT)
8541  01/03/2005  15.00.00    0,9


            Date      Time CO(GT)
8542  01/03/2005  16.00.00    1,0


            Date      Time CO(GT)
8543  01/03/2005  17.00.00    0,9


            Date      Time CO(GT)
8544  01/03/2005  18.00.00    1,4


            Date      Time CO(GT)
8545  01/03/2005  19.00.00    2,1


            Date      Time CO(GT)
8546  01/03/2005  20.00.00    2,8


            Date      Time CO(GT)
8547  01/03/2005  21.00.00    2,2


            Date      Time CO(GT)
8548  01/03/2005  22.00.00    1,0


            Date      Time CO(GT)
8549  01/03/2005  23.00.00    1,1


           Date      Time CO(GT)
510  01/04/2004  00.00.00    1,6


           Date      Time CO(GT)
511  01/04/2004  01.00.00    1,2


           Date      Time CO(GT)
512  01/04/2004  02.00.00    1,1


           Date      Time CO(GT)
513  01/04/2004  03.00.00    0,9


           Date      Time CO(GT)
514  01/04/2004  04.00.00    0,7


           Date      Time CO(GT)
515  01/04/2004  05.00.00    0,9


           Date      Time CO(GT)
516  01/04/2004  06.00.00    1,7


           Date      Time CO(GT)
517  01/04/2004  07.00.00    4,2


           Date      Time CO(GT)
518  01/04/2004  08.00.00    6,2


           Date      Time CO(GT)
519  01/04/2004  09.00.00    4,6


           Date      Time CO(GT)
520  01/04/2004  10.00.00    2,8


           Date      Time CO(GT)
521  01/04/2004  11.00.00    1,6


           Date      Time CO(GT)
522  01/04/2004  12.00.00    1,7


           Date      Time CO(GT)
523  01/04/2004  13.00.00    1,7


           Date      Time CO(GT)
524  01/04/2004  14.00.00    1,7


           Date      Time CO(GT)
525  01/04/2004  15.00.00    1,9


           Date      Time CO(GT)
526  01/04/2004  16.00.00    2,3


           Date      Time CO(GT)
527  01/04/2004  17.00.00    3,3


           Date      Time CO(GT)
528  01/04/2004  18.00.00    4,2


           Date      Time CO(GT)
529  01/04/2004  19.00.00    5,5


           Date      Time CO(GT)
530  01/04/2004  20.00.00    4,9


           Date      Time CO(GT)
531  01/04/2004  21.00.00    2,5


           Date      Time CO(GT)
532  01/04/2004  22.00.00      2


           Date      Time CO(GT)
533  01/04/2004  23.00.00      2


            Date      Time CO(GT)
9270  01/04/2005  00.00.00    0,7


            Date      Time CO(GT)
9271  01/04/2005  01.00.00    0,6


            Date      Time CO(GT)
9272  01/04/2005  02.00.00    0,5


            Date      Time CO(GT)
9273  01/04/2005  03.00.00    0,5


            Date      Time  CO(GT)
9274  01/04/2005  04.00.00  -200,0


            Date      Time CO(GT)
9275  01/04/2005  05.00.00    0,5


            Date      Time CO(GT)
9276  01/04/2005  06.00.00    0,6


            Date      Time CO(GT)
9277  01/04/2005  07.00.00    1,5


            Date      Time CO(GT)
9278  01/04/2005  08.00.00    1,9


            Date      Time CO(GT)
9279  01/04/2005  09.00.00    1,3


            Date      Time CO(GT)
9280  01/04/2005  10.00.00    1,0


            Date      Time CO(GT)
9281  01/04/2005  11.00.00    1,0


            Date      Time CO(GT)
9282  01/04/2005  12.00.00    1,1


            Date      Time CO(GT)
9283  01/04/2005  13.00.00    1,3


            Date      Time CO(GT)
9284  01/04/2005  14.00.00    1,0


            Date      Time CO(GT)
9285  01/04/2005  15.00.00    1,1


            Date      Time CO(GT)
9286  01/04/2005  16.00.00    1,4


            Date      Time CO(GT)
9287  01/04/2005  17.00.00    1,5


            Date      Time CO(GT)
9288  01/04/2005  18.00.00    1,6


            Date      Time CO(GT)
9289  01/04/2005  19.00.00    2,2


            Date      Time CO(GT)
9290  01/04/2005  20.00.00    1,4


            Date      Time CO(GT)
9291  01/04/2005  21.00.00    0,9


            Date      Time CO(GT)
9292  01/04/2005  22.00.00    0,8


            Date      Time CO(GT)
9293  01/04/2005  23.00.00    1,1


            Date      Time CO(GT)
1230  01/05/2004  00.00.00    3,5


            Date      Time CO(GT)
1231  01/05/2004  01.00.00    2,4


            Date      Time CO(GT)
1232  01/05/2004  02.00.00    1,6


            Date      Time CO(GT)
1233  01/05/2004  03.00.00    1,3


            Date      Time CO(GT)
1234  01/05/2004  04.00.00   -200


            Date      Time CO(GT)
1235  01/05/2004  05.00.00    0,6


            Date      Time CO(GT)

1236  01/05/2004  06.00.00    0,7


            Date      Time CO(GT)
1237  01/05/2004  07.00.00    1,2


            Date      Time CO(GT)
1238  01/05/2004  08.00.00    1,5


            Date      Time CO(GT)
1239  01/05/2004  09.00.00    1,8


            Date      Time CO(GT)
1240  01/05/2004  10.00.00    2,1


            Date      Time CO(GT)
1241  01/05/2004  11.00.00    1,9


            Date      Time CO(GT)
1242  01/05/2004  12.00.00      2


            Date      Time CO(GT)
1243  01/05/2004  13.00.00    1,3


            Date      Time CO(GT)
1244  01/05/2004  14.00.00    1,3


            Date      Time CO(GT)
1245  01/05/2004  15.00.00    1,8


            Date      Time CO(GT)
1246  01/05/2004  16.00.00      2


            Date      Time CO(GT)
1247  01/05/2004  17.00.00    1,8


            Date      Time CO(GT)
1248  01/05/2004  18.00.00    2,4


            Date      Time CO(GT)
1249  01/05/2004  19.00.00      4


            Date      Time CO(GT)
1250  01/05/2004  20.00.00    2,8


            Date      Time CO(GT)
1251  01/05/2004  21.00.00      2


            Date      Time CO(GT)
1252  01/05/2004  22.00.00    3,6


            Date      Time CO(GT)
1253  01/05/2004  23.00.00    3,7


            Date      Time CO(GT)
1974  01/06/2004  00.00.00    0,3


            Date      Time CO(GT)
1975  01/06/2004  01.00.00   -200


            Date      Time CO(GT)
1976  01/06/2004  02.00.00   -200


            Date      Time CO(GT)
1977  01/06/2004  03.00.00   -200


            Date      Time CO(GT)
1978  01/06/2004  04.00.00   -200


            Date      Time CO(GT)
1979  01/06/2004  05.00.00    0,1


            Date      Time CO(GT)
1980  01/06/2004  06.00.00    0,3


            Date      Time CO(GT)
1981  01/06/2004  07.00.00    1,4


            Date      Time CO(GT)
1982  01/06/2004  08.00.00    2,7


            Date      Time CO(GT)
1983  01/06/2004  09.00.00    2,3


            Date      Time CO(GT)
1984  01/06/2004  10.00.00    1,8


            Date      Time CO(GT)
1985  01/06/2004  11.00.00    1,6


            Date      Time CO(GT)
1986  01/06/2004  12.00.00    1,9


            Date      Time CO(GT)
1987  01/06/2004  13.00.00    2,5


            Date      Time CO(GT)
1988  01/06/2004  14.00.00    1,6


            Date      Time CO(GT)
1989  01/06/2004  15.00.00    1,5


            Date      Time CO(GT)
1990  01/06/2004  16.00.00    2,5


            Date      Time CO(GT)
1991  01/06/2004  17.00.00    3,6


            Date      Time CO(GT)
1992  01/06/2004  18.00.00    3,5


            Date      Time CO(GT)
1993  01/06/2004  19.00.00    4,8


            Date      Time CO(GT)
1994  01/06/2004  20.00.00    3,7


            Date      Time CO(GT)
1995  01/06/2004  21.00.00    2,1


            Date      Time CO(GT)
1996  01/06/2004  22.00.00    1,6


            Date      Time CO(GT)
1997  01/06/2004  23.00.00    2,2


            Date      Time CO(GT)
2694  01/07/2004  00.00.00    2,3


            Date      Time CO(GT)
2695  01/07/2004  01.00.00    1,5


            Date      Time CO(GT)
2696  01/07/2004  02.00.00    0,9


            Date      Time CO(GT)
2697  01/07/2004  03.00.00    0,6


            Date      Time CO(GT)
2698  01/07/2004  04.00.00    0,6


            Date      Time CO(GT)
2699  01/07/2004  05.00.00    0,8


            Date      Time CO(GT)
2700  01/07/2004  06.00.00    0,9


            Date      Time CO(GT)
2701  01/07/2004  07.00.00    2,4


            Date      Time CO(GT)
2702  01/07/2004  08.00.00    3,9


            Date      Time CO(GT)
2703  01/07/2004  09.00.00    2,9


            Date      Time CO(GT)
2704  01/07/2004  10.00.00    2,7


            Date      Time CO(GT)
2705  01/07/2004  11.00.00      2


            Date      Time CO(GT)
2706  01/07/2004  12.00.00    2,4


            Date      Time CO(GT)
2707  01/07/2004  13.00.00      2


            Date      Time CO(GT)
2708  01/07/2004  14.00.00    1,8


            Date      Time CO(GT)
2709  01/07/2004  15.00.00    1,9


            Date      Time CO(GT)
2710  01/07/2004  16.00.00    1,8


            Date      Time CO(GT)
2711  01/07/2004  17.00.00    2,9


            Date      Time CO(GT)
2712  01/07/2004  18.00.00    3,3


            Date      Time CO(GT)
2713  01/07/2004  19.00.00    4,4


            Date      Time CO(GT)
2714  01/07/2004  20.00.00    3,4


            Date      Time CO(GT)
2715  01/07/2004  21.00.00    1,9


            Date      Time CO(GT)
2716  01/07/2004  22.00.00    2,1


            Date      Time CO(GT)
2717  01/07/2004  23.00.00    2,5


            Date      Time CO(GT)
3438  01/08/2004  00.00.00      2


            Date      Time CO(GT)
3439  01/08/2004  01.00.00    1,8


            Date      Time CO(GT)
3440  01/08/2004  02.00.00    0,9


            Date      Time CO(GT)
3441  01/08/2004  03.00.00    0,5


            Date      Time CO(GT)
3442  01/08/2004  04.00.00    0,6


            Date      Time CO(GT)
3443  01/08/2004  05.00.00    0,4


            Date      Time CO(GT)
3444  01/08/2004  06.00.00    0,4


            Date      Time CO(GT)
3445  01/08/2004  07.00.00    0,4


            Date      Time CO(GT)
3446  01/08/2004  08.00.00    0,8


            Date      Time CO(GT)
3447  01/08/2004  09.00.00    0,8


            Date      Time CO(GT)
3448  01/08/2004  10.00.00    0,9


            Date      Time CO(GT)
3449  01/08/2004  11.00.00    0,7


            Date      Time CO(GT)
3450  01/08/2004  12.00.00    0,6


            Date      Time CO(GT)
3451  01/08/2004  13.00.00    0,5


            Date      Time CO(GT)
3452  01/08/2004  14.00.00    0,6


            Date      Time CO(GT)
3453  01/08/2004  15.00.00    0,7


            Date      Time CO(GT)
3454  01/08/2004  16.00.00    0,9


            Date      Time CO(GT)
3455  01/08/2004  17.00.00    0,9


            Date      Time CO(GT)
3456  01/08/2004  18.00.00    1,2


            Date      Time CO(GT)
3457  01/08/2004  19.00.00    1,4


            Date      Time CO(GT)
3458  01/08/2004  20.00.00    1,5


            Date      Time CO(GT)
3459  01/08/2004  21.00.00    1,7


            Date      Time CO(GT)
3460  01/08/2004  22.00.00    1,7


            Date      Time CO(GT)
3461  01/08/2004  23.00.00    1,7


            Date      Time CO(GT)
4182  01/09/2004  00.00.00    1,9


            Date      Time CO(GT)
4183  01/09/2004  01.00.00    1,3


            Date      Time CO(GT)
4184  01/09/2004  02.00.00    0,7


            Date      Time CO(GT)
4185  01/09/2004  03.00.00    0,5


            Date      Time CO(GT)
4186  01/09/2004  04.00.00    0,5


            Date      Time CO(GT)
4187  01/09/2004  05.00.00    0,6


            Date      Time CO(GT)
4188  01/09/2004  06.00.00    1,3


            Date      Time CO(GT)
4189  01/09/2004  07.00.00    3,6


            Date      Time CO(GT)
4190  01/09/2004  08.00.00    4,9


            Date      Time CO(GT)
4191  01/09/2004  09.00.00    3,9


            Date      Time CO(GT)
4192  01/09/2004  10.00.00    2,2


            Date      Time CO(GT)
4193  01/09/2004  11.00.00    1,9


            Date      Time CO(GT)
4194  01/09/2004  12.00.00    2,2


            Date      Time CO(GT)
4195  01/09/2004  13.00.00      2


            Date      Time CO(GT)
4196  01/09/2004  14.00.00    1,7


            Date      Time CO(GT)
4197  01/09/2004  15.00.00      2


            Date      Time CO(GT)
4198  01/09/2004  16.00.00    2,1


            Date      Time CO(GT)
4199  01/09/2004  17.00.00    3,2


            Date      Time CO(GT)
4200  01/09/2004  18.00.00      4


            Date      Time CO(GT)
4201  01/09/2004  19.00.00    4,4


            Date      Time CO(GT)
4202  01/09/2004  20.00.00      3


            Date      Time CO(GT)
4203  01/09/2004  21.00.00    2,2


            Date      Time CO(GT)
4204  01/09/2004  22.00.00    1,7


            Date      Time CO(GT)
4205  01/09/2004  23.00.00    1,9


            Date      Time CO(GT)
4902  01/10/2004  00.00.00    1,9


            Date      Time CO(GT)
4903  01/10/2004  01.00.00    1,6


            Date      Time CO(GT)
4904  01/10/2004  02.00.00    1,3


            Date      Time CO(GT)
4905  01/10/2004  03.00.00    0,8


            Date      Time CO(GT)
4906  01/10/2004  04.00.00    0,6


            Date      Time CO(GT)
4907  01/10/2004  05.00.00    0,7


            Date      Time CO(GT)
4908  01/10/2004  06.00.00    1,6


            Date      Time CO(GT)
4909  01/10/2004  07.00.00    2,9


            Date      Time CO(GT)
4910  01/10/2004  08.00.00    4,1


            Date      Time CO(GT)
4911  01/10/2004  09.00.00    3,7


            Date      Time CO(GT)
4912  01/10/2004  10.00.00    3,6


            Date      Time CO(GT)
4913  01/10/2004  11.00.00    3,4


            Date      Time CO(GT)
4914  01/10/2004  12.00.00    3,7


            Date      Time CO(GT)
4915  01/10/2004  13.00.00    4,1


            Date      Time CO(GT)
4916  01/10/2004  14.00.00    3,2


            Date      Time CO(GT)
4917  01/10/2004  15.00.00    2,4


            Date      Time CO(GT)
4918  01/10/2004  16.00.00    3,4


            Date      Time CO(GT)
4919  01/10/2004  17.00.00    5,6


            Date      Time CO(GT)
4920  01/10/2004  18.00.00   -200


            Date      Time CO(GT)
4921  01/10/2004  19.00.00   -200


            Date      Time CO(GT)

4922  01/10/2004  20.00.00   -200


            Date      Time CO(GT)
4923  01/10/2004  21.00.00   -200


            Date      Time CO(GT)
4924  01/10/2004  22.00.00   -200


            Date      Time CO(GT)
4925  01/10/2004  23.00.00   -200


            Date      Time CO(GT)
5646  01/11/2004  00.00.00    3,2


            Date      Time CO(GT)
5647  01/11/2004  01.00.00    3,7


            Date      Time CO(GT)
5648  01/11/2004  02.00.00    3,5


            Date      Time CO(GT)
5649  01/11/2004  03.00.00      3


            Date      Time CO(GT)
5650  01/11/2004  04.00.00   -200


            Date      Time CO(GT)
5651  01/11/2004  05.00.00    2,7


            Date      Time CO(GT)
5652  01/11/2004  06.00.00    1,8


            Date      Time CO(GT)
5653  01/11/2004  07.00.00    1,3


            Date      Time CO(GT)
5654  01/11/2004  08.00.00    1,5


            Date      Time CO(GT)
5655  01/11/2004  09.00.00    1,9


            Date      Time CO(GT)
5656  01/11/2004  10.00.00    2,2


            Date      Time CO(GT)
5657  01/11/2004  11.00.00    2,6


            Date      Time CO(GT)
5658  01/11/2004  12.00.00    2,7


            Date      Time CO(GT)
5659  01/11/2004  13.00.00    2,5


            Date      Time CO(GT)
5660  01/11/2004  14.00.00    1,5


            Date      Time CO(GT)
5661  01/11/2004  15.00.00      2


            Date      Time CO(GT)
5662  01/11/2004  16.00.00    3,1


            Date      Time CO(GT)
5663  01/11/2004  17.00.00    3,7


            Date      Time CO(GT)
5664  01/11/2004  18.00.00      4


            Date      Time CO(GT)
5665  01/11/2004  19.00.00    4,1


            Date      Time CO(GT)
5666  01/11/2004  20.00.00    3,1


            Date      Time CO(GT)
5667  01/11/2004  21.00.00    3,2


            Date      Time CO(GT)
5668  01/11/2004  22.00.00    3,2


            Date      Time CO(GT)
5669  01/11/2004  23.00.00    2,7


            Date      Time CO(GT)
6366  01/12/2004  00.00.00    2,2


            Date      Time CO(GT)
6367  01/12/2004  01.00.00    1,3


            Date      Time CO(GT)
6368  01/12/2004  02.00.00    1,2


            Date      Time CO(GT)
6369  01/12/2004  03.00.00    0,9


            Date      Time CO(GT)
6370  01/12/2004  04.00.00   -200


            Date      Time CO(GT)
6371  01/12/2004  05.00.00    0,6


            Date      Time CO(GT)
6372  01/12/2004  06.00.00    0,9


            Date      Time CO(GT)
6373  01/12/2004  07.00.00    1,4


            Date      Time CO(GT)
6374  01/12/2004  08.00.00    3,4


            Date      Time CO(GT)
6375  01/12/2004  09.00.00      5


            Date      Time CO(GT)
6376  01/12/2004  10.00.00    4,7


            Date      Time CO(GT)
6377  01/12/2004  11.00.00    3,2


            Date      Time CO(GT)
6378  01/12/2004  12.00.00    3,5


            Date      Time CO(GT)
6379  01/12/2004  13.00.00      4


            Date      Time CO(GT)
6380  01/12/2004  14.00.00    5,7


            Date      Time CO(GT)
6381  01/12/2004  15.00.00      5


            Date      Time CO(GT)
6382  01/12/2004  16.00.00    5,6


            Date      Time CO(GT)
6383  01/12/2004  17.00.00    6,2


            Date      Time CO(GT)
6384  01/12/2004  18.00.00    7,5


            Date      Time CO(GT)
6385  01/12/2004  19.00.00      3


            Date      Time CO(GT)
6386  01/12/2004  20.00.00    2,6


            Date      Time CO(GT)
6387  01/12/2004  21.00.00    2,1


            Date      Time CO(GT)
6388  01/12/2004  22.00.00    1,8


            Date      Time CO(GT)
6389  01/12/2004  23.00.00      2


            Date      Time CO(GT)
7134  02/01/2005  00.00.00    1,8


            Date      Time CO(GT)
7135  02/01/2005  01.00.00    1,6


            Date      Time CO(GT)
7136  02/01/2005  02.00.00    1,3


            Date      Time CO(GT)
7137  02/01/2005  03.00.00    1,3


            Date      Time CO(GT)
7138  02/01/2005  04.00.00    1,3


            Date      Time CO(GT)
7139  02/01/2005  05.00.00    1,1


            Date      Time CO(GT)
7140  02/01/2005  06.00.00    1,0


            Date      Time CO(GT)
7141  02/01/2005  07.00.00    1,0


            Date      Time CO(GT)
7142  02/01/2005  08.00.00    1,2


            Date      Time CO(GT)
7143  02/01/2005  09.00.00    1,3


            Date      Time CO(GT)
7144  02/01/2005  10.00.00    1,6


            Date      Time CO(GT)
7145  02/01/2005  11.00.00    2,2


            Date      Time CO(GT)
7146  02/01/2005  12.00.00    2,2


            Date      Time CO(GT)
7147  02/01/2005  13.00.00    2,8


            Date      Time CO(GT)
7148  02/01/2005  14.00.00    2,1


            Date      Time CO(GT)
7149  02/01/2005  15.00.00    1,6


            Date      Time CO(GT)
7150  02/01/2005  16.00.00    2,8


            Date      Time CO(GT)
7151  02/01/2005  17.00.00    2,6


            Date      Time CO(GT)
7152  02/01/2005  18.00.00    2,8


            Date      Time CO(GT)
7153  02/01/2005  19.00.00    2,9


            Date      Time CO(GT)
7154  02/01/2005  20.00.00    3,4


            Date      Time CO(GT)
7155  02/01/2005  21.00.00    2,9


            Date      Time CO(GT)
7156  02/01/2005  22.00.00    3,2


            Date      Time CO(GT)
7157  02/01/2005  23.00.00    3,1


            Date      Time CO(GT)
7878  02/02/2005  00.00.00    2,6


            Date      Time CO(GT)
7879  02/02/2005  01.00.00    2,6


            Date      Time CO(GT)
7880  02/02/2005  02.00.00    2,9


            Date      Time CO(GT)
7881  02/02/2005  03.00.00    2,9


            Date      Time CO(GT)
7882  02/02/2005  04.00.00    2,5


            Date      Time CO(GT)
7883  02/02/2005  05.00.00    2,0


            Date      Time CO(GT)
7884  02/02/2005  06.00.00    2,2


            Date      Time CO(GT)
7885  02/02/2005  07.00.00    2,4


            Date      Time CO(GT)
7886  02/02/2005  08.00.00    4,0


            Date      Time CO(GT)
7887  02/02/2005  09.00.00    6,7


            Date      Time CO(GT)
7888  02/02/2005  10.00.00    5,6


            Date      Time CO(GT)
7889  02/02/2005  11.00.00    4,3


            Date      Time CO(GT)
7890  02/02/2005  12.00.00    4,0


            Date      Time CO(GT)
7891  02/02/2005  13.00.00    2,6


            Date      Time CO(GT)
7892  02/02/2005  14.00.00    2,2


            Date      Time CO(GT)
7893  02/02/2005  15.00.00    1,9


            Date      Time CO(GT)
7894  02/02/2005  16.00.00    1,8


            Date      Time CO(GT)
7895  02/02/2005  17.00.00    3,1


            Date      Time CO(GT)
7896  02/02/2005  18.00.00    4,8


            Date      Time CO(GT)
7897  02/02/2005  19.00.00    5,8


            Date      Time CO(GT)
7898  02/02/2005  20.00.00    5,9


            Date      Time CO(GT)
7899  02/02/2005  21.00.00    4,1


            Date      Time CO(GT)
7900  02/02/2005  22.00.00    1,8


            Date      Time CO(GT)
7901  02/02/2005  23.00.00    1,7


            Date      Time CO(GT)
8550  02/03/2005  00.00.00    0,9


            Date      Time CO(GT)
8551  02/03/2005  01.00.00    0,8


            Date      Time CO(GT)
8552  02/03/2005  02.00.00    0,6


            Date      Time CO(GT)
8553  02/03/2005  03.00.00    0,5


            Date      Time  CO(GT)
8554  02/03/2005  04.00.00  -200,0


            Date      Time CO(GT)
8555  02/03/2005  05.00.00    0,4


            Date      Time CO(GT)
8556  02/03/2005  06.00.00    0,5


            Date      Time CO(GT)
8557  02/03/2005  07.00.00    0,7


            Date      Time CO(GT)
8558  02/03/2005  08.00.00    2,4


            Date      Time CO(GT)
8559  02/03/2005  09.00.00    2,8


            Date      Time CO(GT)
8560  02/03/2005  10.00.00    2,0


            Date      Time CO(GT)
8561  02/03/2005  11.00.00    2,2


            Date      Time CO(GT)
8562  02/03/2005  12.00.00    1,4


            Date      Time CO(GT)
8563  02/03/2005  13.00.00    1,2


            Date      Time CO(GT)
8564  02/03/2005  14.00.00    1,9


            Date      Time CO(GT)
8565  02/03/2005  15.00.00    1,3


            Date      Time CO(GT)
8566  02/03/2005  16.00.00    2,0


            Date      Time CO(GT)
8567  02/03/2005  17.00.00    2,0


            Date      Time CO(GT)
8568  02/03/2005  18.00.00    3,4


            Date      Time CO(GT)
8569  02/03/2005  19.00.00    5,1


            Date      Time CO(GT)
8570  02/03/2005  20.00.00    5,3


            Date      Time CO(GT)
8571  02/03/2005  21.00.00    2,8


            Date      Time CO(GT)
8572  02/03/2005  22.00.00    1,6


            Date      Time CO(GT)
8573  02/03/2005  23.00.00    1,4


           Date      Time CO(GT)
534  02/04/2004  00.00.00      2


           Date      Time CO(GT)
535  02/04/2004  01.00.00    1,3


           Date      Time CO(GT)
536  02/04/2004  02.00.00      1


           Date      Time CO(GT)
537  02/04/2004  03.00.00    0,9


           Date      Time CO(GT)
538  02/04/2004  04.00.00   -200


           Date      Time CO(GT)
539  02/04/2004  05.00.00    0,7


           Date      Time CO(GT)
540  02/04/2004  06.00.00    1,1


           Date      Time CO(GT)
541  02/04/2004  07.00.00    2,6


           Date      Time CO(GT)
542  02/04/2004  08.00.00    3,9


           Date      Time CO(GT)
543  02/04/2004  09.00.00      5


           Date      Time CO(GT)
544  02/04/2004  10.00.00    3,3


           Date      Time CO(GT)
545  02/04/2004  11.00.00    2,9


           Date      Time CO(GT)
546  02/04/2004  12.00.00    3,1


           Date      Time CO(GT)
547  02/04/2004  13.00.00      3


           Date      Time CO(GT)
548  02/04/2004  14.00.00    2,7


           Date      Time CO(GT)
549  02/04/2004  15.00.00    2,7


           Date      Time CO(GT)
550  02/04/2004  16.00.00    2,6


           Date      Time CO(GT)
551  02/04/2004  17.00.00    3,7


           Date      Time CO(GT)
552  02/04/2004  18.00.00    4,5


           Date      Time CO(GT)
553  02/04/2004  19.00.00    4,7


           Date      Time CO(GT)
554  02/04/2004  20.00.00    5,5


           Date      Time CO(GT)
555  02/04/2004  21.00.00      3


           Date      Time CO(GT)
556  02/04/2004  22.00.00    1,9


           Date      Time CO(GT)
557  02/04/2004  23.00.00    2,3


            Date      Time CO(GT)
9294  02/04/2005  00.00.00    1,5


            Date      Time CO(GT)
9295  02/04/2005  01.00.00    1,1


            Date      Time CO(GT)
9296  02/04/2005  02.00.00    0,6


            Date      Time CO(GT)
9297  02/04/2005  03.00.00    0,5


            Date      Time CO(GT)
9298  02/04/2005  04.00.00    0,4


            Date      Time CO(GT)
9299  02/04/2005  05.00.00    0,4


            Date      Time CO(GT)
9300  02/04/2005  06.00.00    0,6


            Date      Time CO(GT)
9301  02/04/2005  07.00.00    0,9


            Date      Time CO(GT)
9302  02/04/2005  08.00.00    0,9


            Date      Time CO(GT)
9303  02/04/2005  09.00.00    0,8


            Date      Time CO(GT)
9304  02/04/2005  10.00.00    1,0


            Date      Time CO(GT)
9305  02/04/2005  11.00.00    0,8


            Date      Time CO(GT)
9306  02/04/2005  12.00.00    0,8


            Date      Time CO(GT)
9307  02/04/2005  13.00.00    1,0


            Date      Time CO(GT)
9308  02/04/2005  14.00.00    0,8


            Date      Time CO(GT)
9309  02/04/2005  15.00.00    0,8


            Date      Time CO(GT)
9310  02/04/2005  16.00.00    0,9


            Date      Time CO(GT)
9311  02/04/2005  17.00.00    1,1


            Date      Time CO(GT)
9312  02/04/2005  18.00.00    1,1


            Date      Time CO(GT)
9313  02/04/2005  19.00.00    1,2


            Date      Time CO(GT)
9314  02/04/2005  20.00.00    1,1


            Date      Time CO(GT)
9315  02/04/2005  21.00.00    0,8


            Date      Time CO(GT)
9316  02/04/2005  22.00.00    0,7


            Date      Time CO(GT)
9317  02/04/2005  23.00.00    0,7


            Date      Time CO(GT)
1254  02/05/2004  00.00.00    2,3


            Date      Time CO(GT)
1255  02/05/2004  01.00.00    1,8


            Date      Time CO(GT)
1256  02/05/2004  02.00.00    0,9


            Date      Time CO(GT)
1257  02/05/2004  03.00.00    1,6


            Date      Time CO(GT)
1258  02/05/2004  04.00.00   -200


            Date      Time CO(GT)
1259  02/05/2004  05.00.00    0,6


            Date      Time CO(GT)
1260  02/05/2004  06.00.00    0,7


            Date      Time CO(GT)
1261  02/05/2004  07.00.00    0,8


            Date      Time CO(GT)
1262  02/05/2004  08.00.00    1,2


            Date      Time CO(GT)
1263  02/05/2004  09.00.00    1,4


            Date      Time CO(GT)
1264  02/05/2004  10.00.00    1,6


            Date      Time CO(GT)
1265  02/05/2004  11.00.00    1,3


            Date      Time CO(GT)
1266  02/05/2004  12.00.00    1,3

            Date      Time CO(GT)
1267  02/05/2004  13.00.00    1,1


            Date      Time CO(GT)
1268  02/05/2004  14.00.00    1,2


            Date      Time CO(GT)
1269  02/05/2004  15.00.00    1,5


            Date      Time CO(GT)
1270  02/05/2004  16.00.00    1,1


            Date      Time CO(GT)
1271  02/05/2004  17.00.00    1,9


            Date      Time CO(GT)
1272  02/05/2004  18.00.00    2,3


            Date      Time CO(GT)
1273  02/05/2004  19.00.00    3,3


            Date      Time CO(GT)
1274  02/05/2004  20.00.00    2,6


            Date      Time CO(GT)
1275  02/05/2004  21.00.00    2,2


            Date      Time CO(GT)
1276  02/05/2004  22.00.00    2,3


            Date      Time CO(GT)
1277  02/05/2004  23.00.00      2


            Date      Time CO(GT)
1998  02/06/2004  00.00.00    0,8


            Date      Time CO(GT)
1999  02/06/2004  01.00.00   -200


            Date      Time CO(GT)
2000  02/06/2004  02.00.00   -200


            Date      Time CO(GT)
2001  02/06/2004  03.00.00   -200


            Date      Time CO(GT)
2002  02/06/2004  04.00.00   -200


            Date      Time CO(GT)
2003  02/06/2004  05.00.00   -200


            Date      Time CO(GT)
2004  02/06/2004  06.00.00   -200


            Date      Time CO(GT)
2005  02/06/2004  07.00.00   -200


            Date      Time CO(GT)
2006  02/06/2004  08.00.00   -200


            Date      Time CO(GT)
2007  02/06/2004  09.00.00   -200


            Date      Time CO(GT)
2008  02/06/2004  10.00.00   -200


            Date      Time CO(GT)
2009  02/06/2004  11.00.00   -200


            Date      Time CO(GT)
2010  02/06/2004  12.00.00   -200


            Date      Time CO(GT)
2011  02/06/2004  13.00.00   -200


            Date      Time CO(GT)
2012  02/06/2004  14.00.00   -200


            Date      Time CO(GT)
2013  02/06/2004  15.00.00   -200


            Date      Time CO(GT)
2014  02/06/2004  16.00.00   -200


            Date      Time CO(GT)
2015  02/06/2004  17.00.00   -200


            Date      Time CO(GT)
2016  02/06/2004  18.00.00   -200


            Date      Time CO(GT)
2017  02/06/2004  19.00.00   -200


            Date      Time CO(GT)
2018  02/06/2004  20.00.00   -200


            Date      Time CO(GT)
2019  02/06/2004  21.00.00   -200


            Date      Time CO(GT)
2020  02/06/2004  22.00.00   -200


            Date      Time CO(GT)
2021  02/06/2004  23.00.00   -200


            Date      Time CO(GT)
2718  02/07/2004  00.00.00    2,3


            Date      Time CO(GT)
2719  02/07/2004  01.00.00    1,7


            Date      Time CO(GT)
2720  02/07/2004  02.00.00    1,5


            Date      Time CO(GT)
2721  02/07/2004  03.00.00    0,8


            Date      Time CO(GT)
2722  02/07/2004  04.00.00   -200


            Date      Time CO(GT)
2723  02/07/2004  05.00.00    0,5


            Date      Time CO(GT)
2724  02/07/2004  06.00.00    0,8


            Date      Time CO(GT)
2725  02/07/2004  07.00.00    2,6


            Date      Time CO(GT)
2726  02/07/2004  08.00.00    4,9


            Date      Time CO(GT)
2727  02/07/2004  09.00.00    2,9


            Date      Time CO(GT)
2728  02/07/2004  10.00.00    2,8


            Date      Time CO(GT)
2729  02/07/2004  11.00.00    1,8


            Date      Time CO(GT)
2730  02/07/2004  12.00.00    1,8


            Date      Time CO(GT)
2731  02/07/2004  13.00.00    1,9


            Date      Time CO(GT)
2732  02/07/2004  14.00.00    1,7


            Date      Time CO(GT)
2733  02/07/2004  15.00.00    1,7


            Date      Time CO(GT)
2734  02/07/2004  16.00.00    1,9


            Date      Time CO(GT)
2735  02/07/2004  17.00.00    2,1


            Date      Time CO(GT)
2736  02/07/2004  18.00.00    2,4


            Date      Time CO(GT)
2737  02/07/2004  19.00.00      3


            Date      Time CO(GT)
2738  02/07/2004  20.00.00    2,8


            Date      Time CO(GT)
2739  02/07/2004  21.00.00    1,9


            Date      Time CO(GT)
2740  02/07/2004  22.00.00    2,1


            Date      Time CO(GT)
2741  02/07/2004  23.00.00    1,8


            Date      Time CO(GT)
3462  02/08/2004  00.00.00    1,9


            Date      Time CO(GT)
3463  02/08/2004  01.00.00    1,2


            Date      Time CO(GT)
3464  02/08/2004  02.00.00    0,7


            Date      Time CO(GT)
3465  02/08/2004  03.00.00    0,3


            Date      Time CO(GT)
3466  02/08/2004  04.00.00    0,2


            Date      Time CO(GT)
3467  02/08/2004  05.00.00    0,4


            Date      Time CO(GT)
3468  02/08/2004  06.00.00    0,8


            Date      Time CO(GT)
3469  02/08/2004  07.00.00    1,9


            Date      Time CO(GT)
3470  02/08/2004  08.00.00   -200


            Date      Time CO(GT)
3471  02/08/2004  09.00.00    1,9


            Date      Time CO(GT)
3472  02/08/2004  10.00.00    1,9


            Date      Time CO(GT)
3473  02/08/2004  11.00.00    1,9


            Date      Time CO(GT)
3474  02/08/2004  12.00.00    1,7


            Date      Time CO(GT)
3475  02/08/2004  13.00.00    1,4


            Date      Time CO(GT)
3476  02/08/2004  14.00.00    1,2


            Date      Time CO(GT)
3477  02/08/2004  15.00.00    1,4


            Date      Time CO(GT)
3478  02/08/2004  16.00.00    1,4


            Date      Time CO(GT)
3479  02/08/2004  17.00.00    1,9


            Date      Time CO(GT)
3480  02/08/2004  18.00.00    2,2


            Date      Time CO(GT)
3481  02/08/2004  19.00.00    1,9


            Date      Time CO(GT)
3482  02/08/2004  20.00.00    1,7


            Date      Time CO(GT)
3483  02/08/2004  21.00.00    1,2


            Date      Time CO(GT)
3484  02/08/2004  22.00.00    0,3


            Date      Time CO(GT)
3485  02/08/2004  23.00.00    0,1


            Date      Time CO(GT)
4206  02/09/2004  00.00.00      2


            Date      Time CO(GT)
4207  02/09/2004  01.00.00    1,5


            Date      Time CO(GT)
4208  02/09/2004  02.00.00    0,8


            Date      Time CO(GT)
4209  02/09/2004  03.00.00    0,6


            Date      Time CO(GT)
4210  02/09/2004  04.00.00    0,6


            Date      Time CO(GT)
4211  02/09/2004  05.00.00    0,7


            Date      Time CO(GT)
4212  02/09/2004  06.00.00    0,8


            Date      Time CO(GT)
4213  02/09/2004  07.00.00    2,9


            Date      Time CO(GT)
4214  02/09/2004  08.00.00    5,2


            Date      Time CO(GT)
4215  02/09/2004  09.00.00    3,3


            Date      Time CO(GT)
4216  02/09/2004  10.00.00   -200


            Date      Time CO(GT)
4217  02/09/2004  11.00.00   -200


            Date      Time CO(GT)
4218  02/09/2004  12.00.00   -200


            Date      Time CO(GT)
4219  02/09/2004  13.00.00   -200


            Date      Time CO(GT)
4220  02/09/2004  14.00.00   -200


            Date      Time CO(GT)
4221  02/09/2004  15.00.00   -200


            Date      Time CO(GT)
4222  02/09/2004  16.00.00   -200


            Date      Time CO(GT)
4223  02/09/2004  17.00.00   -200


            Date      Time CO(GT)
4224  02/09/2004  18.00.00   -200


            Date      Time CO(GT)
4225  02/09/2004  19.00.00   -200


            Date      Time CO(GT)
4226  02/09/2004  20.00.00   -200


            Date      Time CO(GT)
4227  02/09/2004  21.00.00   -200


            Date      Time CO(GT)
4228  02/09/2004  22.00.00   -200


            Date      Time CO(GT)
4229  02/09/2004  23.00.00   -200


            Date      Time CO(GT)
4926  02/10/2004  00.00.00   -200


            Date      Time CO(GT)
4927  02/10/2004  01.00.00   -200


            Date      Time CO(GT)
4928  02/10/2004  02.00.00   -200


            Date      Time CO(GT)
4929  02/10/2004  03.00.00   -200


            Date      Time CO(GT)
4930  02/10/2004  04.00.00   -200


            Date      Time CO(GT)
4931  02/10/2004  05.00.00   -200


            Date      Time CO(GT)
4932  02/10/2004  06.00.00   -200


            Date      Time CO(GT)
4933  02/10/2004  07.00.00   -200


            Date      Time CO(GT)
4934  02/10/2004  08.00.00   -200


            Date      Time CO(GT)
4935  02/10/2004  09.00.00   -200


            Date      Time CO(GT)
4936  02/10/2004  10.00.00   -200


            Date      Time CO(GT)
4937  02/10/2004  11.00.00   -200


            Date      Time CO(GT)
4938  02/10/2004  12.00.00   -200


            Date      Time CO(GT)
4939  02/10/2004  13.00.00   -200


            Date      Time CO(GT)
4940  02/10/2004  14.00.00   -200


            Date      Time CO(GT)
4941  02/10/2004  15.00.00   -200


            Date      Time CO(GT)
4942  02/10/2004  16.00.00   -200


            Date      Time CO(GT)
4943  02/10/2004  17.00.00   -200


            Date      Time CO(GT)
4944  02/10/2004  18.00.00   -200


            Date      Time CO(GT)
4945  02/10/2004  19.00.00   -200


            Date      Time CO(GT)
4946  02/10/2004  20.00.00   -200


            Date      Time CO(GT)
4947  02/10/2004  21.00.00   -200


            Date      Time CO(GT)
4948  02/10/2004  22.00.00   -200


            Date      Time CO(GT)
4949  02/10/2004  23.00.00   -200


            Date      Time CO(GT)
5670  02/11/2004  00.00.00    2,3


            Date      Time CO(GT)
5671  02/11/2004  01.00.00    1,6


            Date      Time CO(GT)
5672  02/11/2004  02.00.00    1,1


            Date      Time CO(GT)
5673  02/11/2004  03.00.00    0,7


            Date      Time CO(GT)
5674  02/11/2004  04.00.00   -200


            Date      Time CO(GT)
5675  02/11/2004  05.00.00    0,6


            Date      Time CO(GT)
5676  02/11/2004  06.00.00    0,5


            Date      Time CO(GT)
5677  02/11/2004  07.00.00    1,5


            Date      Time CO(GT)
5678  02/11/2004  08.00.00    3,4


            Date      Time CO(GT)
5679  02/11/2004  09.00.00    4,4


            Date      Time CO(GT)
5680  02/11/2004  10.00.00    4,4


            Date      Time CO(GT)
5681  02/11/2004  11.00.00    5,8


            Date      Time CO(GT)
5682  02/11/2004  12.00.00    4,9


            Date      Time CO(GT)
5683  02/11/2004  13.00.00    5,1


            Date      Time CO(GT)
5684  02/11/2004  14.00.00    7,5


            Date      Time CO(GT)
5685  02/11/2004  15.00.00    5,8


            Date      Time CO(GT)
5686  02/11/2004  16.00.00    5,9


            Date      Time CO(GT)
5687  02/11/2004  17.00.00    6,8


            Date      Time CO(GT)
5688  02/11/2004  18.00.00    7,9


            Date      Time CO(GT)
5689  02/11/2004  19.00.00      8


            Date      Time CO(GT)
5690  02/11/2004  20.00.00    9,2


            Date      Time CO(GT)
5691  02/11/2004  21.00.00    5,9


            Date      Time CO(GT)
5692  02/11/2004  22.00.00    3,7


            Date      Time CO(GT)
5693  02/11/2004  23.00.00    2,6


            Date      Time CO(GT)
6390  02/12/2004  00.00.00    2,2


            Date      Time CO(GT)
6391  02/12/2004  01.00.00    1,9


            Date      Time CO(GT)
6392  02/12/2004  02.00.00    1,6


            Date      Time CO(GT)
6393  02/12/2004  03.00.00    1,1


            Date      Time CO(GT)
6394  02/12/2004  04.00.00    0,9


            Date      Time CO(GT)
6395  02/12/2004  05.00.00    0,7


            Date      Time CO(GT)
6396  02/12/2004  06.00.00    0,9


            Date      Time CO(GT)
6397  02/12/2004  07.00.00    1,4


            Date      Time CO(GT)
6398  02/12/2004  08.00.00    4,2


            Date      Time CO(GT)
6399  02/12/2004  09.00.00      5


            Date      Time CO(GT)
6400  02/12/2004  10.00.00    4,4


            Date      Time CO(GT)
6401  02/12/2004  11.00.00    3,4


            Date      Time CO(GT)
6402  02/12/2004  12.00.00    2,8


            Date      Time CO(GT)
6403  02/12/2004  13.00.00    3,4


            Date      Time CO(GT)
6404  02/12/2004  14.00.00    2,9


            Date      Time CO(GT)
6405  02/12/2004  15.00.00    3,9


            Date      Time CO(GT)
6406  02/12/2004  16.00.00      4


            Date      Time CO(GT)
6407  02/12/2004  17.00.00    4,9


            Date      Time CO(GT)
6408  02/12/2004  18.00.00    7,7


            Date      Time CO(GT)
6409  02/12/2004  19.00.00    9,4


            Date      Time CO(GT)
6410  02/12/2004  20.00.00    7,8


            Date      Time CO(GT)
6411  02/12/2004  21.00.00    6,6


            Date      Time CO(GT)
6412  02/12/2004  22.00.00    4,7


            Date      Time CO(GT)
6413  02/12/2004  23.00.00    4,8


            Date      Time CO(GT)
7158  03/01/2005  00.00.00    3,0


            Date      Time CO(GT)
7159  03/01/2005  01.00.00    3,4


            Date      Time CO(GT)
7160  03/01/2005  02.00.00    3,0


            Date      Time CO(GT)
7161  03/01/2005  03.00.00    2,7


            Date      Time CO(GT)
7162  03/01/2005  04.00.00   -200


            Date      Time CO(GT)
7163  03/01/2005  05.00.00    1,1


            Date      Time CO(GT)
7164  03/01/2005  06.00.00    1,4


            Date      Time CO(GT)
7165  03/01/2005  07.00.00    1,8


            Date      Time CO(GT)
7166  03/01/2005  08.00.00    3,6


            Date      Time CO(GT)
7167  03/01/2005  09.00.00    3,1


            Date      Time CO(GT)
7168  03/01/2005  10.00.00    1,9


            Date      Time CO(GT)
7169  03/01/2005  11.00.00    1,7


            Date      Time CO(GT)
7170  03/01/2005  12.00.00    1,7


            Date      Time CO(GT)
7171  03/01/2005  13.00.00    1,6


            Date      Time CO(GT)
7172  03/01/2005  14.00.00    1,6


            Date      Time CO(GT)
7173  03/01/2005  15.00.00    1,7


            Date      Time CO(GT)
7174  03/01/2005  16.00.00    2,2


            Date      Time CO(GT)
7175  03/01/2005  17.00.00    3,3


            Date      Time CO(GT)
7176  03/01/2005  18.00.00    3,9


            Date      Time CO(GT)
7177  03/01/2005  19.00.00    5,0


            Date      Time CO(GT)
7178  03/01/2005  20.00.00    4,2


            Date      Time CO(GT)
7179  03/01/2005  21.00.00    3,2


            Date      Time CO(GT)
7180  03/01/2005  22.00.00    1,7


            Date      Time CO(GT)
7181  03/01/2005  23.00.00    1,5


            Date      Time CO(GT)
7902  03/02/2005  00.00.00    1,7


            Date      Time CO(GT)
7903  03/02/2005  01.00.00    1,5


            Date      Time CO(GT)
7904  03/02/2005  02.00.00    1,1


            Date      Time CO(GT)
7905  03/02/2005  03.00.00    0,9


            Date      Time  CO(GT)
7906  03/02/2005  04.00.00  -200,0


            Date      Time CO(GT)
7907  03/02/2005  05.00.00    0,3


            Date      Time CO(GT)
7908  03/02/2005  06.00.00    0,4


            Date      Time CO(GT)
7909  03/02/2005  07.00.00    0,6


            Date      Time CO(GT)
7910  03/02/2005  08.00.00    3,0


            Date      Time CO(GT)
7911  03/02/2005  09.00.00    5,6


            Date      Time CO(GT)
7912  03/02/2005  10.00.00    4,9


            Date      Time CO(GT)
7913  03/02/2005  11.00.00    3,5


            Date      Time CO(GT)
7914  03/02/2005  12.00.00    2,2


            Date      Time CO(GT)
7915  03/02/2005  13.00.00    2,7


            Date      Time CO(GT)
7916  03/02/2005  14.00.00    2,7


            Date      Time CO(GT)
7917  03/02/2005  15.00.00    2,1


            Date      Time CO(GT)
7918  03/02/2005  16.00.00    2,0


            Date      Time CO(GT)
7919  03/02/2005  17.00.00    2,4


            Date      Time CO(GT)
7920  03/02/2005  18.00.00    6,7


            Date      Time CO(GT)
7921  03/02/2005  19.00.00    6,4


            Date      Time CO(GT)
7922  03/02/2005  20.00.00    3,9


            Date      Time CO(GT)
7923  03/02/2005  21.00.00    2,7


            Date      Time CO(GT)
7924  03/02/2005  22.00.00    3,0


            Date      Time CO(GT)
7925  03/02/2005  23.00.00    2,1


            Date      Time CO(GT)
8574  03/03/2005  00.00.00    1,4


            Date      Time CO(GT)
8575  03/03/2005  01.00.00    1,4


            Date      Time CO(GT)
8576  03/03/2005  02.00.00    1,1


            Date      Time CO(GT)
8577  03/03/2005  03.00.00    0,9


            Date      Time CO(GT)
8578  03/03/2005  04.00.00    1,0


            Date      Time CO(GT)
8579  03/03/2005  05.00.00    1,0


            Date      Time CO(GT)
8580  03/03/2005  06.00.00    1,2


            Date      Time CO(GT)
8581  03/03/2005  07.00.00    1,4


            Date      Time CO(GT)
8582  03/03/2005  08.00.00    3,0


            Date      Time CO(GT)
8583  03/03/2005  09.00.00    4,2


            Date      Time CO(GT)
8584  03/03/2005  10.00.00    2,1


            Date      Time CO(GT)
8585  03/03/2005  11.00.00    2,0


            Date      Time CO(GT)
8586  03/03/2005  12.00.00    1,6


            Date      Time CO(GT)
8587  03/03/2005  13.00.00    1,4


            Date      Time CO(GT)
8588  03/03/2005  14.00.00    1,6


            Date      Time CO(GT)
8589  03/03/2005  15.00.00    1,5


            Date      Time CO(GT)
8590  03/03/2005  16.00.00    1,7


            Date      Time CO(GT)
8591  03/03/2005  17.00.00    1,9


            Date      Time CO(GT)
8592  03/03/2005  18.00.00    3,8


            Date      Time CO(GT)
8593  03/03/2005  19.00.00    5,4


            Date      Time CO(GT)
8594  03/03/2005  20.00.00    4,2


            Date      Time CO(GT)
8595  03/03/2005  21.00.00    3,8


            Date      Time CO(GT)
8596  03/03/2005  22.00.00    2,3


            Date      Time CO(GT)
8597  03/03/2005  23.00.00    2,1


           Date      Time CO(GT)
558  03/04/2004  00.00.00    1,6


           Date      Time CO(GT)
559  03/04/2004  01.00.00    1,3


           Date      Time CO(GT)
560  03/04/2004  02.00.00    1,2


           Date      Time CO(GT)
561  03/04/2004  03.00.00    0,9


           Date      Time CO(GT)
562  03/04/2004  04.00.00    0,8


           Date      Time CO(GT)
563  03/04/2004  05.00.00    0,8


           Date      Time CO(GT)
564  03/04/2004  06.00.00    0,9


           Date      Time CO(GT)
565  03/04/2004  07.00.00      2


           Date      Time CO(GT)
566  03/04/2004  08.00.00      3


           Date      Time CO(GT)
567  03/04/2004  09.00.00    3,1


           Date      Time CO(GT)
568  03/04/2004  10.00.00   -200


           Date      Time CO(GT)
569  03/04/2004  11.00.00   -200


           Date      Time CO(GT)
570  03/04/2004  12.00.00   -200


           Date      Time CO(GT)
571  03/04/2004  13.00.00   -200


           Date      Time CO(GT)
572  03/04/2004  14.00.00   -200


           Date      Time CO(GT)
573  03/04/2004  15.00.00   -200


           Date      Time CO(GT)
574  03/04/2004  16.00.00   -200


           Date      Time CO(GT)
575  03/04/2004  17.00.00   -200


           Date      Time CO(GT)
576  03/04/2004  18.00.00   -200


           Date      Time CO(GT)
577  03/04/2004  19.00.00   -200


           Date      Time CO(GT)
578  03/04/2004  20.00.00   -200


           Date      Time CO(GT)
579  03/04/2004  21.00.00   -200


           Date      Time CO(GT)
580  03/04/2004  22.00.00   -200


           Date      Time CO(GT)
581  03/04/2004  23.00.00   -200


            Date      Time CO(GT)
9318  03/04/2005  00.00.00    0,8


            Date      Time CO(GT)
9319  03/04/2005  01.00.00    0,8


            Date      Time CO(GT)
9320  03/04/2005  02.00.00    0,7


            Date      Time CO(GT)
9321  03/04/2005  03.00.00    0,8


            Date      Time CO(GT)
9322  03/04/2005  04.00.00    0,5

            Date      Time CO(GT)
9323  03/04/2005  05.00.00    0,3


            Date      Time CO(GT)
9324  03/04/2005  06.00.00    0,4


            Date      Time CO(GT)
9325  03/04/2005  07.00.00    0,6


            Date      Time CO(GT)
9326  03/04/2005  08.00.00    0,7


            Date      Time CO(GT)
9327  03/04/2005  09.00.00    1,2


            Date      Time CO(GT)
9328  03/04/2005  10.00.00    1,4


            Date      Time CO(GT)
9329  03/04/2005  11.00.00    1,3


            Date      Time CO(GT)
9330  03/04/2005  12.00.00    1,4


            Date      Time CO(GT)
9331  03/04/2005  13.00.00    1,0


            Date      Time CO(GT)
9332  03/04/2005  14.00.00    1,0


            Date      Time CO(GT)
9333  03/04/2005  15.00.00    1,1


            Date      Time CO(GT)
9334  03/04/2005  16.00.00    1,3


            Date      Time CO(GT)
9335  03/04/2005  17.00.00    1,4


            Date      Time CO(GT)
9336  03/04/2005  18.00.00    1,2


            Date      Time CO(GT)
9337  03/04/2005  19.00.00    2,7


            Date      Time CO(GT)
9338  03/04/2005  20.00.00    2,5


            Date      Time CO(GT)
9339  03/04/2005  21.00.00    1,5


            Date      Time CO(GT)
9340  03/04/2005  22.00.00    1,6


            Date      Time CO(GT)
9341  03/04/2005  23.00.00    1,2


            Date      Time CO(GT)
1278  03/05/2004  00.00.00    1,6


            Date      Time CO(GT)
1279  03/05/2004  01.00.00    0,8


            Date      Time CO(GT)
1280  03/05/2004  02.00.00    0,6


            Date      Time CO(GT)
1281  03/05/2004  03.00.00    0,4


            Date      Time CO(GT)
1282  03/05/2004  04.00.00   -200


            Date      Time CO(GT)
1283  03/05/2004  05.00.00    0,7


            Date      Time CO(GT)
1284  03/05/2004  06.00.00    1,3


            Date      Time CO(GT)
1285  03/05/2004  07.00.00    3,4


            Date      Time CO(GT)
1286  03/05/2004  08.00.00    4,7


            Date      Time CO(GT)
1287  03/05/2004  09.00.00    3,4


            Date      Time CO(GT)
1288  03/05/2004  10.00.00    2,5


            Date      Time CO(GT)
1289  03/05/2004  11.00.00      2


            Date      Time CO(GT)
1290  03/05/2004  12.00.00    1,9


            Date      Time CO(GT)
1291  03/05/2004  13.00.00    1,7


            Date      Time CO(GT)
1292  03/05/2004  14.00.00    1,4


            Date      Time CO(GT)
1293  03/05/2004  15.00.00    1,5


            Date      Time CO(GT)
1294  03/05/2004  16.00.00    2,4


            Date      Time CO(GT)
1295  03/05/2004  17.00.00    3,9


            Date      Time CO(GT)
1296  03/05/2004  18.00.00    4,2


            Date      Time CO(GT)
1297  03/05/2004  19.00.00    3,7


            Date      Time CO(GT)
1298  03/05/2004  20.00.00    3,2


            Date      Time CO(GT)
1299  03/05/2004  21.00.00      2


            Date      Time CO(GT)
1300  03/05/2004  22.00.00    1,1


            Date      Time CO(GT)
1301  03/05/2004  23.00.00    1,5


            Date      Time CO(GT)
2022  03/06/2004  00.00.00   -200


            Date      Time CO(GT)
2023  03/06/2004  01.00.00   -200


            Date      Time CO(GT)
2024  03/06/2004  02.00.00   -200


            Date      Time CO(GT)
2025  03/06/2004  03.00.00   -200


            Date      Time CO(GT)
2026  03/06/2004  04.00.00   -200


            Date      Time CO(GT)
2027  03/06/2004  05.00.00   -200


            Date      Time CO(GT)
2028  03/06/2004  06.00.00   -200


            Date      Time CO(GT)
2029  03/06/2004  07.00.00   -200


            Date      Time CO(GT)
2030  03/06/2004  08.00.00   -200


            Date      Time CO(GT)
2031  03/06/2004  09.00.00   -200


            Date      Time CO(GT)
2032  03/06/2004  10.00.00   -200


            Date      Time CO(GT)
2033  03/06/2004  11.00.00   -200


            Date      Time CO(GT)
2034  03/06/2004  12.00.00   -200


            Date      Time CO(GT)
2035  03/06/2004  13.00.00   -200


            Date      Time CO(GT)
2036  03/06/2004  14.00.00   -200


            Date      Time CO(GT)
2037  03/06/2004  15.00.00   -200


            Date      Time CO(GT)
2038  03/06/2004  16.00.00   -200


            Date      Time CO(GT)
2039  03/06/2004  17.00.00   -200


            Date      Time CO(GT)
2040  03/06/2004  18.00.00   -200


            Date      Time CO(GT)
2041  03/06/2004  19.00.00   -200


            Date      Time CO(GT)
2042  03/06/2004  20.00.00   -200


            Date      Time CO(GT)
2043  03/06/2004  21.00.00   -200


            Date      Time CO(GT)
2044  03/06/2004  22.00.00   -200


            Date      Time CO(GT)
2045  03/06/2004  23.00.00   -200


            Date      Time CO(GT)
2742  03/07/2004  00.00.00    2,5


            Date      Time CO(GT)
2743  03/07/2004  01.00.00    1,1


            Date      Time CO(GT)
2744  03/07/2004  02.00.00    0,7


            Date      Time CO(GT)
2745  03/07/2004  03.00.00    0,7


            Date      Time CO(GT)
2746  03/07/2004  04.00.00    0,4


            Date      Time CO(GT)
2747  03/07/2004  05.00.00    0,7


            Date      Time CO(GT)
2748  03/07/2004  06.00.00    0,7


            Date      Time CO(GT)
2749  03/07/2004  07.00.00    1,8


            Date      Time CO(GT)
2750  03/07/2004  08.00.00    2,3


            Date      Time CO(GT)
2751  03/07/2004  09.00.00    1,9


            Date      Time CO(GT)
2752  03/07/2004  10.00.00    1,7


            Date      Time CO(GT)
2753  03/07/2004  11.00.00    1,3


            Date      Time CO(GT)
2754  03/07/2004  12.00.00    1,5


            Date      Time CO(GT)
2755  03/07/2004  13.00.00    1,3


            Date      Time CO(GT)
2756  03/07/2004  14.00.00    0,8


            Date      Time CO(GT)
2757  03/07/2004  15.00.00    0,8


            Date      Time CO(GT)
2758  03/07/2004  16.00.00    1,1


            Date      Time CO(GT)
2759  03/07/2004  17.00.00    1,2


            Date      Time CO(GT)
2760  03/07/2004  18.00.00    1,2


            Date      Time CO(GT)
2761  03/07/2004  19.00.00    1,4


            Date      Time CO(GT)
2762  03/07/2004  20.00.00    1,1


            Date      Time CO(GT)
2763  03/07/2004  21.00.00    1,5


            Date      Time CO(GT)
2764  03/07/2004  22.00.00      2


            Date      Time CO(GT)
2765  03/07/2004  23.00.00    1,9


            Date      Time CO(GT)
3486  03/08/2004  00.00.00    0,1


            Date      Time CO(GT)
3487  03/08/2004  01.00.00   -200


            Date      Time CO(GT)
3488  03/08/2004  02.00.00   -200


            Date      Time CO(GT)
3489  03/08/2004  03.00.00   -200


            Date      Time CO(GT)
3490  03/08/2004  04.00.00   -200


            Date      Time CO(GT)
3491  03/08/2004  05.00.00   -200


            Date      Time CO(GT)
3492  03/08/2004  06.00.00   -200


            Date      Time CO(GT)
3493  03/08/2004  07.00.00   -200


            Date      Time CO(GT)
3494  03/08/2004  08.00.00   -200


            Date      Time CO(GT)
3495  03/08/2004  09.00.00   -200


            Date      Time CO(GT)
3496  03/08/2004  10.00.00   -200


            Date      Time CO(GT)
3497  03/08/2004  11.00.00   -200


            Date      Time CO(GT)
3498  03/08/2004  12.00.00   -200


            Date      Time CO(GT)
3499  03/08/2004  13.00.00   -200


            Date      Time CO(GT)
3500  03/08/2004  14.00.00   -200


            Date      Time CO(GT)
3501  03/08/2004  15.00.00   -200


            Date      Time CO(GT)
3502  03/08/2004  16.00.00   -200


            Date      Time CO(GT)
3503  03/08/2004  17.00.00   -200


            Date      Time CO(GT)
3504  03/08/2004  18.00.00   -200


            Date      Time CO(GT)
3505  03/08/2004  19.00.00   -200


            Date      Time CO(GT)
3506  03/08/2004  20.00.00   -200


            Date      Time CO(GT)
3507  03/08/2004  21.00.00   -200


            Date      Time CO(GT)
3508  03/08/2004  22.00.00   -200


            Date      Time CO(GT)
3509  03/08/2004  23.00.00   -200


            Date      Time CO(GT)
4230  03/09/2004  00.00.00   -200


            Date      Time CO(GT)
4231  03/09/2004  01.00.00   -200


            Date      Time CO(GT)
4232  03/09/2004  02.00.00   -200


            Date      Time CO(GT)
4233  03/09/2004  03.00.00   -200


            Date      Time CO(GT)
4234  03/09/2004  04.00.00   -200


            Date      Time CO(GT)
4235  03/09/2004  05.00.00   -200


            Date      Time CO(GT)
4236  03/09/2004  06.00.00   -200


            Date      Time CO(GT)
4237  03/09/2004  07.00.00   -200


            Date      Time CO(GT)
4238  03/09/2004  08.00.00   -200


            Date      Time CO(GT)
4239  03/09/2004  09.00.00   -200


            Date      Time CO(GT)
4240  03/09/2004  10.00.00   -200


            Date      Time CO(GT)
4241  03/09/2004  11.00.00   -200


            Date      Time CO(GT)
4242  03/09/2004  12.00.00   -200


            Date      Time CO(GT)
4243  03/09/2004  13.00.00   -200


            Date      Time CO(GT)
4244  03/09/2004  14.00.00   -200


            Date      Time CO(GT)
4245  03/09/2004  15.00.00   -200


            Date      Time CO(GT)
4246  03/09/2004  16.00.00   -200


            Date      Time CO(GT)
4247  03/09/2004  17.00.00    4,6


            Date      Time CO(GT)
4248  03/09/2004  18.00.00    4,3


            Date      Time CO(GT)
4249  03/09/2004  19.00.00    4,9


            Date      Time CO(GT)
4250  03/09/2004  20.00.00      4


            Date      Time CO(GT)
4251  03/09/2004  21.00.00    2,6


            Date      Time CO(GT)
4252  03/09/2004  22.00.00    1,3


            Date      Time CO(GT)
4253  03/09/2004  23.00.00    1,5


            Date      Time CO(GT)
4950  03/10/2004  00.00.00   -200


            Date      Time CO(GT)
4951  03/10/2004  01.00.00   -200


            Date      Time CO(GT)
4952  03/10/2004  02.00.00   -200


            Date      Time CO(GT)
4953  03/10/2004  03.00.00   -200


            Date      Time CO(GT)
4954  03/10/2004  04.00.00   -200


            Date      Time CO(GT)
4955  03/10/2004  05.00.00   -200


            Date      Time CO(GT)
4956  03/10/2004  06.00.00   -200


            Date      Time CO(GT)
4957  03/10/2004  07.00.00   -200


            Date      Time CO(GT)
4958  03/10/2004  08.00.00   -200


            Date      Time CO(GT)
4959  03/10/2004  09.00.00   -200


            Date      Time CO(GT)
4960  03/10/2004  10.00.00   -200


            Date      Time CO(GT)
4961  03/10/2004  11.00.00   -200


            Date      Time CO(GT)
4962  03/10/2004  12.00.00   -200


            Date      Time CO(GT)
4963  03/10/2004  13.00.00   -200


            Date      Time CO(GT)
4964  03/10/2004  14.00.00   -200


            Date      Time CO(GT)
4965  03/10/2004  15.00.00   -200


            Date      Time CO(GT)
4966  03/10/2004  16.00.00   -200


            Date      Time CO(GT)
4967  03/10/2004  17.00.00   -200


            Date      Time CO(GT)
4968  03/10/2004  18.00.00   -200


            Date      Time CO(GT)
4969  03/10/2004  19.00.00   -200


            Date      Time CO(GT)
4970  03/10/2004  20.00.00   -200


            Date      Time CO(GT)
4971  03/10/2004  21.00.00   -200


            Date      Time CO(GT)
4972  03/10/2004  22.00.00   -200


            Date      Time CO(GT)
4973  03/10/2004  23.00.00   -200


            Date      Time CO(GT)
5694  03/11/2004  00.00.00    1,1


            Date      Time CO(GT)
5695  03/11/2004  01.00.00    2,6


            Date      Time CO(GT)
5696  03/11/2004  02.00.00    2,2


            Date      Time CO(GT)
5697  03/11/2004  03.00.00    0,9


            Date      Time CO(GT)
5698  03/11/2004  04.00.00   -200


            Date      Time CO(GT)
5699  03/11/2004  05.00.00    0,5


            Date      Time CO(GT)
5700  03/11/2004  06.00.00    0,7


            Date      Time CO(GT)
5701  03/11/2004  07.00.00    1,3


            Date      Time CO(GT)
5702  03/11/2004  08.00.00    2,2


            Date      Time CO(GT)
5703  03/11/2004  09.00.00    3,7


            Date      Time CO(GT)
5704  03/11/2004  10.00.00    3,7


            Date      Time CO(GT)
5705  03/11/2004  11.00.00    3,4


            Date      Time CO(GT)
5706  03/11/2004  12.00.00    3,4


            Date      Time CO(GT)
5707  03/11/2004  13.00.00    2,6


            Date      Time CO(GT)
5708  03/11/2004  14.00.00    2,5


            Date      Time CO(GT)
5709  03/11/2004  15.00.00    2,5


            Date      Time CO(GT)
5710  03/11/2004  16.00.00    2,7


            Date      Time CO(GT)
5711  03/11/2004  17.00.00    3,2


            Date      Time CO(GT)
5712  03/11/2004  18.00.00    3,7


            Date      Time CO(GT)
5713  03/11/2004  19.00.00    4,6


            Date      Time CO(GT)
5714  03/11/2004  20.00.00    3,3


            Date      Time CO(GT)
5715  03/11/2004  21.00.00    2,4


            Date      Time CO(GT)
5716  03/11/2004  22.00.00    2,8


            Date      Time CO(GT)
5717  03/11/2004  23.00.00    2,7


            Date      Time CO(GT)
6414  03/12/2004  00.00.00    3,2


            Date      Time CO(GT)
6415  03/12/2004  01.00.00    2,6


            Date      Time CO(GT)
6416  03/12/2004  02.00.00    2,1


            Date      Time CO(GT)
6417  03/12/2004  03.00.00    1,3


            Date      Time CO(GT)
6418  03/12/2004  04.00.00    1,1


            Date      Time CO(GT)
6419  03/12/2004  05.00.00    0,7


            Date      Time CO(GT)
6420  03/12/2004  06.00.00    0,9


            Date      Time CO(GT)
6421  03/12/2004  07.00.00    1,5


            Date      Time CO(GT)
6422  03/12/2004  08.00.00    3,8


            Date      Time CO(GT)
6423  03/12/2004  09.00.00      6


            Date      Time CO(GT)
6424  03/12/2004  10.00.00    5,1


            Date      Time CO(GT)
6425  03/12/2004  11.00.00    3,6


            Date      Time CO(GT)
6426  03/12/2004  12.00.00      3


            Date      Time CO(GT)
6427  03/12/2004  13.00.00    3,1


            Date      Time CO(GT)
6428  03/12/2004  14.00.00    3,3


            Date      Time CO(GT)
6429  03/12/2004  15.00.00    3,4


            Date      Time CO(GT)
6430  03/12/2004  16.00.00    4,6


            Date      Time CO(GT)
6431  03/12/2004  17.00.00    6,9


            Date      Time CO(GT)
6432  03/12/2004  18.00.00    5,1


            Date      Time CO(GT)
6433  03/12/2004  19.00.00    4,9


            Date      Time CO(GT)
6434  03/12/2004  20.00.00    6,1


            Date      Time CO(GT)
6435  03/12/2004  21.00.00    6,2


            Date      Time CO(GT)
6436  03/12/2004  22.00.00      3


            Date      Time CO(GT)
6437  03/12/2004  23.00.00    3,4


            Date      Time CO(GT)
7182  04/01/2005  00.00.00    1,3


            Date      Time CO(GT)
7183  04/01/2005  01.00.00    1,2


            Date      Time CO(GT)
7184  04/01/2005  02.00.00    1,3


            Date      Time CO(GT)
7185  04/01/2005  03.00.00    0,8


            Date      Time CO(GT)
7186  04/01/2005  04.00.00    0,6


            Date      Time CO(GT)
7187  04/01/2005  05.00.00    0,8


            Date      Time CO(GT)
7188  04/01/2005  06.00.00    0,9


            Date      Time CO(GT)
7189  04/01/2005  07.00.00    1,1


            Date      Time CO(GT)
7190  04/01/2005  08.00.00    3,4


            Date      Time CO(GT)
7191  04/01/2005  09.00.00    3,6


            Date      Time CO(GT)
7192  04/01/2005  10.00.00    3,1


            Date      Time CO(GT)
7193  04/01/2005  11.00.00    3,3


            Date      Time CO(GT)
7194  04/01/2005  12.00.00    3,4


            Date      Time CO(GT)
7195  04/01/2005  13.00.00    2,8


            Date      Time CO(GT)
7196  04/01/2005  14.00.00    2,6


            Date      Time CO(GT)
7197  04/01/2005  15.00.00    3,0


            Date      Time CO(GT)
7198  04/01/2005  16.00.00    2,9


            Date      Time CO(GT)
7199  04/01/2005  17.00.00    3,8


            Date      Time CO(GT)
7200  04/01/2005  18.00.00    3,8


            Date      Time CO(GT)
7201  04/01/2005  19.00.00    3,6


            Date      Time CO(GT)
7202  04/01/2005  20.00.00    4,5


            Date      Time CO(GT)
7203  04/01/2005  21.00.00    3,7


            Date      Time CO(GT)
7204  04/01/2005  22.00.00    2,4


            Date      Time CO(GT)
7205  04/01/2005  23.00.00    1,7


            Date      Time CO(GT)
7926  04/02/2005  00.00.00    1,2


            Date      Time CO(GT)
7927  04/02/2005  01.00.00    1,2


            Date      Time CO(GT)
7928  04/02/2005  02.00.00    0,7


            Date      Time CO(GT)
7929  04/02/2005  03.00.00    0,9


            Date      Time CO(GT)
7930  04/02/2005  04.00.00    0,8


            Date      Time CO(GT)
7931  04/02/2005  05.00.00    0,4


            Date      Time CO(GT)
7932  04/02/2005  06.00.00    0,7


            Date      Time CO(GT)
7933  04/02/2005  07.00.00    1,4


            Date      Time CO(GT)
7934  04/02/2005  08.00.00    4,0


            Date      Time CO(GT)
7935  04/02/2005  09.00.00    3,9


            Date      Time CO(GT)
7936  04/02/2005  10.00.00    3,1


            Date      Time CO(GT)
7937  04/02/2005  11.00.00    3,2


            Date      Time CO(GT)
7938  04/02/2005  12.00.00    1,5


            Date      Time CO(GT)
7939  04/02/2005  13.00.00    1,2


            Date      Time CO(GT)
7940  04/02/2005  14.00.00    1,9


            Date      Time CO(GT)
7941  04/02/2005  15.00.00    1,5


            Date      Time CO(GT)
7942  04/02/2005  16.00.00    1,4


            Date      Time CO(GT)
7943  04/02/2005  17.00.00    1,9


            Date      Time CO(GT)
7944  04/02/2005  18.00.00    2,2


            Date      Time CO(GT)
7945  04/02/2005  19.00.00    3,0


            Date      Time CO(GT)
7946  04/02/2005  20.00.00    2,6


            Date      Time CO(GT)
7947  04/02/2005  21.00.00    2,8


            Date      Time CO(GT)
7948  04/02/2005  22.00.00    1,6


            Date      Time CO(GT)
7949  04/02/2005  23.00.00    1,3


            Date      Time CO(GT)
8598  04/03/2005  00.00.00    2,3


            Date      Time CO(GT)
8599  04/03/2005  01.00.00    2,3


            Date      Time CO(GT)
8600  04/03/2005  02.00.00    1,7


            Date      Time CO(GT)
8601  04/03/2005  03.00.00    1,2


            Date      Time CO(GT)
8602  04/03/2005  04.00.00    0,6


            Date      Time CO(GT)
8603  04/03/2005  05.00.00    0,9


            Date      Time CO(GT)
8604  04/03/2005  06.00.00    1,1


            Date      Time CO(GT)
8605  04/03/2005  07.00.00    1,9


            Date      Time CO(GT)
8606  04/03/2005  08.00.00    3,7


            Date      Time CO(GT)
8607  04/03/2005  09.00.00    6,1


            Date      Time CO(GT)
8608  04/03/2005  10.00.00    4,6


            Date      Time CO(GT)
8609  04/03/2005  11.00.00    3,3


            Date      Time CO(GT)
8610  04/03/2005  12.00.00    3,3


            Date      Time CO(GT)
8611  04/03/2005  13.00.00    3,4


            Date      Time CO(GT)
8612  04/03/2005  14.00.00    3,6


            Date      Time CO(GT)
8613  04/03/2005  15.00.00    3,9


            Date      Time CO(GT)
8614  04/03/2005  16.00.00    4,8


            Date      Time CO(GT)
8615  04/03/2005  17.00.00    3,9


            Date      Time CO(GT)
8616  04/03/2005  18.00.00    3,6


            Date      Time CO(GT)
8617  04/03/2005  19.00.00    3,6


            Date      Time CO(GT)
8618  04/03/2005  20.00.00    4,6


            Date      Time CO(GT)
8619  04/03/2005  21.00.00    2,3


            Date      Time CO(GT)
8620  04/03/2005  22.00.00    1,6


            Date      Time CO(GT)
8621  04/03/2005  23.00.00    1,8


           Date      Time CO(GT)
582  04/04/2004  00.00.00   -200


           Date      Time CO(GT)
583  04/04/2004  01.00.00   -200


           Date      Time CO(GT)

            Date      Time CO(GT)
3517  04/08/2004  07.00.00   -200


            Date      Time CO(GT)
3518  04/08/2004  08.00.00   -200


            Date      Time CO(GT)
3519  04/08/2004  09.00.00   -200


            Date      Time CO(GT)
3520  04/08/2004  10.00.00   -200


            Date      Time CO(GT)
3521  04/08/2004  11.00.00   -200


            Date      Time CO(GT)
3522  04/08/2004  12.00.00   -200


            Date      Time CO(GT)
3523  04/08/2004  13.00.00   -200


            Date      Time CO(GT)
3524  04/08/2004  14.00.00   -200


            Date      Time CO(GT)
3525  04/08/2004  15.00.00   -200


            Date      Time CO(GT)
3526  04/08/2004  16.00.00   -200


            Date      Time CO(GT)
3527  04/08/2004  17.00.00   -200


            Date      Time CO(GT)
3528  04/08/2004  18.00.00   -200


            Date      Time CO(GT)
3529  04/08/2004  19.00.00   -200


            Date      Time CO(GT)
3530  04/08/2004  20.00.00   -200


            Date      Time CO(GT)
3531  04/08/2004  21.00.00   -200


            Date      Time CO(GT)
3532  04/08/2004  22.00.00   -200


            Date      Time CO(GT)
3533  04/08/2004  23.00.00   -200


            Date      Time CO(GT)
4254  04/09/2004  00.00.00    2,2


            Date      Time CO(GT)
4255  04/09/2004  01.00.00    1,2


            Date      Time CO(GT)
4256  04/09/2004  02.00.00    0,9


            Date      Time CO(GT)
4257  04/09/2004  03.00.00    0,8


            Date      Time CO(GT)
4258  04/09/2004  04.00.00    0,8


            Date      Time CO(GT)
4259  04/09/2004  05.00.00    0,8


            Date      Time CO(GT)
4260  04/09/2004  06.00.00      1


            Date      Time CO(GT)
4261  04/09/2004  07.00.00    1,7


            Date      Time CO(GT)
4262  04/09/2004  08.00.00    1,9


            Date      Time CO(GT)
4263  04/09/2004  09.00.00      2


            Date      Time CO(GT)
4264  04/09/2004  10.00.00    2,2


            Date      Time CO(GT)
4265  04/09/2004  11.00.00    2,3


            Date      Time CO(GT)
4266  04/09/2004  12.00.00    2,3


            Date      Time CO(GT)
4267  04/09/2004  13.00.00    1,8


            Date      Time CO(GT)
4268  04/09/2004  14.00.00    1,4


            Date      Time CO(GT)
4269  04/09/2004  15.00.00    1,6


            Date      Time CO(GT)
4270  04/09/2004  16.00.00    2,3


            Date      Time CO(GT)
4271  04/09/2004  17.00.00    2,4


            Date      Time CO(GT)
4272  04/09/2004  18.00.00    2,1


            Date      Time CO(GT)
4273  04/09/2004  19.00.00    1,8


            Date      Time CO(GT)
4274  04/09/2004  20.00.00    1,7


            Date      Time CO(GT)
4275  04/09/2004  21.00.00    1,9


            Date      Time CO(GT)
4276  04/09/2004  22.00.00    1,6


            Date      Time CO(GT)
4277  04/09/2004  23.00.00    2,6


            Date      Time CO(GT)
4974  04/10/2004  00.00.00   -200


            Date      Time CO(GT)
4975  04/10/2004  01.00.00   -200


            Date      Time CO(GT)
4976  04/10/2004  02.00.00   -200


            Date      Time CO(GT)
4977  04/10/2004  03.00.00   -200


            Date      Time CO(GT)
4978  04/10/2004  04.00.00   -200


            Date      Time CO(GT)
4979  04/10/2004  05.00.00   -200


            Date      Time CO(GT)
4980  04/10/2004  06.00.00   -200


            Date      Time CO(GT)
4981  04/10/2004  07.00.00   -200


            Date      Time CO(GT)
4982  04/10/2004  08.00.00   -200


            Date      Time CO(GT)
4983  04/10/2004  09.00.00   -200


            Date      Time CO(GT)
4984  04/10/2004  10.00.00   -200


            Date      Time CO(GT)
4985  04/10/2004  11.00.00   -200


            Date      Time CO(GT)
4986  04/10/2004  12.00.00   -200


            Date      Time CO(GT)
4987  04/10/2004  13.00.00   -200


            Date      Time CO(GT)
4988  04/10/2004  14.00.00   -200


            Date      Time CO(GT)
4989  04/10/2004  15.00.00   -200


            Date      Time CO(GT)
4990  04/10/2004  16.00.00   -200


            Date      Time CO(GT)
4991  04/10/2004  17.00.00   -200


            Date      Time CO(GT)
4992  04/10/2004  18.00.00   -200


            Date      Time CO(GT)
4993  04/10/2004  19.00.00   -200


            Date      Time CO(GT)
4994  04/10/2004  20.00.00   -200


            Date      Time CO(GT)
4995  04/10/2004  21.00.00   -200


            Date      Time CO(GT)
4996  04/10/2004  22.00.00   -200


            Date      Time CO(GT)
4997  04/10/2004  23.00.00   -200


            Date      Time CO(GT)
5718  04/11/2004  00.00.00    1,8


            Date      Time CO(GT)
5719  04/11/2004  01.00.00    1,1


            Date      Time CO(GT)
5720  04/11/2004  02.00.00    1,2


            Date      Time CO(GT)
5721  04/11/2004  03.00.00    0,8


            Date      Time CO(GT)
5722  04/11/2004  04.00.00    0,6


            Date      Time CO(GT)
5723  04/11/2004  05.00.00    0,5


            Date      Time CO(GT)
5724  04/11/2004  06.00.00    0,7


            Date      Time CO(GT)
5725  04/11/2004  07.00.00    0,8


            Date      Time CO(GT)
5726  04/11/2004  08.00.00    3,5


            Date      Time CO(GT)
5727  04/11/2004  09.00.00    3,6


            Date      Time CO(GT)
5728  04/11/2004  10.00.00   -200


            Date      Time CO(GT)
5729  04/11/2004  11.00.00   -200


            Date      Time CO(GT)
5730  04/11/2004  12.00.00   -200


            Date      Time CO(GT)
5731  04/11/2004  13.00.00   -200


            Date      Time CO(GT)
5732  04/11/2004  14.00.00   -200


            Date      Time CO(GT)
5733  04/11/2004  15.00.00   -200


            Date      Time CO(GT)
5734  04/11/2004  16.00.00   -200


            Date      Time CO(GT)
5735  04/11/2004  17.00.00   -200


            Date      Time CO(GT)
5736  04/11/2004  18.00.00    8,7


            Date      Time CO(GT)
5737  04/11/2004  19.00.00    5,8


            Date      Time CO(GT)
5738  04/11/2004  20.00.00    4,3


            Date      Time CO(GT)
5739  04/11/2004  21.00.00    3,6


            Date      Time CO(GT)
5740  04/11/2004  22.00.00    3,9


            Date      Time CO(GT)
5741  04/11/2004  23.00.00    2,4


            Date      Time CO(GT)
6438  04/12/2004  00.00.00    3,5


            Date      Time CO(GT)
6439  04/12/2004  01.00.00    3,2


            Date      Time CO(GT)
6440  04/12/2004  02.00.00    2,9


            Date      Time CO(GT)
6441  04/12/2004  03.00.00    2,1


            Date      Time CO(GT)
6442  04/12/2004  04.00.00   -200


            Date      Time CO(GT)
6443  04/12/2004  05.00.00    1,7


            Date      Time CO(GT)
6444  04/12/2004  06.00.00    1,7


            Date      Time CO(GT)
6445  04/12/2004  07.00.00    1,3


            Date      Time CO(GT)
6446  04/12/2004  08.00.00    2,8


            Date      Time CO(GT)
6447  04/12/2004  09.00.00    2,5


            Date      Time CO(GT)
6448  04/12/2004  10.00.00    2,7


            Date      Time CO(GT)
6449  04/12/2004  11.00.00    1,5


            Date      Time CO(GT)
6450  04/12/2004  12.00.00    2,6


            Date      Time CO(GT)
6451  04/12/2004  13.00.00    3,1


            Date      Time CO(GT)
6452  04/12/2004  14.00.00    2,5


            Date      Time CO(GT)
6453  04/12/2004  15.00.00    2,6


            Date      Time CO(GT)
6454  04/12/2004  16.00.00    2,5


            Date      Time CO(GT)
6455  04/12/2004  17.00.00    2,3


            Date      Time CO(GT)
6456  04/12/2004  18.00.00    3,1


            Date      Time CO(GT)
6457  04/12/2004  19.00.00    1,9


            Date      Time CO(GT)
6458  04/12/2004  20.00.00    2,5


            Date      Time CO(GT)
6459  04/12/2004  21.00.00    3,1


            Date      Time CO(GT)
6460  04/12/2004  22.00.00      2


            Date      Time CO(GT)
6461  04/12/2004  23.00.00    1,9


            Date      Time CO(GT)
7206  05/01/2005  00.00.00    1,7


            Date      Time CO(GT)
7207  05/01/2005  01.00.00    1,7


            Date      Time CO(GT)
7208  05/01/2005  02.00.00    1,9


            Date      Time CO(GT)
7209  05/01/2005  03.00.00    2,0


            Date      Time CO(GT)
7210  05/01/2005  04.00.00    2,0


            Date      Time CO(GT)
7211  05/01/2005  05.00.00    1,7


            Date      Time CO(GT)
7212  05/01/2005  06.00.00    1,8


            Date      Time CO(GT)
7213  05/01/2005  07.00.00    2,2


            Date      Time CO(GT)
7214  05/01/2005  08.00.00    3,7


            Date      Time CO(GT)
7215  05/01/2005  09.00.00    4,8


            Date      Time CO(GT)
7216  05/01/2005  10.00.00    4,8


            Date      Time CO(GT)
7217  05/01/2005  11.00.00    5,2


            Date      Time CO(GT)
7218  05/01/2005  12.00.00    5,9


            Date      Time CO(GT)
7219  05/01/2005  13.00.00    5,9


            Date      Time CO(GT)
7220  05/01/2005  14.00.00    3,1


            Date      Time CO(GT)
7221  05/01/2005  15.00.00    2,6


            Date      Time CO(GT)
7222  05/01/2005  16.00.00    2,8


            Date      Time CO(GT)
7223  05/01/2005  17.00.00    2,8


            Date      Time CO(GT)
7224  05/01/2005  18.00.00    2,8


            Date      Time CO(GT)
7225  05/01/2005  19.00.00    3,1


            Date      Time CO(GT)
7226  05/01/2005  20.00.00    3,3


            Date      Time CO(GT)
7227  05/01/2005  21.00.00    2,7


            Date      Time CO(GT)
7228  05/01/2005  22.00.00    2,3


            Date      Time CO(GT)
7229  05/01/2005  23.00.00    1,6


            Date      Time CO(GT)
7950  05/02/2005  00.00.00    1,6


            Date      Time CO(GT)
7951  05/02/2005  01.00.00    1,5


            Date      Time CO(GT)
7952  05/02/2005  02.00.00    1,3


            Date      Time CO(GT)
7953  05/02/2005  03.00.00    1,6


            Date      Time CO(GT)
7954  05/02/2005  04.00.00    2,0


            Date      Time CO(GT)
7955  05/02/2005  05.00.00    1,3


            Date      Time CO(GT)
7956  05/02/2005  06.00.00    0,9


            Date      Time CO(GT)
7957  05/02/2005  07.00.00    1,4


            Date      Time CO(GT)
7958  05/02/2005  08.00.00    3,1


            Date      Time CO(GT)
7959  05/02/2005  09.00.00    4,1


            Date      Time CO(GT)
7960  05/02/2005  10.00.00    1,3


            Date      Time CO(GT)
7961  05/02/2005  11.00.00    0,9


            Date      Time CO(GT)
7962  05/02/2005  12.00.00    1,0


            Date      Time CO(GT)
7963  05/02/2005  13.00.00    1,0


            Date      Time CO(GT)
7964  05/02/2005  14.00.00    1,1


            Date      Time CO(GT)
7965  05/02/2005  15.00.00    0,8


            Date      Time CO(GT)
7966  05/02/2005  16.00.00    1,0


            Date      Time CO(GT)
7967  05/02/2005  17.00.00    0,9


            Date      Time CO(GT)
7968  05/02/2005  18.00.00    0,9


            Date      Time CO(GT)
7969  05/02/2005  19.00.00    1,6


            Date      Time CO(GT)
7970  05/02/2005  20.00.00    1,4


            Date      Time CO(GT)
7971  05/02/2005  21.00.00    1,4


            Date      Time CO(GT)
7972  05/02/2005  22.00.00    1,1


            Date      Time CO(GT)
7973  05/02/2005  23.00.00    1,2


            Date      Time CO(GT)
8622  05/03/2005  00.00.00    2,2


            Date      Time CO(GT)
8623  05/03/2005  01.00.00    2,1


            Date      Time CO(GT)
8624  05/03/2005  02.00.00    1,7


            Date      Time CO(GT)
8625  05/03/2005  03.00.00    1,5


            Date      Time  CO(GT)
8626  05/03/2005  04.00.00  -200,0


            Date      Time CO(GT)
8627  05/03/2005  05.00.00    1,1


            Date      Time CO(GT)
8628  05/03/2005  06.00.00    1,1


            Date      Time CO(GT)
8629  05/03/2005  07.00.00    0,8


            Date      Time CO(GT)
8630  05/03/2005  08.00.00    1,3


            Date      Time CO(GT)
8631  05/03/2005  09.00.00    2,3


            Date      Time CO(GT)
8632  05/03/2005  10.00.00    1,1


            Date      Time CO(GT)
8633  05/03/2005  11.00.00    1,1


            Date      Time CO(GT)
8634  05/03/2005  12.00.00    1,5


            Date      Time CO(GT)
8635  05/03/2005  13.00.00    1,6


            Date      Time CO(GT)
8636  05/03/2005  14.00.00    2,2


            Date      Time CO(GT)
8637  05/03/2005  15.00.00    1,5


            Date      Time CO(GT)
8638  05/03/2005  16.00.00    1,8


            Date      Time CO(GT)
8639  05/03/2005  17.00.00    2,0


            Date      Time CO(GT)
8640  05/03/2005  18.00.00    1,9


            Date      Time CO(GT)
8641  05/03/2005  19.00.00    2,5


            Date      Time CO(GT)
8642  05/03/2005  20.00.00    2,6


            Date      Time CO(GT)
8643  05/03/2005  21.00.00    3,2


            Date      Time CO(GT)
8644  05/03/2005  22.00.00    2,2


            Date      Time CO(GT)
8645  05/03/2005  23.00.00    1,9


           Date      Time CO(GT)
606  05/04/2004  00.00.00   -200


           Date      Time CO(GT)
607  05/04/2004  01.00.00   -200


           Date      Time CO(GT)
608  05/04/2004  02.00.00   -200


           Date      Time CO(GT)
609  05/04/2004  03.00.00   -200


           Date      Time CO(GT)
610  05/04/2004  04.00.00   -200


           Date      Time CO(GT)
611  05/04/2004  05.00.00   -200


           Date      Time CO(GT)
612  05/04/2004  06.00.00   -200


           Date      Time CO(GT)
613  05/04/2004  07.00.00   -200


           Date      Time CO(GT)
614  05/04/2004  08.00.00   -200


           Date      Time CO(GT)
615  05/04/2004  09.00.00   -200


           Date      Time CO(GT)
616  05/04/2004  10.00.00    3,1


           Date      Time CO(GT)
617  05/04/2004  11.00.00      3


           Date      Time CO(GT)
618  05/04/2004  12.00.00    3,2


           Date      Time CO(GT)
619  05/04/2004  13.00.00    3,1


           Date      Time CO(GT)
620  05/04/2004  14.00.00    2,5


           Date      Time CO(GT)
621  05/04/2004  15.00.00    2,1


           Date      Time CO(GT)
622  05/04/2004  16.00.00      2


           Date      Time CO(GT)
623  05/04/2004  17.00.00    3,2


           Date      Time CO(GT)
624  05/04/2004  18.00.00    4,1


           Date      Time CO(GT)
625  05/04/2004  19.00.00    3,9


           Date      Time CO(GT)
626  05/04/2004  20.00.00    3,1


           Date      Time CO(GT)
627  05/04/2004  21.00.00      2


           Date      Time CO(GT)
628  05/04/2004  22.00.00    1,7


           Date      Time CO(GT)
629  05/04/2004  23.00.00    1,6


            Date      Time CO(GT)
1326  05/05/2004  00.00.00    0,7


            Date      Time CO(GT)
1327  05/05/2004  01.00.00    0,5


            Date      Time CO(GT)
1328  05/05/2004  02.00.00    0,5


            Date      Time CO(GT)
1329  05/05/2004  03.00.00    0,5


            Date      Time CO(GT)
1330  05/05/2004  04.00.00   -200


            Date      Time CO(GT)
1331  05/05/2004  05.00.00    0,8


            Date      Time CO(GT)
1332  05/05/2004  06.00.00    1,3


            Date      Time CO(GT)
1333  05/05/2004  07.00.00    3,5


            Date      Time CO(GT)
1334  05/05/2004  08.00.00   -200


            Date      Time CO(GT)
1335  05/05/2004  09.00.00    3,9


            Date      Time CO(GT)
1336  05/05/2004  10.00.00    2,9


            Date      Time CO(GT)
1337  05/05/2004  11.00.00    2,6


            Date      Time CO(GT)
1338  05/05/2004  12.00.00      3


            Date      Time CO(GT)
1339  05/05/2004  13.00.00    3,7


            Date      Time CO(GT)
1340  05/05/2004  14.00.00    3,9


            Date      Time CO(GT)
1341  05/05/2004  15.00.00    3,5


            Date      Time CO(GT)
1342  05/05/2004  16.00.00    2,4


            Date      Time CO(GT)
1343  05/05/2004  17.00.00    1,6


            Date      Time CO(GT)
1344  05/05/2004  18.00.00      3


            Date      Time CO(GT)
1345  05/05/2004  19.00.00    1,6


            Date      Time CO(GT)
1346  05/05/2004  20.00.00    2,1


            Date      Time CO(GT)
1347  05/05/2004  21.00.00    1,8


            Date      Time CO(GT)
1348  05/05/2004  22.00.00    1,1


            Date      Time CO(GT)
1349  05/05/2004  23.00.00    1,5


            Date      Time CO(GT)
2070  05/06/2004  00.00.00    2,7


            Date      Time CO(GT)
2071  05/06/2004  01.00.00    1,5


            Date      Time CO(GT)
2072  05/06/2004  02.00.00    1,6


            Date      Time CO(GT)
2073  05/06/2004  03.00.00    1,3


            Date      Time CO(GT)
2074  05/06/2004  04.00.00    0,7


            Date      Time CO(GT)
2075  05/06/2004  05.00.00    0,7


            Date      Time CO(GT)
2076  05/06/2004  06.00.00    1,2


            Date      Time CO(GT)
2077  05/06/2004  07.00.00    1,5


            Date      Time CO(GT)
2078  05/06/2004  08.00.00    1,5


            Date      Time CO(GT)
2079  05/06/2004  09.00.00    1,6


            Date      Time CO(GT)
2080  05/06/2004  10.00.00    1,1


            Date      Time CO(GT)
2081  05/06/2004  11.00.00    1,1


            Date      Time CO(GT)
2082  05/06/2004  12.00.00    1,4


            Date      Time CO(GT)
2083  05/06/2004  13.00.00    1,4


            Date      Time CO(GT)
2084  05/06/2004  14.00.00      1


            Date      Time CO(GT)
2085  05/06/2004  15.00.00    1,3


            Date      Time CO(GT)
2086  05/06/2004  16.00.00    1,9


            Date      Time CO(GT)
2087  05/06/2004  17.00.00    1,7


            Date      Time CO(GT)
2088  05/06/2004  18.00.00    2,3


            Date      Time CO(GT)
2089  05/06/2004  19.00.00    2,4


            Date      Time CO(GT)
2090  05/06/2004  20.00.00    1,8


            Date      Time CO(GT)
2091  05/06/2004  21.00.00    0,6


            Date      Time CO(GT)
2092  05/06/2004  22.00.00    0,8


            Date      Time CO(GT)
2093  05/06/2004  23.00.00    1,7


            Date      Time CO(GT)
2790  05/07/2004  00.00.00    1,5


            Date      Time CO(GT)
2791  05/07/2004  01.00.00    0,6


            Date      Time CO(GT)
2792  05/07/2004  02.00.00    0,4


            Date      Time CO(GT)
2793  05/07/2004  03.00.00    0,3


            Date      Time CO(GT)
2794  05/07/2004  04.00.00   -200


            Date      Time CO(GT)
2795  05/07/2004  05.00.00    0,4


            Date      Time CO(GT)
2796  05/07/2004  06.00.00    0,7


            Date      Time CO(GT)
2797  05/07/2004  07.00.00      2


            Date      Time CO(GT)
2798  05/07/2004  08.00.00    3,9


            Date      Time CO(GT)
2799  05/07/2004  09.00.00    3,6


            Date      Time CO(GT)
2800  05/07/2004  10.00.00    3,2


            Date      Time CO(GT)
2801  05/07/2004  11.00.00    2,2


            Date      Time CO(GT)
2802  05/07/2004  12.00.00    2,2


            Date      Time CO(GT)
2803  05/07/2004  13.00.00    2,1


            Date      Time CO(GT)
2804  05/07/2004  14.00.00    1,8


            Date      Time CO(GT)
2805  05/07/2004  15.00.00      2


            Date      Time CO(GT)
2806  05/07/2004  16.00.00    1,8


            Date      Time CO(GT)
2807  05/07/2004  17.00.00      3


            Date      Time CO(GT)
2808  05/07/2004  18.00.00    4,3


            Date      Time CO(GT)
2809  05/07/2004  19.00.00    3,5


            Date      Time CO(GT)
2810  05/07/2004  20.00.00    2,5


            Date      Time CO(GT)
2811  05/07/2004  21.00.00    1,8


            Date      Time CO(GT)
2812  05/07/2004  22.00.00    1,9


            Date      Time CO(GT)
2813  05/07/2004  23.00.00    1,9


            Date      Time CO(GT)
3534  05/08/2004  00.00.00   -200


            Date      Time CO(GT)
3535  05/08/2004  01.00.00   -200


            Date      Time CO(GT)
3536  05/08/2004  02.00.00   -200


            Date      Time CO(GT)
3537  05/08/2004  03.00.00   -200


            Date      Time CO(GT)
3538  05/08/2004  04.00.00   -200



            Date      Time CO(GT)
4294  05/09/2004  16.00.00    0,8


            Date      Time CO(GT)
4295  05/09/2004  17.00.00    0,9


            Date      Time CO(GT)
4296  05/09/2004  18.00.00    1,1


            Date      Time CO(GT)
4297  05/09/2004  19.00.00    1,7


            Date      Time CO(GT)
4298  05/09/2004  20.00.00    1,5


            Date      Time CO(GT)
4299  05/09/2004  21.00.00    1,6


            Date      Time CO(GT)
4300  05/09/2004  22.00.00    1,7


            Date      Time CO(GT)
4301  05/09/2004  23.00.00    1,3


            Date      Time CO(GT)
4998  05/10/2004  00.00.00   -200


            Date      Time CO(GT)
4999  05/10/2004  01.00.00   -200


            Date      Time CO(GT)
5000  05/10/2004  02.00.00   -200


            Date      Time CO(GT)
5001  05/10/2004  03.00.00   -200


            Date      Time CO(GT)
5002  05/10/2004  04.00.00   -200


            Date      Time CO(GT)
5003  05/10/2004  05.00.00   -200


            Date      Time CO(GT)
5004  05/10/2004  06.00.00   -200


            Date      Time CO(GT)
5005  05/10/2004  07.00.00   -200


            Date      Time CO(GT)
5006  05/10/2004  08.00.00   -200


            Date      Time CO(GT)
5007  05/10/2004  09.00.00   -200


            Date      Time CO(GT)
5008  05/10/2004  10.00.00   -200


            Date      Time CO(GT)
5009  05/10/2004  11.00.00   -200


            Date      Time CO(GT)
5010  05/10/2004  12.00.00   -200


            Date      Time CO(GT)
5011  05/10/2004  13.00.00   -200


            Date      Time CO(GT)
5012  05/10/2004  14.00.00   -200


            Date      Time CO(GT)
5013  05/10/2004  15.00.00   -200


            Date      Time CO(GT)
5014  05/10/2004  16.00.00   -200


            Date      Time CO(GT)
5015  05/10/2004  17.00.00   -200


            Date      Time CO(GT)
5016  05/10/2004  18.00.00   -200


            Date      Time CO(GT)
5017  05/10/2004  19.00.00   -200


            Date      Time CO(GT)
5018  05/10/2004  20.00.00   -200


            Date      Time CO(GT)
5019  05/10/2004  21.00.00   -200


            Date      Time CO(GT)
5020  05/10/2004  22.00.00   -200


            Date      Time CO(GT)
5021  05/10/2004  23.00.00   -200


            Date      Time CO(GT)
5742  05/11/2004  00.00.00    1,6


            Date      Time CO(GT)
5743  05/11/2004  01.00.00    1,8


            Date      Time CO(GT)
5744  05/11/2004  02.00.00    1,5


            Date      Time CO(GT)
5745  05/11/2004  03.00.00    0,7


            Date      Time CO(GT)
5746  05/11/2004  04.00.00    0,5


            Date      Time CO(GT)
5747  05/11/2004  05.00.00    0,4


            Date      Time CO(GT)
5748  05/11/2004  06.00.00    0,5


            Date      Time CO(GT)
5749  05/11/2004  07.00.00    0,8


            Date      Time CO(GT)
5750  05/11/2004  08.00.00      2


            Date      Time CO(GT)
5751  05/11/2004  09.00.00    6,2


            Date      Time CO(GT)
5752  05/11/2004  10.00.00    4,5


            Date      Time CO(GT)
5753  05/11/2004  11.00.00    4,6


            Date      Time CO(GT)
5754  05/11/2004  12.00.00    3,3


            Date      Time CO(GT)
5755  05/11/2004  13.00.00    3,6


            Date      Time CO(GT)
5756  05/11/2004  14.00.00    4,4


            Date      Time CO(GT)
5757  05/11/2004  15.00.00    4,3


            Date      Time CO(GT)
5758  05/11/2004  16.00.00      5


            Date      Time CO(GT)
5759  05/11/2004  17.00.00    8,1


            Date      Time CO(GT)
5760  05/11/2004  18.00.00      8


            Date      Time CO(GT)
5761  05/11/2004  19.00.00    3,6


            Date      Time CO(GT)
5762  05/11/2004  20.00.00    2,9


            Date      Time CO(GT)
5763  05/11/2004  21.00.00    2,7


            Date      Time CO(GT)
5764  05/11/2004  22.00.00    1,9


            Date      Time CO(GT)
5765  05/11/2004  23.00.00    1,3


            Date      Time CO(GT)
6462  05/12/2004  00.00.00    2,4


            Date      Time CO(GT)
6463  05/12/2004  01.00.00      2


            Date      Time CO(GT)
6464  05/12/2004  02.00.00    1,2


            Date      Time CO(GT)
6465  05/12/2004  03.00.00      1


            Date      Time CO(GT)
6466  05/12/2004  04.00.00      1


            Date      Time CO(GT)
6467  05/12/2004  05.00.00    0,8


            Date      Time CO(GT)
6468  05/12/2004  06.00.00    0,6


            Date      Time CO(GT)
6469  05/12/2004  07.00.00    0,7


            Date      Time CO(GT)
6470  05/12/2004  08.00.00    0,8


            Date      Time CO(GT)
6471  05/12/2004  09.00.00    0,9


            Date      Time CO(GT)
6472  05/12/2004  10.00.00      1


            Date      Time CO(GT)
6473  05/12/2004  11.00.00    1,3


            Date      Time CO(GT)
6474  05/12/2004  12.00.00    1,7


            Date      Time CO(GT)
6475  05/12/2004  13.00.00    2,4


            Date      Time CO(GT)
6476  05/12/2004  14.00.00    1,7


            Date      Time CO(GT)
6477  05/12/2004  15.00.00    1,8


            Date      Time CO(GT)
6478  05/12/2004  16.00.00    1,5


            Date      Time CO(GT)
6479  05/12/2004  17.00.00    1,1


            Date      Time CO(GT)
6480  05/12/2004  18.00.00    2,4


            Date      Time CO(GT)
6481  05/12/2004  19.00.00      2


            Date      Time CO(GT)
6482  05/12/2004  20.00.00    1,5


            Date      Time CO(GT)
6483  05/12/2004  21.00.00    1,7


            Date      Time CO(GT)
6484  05/12/2004  22.00.00      1


            Date      Time CO(GT)
6485  05/12/2004  23.00.00      1


            Date      Time CO(GT)
7230  06/01/2005  00.00.00    1,6


            Date      Time CO(GT)
7231  06/01/2005  01.00.00    1,7


            Date      Time CO(GT)
7232  06/01/2005  02.00.00    1,6


            Date      Time CO(GT)
7233  06/01/2005  03.00.00    1,4


            Date      Time CO(GT)
7234  06/01/2005  04.00.00   -200


            Date      Time CO(GT)
7235  06/01/2005  05.00.00    0,9


            Date      Time CO(GT)
7236  06/01/2005  06.00.00    0,8


            Date      Time CO(GT)
7237  06/01/2005  07.00.00    0,7


            Date      Time CO(GT)
7238  06/01/2005  08.00.00    1,1


            Date      Time CO(GT)
7239  06/01/2005  09.00.00    1,5


            Date      Time CO(GT)
7240  06/01/2005  10.00.00    1,5


            Date      Time CO(GT)
7241  06/01/2005  11.00.00    1,6


            Date      Time CO(GT)
7242  06/01/2005  12.00.00    1,6


            Date      Time CO(GT)
7243  06/01/2005  13.00.00    2,0


            Date      Time CO(GT)
7244  06/01/2005  14.00.00    1,7


            Date      Time CO(GT)
7245  06/01/2005  15.00.00    1,5


            Date      Time CO(GT)
7246  06/01/2005  16.00.00    2,0


            Date      Time CO(GT)
7247  06/01/2005  17.00.00    1,9


            Date      Time CO(GT)
7248  06/01/2005  18.00.00    2,1


            Date      Time CO(GT)
7249  06/01/2005  19.00.00    2,8


            Date      Time CO(GT)
7250  06/01/2005  20.00.00    2,7


            Date      Time CO(GT)
7251  06/01/2005  21.00.00    2,4


            Date      Time CO(GT)
7252  06/01/2005  22.00.00    1,6


            Date      Time CO(GT)
7253  06/01/2005  23.00.00    1,7


            Date      Time CO(GT)
7974  06/02/2005  00.00.00    1,8


            Date      Time CO(GT)
7975  06/02/2005  01.00.00    1,4


            Date      Time CO(GT)
7976  06/02/2005  02.00.00    1,4


            Date      Time CO(GT)
7977  06/02/2005  03.00.00    0,9


            Date      Time  CO(GT)
7978  06/02/2005  04.00.00  -200,0


            Date      Time CO(GT)
7979  06/02/2005  05.00.00    0,8


            Date      Time CO(GT)
7980  06/02/2005  06.00.00    0,7


            Date      Time CO(GT)
7981  06/02/2005  07.00.00    0,7


            Date      Time CO(GT)
7982  06/02/2005  08.00.00    0,6


            Date      Time CO(GT)
7983  06/02/2005  09.00.00    0,8


            Date      Time CO(GT)
7984  06/02/2005  10.00.00    1,3


            Date      Time CO(GT)
7985  06/02/2005  11.00.00    2,0


            Date      Time CO(GT)
7986  06/02/2005  12.00.00    1,7


            Date      Time CO(GT)
7987  06/02/2005  13.00.00    1,2


            Date      Time CO(GT)
7988  06/02/2005  14.00.00    1,0


            Date      Time CO(GT)
7989  06/02/2005  15.00.00    0,8


            Date      Time CO(GT)
7990  06/02/2005  16.00.00    1,0


            Date      Time CO(GT)
7991  06/02/2005  17.00.00    1,4


            Date      Time CO(GT)
7992  06/02/2005  18.00.00    1,1


            Date      Time CO(GT)
7993  06/02/2005  19.00.00    1,6


            Date      Time CO(GT)
7994  06/02/2005  20.00.00    1,8


            Date      Time CO(GT)
7995  06/02/2005  21.00.00    1,4


            Date      Time CO(GT)
7996  06/02/2005  22.00.00    1,1


            Date      Time CO(GT)
7997  06/02/2005  23.00.00    1,0


            Date      Time CO(GT)
8646  06/03/2005  00.00.00    2,4


            Date      Time CO(GT)
8647  06/03/2005  01.00.00    1,8


            Date      Time CO(GT)
8648  06/03/2005  02.00.00    0,9


            Date      Time CO(GT)
8649  06/03/2005  03.00.00    0,8


            Date      Time CO(GT)
8650  06/03/2005  04.00.00    0,7


            Date      Time CO(GT)
8651  06/03/2005  05.00.00    0,6


            Date      Time CO(GT)
8652  06/03/2005  06.00.00    0,5


            Date      Time CO(GT)
8653  06/03/2005  07.00.00    0,6


            Date      Time CO(GT)
8654  06/03/2005  08.00.00    0,6


            Date      Time CO(GT)
8655  06/03/2005  09.00.00    0,7


            Date      Time CO(GT)
8656  06/03/2005  10.00.00    0,7


            Date      Time CO(GT)
8657  06/03/2005  11.00.00    0,9


            Date      Time CO(GT)
8658  06/03/2005  12.00.00    1,0


            Date      Time CO(GT)
8659  06/03/2005  13.00.00    1,0


            Date      Time CO(GT)
8660  06/03/2005  14.00.00    1,4


            Date      Time CO(GT)
8661  06/03/2005  15.00.00    3,0


            Date      Time CO(GT)
8662  06/03/2005  16.00.00    1,5


            Date      Time CO(GT)
8663  06/03/2005  17.00.00    1,7


            Date      Time CO(GT)
8664  06/03/2005  18.00.00    2,3


            Date      Time CO(GT)
8665  06/03/2005  19.00.00    2,5


            Date      Time CO(GT)
8666  06/03/2005  20.00.00    2,1


            Date      Time CO(GT)
8667  06/03/2005  21.00.00    1,5


            Date      Time CO(GT)
8668  06/03/2005  22.00.00    1,4


            Date      Time CO(GT)
8669  06/03/2005  23.00.00    1,4


           Date      Time CO(GT)
630  06/04/2004  00.00.00      1


           Date      Time CO(GT)
631  06/04/2004  01.00.00    0,8


           Date      Time CO(GT)
632  06/04/2004  02.00.00    0,5


           Date      Time CO(GT)
633  06/04/2004  03.00.00    0,5


           Date      Time CO(GT)
634  06/04/2004  04.00.00    0,5


           Date      Time CO(GT)
635  06/04/2004  05.00.00    0,8


           Date      Time CO(GT)
636  06/04/2004  06.00.00    1,7


           Date      Time CO(GT)
637  06/04/2004  07.00.00    4,5


           Date      Time CO(GT)
638  06/04/2004  08.00.00    6,2


           Date      Time CO(GT)
639  06/04/2004  09.00.00    4,4


           Date      Time CO(GT)
640  06/04/2004  10.00.00    2,9


           Date      Time CO(GT)
641  06/04/2004  11.00.00    1,6


           Date      Time CO(GT)
642  06/04/2004  12.00.00    2,6


           Date      Time CO(GT)
643  06/04/2004  13.00.00    2,9


           Date      Time CO(GT)
644  06/04/2004  14.00.00    2,5


           Date      Time CO(GT)
645  06/04/2004  15.00.00    1,9


           Date      Time CO(GT)
646  06/04/2004  16.00.00    1,9


           Date      Time CO(GT)
647  06/04/2004  17.00.00    2,7


           Date      Time CO(GT)
648  06/04/2004  18.00.00      3


           Date      Time CO(GT)
649  06/04/2004  19.00.00    3,3


           Date      Time CO(GT)
650  06/04/2004  20.00.00    3,2


           Date      Time CO(GT)
651  06/04/2004  21.00.00    1,8


           Date      Time CO(GT)
652  06/04/2004  22.00.00    1,3


           Date      Time CO(GT)
653  06/04/2004  23.00.00    1,1


            Date      Time CO(GT)
1350  06/05/2004  00.00.00    1,4


            Date      Time CO(GT)
1351  06/05/2004  01.00.00    0,9


            Date      Time CO(GT)
1352  06/05/2004  02.00.00    0,5


            Date      Time CO(GT)
1353  06/05/2004  03.00.00    0,4


            Date      Time CO(GT)
1354  06/05/2004  04.00.00   -200


            Date      Time CO(GT)
1355  06/05/2004  05.00.00    0,6


            Date      Time CO(GT)
1356  06/05/2004  06.00.00    1,3


            Date      Time CO(GT)
1357  06/05/2004  07.00.00    2,9


            Date      Time CO(GT)
1358  06/05/2004  08.00.00    3,6


            Date      Time CO(GT)
1359  06/05/2004  09.00.00    3,4


            Date      Time CO(GT)
1360  06/05/2004  10.00.00    2,5


            Date      Time CO(GT)
1361  06/05/2004  11.00.00    2,1


            Date      Time CO(GT)
1362  06/05/2004  12.00.00    1,1


            Date      Time CO(GT)
1363  06/05/2004  13.00.00    1,8


            Date      Time CO(GT)
1364  06/05/2004  14.00.00      3


            Date      Time CO(GT)
1365  06/05/2004  15.00.00    3,1


            Date      Time CO(GT)
1366  06/05/2004  16.00.00    3,6


            Date      Time CO(GT)
1367  06/05/2004  17.00.00    3,3


            Date      Time CO(GT)
1368  06/05/2004  18.00.00    1,8


            Date      Time CO(GT)
1369  06/05/2004  19.00.00    2,1


            Date      Time CO(GT)
1370  06/05/2004  20.00.00    2,2


            Date      Time CO(GT)
1371  06/05/2004  21.00.00    1,6


            Date      Time CO(GT)
1372  06/05/2004  22.00.00    0,9


            Date      Time CO(GT)
1373  06/05/2004  23.00.00    1,8


            Date      Time CO(GT)
2094  06/06/2004  00.00.00    1,1


            Date      Time CO(GT)
2095  06/06/2004  01.00.00    0,6


            Date      Time CO(GT)
2096  06/06/2004  02.00.00    1,1


            Date      Time CO(GT)
2097  06/06/2004  03.00.00    1,1


            Date      Time CO(GT)
2098  06/06/2004  04.00.00      1


            Date      Time CO(GT)
2099  06/06/2004  05.00.00    0,5


            Date      Time CO(GT)
2100  06/06/2004  06.00.00    0,7


            Date      Time CO(GT)
2101  06/06/2004  07.00.00      1


            Date      Time CO(GT)
2102  06/06/2004  08.00.00    1,2


            Date      Time CO(GT)
2103  06/06/2004  09.00.00    0,7


            Date      Time CO(GT)
2104  06/06/2004  10.00.00    0,9


            Date      Time CO(GT)
2105  06/06/2004  11.00.00    0,8


            Date      Time CO(GT)
2106  06/06/2004  12.00.00    0,8


            Date      Time CO(GT)
2107  06/06/2004  13.00.00    0,5


            Date      Time CO(GT)
2108  06/06/2004  14.00.00    0,5


            Date      Time CO(GT)
2109  06/06/2004  15.00.00    0,7


            Date      Time CO(GT)
2110  06/06/2004  16.00.00    0,9


            Date      Time CO(GT)
2111  06/06/2004  17.00.00      1


            Date      Time CO(GT)
2112  06/06/2004  18.00.00    1,2


            Date      Time CO(GT)
2113  06/06/2004  19.00.00    1,3


            Date      Time CO(GT)
2114  06/06/2004  20.00.00    1,6


            Date      Time CO(GT)
2115  06/06/2004  21.00.00    1,4


            Date      Time CO(GT)
2116  06/06/2004  22.00.00    1,7


            Date      Time CO(GT)
2117  06/06/2004  23.00.00    1,7


            Date      Time CO(GT)
2814  06/07/2004  00.00.00    1,9


            Date      Time CO(GT)
2815  06/07/2004  01.00.00    0,9


            Date      Time CO(GT)
2816  06/07/2004  02.00.00    0,7


            Date      Time CO(GT)
2817  06/07/2004  03.00.00    0,6


            Date      Time CO(GT)
2818  06/07/2004  04.00.00    0,4


            Date      Time CO(GT)
2819  06/07/2004  05.00.00    0,7


            Date      Time CO(GT)
2820  06/07/2004  06.00.00    1,6


            Date      Time CO(GT)
2821  06/07/2004  07.00.00    3,8


            Date      Time CO(GT)
2822  06/07/2004  08.00.00    5,1


            Date      Time CO(GT)
2823  06/07/2004  09.00.00    3,4


            Date      Time CO(GT)
2824  06/07/2004  10.00.00    2,6


            Date      Time CO(GT)
2825  06/07/2004  11.00.00    2,2


            Date      Time CO(GT)
2826  06/07/2004  12.00.00    3,4


            Date      Time CO(GT)
2827  06/07/2004  13.00.00    3,4


            Date      Time CO(GT)
2828  06/07/2004  14.00.00    1,8


            Date      Time CO(GT)
2829  06/07/2004  15.00.00      2


            Date      Time CO(GT)
2830  06/07/2004  16.00.00    2,4


            Date      Time CO(GT)
2831  06/07/2004  17.00.00    3,8


            Date      Time CO(GT)
2832  06/07/2004  18.00.00    4,4


            Date      Time CO(GT)
2833  06/07/2004  19.00.00    3,9


            Date      Time CO(GT)
2834  06/07/2004  20.00.00      4


            Date      Time CO(GT)
2835  06/07/2004  21.00.00    2,5


            Date      Time CO(GT)
2836  06/07/2004  22.00.00    2,1


            Date      Time CO(GT)
2837  06/07/2004  23.00.00    2,4


            Date      Time CO(GT)
3558  06/08/2004  00.00.00   -200


            Date      Time CO(GT)
3559  06/08/2004  01.00.00   -200


            Date      Time CO(GT)
3560  06/08/2004  02.00.00   -200


            Date      Time CO(GT)
3561  06/08/2004  03.00.00   -200


            Date      Time CO(GT)
3562  06/08/2004  04.00.00   -200


            Date      Time CO(GT)
3563  06/08/2004  05.00.00    0,7


            Date      Time CO(GT)
3564  06/08/2004  06.00.00    1,2


            Date      Time CO(GT)
3565  06/08/2004  07.00.00    2,3


            Date      Time CO(GT)
3566  06/08/2004  08.00.00      3


            Date      Time CO(GT)
3567  06/08/2004  09.00.00    2,9


            Date      Time CO(GT)
3568  06/08/2004  10.00.00    2,6


            Date      Time CO(GT)
3569  06/08/2004  11.00.00    2,6


            Date      Time CO(GT)
3570  06/08/2004  12.00.00    2,6


            Date      Time CO(GT)
3571  06/08/2004  13.00.00    2,1


            Date      Time CO(GT)
3572  06/08/2004  14.00.00    1,7


            Date      Time CO(GT)
3573  06/08/2004  15.00.00    1,9


            Date      Time CO(GT)
3574  06/08/2004  16.00.00    2,5


            Date      Time CO(GT)
3575  06/08/2004  17.00.00    1,1


            Date      Time CO(GT)
3576  06/08/2004  18.00.00    2,1


            Date      Time CO(GT)
3577  06/08/2004  19.00.00    2,6


            Date      Time CO(GT)
3578  06/08/2004  20.00.00    2,6


            Date      Time CO(GT)
3579  06/08/2004  21.00.00    1,7


            Date      Time CO(GT)
3580  06/08/2004  22.00.00    1,5


            Date      Time CO(GT)
3581  06/08/2004  23.00.00    1,8


            Date      Time CO(GT)
4302  06/09/2004  00.00.00    1,3


            Date      Time CO(GT)
4303  06/09/2004  01.00.00      1


            Date      Time CO(GT)
4304  06/09/2004  02.00.00    0,6


            Date      Time CO(GT)
4305  06/09/2004  03.00.00    0,5


            Date      Time CO(GT)
4306  06/09/2004  04.00.00   -200


            Date      Time CO(GT)
4307  06/09/2004  05.00.00    0,4


            Date      Time CO(GT)
4308  06/09/2004  06.00.00    0,7


            Date      Time CO(GT)
4309  06/09/2004  07.00.00    1,8


            Date      Time CO(GT)
4310  06/09/2004  08.00.00    1,9


            Date      Time CO(GT)
4311  06/09/2004  09.00.00    1,7


            Date      Time CO(GT)
4312  06/09/2004  10.00.00    1,3


            Date      Time CO(GT)
4313  06/09/2004  11.00.00    1,4


            Date      Time CO(GT)
4314  06/09/2004  12.00.00    1,3


            Date      Time CO(GT)
4315  06/09/2004  13.00.00    1,4



            Date      Time CO(GT)
8676  07/03/2005  06.00.00    0,5


            Date      Time CO(GT)
8677  07/03/2005  07.00.00    0,7


            Date      Time CO(GT)
8678  07/03/2005  08.00.00    1,5


            Date      Time CO(GT)
8679  07/03/2005  09.00.00    1,9


            Date      Time CO(GT)
8680  07/03/2005  10.00.00    1,6


            Date      Time CO(GT)
8681  07/03/2005  11.00.00    1,4


            Date      Time CO(GT)
8682  07/03/2005  12.00.00    1,3


            Date      Time CO(GT)
8683  07/03/2005  13.00.00    1,3


            Date      Time CO(GT)
8684  07/03/2005  14.00.00    1,2


            Date      Time CO(GT)
8685  07/03/2005  15.00.00    1,3


            Date      Time CO(GT)
8686  07/03/2005  16.00.00    1,4


            Date      Time CO(GT)
8687  07/03/2005  17.00.00    1,7


            Date      Time CO(GT)
8688  07/03/2005  18.00.00    2,5


            Date      Time CO(GT)
8689  07/03/2005  19.00.00    3,8


            Date      Time CO(GT)
8690  07/03/2005  20.00.00    4,2


            Date      Time CO(GT)
8691  07/03/2005  21.00.00    2,8


            Date      Time CO(GT)
8692  07/03/2005  22.00.00    1,5


            Date      Time CO(GT)
8693  07/03/2005  23.00.00    1,8


           Date      Time CO(GT)
654  07/04/2004  00.00.00    0,9


           Date      Time CO(GT)
655  07/04/2004  01.00.00    0,7


           Date      Time CO(GT)
656  07/04/2004  02.00.00    0,4


           Date      Time CO(GT)
657  07/04/2004  03.00.00    0,3


           Date      Time CO(GT)
658  07/04/2004  04.00.00    0,3


           Date      Time CO(GT)
659  07/04/2004  05.00.00    0,3


           Date      Time CO(GT)
660  07/04/2004  06.00.00    0,8


           Date      Time CO(GT)
661  07/04/2004  07.00.00    2,8


           Date      Time CO(GT)
662  07/04/2004  08.00.00    3,1


           Date      Time CO(GT)
663  07/04/2004  09.00.00    2,3


           Date      Time CO(GT)
664  07/04/2004  10.00.00    1,6


           Date      Time CO(GT)
665  07/04/2004  11.00.00    1,5


           Date      Time CO(GT)
666  07/04/2004  12.00.00    1,6


           Date      Time CO(GT)
667  07/04/2004  13.00.00    1,8


           Date      Time CO(GT)
668  07/04/2004  14.00.00    1,4


           Date      Time CO(GT)
669  07/04/2004  15.00.00    1,9


           Date      Time CO(GT)
670  07/04/2004  16.00.00    1,2


           Date      Time CO(GT)
671  07/04/2004  17.00.00    2,3


           Date      Time CO(GT)
672  07/04/2004  18.00.00    3,3


           Date      Time CO(GT)
673  07/04/2004  19.00.00    3,1


           Date      Time CO(GT)
674  07/04/2004  20.00.00    3,3


           Date      Time CO(GT)
675  07/04/2004  21.00.00    1,2


           Date      Time CO(GT)
676  07/04/2004  22.00.00    1,3


           Date      Time CO(GT)
677  07/04/2004  23.00.00    1,9


            Date      Time CO(GT)
1374  07/05/2004  00.00.00    2,3


            Date      Time CO(GT)
1375  07/05/2004  01.00.00      2


            Date      Time CO(GT)
1376  07/05/2004  02.00.00    0,9


            Date      Time CO(GT)
1377  07/05/2004  03.00.00    0,6


            Date      Time CO(GT)
1378  07/05/2004  04.00.00   -200


            Date      Time CO(GT)
1379  07/05/2004  05.00.00    0,7


            Date      Time CO(GT)
1380  07/05/2004  06.00.00    1,5


            Date      Time CO(GT)
1381  07/05/2004  07.00.00    3,7


            Date      Time CO(GT)
1382  07/05/2004  08.00.00    4,2


            Date      Time CO(GT)
1383  07/05/2004  09.00.00    3,4


            Date      Time CO(GT)
1384  07/05/2004  10.00.00    2,4


            Date      Time CO(GT)
1385  07/05/2004  11.00.00    1,3


            Date      Time CO(GT)
1386  07/05/2004  12.00.00    1,5


            Date      Time CO(GT)
1387  07/05/2004  13.00.00    2,2


            Date      Time CO(GT)
1388  07/05/2004  14.00.00    1,8


            Date      Time CO(GT)
1389  07/05/2004  15.00.00    1,9


            Date      Time CO(GT)
1390  07/05/2004  16.00.00    2,3


            Date      Time CO(GT)
1391  07/05/2004  17.00.00    3,6


            Date      Time CO(GT)
1392  07/05/2004  18.00.00    4,3


            Date      Time CO(GT)
1393  07/05/2004  19.00.00    2,2


            Date      Time CO(GT)
1394  07/05/2004  20.00.00    1,5


            Date      Time CO(GT)
1395  07/05/2004  21.00.00      2


            Date      Time CO(GT)
1396  07/05/2004  22.00.00      2


            Date      Time CO(GT)
1397  07/05/2004  23.00.00    2,1


            Date      Time CO(GT)
2118  07/06/2004  00.00.00    1,4


            Date      Time CO(GT)
2119  07/06/2004  01.00.00    0,8


            Date      Time CO(GT)
2120  07/06/2004  02.00.00    0,4


            Date      Time CO(GT)
2121  07/06/2004  03.00.00    0,3


            Date      Time CO(GT)
2122  07/06/2004  04.00.00   -200


            Date      Time CO(GT)
2123  07/06/2004  05.00.00    0,5


            Date      Time CO(GT)
2124  07/06/2004  06.00.00    1,5


            Date      Time CO(GT)
2125  07/06/2004  07.00.00    2,6


            Date      Time CO(GT)
2126  07/06/2004  08.00.00    4,3


            Date      Time CO(GT)
2127  07/06/2004  09.00.00    3,1


            Date      Time CO(GT)
2128  07/06/2004  10.00.00    2,9


            Date      Time CO(GT)
2129  07/06/2004  11.00.00    2,5


            Date      Time CO(GT)
2130  07/06/2004  12.00.00    1,9


            Date      Time CO(GT)
2131  07/06/2004  13.00.00    2,5


            Date      Time CO(GT)
2132  07/06/2004  14.00.00    2,5


            Date      Time CO(GT)
2133  07/06/2004  15.00.00    2,8


            Date      Time CO(GT)
2134  07/06/2004  16.00.00    2,3


            Date      Time CO(GT)
2135  07/06/2004  17.00.00    3,3


            Date      Time CO(GT)
2136  07/06/2004  18.00.00    2,8


            Date      Time CO(GT)
2137  07/06/2004  19.00.00    4,8


            Date      Time CO(GT)
2138  07/06/2004  20.00.00    2,5


            Date      Time CO(GT)
2139  07/06/2004  21.00.00      2


            Date      Time CO(GT)
2140  07/06/2004  22.00.00    1,8


            Date      Time CO(GT)
2141  07/06/2004  23.00.00    1,7


            Date      Time CO(GT)
2838  07/07/2004  00.00.00    2,1


            Date      Time CO(GT)
2839  07/07/2004  01.00.00    1,6


            Date      Time CO(GT)
2840  07/07/2004  02.00.00    0,8


            Date      Time CO(GT)
2841  07/07/2004  03.00.00    0,5


            Date      Time CO(GT)
2842  07/07/2004  04.00.00    0,4


            Date      Time CO(GT)
2843  07/07/2004  05.00.00    0,5


            Date      Time CO(GT)
2844  07/07/2004  06.00.00    1,3


            Date      Time CO(GT)
2845  07/07/2004  07.00.00    4,1


            Date      Time CO(GT)
2846  07/07/2004  08.00.00    4,1


            Date      Time CO(GT)
2847  07/07/2004  09.00.00      4


            Date      Time CO(GT)
2848  07/07/2004  10.00.00    2,2


            Date      Time CO(GT)
2849  07/07/2004  11.00.00      2


            Date      Time CO(GT)
2850  07/07/2004  12.00.00      2


            Date      Time CO(GT)
2851  07/07/2004  13.00.00    2,2


            Date      Time CO(GT)
2852  07/07/2004  14.00.00    2,2


            Date      Time CO(GT)
2853  07/07/2004  15.00.00    1,8


            Date      Time CO(GT)
2854  07/07/2004  16.00.00    1,8


            Date      Time CO(GT)
2855  07/07/2004  17.00.00    3,3


            Date      Time CO(GT)
2856  07/07/2004  18.00.00    4,3


            Date      Time CO(GT)
2857  07/07/2004  19.00.00    5,3


            Date      Time CO(GT)
2858  07/07/2004  20.00.00    4,3


            Date      Time CO(GT)
2859  07/07/2004  21.00.00    3,6


            Date      Time CO(GT)
2860  07/07/2004  22.00.00    2,4


            Date      Time CO(GT)
2861  07/07/2004  23.00.00    2,1


            Date      Time CO(GT)
3582  07/08/2004  00.00.00    1,4


            Date      Time CO(GT)
3583  07/08/2004  01.00.00    1,2


            Date      Time CO(GT)
3584  07/08/2004  02.00.00    0,7


            Date      Time CO(GT)
3585  07/08/2004  03.00.00    0,6


            Date      Time CO(GT)
3586  07/08/2004  04.00.00    0,7


            Date      Time CO(GT)
3587  07/08/2004  05.00.00    0,5


            Date      Time CO(GT)
3588  07/08/2004  06.00.00    0,6


            Date      Time CO(GT)
3589  07/08/2004  07.00.00    0,9


            Date      Time CO(GT)
3590  07/08/2004  08.00.00    1,2


            Date      Time CO(GT)
3591  07/08/2004  09.00.00      2


            Date      Time CO(GT)
3592  07/08/2004  10.00.00    1,9


            Date      Time CO(GT)
3593  07/08/2004  11.00.00    1,7


            Date      Time CO(GT)
3594  07/08/2004  12.00.00    1,2


            Date      Time CO(GT)
3595  07/08/2004  13.00.00    1,1


            Date      Time CO(GT)
3596  07/08/2004  14.00.00      1


            Date      Time CO(GT)
3597  07/08/2004  15.00.00      1


            Date      Time CO(GT)
3598  07/08/2004  16.00.00      1


            Date      Time CO(GT)
3599  07/08/2004  17.00.00    1,2


            Date      Time CO(GT)
3600  07/08/2004  18.00.00    1,6


            Date      Time CO(GT)
3601  07/08/2004  19.00.00    1,6


            Date      Time CO(GT)
3602  07/08/2004  20.00.00    1,6


            Date      Time CO(GT)
3603  07/08/2004  21.00.00    1,3


            Date      Time CO(GT)
3604  07/08/2004  22.00.00    1,9


            Date      Time CO(GT)
3605  07/08/2004  23.00.00    1,9


            Date      Time CO(GT)
4326  07/09/2004  00.00.00    1,2


            Date      Time CO(GT)
4327  07/09/2004  01.00.00    0,8


            Date      Time CO(GT)
4328  07/09/2004  02.00.00    0,6


            Date      Time CO(GT)
4329  07/09/2004  03.00.00    0,6


            Date      Time CO(GT)
4330  07/09/2004  04.00.00    0,6


            Date      Time CO(GT)
4331  07/09/2004  05.00.00    0,7


            Date      Time CO(GT)
4332  07/09/2004  06.00.00    1,3


            Date      Time CO(GT)
4333  07/09/2004  07.00.00    2,5


            Date      Time CO(GT)
4334  07/09/2004  08.00.00    3,4


            Date      Time CO(GT)
4335  07/09/2004  09.00.00    2,1


            Date      Time CO(GT)
4336  07/09/2004  10.00.00    2,2


            Date      Time CO(GT)
4337  07/09/2004  11.00.00    1,7


            Date      Time CO(GT)
4338  07/09/2004  12.00.00    2,1


            Date      Time CO(GT)
4339  07/09/2004  13.00.00    2,2


            Date      Time CO(GT)
4340  07/09/2004  14.00.00    1,4


            Date      Time CO(GT)
4341  07/09/2004  15.00.00    1,4


            Date      Time CO(GT)
4342  07/09/2004  16.00.00    1,6


            Date      Time CO(GT)
4343  07/09/2004  17.00.00    2,3


            Date      Time CO(GT)
4344  07/09/2004  18.00.00    3,3


            Date      Time CO(GT)
4345  07/09/2004  19.00.00    4,1


            Date      Time CO(GT)
4346  07/09/2004  20.00.00    3,3


            Date      Time CO(GT)
4347  07/09/2004  21.00.00    2,2


            Date      Time CO(GT)
4348  07/09/2004  22.00.00   -200


            Date      Time CO(GT)
4349  07/09/2004  23.00.00   -200


            Date      Time CO(GT)
5046  07/10/2004  00.00.00   -200


            Date      Time CO(GT)
5047  07/10/2004  01.00.00   -200


            Date      Time CO(GT)
5048  07/10/2004  02.00.00   -200


            Date      Time CO(GT)
5049  07/10/2004  03.00.00   -200


            Date      Time CO(GT)
5050  07/10/2004  04.00.00   -200


            Date      Time CO(GT)
5051  07/10/2004  05.00.00   -200


            Date      Time CO(GT)
5052  07/10/2004  06.00.00   -200


            Date      Time CO(GT)
5053  07/10/2004  07.00.00   -200


            Date      Time CO(GT)
5054  07/10/2004  08.00.00   -200


            Date      Time CO(GT)
5055  07/10/2004  09.00.00   -200


            Date      Time CO(GT)
5056  07/10/2004  10.00.00   -200


            Date      Time CO(GT)
5057  07/10/2004  11.00.00   -200


            Date      Time CO(GT)
5058  07/10/2004  12.00.00   -200


            Date      Time CO(GT)
5059  07/10/2004  13.00.00   -200


            Date      Time CO(GT)
5060  07/10/2004  14.00.00   -200


            Date      Time CO(GT)
5061  07/10/2004  15.00.00   -200


            Date      Time CO(GT)
5062  07/10/2004  16.00.00    2,9


            Date      Time CO(GT)
5063  07/10/2004  17.00.00    5,4


            Date      Time CO(GT)
5064  07/10/2004  18.00.00    5,3


            Date      Time CO(GT)
5065  07/10/2004  19.00.00    6,7


            Date      Time CO(GT)
5066  07/10/2004  20.00.00      7


            Date      Time CO(GT)
5067  07/10/2004  21.00.00    2,8


            Date      Time CO(GT)
5068  07/10/2004  22.00.00    1,7


            Date      Time CO(GT)
5069  07/10/2004  23.00.00    1,7


            Date      Time CO(GT)
5790  07/11/2004  00.00.00    1,9


            Date      Time CO(GT)
5791  07/11/2004  01.00.00      2


            Date      Time CO(GT)
5792  07/11/2004  02.00.00    1,4


            Date      Time CO(GT)
5793  07/11/2004  03.00.00    1,2


            Date      Time CO(GT)
5794  07/11/2004  04.00.00   -200


            Date      Time CO(GT)
5795  07/11/2004  05.00.00    0,7


            Date      Time CO(GT)
5796  07/11/2004  06.00.00    0,4


            Date      Time CO(GT)
5797  07/11/2004  07.00.00    0,4


            Date      Time CO(GT)
5798  07/11/2004  08.00.00    0,5


            Date      Time CO(GT)
5799  07/11/2004  09.00.00    0,7


            Date      Time CO(GT)
5800  07/11/2004  10.00.00    0,7


            Date      Time CO(GT)
5801  07/11/2004  11.00.00    0,7


            Date      Time CO(GT)
5802  07/11/2004  12.00.00      1


            Date      Time CO(GT)
5803  07/11/2004  13.00.00      1


            Date      Time CO(GT)
5804  07/11/2004  14.00.00    0,9


            Date      Time CO(GT)
5805  07/11/2004  15.00.00    0,9


            Date      Time CO(GT)
5806  07/11/2004  16.00.00    0,9


            Date      Time CO(GT)
5807  07/11/2004  17.00.00    1,1


            Date      Time CO(GT)
5808  07/11/2004  18.00.00    3,2


            Date      Time CO(GT)
5809  07/11/2004  19.00.00    3,1


            Date      Time CO(GT)
5810  07/11/2004  20.00.00    3,1


            Date      Time CO(GT)
5811  07/11/2004  21.00.00    2,3


            Date      Time CO(GT)
5812  07/11/2004  22.00.00    1,8


            Date      Time CO(GT)
5813  07/11/2004  23.00.00    0,8


            Date      Time CO(GT)
6510  07/12/2004  00.00.00    1,4


            Date      Time CO(GT)
6511  07/12/2004  01.00.00    1,4


            Date      Time CO(GT)
6512  07/12/2004  02.00.00    1,1


            Date      Time CO(GT)
6513  07/12/2004  03.00.00    1,1


            Date      Time CO(GT)
6514  07/12/2004  04.00.00   -200


            Date      Time CO(GT)
6515  07/12/2004  05.00.00    0,6


            Date      Time CO(GT)
6516  07/12/2004  06.00.00    0,8


            Date      Time CO(GT)
6517  07/12/2004  07.00.00      1


            Date      Time CO(GT)
6518  07/12/2004  08.00.00    2,8


            Date      Time CO(GT)
6519  07/12/2004  09.00.00    3,4


            Date      Time CO(GT)
6520  07/12/2004  10.00.00    3,3


            Date      Time CO(GT)
6521  07/12/2004  11.00.00    4,1


            Date      Time CO(GT)
6522  07/12/2004  12.00.00    3,5


            Date      Time CO(GT)
6523  07/12/2004  13.00.00      3


            Date      Time CO(GT)
6524  07/12/2004  14.00.00    3,6


            Date      Time CO(GT)
6525  07/12/2004  15.00.00      3


            Date      Time CO(GT)
6526  07/12/2004  16.00.00    2,6


            Date      Time CO(GT)
6527  07/12/2004  17.00.00    2,6


            Date      Time CO(GT)
6528  07/12/2004  18.00.00    3,1


            Date      Time CO(GT)
6529  07/12/2004  19.00.00    3,2


            Date      Time CO(GT)
6530  07/12/2004  20.00.00    2,4


            Date      Time CO(GT)
6531  07/12/2004  21.00.00    2,6


            Date      Time CO(GT)
6532  07/12/2004  22.00.00    2,4


            Date      Time CO(GT)
6533  07/12/2004  23.00.00    1,8


            Date      Time CO(GT)
7278  08/01/2005  00.00.00    3,4


            Date      Time CO(GT)
7279  08/01/2005  01.00.00    2,4


            Date      Time CO(GT)
7280  08/01/2005  02.00.00    1,4


            Date      Time CO(GT)
7281  08/01/2005  03.00.00    1,4


            Date      Time CO(GT)
7282  08/01/2005  04.00.00    1,2


            Date      Time CO(GT)
7283  08/01/2005  05.00.00    1,2


            Date      Time CO(GT)
7284  08/01/2005  06.00.00    1,2


            Date      Time CO(GT)
7285  08/01/2005  07.00.00    1,3


            Date      Time CO(GT)
7286  08/01/2005  08.00.00    2,3


            Date      Time CO(GT)
7287  08/01/2005  09.00.00    3,4


            Date      Time CO(GT)
7288  08/01/2005  10.00.00    3,0


            Date      Time CO(GT)
7289  08/01/2005  11.00.00    2,5


            Date      Time CO(GT)
7290  08/01/2005  12.00.00    2,7


            Date      Time CO(GT)
7291  08/01/2005  13.00.00    2,8


            Date      Time CO(GT)
7292  08/01/2005  14.00.00    3,6


            Date      Time CO(GT)
7293  08/01/2005  15.00.00    3,1


            Date      Time CO(GT)
7294  08/01/2005  16.00.00    4,3


            Date      Time CO(GT)
7295  08/01/2005  17.00.00    4,6


            Date      Time CO(GT)
7296  08/01/2005  18.00.00    4,3


            Date      Time CO(GT)
7297  08/01/2005  19.00.00    4,3


            Date      Time CO(GT)
7298  08/01/2005  20.00.00    5,5


            Date      Time CO(GT)
7299  08/01/2005  21.00.00    3,4


            Date      Time CO(GT)
7300  08/01/2005  22.00.00    2,4


            Date      Time CO(GT)
7301  08/01/2005  23.00.00    1,6


            Date      Time CO(GT)
8022  08/02/2005  00.00.00    0,9


            Date      Time CO(GT)
8023  08/02/2005  01.00.00    0,9


            Date      Time CO(GT)
8024  08/02/2005  02.00.00    0,5


            Date      Time CO(GT)
8025  08/02/2005  03.00.00    0,4


            Date      Time CO(GT)
8026  08/02/2005  04.00.00    0,5


            Date      Time CO(GT)
8027  08/02/2005  05.00.00    0,6


            Date      Time CO(GT)
8028  08/02/2005  06.00.00    0,6


            Date      Time CO(GT)
8029  08/02/2005  07.00.00    1,0


            Date      Time CO(GT)
8030  08/02/2005  08.00.00    2,1


            Date      Time CO(GT)
8031  08/02/2005  09.00.00    2,9


            Date      Time CO(GT)
8032  08/02/2005  10.00.00    2,2


            Date      Time CO(GT)
8033  08/02/2005  11.00.00    1,6


            Date      Time CO(GT)
8034  08/02/2005  12.00.00    1,8


            Date      Time CO(GT)
8035  08/02/2005  13.00.00    1,5


            Date      Time CO(GT)
8036  08/02/2005  14.00.00    2,2


            Date      Time CO(GT)
8037  08/02/2005  15.00.00    1,6


            Date      Time CO(GT)
8038  08/02/2005  16.00.00    1,5


            Date      Time CO(GT)
8039  08/02/2005  17.00.00    1,8


            Date      Time CO(GT)
8040  08/02/2005  18.00.00    1,8


            Date      Time CO(GT)
8041  08/02/2005  19.00.00    2,3


            Date      Time CO(GT)
8042  08/02/2005  20.00.00    1,9


            Date      Time CO(GT)
8043  08/02/2005  21.00.00    1,9


            Date      Time CO(GT)
8044  08/02/2005  22.00.00    1,1


            Date      Time CO(GT)
8045  08/02/2005  23.00.00    0,9


            Date      Time CO(GT)
8694  08/03/2005  00.00.00    1,5


            Date      Time CO(GT)
8695  08/03/2005  01.00.00    1,5


            Date      Time CO(GT)
8696  08/03/2005  02.00.00    1,2


            Date      Time CO(GT)
8697  08/03/2005  03.00.00    0,8



1412  08/05/2004  14.00.00   -200


            Date      Time CO(GT)
1413  08/05/2004  15.00.00   -200


            Date      Time CO(GT)
1414  08/05/2004  16.00.00   -200


            Date      Time CO(GT)
1415  08/05/2004  17.00.00   -200


            Date      Time CO(GT)
1416  08/05/2004  18.00.00   -200


            Date      Time CO(GT)
1417  08/05/2004  19.00.00   -200


            Date      Time CO(GT)
1418  08/05/2004  20.00.00   -200


            Date      Time CO(GT)
1419  08/05/2004  21.00.00   -200


            Date      Time CO(GT)
1420  08/05/2004  22.00.00   -200


            Date      Time CO(GT)
1421  08/05/2004  23.00.00   -200


            Date      Time CO(GT)
2142  08/06/2004  00.00.00    1,3


            Date      Time CO(GT)
2143  08/06/2004  01.00.00    0,7


            Date      Time CO(GT)
2144  08/06/2004  02.00.00    0,5


            Date      Time CO(GT)
2145  08/06/2004  03.00.00    0,4


            Date      Time CO(GT)
2146  08/06/2004  04.00.00    0,3


            Date      Time CO(GT)
2147  08/06/2004  05.00.00    0,5


            Date      Time CO(GT)
2148  08/06/2004  06.00.00    1,4


            Date      Time CO(GT)
2149  08/06/2004  07.00.00    3,3


            Date      Time CO(GT)
2150  08/06/2004  08.00.00    5,8


            Date      Time CO(GT)
2151  08/06/2004  09.00.00      5


            Date      Time CO(GT)
2152  08/06/2004  10.00.00    3,5


            Date      Time CO(GT)
2153  08/06/2004  11.00.00    2,9


            Date      Time CO(GT)
2154  08/06/2004  12.00.00    2,5


            Date      Time CO(GT)
2155  08/06/2004  13.00.00    2,3


            Date      Time CO(GT)
2156  08/06/2004  14.00.00    2,4


            Date      Time CO(GT)
2157  08/06/2004  15.00.00    2,6


            Date      Time CO(GT)
2158  08/06/2004  16.00.00    2,2


            Date      Time CO(GT)
2159  08/06/2004  17.00.00    3,5


            Date      Time CO(GT)
2160  08/06/2004  18.00.00    3,9


            Date      Time CO(GT)
2161  08/06/2004  19.00.00    4,5


            Date      Time CO(GT)
2162  08/06/2004  20.00.00    3,8


            Date      Time CO(GT)
2163  08/06/2004  21.00.00    2,8


            Date      Time CO(GT)
2164  08/06/2004  22.00.00    1,7


            Date      Time CO(GT)
2165  08/06/2004  23.00.00    1,2


            Date      Time CO(GT)
2862  08/07/2004  00.00.00    1,2


            Date      Time CO(GT)
2863  08/07/2004  01.00.00    0,9


            Date      Time CO(GT)
2864  08/07/2004  02.00.00    0,6


            Date      Time CO(GT)
2865  08/07/2004  03.00.00    0,5


            Date      Time CO(GT)
2866  08/07/2004  04.00.00   -200


            Date      Time CO(GT)
2867  08/07/2004  05.00.00    0,6


            Date      Time CO(GT)
2868  08/07/2004  06.00.00    0,6


            Date      Time CO(GT)
2869  08/07/2004  07.00.00    2,2


            Date      Time CO(GT)
2870  08/07/2004  08.00.00    3,2


            Date      Time CO(GT)
2871  08/07/2004  09.00.00      3


            Date      Time CO(GT)
2872  08/07/2004  10.00.00    2,7


            Date      Time CO(GT)
2873  08/07/2004  11.00.00    3,2


            Date      Time CO(GT)
2874  08/07/2004  12.00.00    1,4


            Date      Time CO(GT)
2875  08/07/2004  13.00.00    1,3


            Date      Time CO(GT)
2876  08/07/2004  14.00.00    1,4


            Date      Time CO(GT)
2877  08/07/2004  15.00.00    2,1


            Date      Time CO(GT)
2878  08/07/2004  16.00.00    2,4


            Date      Time CO(GT)
2879  08/07/2004  17.00.00    3,1


            Date      Time CO(GT)
2880  08/07/2004  18.00.00    3,5


            Date      Time CO(GT)
2881  08/07/2004  19.00.00    5,1


            Date      Time CO(GT)
2882  08/07/2004  20.00.00    4,5


            Date      Time CO(GT)
2883  08/07/2004  21.00.00    2,9


            Date      Time CO(GT)
2884  08/07/2004  22.00.00    2,6


            Date      Time CO(GT)
2885  08/07/2004  23.00.00    2,7


            Date      Time CO(GT)
3606  08/08/2004  00.00.00    1,5


            Date      Time CO(GT)
3607  08/08/2004  01.00.00    1,1


            Date      Time CO(GT)
3608  08/08/2004  02.00.00    0,8


            Date      Time CO(GT)
3609  08/08/2004  03.00.00    0,9


            Date      Time CO(GT)
3610  08/08/2004  04.00.00    0,6


            Date      Time CO(GT)
3611  08/08/2004  05.00.00    0,6


            Date      Time CO(GT)
3612  08/08/2004  06.00.00    0,7


            Date      Time CO(GT)
3613  08/08/2004  07.00.00    0,6


            Date      Time CO(GT)
3614  08/08/2004  08.00.00      1


            Date      Time CO(GT)
3615  08/08/2004  09.00.00    1,2


            Date      Time CO(GT)
3616  08/08/2004  10.00.00      1


            Date      Time CO(GT)
3617  08/08/2004  11.00.00    1,3


            Date      Time CO(GT)
3618  08/08/2004  12.00.00    1,4


            Date      Time CO(GT)
3619  08/08/2004  13.00.00    0,8


            Date      Time CO(GT)
3620  08/08/2004  14.00.00    0,6


            Date      Time CO(GT)
3621  08/08/2004  15.00.00    0,7


            Date      Time CO(GT)
3622  08/08/2004  16.00.00    0,8


            Date      Time CO(GT)
3623  08/08/2004  17.00.00    0,9


            Date      Time CO(GT)
3624  08/08/2004  18.00.00      1


            Date      Time CO(GT)
3625  08/08/2004  19.00.00    1,5


            Date      Time CO(GT)
3626  08/08/2004  20.00.00    1,5


            Date      Time CO(GT)
3627  08/08/2004  21.00.00    1,7


            Date      Time CO(GT)
3628  08/08/2004  22.00.00    1,9


            Date      Time CO(GT)
3629  08/08/2004  23.00.00    1,7


            Date      Time CO(GT)
4350  08/09/2004  00.00.00   -200


            Date      Time CO(GT)
4351  08/09/2004  01.00.00   -200


            Date      Time CO(GT)
4352  08/09/2004  02.00.00   -200


            Date      Time CO(GT)
4353  08/09/2004  03.00.00   -200


            Date      Time CO(GT)
4354  08/09/2004  04.00.00   -200


            Date      Time CO(GT)
4355  08/09/2004  05.00.00   -200


            Date      Time CO(GT)
4356  08/09/2004  06.00.00   -200


            Date      Time CO(GT)
4357  08/09/2004  07.00.00   -200


            Date      Time CO(GT)
4358  08/09/2004  08.00.00   -200


            Date      Time CO(GT)
4359  08/09/2004  09.00.00   -200


            Date      Time CO(GT)
4360  08/09/2004  10.00.00   -200


            Date      Time CO(GT)
4361  08/09/2004  11.00.00   -200


            Date      Time CO(GT)
4362  08/09/2004  12.00.00   -200


            Date      Time CO(GT)
4363  08/09/2004  13.00.00   -200


            Date      Time CO(GT)
4364  08/09/2004  14.00.00   -200


            Date      Time CO(GT)
4365  08/09/2004  15.00.00   -200


            Date      Time CO(GT)
4366  08/09/2004  16.00.00   -200


            Date      Time CO(GT)
4367  08/09/2004  17.00.00    3,4


            Date      Time CO(GT)
4368  08/09/2004  18.00.00      4


            Date      Time CO(GT)
4369  08/09/2004  19.00.00    4,7


            Date      Time CO(GT)
4370  08/09/2004  20.00.00    3,8


            Date      Time CO(GT)
4371  08/09/2004  21.00.00    2,8


            Date      Time CO(GT)
4372  08/09/2004  22.00.00    2,6


            Date      Time CO(GT)
4373  08/09/2004  23.00.00      2


            Date      Time CO(GT)
5070  08/10/2004  00.00.00    1,7


            Date      Time CO(GT)
5071  08/10/2004  01.00.00    1,2


            Date      Time CO(GT)
5072  08/10/2004  02.00.00    0,7


            Date      Time CO(GT)
5073  08/10/2004  03.00.00    0,7


            Date      Time CO(GT)
5074  08/10/2004  04.00.00    0,8


            Date      Time CO(GT)
5075  08/10/2004  05.00.00    0,9


            Date      Time CO(GT)
5076  08/10/2004  06.00.00    1,7


            Date      Time CO(GT)
5077  08/10/2004  07.00.00    5,7


            Date      Time CO(GT)
5078  08/10/2004  08.00.00    4,3


            Date      Time CO(GT)
5079  08/10/2004  09.00.00    3,9


            Date      Time CO(GT)
5080  08/10/2004  10.00.00    5,1


            Date      Time CO(GT)
5081  08/10/2004  11.00.00    3,7


            Date      Time CO(GT)
5082  08/10/2004  12.00.00    3,3


            Date      Time CO(GT)
5083  08/10/2004  13.00.00    3,6


            Date      Time CO(GT)
5084  08/10/2004  14.00.00    3,2


            Date      Time CO(GT)
5085  08/10/2004  15.00.00    3,5


            Date      Time CO(GT)
5086  08/10/2004  16.00.00    2,4


            Date      Time CO(GT)
5087  08/10/2004  17.00.00    2,9


            Date      Time CO(GT)
5088  08/10/2004  18.00.00    2,3


            Date      Time CO(GT)
5089  08/10/2004  19.00.00    3,1


            Date      Time CO(GT)
5090  08/10/2004  20.00.00    2,9


            Date      Time CO(GT)
5091  08/10/2004  21.00.00    1,5


            Date      Time CO(GT)
5092  08/10/2004  22.00.00    1,5


            Date      Time CO(GT)
5093  08/10/2004  23.00.00    1,7


            Date      Time CO(GT)
5814  08/11/2004  00.00.00    0,9


            Date      Time CO(GT)
5815  08/11/2004  01.00.00    0,8


            Date      Time CO(GT)
5816  08/11/2004  02.00.00    0,7


            Date      Time CO(GT)
5817  08/11/2004  03.00.00    0,4


            Date      Time CO(GT)
5818  08/11/2004  04.00.00    0,2


            Date      Time CO(GT)
5819  08/11/2004  05.00.00    0,2


            Date      Time CO(GT)
5820  08/11/2004  06.00.00    0,3


            Date      Time CO(GT)
5821  08/11/2004  07.00.00    0,7


            Date      Time CO(GT)
5822  08/11/2004  08.00.00    1,7


            Date      Time CO(GT)
5823  08/11/2004  09.00.00    1,8


            Date      Time CO(GT)
5824  08/11/2004  10.00.00    1,5


            Date      Time CO(GT)
5825  08/11/2004  11.00.00    1,3


            Date      Time CO(GT)
5826  08/11/2004  12.00.00    1,2


            Date      Time CO(GT)
5827  08/11/2004  13.00.00    1,3


            Date      Time CO(GT)
5828  08/11/2004  14.00.00    1,8


            Date      Time CO(GT)
5829  08/11/2004  15.00.00    1,7


            Date      Time CO(GT)
5830  08/11/2004  16.00.00    2,2


            Date      Time CO(GT)
5831  08/11/2004  17.00.00    3,2


            Date      Time CO(GT)
5832  08/11/2004  18.00.00    5,9


            Date      Time CO(GT)
5833  08/11/2004  19.00.00    6,6


            Date      Time CO(GT)
5834  08/11/2004  20.00.00   -200


            Date      Time CO(GT)
5835  08/11/2004  21.00.00   -200


            Date      Time CO(GT)
5836  08/11/2004  22.00.00   -200


            Date      Time CO(GT)
5837  08/11/2004  23.00.00   -200


            Date      Time CO(GT)
6534  08/12/2004  00.00.00    1,7


            Date      Time CO(GT)
6535  08/12/2004  01.00.00    1,9


            Date      Time CO(GT)
6536  08/12/2004  02.00.00    1,4


            Date      Time CO(GT)
6537  08/12/2004  03.00.00    1,5


            Date      Time CO(GT)
6538  08/12/2004  04.00.00    1,7


            Date      Time CO(GT)
6539  08/12/2004  05.00.00      1


            Date      Time CO(GT)
6540  08/12/2004  06.00.00    0,9


            Date      Time CO(GT)
6541  08/12/2004  07.00.00      1


            Date      Time CO(GT)
6542  08/12/2004  08.00.00      1


            Date      Time CO(GT)
6543  08/12/2004  09.00.00    1,1


            Date      Time CO(GT)
6544  08/12/2004  10.00.00    1,7


            Date      Time CO(GT)
6545  08/12/2004  11.00.00    2,3


            Date      Time CO(GT)
6546  08/12/2004  12.00.00    2,1


            Date      Time CO(GT)
6547  08/12/2004  13.00.00    2,7


            Date      Time CO(GT)
6548  08/12/2004  14.00.00    2,3


            Date      Time CO(GT)
6549  08/12/2004  15.00.00    1,2


            Date      Time CO(GT)
6550  08/12/2004  16.00.00    1,4


            Date      Time CO(GT)
6551  08/12/2004  17.00.00    1,9


            Date      Time CO(GT)
6552  08/12/2004  18.00.00    2,6


            Date      Time CO(GT)
6553  08/12/2004  19.00.00    2,4


            Date      Time CO(GT)
6554  08/12/2004  20.00.00    3,5


            Date      Time CO(GT)
6555  08/12/2004  21.00.00    3,5


            Date      Time CO(GT)
6556  08/12/2004  22.00.00    2,2


            Date      Time CO(GT)
6557  08/12/2004  23.00.00    2,3


            Date      Time CO(GT)
7302  09/01/2005  00.00.00    1,7


            Date      Time CO(GT)
7303  09/01/2005  01.00.00    1,6


            Date      Time CO(GT)
7304  09/01/2005  02.00.00    1,3


            Date      Time CO(GT)
7305  09/01/2005  03.00.00    0,8


            Date      Time CO(GT)
7306  09/01/2005  04.00.00   -200


            Date      Time CO(GT)
7307  09/01/2005  05.00.00    0,6


            Date      Time CO(GT)
7308  09/01/2005  06.00.00    0,6


            Date      Time CO(GT)
7309  09/01/2005  07.00.00    0,5


            Date      Time CO(GT)
7310  09/01/2005  08.00.00    0,6


            Date      Time CO(GT)
7311  09/01/2005  09.00.00    0,7


            Date      Time CO(GT)
7312  09/01/2005  10.00.00    0,9


            Date      Time CO(GT)
7313  09/01/2005  11.00.00    1,5


            Date      Time CO(GT)
7314  09/01/2005  12.00.00    1,9


            Date      Time CO(GT)
7315  09/01/2005  13.00.00    1,9


            Date      Time CO(GT)
7316  09/01/2005  14.00.00    2,2


            Date      Time CO(GT)
7317  09/01/2005  15.00.00    3,8


            Date      Time CO(GT)
7318  09/01/2005  16.00.00    2,0


            Date      Time CO(GT)
7319  09/01/2005  17.00.00    2,2


            Date      Time CO(GT)
7320  09/01/2005  18.00.00    3,3


            Date      Time CO(GT)
7321  09/01/2005  19.00.00    2,7


            Date      Time CO(GT)
7322  09/01/2005  20.00.00    2,6


            Date      Time CO(GT)
7323  09/01/2005  21.00.00    2,5


            Date      Time CO(GT)
7324  09/01/2005  22.00.00    1,5


            Date      Time CO(GT)
7325  09/01/2005  23.00.00    1,9


            Date      Time CO(GT)
8046  09/02/2005  00.00.00    0,8


            Date      Time CO(GT)
8047  09/02/2005  01.00.00    0,9


            Date      Time CO(GT)
8048  09/02/2005  02.00.00    0,7


            Date      Time CO(GT)
8049  09/02/2005  03.00.00    0,8


            Date      Time  CO(GT)
8050  09/02/2005  04.00.00  -200,0


            Date      Time CO(GT)
8051  09/02/2005  05.00.00    0,7


            Date      Time CO(GT)
8052  09/02/2005  06.00.00    0,6


            Date      Time CO(GT)
8053  09/02/2005  07.00.00    1,0


            Date      Time CO(GT)
8054  09/02/2005  08.00.00    1,7


            Date      Time CO(GT)
8055  09/02/2005  09.00.00    2,7


            Date      Time CO(GT)
8056  09/02/2005  10.00.00    3,3


            Date      Time CO(GT)
8057  09/02/2005  11.00.00    2,1


            Date      Time CO(GT)
8058  09/02/2005  12.00.00    2,0


            Date      Time CO(GT)
8059  09/02/2005  13.00.00    2,0


            Date      Time CO(GT)
8060  09/02/2005  14.00.00    2,3


            Date      Time CO(GT)
8061  09/02/2005  15.00.00    2,0


            Date      Time CO(GT)
8062  09/02/2005  16.00.00    2,1


            Date      Time CO(GT)
8063  09/02/2005  17.00.00    2,3


            Date      Time CO(GT)
8064  09/02/2005  18.00.00    3,1


            Date      Time CO(GT)
8065  09/02/2005  19.00.00    3,9


            Date      Time CO(GT)
8066  09/02/2005  20.00.00    3,8


            Date      Time CO(GT)
8067  09/02/2005  21.00.00    2,9


            Date      Time CO(GT)
8068  09/02/2005  22.00.00    2,2


            Date      Time CO(GT)
8069  09/02/2005  23.00.00    1,9


            Date      Time CO(GT)
8718  09/03/2005  00.00.00    1,4


            Date      Time CO(GT)
8719  09/03/2005  01.00.00    1,3


            Date      Time CO(GT)
8720  09/03/2005  02.00.00    1,0


            Date      Time CO(GT)
8721  09/03/2005  03.00.00    0,8


            Date      Time CO(GT)
8722  09/03/2005  04.00.00    0,8


            Date      Time CO(GT)
8723  09/03/2005  05.00.00    0,9


            Date      Time CO(GT)
8724  09/03/2005  06.00.00    0,9


            Date      Time CO(GT)
8725  09/03/2005  07.00.00    1,7


            Date      Time CO(GT)
8726  09/03/2005  08.00.00    4,3


            Date      Time CO(GT)
8727  09/03/2005  09.00.00    6,0


            Date      Time CO(GT)
8728  09/03/2005  10.00.00    3,8


            Date      Time CO(GT)
8729  09/03/2005  11.00.00    3,3


            Date      Time CO(GT)
8730  09/03/2005  12.00.00    2,3


            Date      Time CO(GT)
8731  09/03/2005  13.00.00    2,4


            Date      Time CO(GT)
8732  09/03/2005  14.00.00    2,2


            Date      Time CO(GT)
8733  09/03/2005  15.00.00    1,9


            Date      Time CO(GT)
8734  09/03/2005  16.00.00    1,7


            Date      Time CO(GT)
8735  09/03/2005  17.00.00    1,9


            Date      Time CO(GT)
8736  09/03/2005  18.00.00    3,8


            Date      Time CO(GT)
8737  09/03/2005  19.00.00    5,3


            Date      Time CO(GT)
8738  09/03/2005  20.00.00    5,9


            Date      Time CO(GT)
8739  09/03/2005  21.00.00    5,5


            Date      Time CO(GT)
8740  09/03/2005  22.00.00    2,0


            Date      Time CO(GT)
8741  09/03/2005  23.00.00    1,8


           Date      Time CO(GT)
702  09/04/2004  00.00.00    2,4


           Date      Time CO(GT)
703  09/04/2004  01.00.00    1,8


           Date      Time CO(GT)
704  09/04/2004  02.00.00      1


           Date      Time CO(GT)
705  09/04/2004  03.00.00      1


           Date      Time CO(GT)
706  09/04/2004  04.00.00      1


           Date      Time CO(GT)
707  09/04/2004  05.00.00    0,9


           Date      Time CO(GT)
708  09/04/2004  06.00.00    1,5


           Date      Time CO(GT)
709  09/04/2004  07.00.00    2,6


           Date      Time CO(GT)
710  09/04/2004  08.00.00    2,9


           Date      Time CO(GT)
711  09/04/2004  09.00.00    2,7


           Date      Time CO(GT)
712  09/04/2004  10.00.00    2,4


           Date      Time CO(GT)
713  09/04/2004  11.00.00    2,6


           Date      Time CO(GT)
714  09/04/2004  12.00.00    4,1


           Date      Time CO(GT)
715  09/04/2004  13.00.00    4,3


           Date      Time CO(GT)
716  09/04/2004  14.00.00    2,2


           Date      Time CO(GT)
717  09/04/2004  15.00.00    3,4


           Date      Time CO(GT)
718  09/04/2004  16.00.00    3,6


           Date      Time CO(GT)
719  09/04/2004  17.00.00    2,5


           Date      Time CO(GT)
720  09/04/2004  18.00.00    2,8


           Date      Time CO(GT)
721  09/04/2004  19.00.00    3,4


           Date      Time CO(GT)
722  09/04/2004  20.00.00      3


           Date      Time CO(GT)
723  09/04/2004  21.00.00    2,1


           Date      Time CO(GT)
724  09/04/2004  22.00.00    2,4


           Date      Time CO(GT)
725  09/04/2004  23.00.00    2,3


            Date      Time CO(GT)
1422  09/05/2004  00.00.00   -200


            Date      Time CO(GT)
1423  09/05/2004  01.00.00   -200


            Date      Time CO(GT)
1424  09/05/2004  02.00.00   -200


            Date      Time CO(GT)
1425  09/05/2004  03.00.00   -200


            Date      Time CO(GT)
1426  09/05/2004  04.00.00   -200


            Date      Time CO(GT)
1427  09/05/2004  05.00.00   -200


            Date      Time CO(GT)
1428  09/05/2004  06.00.00   -200


            Date      Time CO(GT)
1429  09/05/2004  07.00.00   -200


            Date      Time CO(GT)
1430  09/05/2004  08.00.00   -200


            Date      Time CO(GT)
1431  09/05/2004  09.00.00   -200


            Date      Time CO(GT)
1432  09/05/2004  10.00.00   -200


            Date      Time CO(GT)
1433  09/05/2004  11.00.00   -200


            Date      Time CO(GT)

5114  09/10/2004  20.00.00    3,5


            Date      Time CO(GT)
5115  09/10/2004  21.00.00    2,2


            Date      Time CO(GT)
5116  09/10/2004  22.00.00    1,5


            Date      Time CO(GT)
5117  09/10/2004  23.00.00    3,4


            Date      Time CO(GT)
5838  09/11/2004  00.00.00   -200


            Date      Time CO(GT)
5839  09/11/2004  01.00.00   -200


            Date      Time CO(GT)
5840  09/11/2004  02.00.00   -200


            Date      Time CO(GT)
5841  09/11/2004  03.00.00   -200


            Date      Time CO(GT)
5842  09/11/2004  04.00.00   -200


            Date      Time CO(GT)
5843  09/11/2004  05.00.00   -200


            Date      Time CO(GT)
5844  09/11/2004  06.00.00   -200


            Date      Time CO(GT)
5845  09/11/2004  07.00.00   -200


            Date      Time CO(GT)
5846  09/11/2004  08.00.00   -200


            Date      Time CO(GT)
5847  09/11/2004  09.00.00   -200


            Date      Time CO(GT)
5848  09/11/2004  10.00.00   -200


            Date      Time CO(GT)
5849  09/11/2004  11.00.00   -200


            Date      Time CO(GT)
5850  09/11/2004  12.00.00   -200


            Date      Time CO(GT)
5851  09/11/2004  13.00.00   -200


            Date      Time CO(GT)
5852  09/11/2004  14.00.00   -200


            Date      Time CO(GT)
5853  09/11/2004  15.00.00    2,1


            Date      Time CO(GT)
5854  09/11/2004  16.00.00    1,5


            Date      Time CO(GT)
5855  09/11/2004  17.00.00    1,6


            Date      Time CO(GT)
5856  09/11/2004  18.00.00    3,5


            Date      Time CO(GT)
5857  09/11/2004  19.00.00    4,6


            Date      Time CO(GT)
5858  09/11/2004  20.00.00    4,7


            Date      Time CO(GT)
5859  09/11/2004  21.00.00      3


            Date      Time CO(GT)
5860  09/11/2004  22.00.00    1,5


            Date      Time CO(GT)
5861  09/11/2004  23.00.00    0,9


            Date      Time CO(GT)
6558  09/12/2004  00.00.00    1,9


            Date      Time CO(GT)
6559  09/12/2004  01.00.00      1


            Date      Time CO(GT)
6560  09/12/2004  02.00.00    0,8


            Date      Time CO(GT)
6561  09/12/2004  03.00.00    0,5


            Date      Time CO(GT)
6562  09/12/2004  04.00.00    0,4


            Date      Time CO(GT)
6563  09/12/2004  05.00.00    0,4


            Date      Time CO(GT)
6564  09/12/2004  06.00.00    0,4


            Date      Time CO(GT)
6565  09/12/2004  07.00.00    0,6


            Date      Time CO(GT)
6566  09/12/2004  08.00.00    1,9


            Date      Time CO(GT)
6567  09/12/2004  09.00.00      2


            Date      Time CO(GT)
6568  09/12/2004  10.00.00    1,4


            Date      Time CO(GT)
6569  09/12/2004  11.00.00    1,4


            Date      Time CO(GT)
6570  09/12/2004  12.00.00    1,5


            Date      Time CO(GT)
6571  09/12/2004  13.00.00    1,6


            Date      Time CO(GT)
6572  09/12/2004  14.00.00    1,8


            Date      Time CO(GT)
6573  09/12/2004  15.00.00    1,4


            Date      Time CO(GT)
6574  09/12/2004  16.00.00    1,7


            Date      Time CO(GT)
6575  09/12/2004  17.00.00    1,7


            Date      Time CO(GT)
6576  09/12/2004  18.00.00    2,3


            Date      Time CO(GT)
6577  09/12/2004  19.00.00    3,2


            Date      Time CO(GT)
6578  09/12/2004  20.00.00    2,6


            Date      Time CO(GT)
6579  09/12/2004  21.00.00    1,6


            Date      Time CO(GT)
6580  09/12/2004  22.00.00    0,8


            Date      Time CO(GT)
6581  09/12/2004  23.00.00    0,7


            Date      Time CO(GT)
7326  10/01/2005  00.00.00    2,0


            Date      Time CO(GT)
7327  10/01/2005  01.00.00    1,7


            Date      Time CO(GT)
7328  10/01/2005  02.00.00    1,2


            Date      Time CO(GT)
7329  10/01/2005  03.00.00    0,9


            Date      Time CO(GT)
7330  10/01/2005  04.00.00    0,6


            Date      Time  CO(GT)
7331  10/01/2005  05.00.00  -200,0


            Date      Time  CO(GT)
7332  10/01/2005  06.00.00  -200,0


            Date      Time CO(GT)
7333  10/01/2005  07.00.00    0,4


            Date      Time CO(GT)
7334  10/01/2005  08.00.00    2,6


            Date      Time CO(GT)
7335  10/01/2005  09.00.00    3,5


            Date      Time CO(GT)
7336  10/01/2005  10.00.00    2,1


            Date      Time CO(GT)
7337  10/01/2005  11.00.00    2,1


            Date      Time CO(GT)
7338  10/01/2005  12.00.00    1,7


            Date      Time CO(GT)
7339  10/01/2005  13.00.00    2,6


            Date      Time CO(GT)
7340  10/01/2005  14.00.00    2,6


            Date      Time CO(GT)
7341  10/01/2005  15.00.00    2,4


            Date      Time CO(GT)
7342  10/01/2005  16.00.00    2,4


            Date      Time CO(GT)
7343  10/01/2005  17.00.00    2,0


            Date      Time CO(GT)
7344  10/01/2005  18.00.00    2,0


            Date      Time CO(GT)
7345  10/01/2005  19.00.00    3,1


            Date      Time CO(GT)
7346  10/01/2005  20.00.00    3,3


            Date      Time CO(GT)
7347  10/01/2005  21.00.00    3,3


            Date      Time CO(GT)
7348  10/01/2005  22.00.00    2,6


            Date      Time CO(GT)
7349  10/01/2005  23.00.00    1,7


            Date      Time CO(GT)
8070  10/02/2005  00.00.00    2,0


            Date      Time CO(GT)
8071  10/02/2005  01.00.00    1,8


            Date      Time CO(GT)
8072  10/02/2005  02.00.00    1,6


            Date      Time CO(GT)
8073  10/02/2005  03.00.00    1,5


            Date      Time CO(GT)
8074  10/02/2005  04.00.00    1,4


            Date      Time CO(GT)
8075  10/02/2005  05.00.00    1,5


            Date      Time CO(GT)
8076  10/02/2005  06.00.00    1,7


            Date      Time CO(GT)
8077  10/02/2005  07.00.00    1,9


            Date      Time CO(GT)
8078  10/02/2005  08.00.00    3,3


            Date      Time CO(GT)
8079  10/02/2005  09.00.00    3,8


            Date      Time CO(GT)
8080  10/02/2005  10.00.00    4,3


            Date      Time CO(GT)
8081  10/02/2005  11.00.00    3,7


            Date      Time CO(GT)
8082  10/02/2005  12.00.00    2,7


            Date      Time CO(GT)
8083  10/02/2005  13.00.00    2,2


            Date      Time CO(GT)
8084  10/02/2005  14.00.00    2,4


            Date      Time CO(GT)
8085  10/02/2005  15.00.00    2,2


            Date      Time CO(GT)
8086  10/02/2005  16.00.00    2,3


            Date      Time CO(GT)
8087  10/02/2005  17.00.00    2,6


            Date      Time CO(GT)
8088  10/02/2005  18.00.00    4,2


            Date      Time CO(GT)
8089  10/02/2005  19.00.00    6,2


            Date      Time CO(GT)
8090  10/02/2005  20.00.00    8,4


            Date      Time CO(GT)
8091  10/02/2005  21.00.00    4,5


            Date      Time CO(GT)
8092  10/02/2005  22.00.00    2,7


            Date      Time CO(GT)
8093  10/02/2005  23.00.00    2,4


         Date      Time CO(GT)
0  10/03/2004  18.00.00    2,6


         Date      Time CO(GT)
1  10/03/2004  19.00.00      2


         Date      Time CO(GT)
2  10/03/2004  20.00.00    2,2


         Date      Time CO(GT)
3  10/03/2004  21.00.00    2,2


         Date      Time CO(GT)
4  10/03/2004  22.00.00    1,6


         Date      Time CO(GT)
5  10/03/2004  23.00.00    1,2


            Date      Time CO(GT)
8742  10/03/2005  00.00.00    1,6


            Date      Time CO(GT)
8743  10/03/2005  01.00.00    1,3


            Date      Time CO(GT)
8744  10/03/2005  02.00.00    1,1


            Date      Time CO(GT)
8745  10/03/2005  03.00.00    1,1


            Date      Time CO(GT)
8746  10/03/2005  04.00.00    1,0


            Date      Time CO(GT)
8747  10/03/2005  05.00.00    0,8


            Date      Time CO(GT)
8748  10/03/2005  06.00.00    0,9


            Date      Time CO(GT)
8749  10/03/2005  07.00.00    1,3


            Date      Time CO(GT)
8750  10/03/2005  08.00.00    4,1


            Date      Time CO(GT)
8751  10/03/2005  09.00.00    3,9


            Date      Time CO(GT)
8752  10/03/2005  10.00.00    3,5


            Date      Time CO(GT)
8753  10/03/2005  11.00.00    2,7


            Date      Time CO(GT)
8754  10/03/2005  12.00.00    2,3


            Date      Time CO(GT)
8755  10/03/2005  13.00.00    2,3


            Date      Time CO(GT)
8756  10/03/2005  14.00.00    2,1


            Date      Time CO(GT)
8757  10/03/2005  15.00.00    2,2


            Date      Time CO(GT)
8758  10/03/2005  16.00.00    1,8


            Date      Time CO(GT)
8759  10/03/2005  17.00.00    1,9


            Date      Time CO(GT)
8760  10/03/2005  18.00.00    2,7


            Date      Time CO(GT)
8761  10/03/2005  19.00.00    4,7


            Date      Time CO(GT)
8762  10/03/2005  20.00.00    5,4


            Date      Time CO(GT)
8763  10/03/2005  21.00.00    4,2


            Date      Time CO(GT)
8764  10/03/2005  22.00.00    2,1


            Date      Time CO(GT)
8765  10/03/2005  23.00.00    1,4


           Date      Time CO(GT)
726  10/04/2004  00.00.00    1,3


           Date      Time CO(GT)
727  10/04/2004  01.00.00    1,7


           Date      Time CO(GT)
728  10/04/2004  02.00.00    1,7


           Date      Time CO(GT)
729  10/04/2004  03.00.00      1


           Date      Time CO(GT)
730  10/04/2004  04.00.00    0,8


           Date      Time CO(GT)
731  10/04/2004  05.00.00      1


           Date      Time CO(GT)
732  10/04/2004  06.00.00    1,4


           Date      Time CO(GT)
733  10/04/2004  07.00.00    1,7


           Date      Time CO(GT)
734  10/04/2004  08.00.00      2


           Date      Time CO(GT)
735  10/04/2004  09.00.00      2


           Date      Time CO(GT)
736  10/04/2004  10.00.00    1,9


           Date      Time CO(GT)
737  10/04/2004  11.00.00    2,1


           Date      Time CO(GT)
738  10/04/2004  12.00.00    1,8


           Date      Time CO(GT)
739  10/04/2004  13.00.00    1,5


           Date      Time CO(GT)
740  10/04/2004  14.00.00    1,3


           Date      Time CO(GT)
741  10/04/2004  15.00.00    1,4


           Date      Time CO(GT)
742  10/04/2004  16.00.00    1,5


           Date      Time CO(GT)
743  10/04/2004  17.00.00    1,7


           Date      Time CO(GT)
744  10/04/2004  18.00.00      2


           Date      Time CO(GT)
745  10/04/2004  19.00.00    2,5


           Date      Time CO(GT)
746  10/04/2004  20.00.00    2,4


           Date      Time CO(GT)
747  10/04/2004  21.00.00      2


           Date      Time CO(GT)
748  10/04/2004  22.00.00    2,9


           Date      Time CO(GT)
749  10/04/2004  23.00.00    2,5


            Date      Time CO(GT)
1446  10/05/2004  00.00.00   -200


            Date      Time CO(GT)
1447  10/05/2004  01.00.00   -200


            Date      Time CO(GT)
1448  10/05/2004  02.00.00   -200


            Date      Time CO(GT)
1449  10/05/2004  03.00.00   -200


            Date      Time CO(GT)
1450  10/05/2004  04.00.00   -200


            Date      Time CO(GT)
1451  10/05/2004  05.00.00   -200


            Date      Time CO(GT)
1452  10/05/2004  06.00.00   -200


            Date      Time CO(GT)
1453  10/05/2004  07.00.00   -200


            Date      Time CO(GT)
1454  10/05/2004  08.00.00   -200


            Date      Time CO(GT)
1455  10/05/2004  09.00.00    4,4


            Date      Time CO(GT)
1456  10/05/2004  10.00.00    2,5


            Date      Time CO(GT)
1457  10/05/2004  11.00.00    2,1


            Date      Time CO(GT)
1458  10/05/2004  12.00.00    2,4


            Date      Time CO(GT)
1459  10/05/2004  13.00.00    2,2


            Date      Time CO(GT)
1460  10/05/2004  14.00.00    2,2


            Date      Time CO(GT)
1461  10/05/2004  15.00.00    2,3


            Date      Time CO(GT)
1462  10/05/2004  16.00.00    2,1


            Date      Time CO(GT)
1463  10/05/2004  17.00.00    2,5


            Date      Time CO(GT)
1464  10/05/2004  18.00.00    3,6


            Date      Time CO(GT)
1465  10/05/2004  19.00.00      4


            Date      Time CO(GT)
1466  10/05/2004  20.00.00      3


            Date      Time CO(GT)
1467  10/05/2004  21.00.00    2,1


            Date      Time CO(GT)
1468  10/05/2004  22.00.00    1,7


            Date      Time CO(GT)
1469  10/05/2004  23.00.00    1,1


            Date      Time CO(GT)
2190  10/06/2004  00.00.00      1


            Date      Time CO(GT)
2191  10/06/2004  01.00.00    0,7


            Date      Time CO(GT)
2192  10/06/2004  02.00.00      1


            Date      Time CO(GT)
2193  10/06/2004  03.00.00    0,6


            Date      Time CO(GT)
2194  10/06/2004  04.00.00   -200


            Date      Time CO(GT)
2195  10/06/2004  05.00.00    0,9


            Date      Time CO(GT)
2196  10/06/2004  06.00.00    1,2


            Date      Time CO(GT)
2197  10/06/2004  07.00.00    2,9


            Date      Time CO(GT)
2198  10/06/2004  08.00.00    4,8


            Date      Time CO(GT)
2199  10/06/2004  09.00.00    4,3


            Date      Time CO(GT)
2200  10/06/2004  10.00.00    3,1


            Date      Time CO(GT)
2201  10/06/2004  11.00.00    2,4


            Date      Time CO(GT)
2202  10/06/2004  12.00.00    2,8


            Date      Time CO(GT)
2203  10/06/2004  13.00.00    2,5


            Date      Time CO(GT)
2204  10/06/2004  14.00.00    2,6


            Date      Time CO(GT)
2205  10/06/2004  15.00.00    2,3


            Date      Time CO(GT)
2206  10/06/2004  16.00.00    2,4


            Date      Time CO(GT)
2207  10/06/2004  17.00.00    3,5


            Date      Time CO(GT)
2208  10/06/2004  18.00.00    4,8


            Date      Time CO(GT)
2209  10/06/2004  19.00.00    5,1


            Date      Time CO(GT)
2210  10/06/2004  20.00.00    4,7


            Date      Time CO(GT)
2211  10/06/2004  21.00.00    2,4


            Date      Time CO(GT)
2212  10/06/2004  22.00.00    2,5


            Date      Time CO(GT)
2213  10/06/2004  23.00.00    2,7


            Date      Time CO(GT)
2910  10/07/2004  00.00.00    2,3


            Date      Time CO(GT)
2911  10/07/2004  01.00.00    1,5


            Date      Time CO(GT)
2912  10/07/2004  02.00.00      1


            Date      Time CO(GT)
2913  10/07/2004  03.00.00    0,5


            Date      Time CO(GT)
2914  10/07/2004  04.00.00    0,3


            Date      Time CO(GT)
2915  10/07/2004  05.00.00    0,4


            Date      Time CO(GT)
2916  10/07/2004  06.00.00    0,5


            Date      Time CO(GT)
2917  10/07/2004  07.00.00    0,9


            Date      Time CO(GT)
2918  10/07/2004  08.00.00    1,1


            Date      Time CO(GT)
2919  10/07/2004  09.00.00    1,4


            Date      Time CO(GT)
2920  10/07/2004  10.00.00    1,1


            Date      Time CO(GT)
2921  10/07/2004  11.00.00    0,9


            Date      Time CO(GT)
2922  10/07/2004  12.00.00    0,8


            Date      Time CO(GT)
2923  10/07/2004  13.00.00    0,8


            Date      Time CO(GT)
2924  10/07/2004  14.00.00    0,6


            Date      Time CO(GT)
2925  10/07/2004  15.00.00    0,6


            Date      Time CO(GT)
2926  10/07/2004  16.00.00    0,5


            Date      Time CO(GT)
2927  10/07/2004  17.00.00    0,7


            Date      Time CO(GT)
2928  10/07/2004  18.00.00    0,8


            Date      Time CO(GT)
2929  10/07/2004  19.00.00    0,9


            Date      Time CO(GT)
2930  10/07/2004  20.00.00    1,3


            Date      Time CO(GT)
2931  10/07/2004  21.00.00    1,3


            Date      Time CO(GT)
2932  10/07/2004  22.00.00    1,4


            Date      Time CO(GT)
2933  10/07/2004  23.00.00    1,9


            Date      Time CO(GT)
3654  10/08/2004  00.00.00      1


            Date      Time CO(GT)
3655  10/08/2004  01.00.00    0,7


            Date      Time CO(GT)
3656  10/08/2004  02.00.00    0,5


            Date      Time CO(GT)
3657  10/08/2004  03.00.00    0,5


            Date      Time CO(GT)
3658  10/08/2004  04.00.00    0,5


            Date      Time CO(GT)
3659  10/08/2004  05.00.00    0,7


            Date      Time CO(GT)
3660  10/08/2004  06.00.00    1,2


            Date      Time CO(GT)
3661  10/08/2004  07.00.00    2,2


            Date      Time CO(GT)
3662  10/08/2004  08.00.00    2,9


            Date      Time CO(GT)
3663  10/08/2004  09.00.00    2,6


            Date      Time CO(GT)
3664  10/08/2004  10.00.00    2,6


            Date      Time CO(GT)
3665  10/08/2004  11.00.00    2,2


            Date      Time CO(GT)
3666  10/08/2004  12.00.00    1,5


            Date      Time CO(GT)
3667  10/08/2004  13.00.00    0,9


            Date      Time CO(GT)
3668  10/08/2004  14.00.00      1


            Date      Time CO(GT)
3669  10/08/2004  15.00.00    1,1


            Date      Time CO(GT)
3670  10/08/2004  16.00.00    1,2


            Date      Time CO(GT)
3671  10/08/2004  17.00.00    1,8


            Date      Time CO(GT)
3672  10/08/2004  18.00.00    1,8


            Date      Time CO(GT)
3673  10/08/2004  19.00.00    1,7


            Date      Time CO(GT)
3674  10/08/2004  20.00.00    1,7


            Date      Time CO(GT)
3675  10/08/2004  21.00.00    1,6


            Date      Time CO(GT)
3676  10/08/2004  22.00.00    1,7


            Date      Time CO(GT)
3677  10/08/2004  23.00.00    1,8


            Date      Time CO(GT)
4398  10/09/2004  00.00.00    1,2


            Date      Time CO(GT)
4399  10/09/2004  01.00.00      1


            Date      Time CO(GT)
4400  10/09/2004  02.00.00    0,5


            Date      Time CO(GT)
4401  10/09/2004  03.00.00    0,5


            Date      Time CO(GT)
4402  10/09/2004  04.00.00    0,4


            Date      Time CO(GT)
4403  10/09/2004  05.00.00    0,5


            Date      Time CO(GT)
4404  10/09/2004  06.00.00    0,7


            Date      Time CO(GT)
4405  10/09/2004  07.00.00    2,4


            Date      Time CO(GT)
4406  10/09/2004  08.00.00    4,1


            Date      Time CO(GT)
4407  10/09/2004  09.00.00      3


            Date      Time CO(GT)
4408  10/09/2004  10.00.00      2


            Date      Time CO(GT)
4409  10/09/2004  11.00.00    2,5


            Date      Time CO(GT)
4410  10/09/2004  12.00.00    2,4


            Date      Time CO(GT)
4411  10/09/2004  13.00.00    2,6


            Date      Time CO(GT)
4412  10/09/2004  14.00.00    1,9


            Date      Time CO(GT)
4413  10/09/2004  15.00.00    2,1


            Date      Time CO(GT)
4414  10/09/2004  16.00.00    2,5


            Date      Time CO(GT)
4415  10/09/2004  17.00.00    2,7


            Date      Time CO(GT)
4416  10/09/2004  18.00.00    3,3


            Date      Time CO(GT)
4417  10/09/2004  19.00.00    3,2


            Date      Time CO(GT)
4418  10/09/2004  20.00.00    2,6


            Date      Time CO(GT)
4419  10/09/2004  21.00.00    1,4


            Date      Time CO(GT)
4420  10/09/2004  22.00.00    1,6


            Date      Time CO(GT)
4421  10/09/2004  23.00.00    1,7


            Date      Time CO(GT)
5118  10/10/2004  00.00.00    3,7


            Date      Time CO(GT)
5119  10/10/2004  01.00.00      2


            Date      Time CO(GT)
5120  10/10/2004  02.00.00    1,4


            Date      Time CO(GT)
5121  10/10/2004  03.00.00    1,1


            Date      Time CO(GT)
5122  10/10/2004  04.00.00   -200


            Date      Time CO(GT)
5123  10/10/2004  05.00.00    0,7


            Date      Time CO(GT)
5124  10/10/2004  06.00.00    1,2


            Date      Time CO(GT)
5125  10/10/2004  07.00.00    1,3


            Date      Time CO(GT)
5126  10/10/2004  08.00.00    1,1


            Date      Time CO(GT)
5127  10/10/2004  09.00.00      1


            Date      Time CO(GT)
5128  10/10/2004  10.00.00    1,2


            Date      Time CO(GT)
5129  10/10/2004  11.00.00    1,9


            Date      Time CO(GT)
5130  10/10/2004  12.00.00    2,3



6583  10/12/2004  01.00.00    0,7


            Date      Time CO(GT)
6584  10/12/2004  02.00.00    0,7


            Date      Time CO(GT)
6585  10/12/2004  03.00.00    0,5


            Date      Time CO(GT)
6586  10/12/2004  04.00.00   -200


            Date      Time CO(GT)
6587  10/12/2004  05.00.00    0,3


            Date      Time CO(GT)
6588  10/12/2004  06.00.00    0,4


            Date      Time CO(GT)
6589  10/12/2004  07.00.00    0,5


            Date      Time CO(GT)
6590  10/12/2004  08.00.00    1,4


            Date      Time CO(GT)
6591  10/12/2004  09.00.00    2,4


            Date      Time CO(GT)
6592  10/12/2004  10.00.00    1,8


            Date      Time CO(GT)
6593  10/12/2004  11.00.00    1,5


            Date      Time CO(GT)
6594  10/12/2004  12.00.00    1,5


            Date      Time CO(GT)
6595  10/12/2004  13.00.00    1,8


            Date      Time CO(GT)
6596  10/12/2004  14.00.00    2,1


            Date      Time CO(GT)
6597  10/12/2004  15.00.00    1,7


            Date      Time CO(GT)
6598  10/12/2004  16.00.00    2,3


            Date      Time CO(GT)
6599  10/12/2004  17.00.00    2,9


            Date      Time CO(GT)
6600  10/12/2004  18.00.00      4


            Date      Time CO(GT)
6601  10/12/2004  19.00.00    4,2


            Date      Time CO(GT)
6602  10/12/2004  20.00.00    3,5


            Date      Time CO(GT)
6603  10/12/2004  21.00.00    2,6


            Date      Time CO(GT)
6604  10/12/2004  22.00.00    1,3


            Date      Time CO(GT)
6605  10/12/2004  23.00.00      1


            Date      Time CO(GT)
7350  11/01/2005  00.00.00    1,8


            Date      Time CO(GT)
7351  11/01/2005  01.00.00    1,5


            Date      Time CO(GT)
7352  11/01/2005  02.00.00    1,1


            Date      Time CO(GT)
7353  11/01/2005  03.00.00    0,9


            Date      Time CO(GT)
7354  11/01/2005  04.00.00    0,7


            Date      Time CO(GT)
7355  11/01/2005  05.00.00    0,7


            Date      Time CO(GT)
7356  11/01/2005  06.00.00    0,9


            Date      Time CO(GT)
7357  11/01/2005  07.00.00    1,3


            Date      Time CO(GT)
7358  11/01/2005  08.00.00    3,2


            Date      Time CO(GT)
7359  11/01/2005  09.00.00    5,1


            Date      Time CO(GT)
7360  11/01/2005  10.00.00    3,7


            Date      Time CO(GT)
7361  11/01/2005  11.00.00    3,2


            Date      Time CO(GT)
7362  11/01/2005  12.00.00    3,1


            Date      Time CO(GT)
7363  11/01/2005  13.00.00    3,0


            Date      Time CO(GT)
7364  11/01/2005  14.00.00    3,6


            Date      Time CO(GT)
7365  11/01/2005  15.00.00    3,2


            Date      Time CO(GT)
7366  11/01/2005  16.00.00    3,9


            Date      Time CO(GT)
7367  11/01/2005  17.00.00    3,4


            Date      Time CO(GT)
7368  11/01/2005  18.00.00    3,9


            Date      Time CO(GT)
7369  11/01/2005  19.00.00    3,6


            Date      Time CO(GT)
7370  11/01/2005  20.00.00    4,7


            Date      Time CO(GT)
7371  11/01/2005  21.00.00    4,1


            Date      Time CO(GT)
7372  11/01/2005  22.00.00    3,4


            Date      Time CO(GT)
7373  11/01/2005  23.00.00    3,5


            Date      Time CO(GT)
8094  11/02/2005  00.00.00    2,3


            Date      Time CO(GT)
8095  11/02/2005  01.00.00    2,2


            Date      Time CO(GT)
8096  11/02/2005  02.00.00    2,0


            Date      Time CO(GT)
8097  11/02/2005  03.00.00    1,6


            Date      Time CO(GT)
8098  11/02/2005  04.00.00    1,6


            Date      Time CO(GT)
8099  11/02/2005  05.00.00    1,5


            Date      Time CO(GT)
8100  11/02/2005  06.00.00    1,7


            Date      Time CO(GT)
8101  11/02/2005  07.00.00    1,8


            Date      Time CO(GT)
8102  11/02/2005  08.00.00    3,8


            Date      Time CO(GT)
8103  11/02/2005  09.00.00    5,9


            Date      Time CO(GT)
8104  11/02/2005  10.00.00    5,4


            Date      Time CO(GT)
8105  11/02/2005  11.00.00    4,7


            Date      Time CO(GT)
8106  11/02/2005  12.00.00    4,3


            Date      Time CO(GT)
8107  11/02/2005  13.00.00    5,4


            Date      Time CO(GT)
8108  11/02/2005  14.00.00    5,8


            Date      Time CO(GT)
8109  11/02/2005  15.00.00    6,1


            Date      Time CO(GT)
8110  11/02/2005  16.00.00    7,1


            Date      Time CO(GT)
8111  11/02/2005  17.00.00    6,6


            Date      Time CO(GT)
8112  11/02/2005  18.00.00    6,5


            Date      Time CO(GT)
8113  11/02/2005  19.00.00    7,1


            Date      Time CO(GT)
8114  11/02/2005  20.00.00    4,9


            Date      Time CO(GT)
8115  11/02/2005  21.00.00    4,0


            Date      Time CO(GT)
8116  11/02/2005  22.00.00    4,0


            Date      Time CO(GT)
8117  11/02/2005  23.00.00    3,6


         Date      Time CO(GT)
6  11/03/2004  00.00.00    1,2


         Date      Time CO(GT)
7  11/03/2004  01.00.00      1


         Date      Time CO(GT)
8  11/03/2004  02.00.00    0,9


         Date      Time CO(GT)
9  11/03/2004  03.00.00    0,6


          Date      Time CO(GT)
10  11/03/2004  04.00.00   -200


          Date      Time CO(GT)
11  11/03/2004  05.00.00    0,7


          Date      Time CO(GT)
12  11/03/2004  06.00.00    0,7


          Date      Time CO(GT)
13  11/03/2004  07.00.00    1,1


          Date      Time CO(GT)
14  11/03/2004  08.00.00      2


          Date      Time CO(GT)
15  11/03/2004  09.00.00    2,2


          Date      Time CO(GT)
16  11/03/2004  10.00.00    1,7


          Date      Time CO(GT)
17  11/03/2004  11.00.00    1,5


          Date      Time CO(GT)
18  11/03/2004  12.00.00    1,6


          Date      Time CO(GT)
19  11/03/2004  13.00.00    1,9


          Date      Time CO(GT)
20  11/03/2004  14.00.00    2,9


          Date      Time CO(GT)
21  11/03/2004  15.00.00    2,2


          Date      Time CO(GT)
22  11/03/2004  16.00.00    2,2


          Date      Time CO(GT)
23  11/03/2004  17.00.00    2,9


          Date      Time CO(GT)
24  11/03/2004  18.00.00    4,8


          Date      Time CO(GT)
25  11/03/2004  19.00.00    6,9


          Date      Time CO(GT)
26  11/03/2004  20.00.00    6,1


          Date      Time CO(GT)
27  11/03/2004  21.00.00    3,9


          Date      Time CO(GT)
28  11/03/2004  22.00.00    1,5


          Date      Time CO(GT)
29  11/03/2004  23.00.00      1


            Date      Time CO(GT)
8766  11/03/2005  00.00.00    1,4


            Date      Time CO(GT)
8767  11/03/2005  01.00.00    1,4


            Date      Time CO(GT)
8768  11/03/2005  02.00.00    1,0


            Date      Time CO(GT)
8769  11/03/2005  03.00.00    0,8


            Date      Time  CO(GT)
8770  11/03/2005  04.00.00  -200,0


            Date      Time CO(GT)
8771  11/03/2005  05.00.00    0,7


            Date      Time CO(GT)
8772  11/03/2005  06.00.00    0,6


            Date      Time CO(GT)
8773  11/03/2005  07.00.00    0,2


            Date      Time CO(GT)
8774  11/03/2005  08.00.00    1,5


            Date      Time CO(GT)
8775  11/03/2005  09.00.00    3,5


            Date      Time CO(GT)
8776  11/03/2005  10.00.00    3,0


            Date      Time CO(GT)
8777  11/03/2005  11.00.00    3,0


            Date      Time CO(GT)
8778  11/03/2005  12.00.00    1,0


            Date      Time CO(GT)
8779  11/03/2005  13.00.00    1,5


            Date      Time CO(GT)
8780  11/03/2005  14.00.00    2,2


            Date      Time CO(GT)
8781  11/03/2005  15.00.00    1,7


            Date      Time CO(GT)
8782  11/03/2005  16.00.00    1,1


            Date      Time CO(GT)
8783  11/03/2005  17.00.00    1,3


            Date      Time CO(GT)
8784  11/03/2005  18.00.00    1,5


            Date      Time CO(GT)
8785  11/03/2005  19.00.00    3,4


            Date      Time CO(GT)
8786  11/03/2005  20.00.00    3,8


            Date      Time CO(GT)
8787  11/03/2005  21.00.00    2,8


            Date      Time CO(GT)
8788  11/03/2005  22.00.00    0,8


            Date      Time CO(GT)
8789  11/03/2005  23.00.00    0,5


           Date      Time CO(GT)
750  11/04/2004  00.00.00    1,4


           Date      Time CO(GT)
751  11/04/2004  01.00.00    1,2


           Date      Time CO(GT)
752  11/04/2004  02.00.00      1


           Date      Time CO(GT)
753  11/04/2004  03.00.00      1


           Date      Time CO(GT)
754  11/04/2004  04.00.00   -200


           Date      Time CO(GT)
755  11/04/2004  05.00.00    0,7


           Date      Time CO(GT)
756  11/04/2004  06.00.00    0,8


           Date      Time CO(GT)
757  11/04/2004  07.00.00    0,9


           Date      Time CO(GT)
758  11/04/2004  08.00.00    1,1


           Date      Time CO(GT)
759  11/04/2004  09.00.00      1


           Date      Time CO(GT)
760  11/04/2004  10.00.00    1,6


           Date      Time CO(GT)
761  11/04/2004  11.00.00    1,8


           Date      Time CO(GT)
762  11/04/2004  12.00.00    2,6


           Date      Time CO(GT)
763  11/04/2004  13.00.00    1,1


           Date      Time CO(GT)
764  11/04/2004  14.00.00    0,6


           Date      Time CO(GT)
765  11/04/2004  15.00.00    0,9


           Date      Time CO(GT)
766  11/04/2004  16.00.00      1


           Date      Time CO(GT)
767  11/04/2004  17.00.00    1,2


           Date      Time CO(GT)
768  11/04/2004  18.00.00    1,4


           Date      Time CO(GT)
769  11/04/2004  19.00.00      2


           Date      Time CO(GT)
770  11/04/2004  20.00.00    1,1


           Date      Time CO(GT)
771  11/04/2004  21.00.00    1,1


           Date      Time CO(GT)
772  11/04/2004  22.00.00    1,1


           Date      Time CO(GT)
773  11/04/2004  23.00.00    1,1


            Date      Time CO(GT)
1470  11/05/2004  00.00.00    0,9


            Date      Time CO(GT)
1471  11/05/2004  01.00.00    0,4


            Date      Time CO(GT)
1472  11/05/2004  02.00.00    0,2


            Date      Time CO(GT)
1473  11/05/2004  03.00.00    0,2


            Date      Time CO(GT)
1474  11/05/2004  04.00.00   -200


            Date      Time CO(GT)
1475  11/05/2004  05.00.00    0,6


            Date      Time CO(GT)
1476  11/05/2004  06.00.00    1,4


            Date      Time CO(GT)
1477  11/05/2004  07.00.00    4,6


            Date      Time CO(GT)
1478  11/05/2004  08.00.00    5,5


            Date      Time CO(GT)
1479  11/05/2004  09.00.00    4,8


            Date      Time CO(GT)
1480  11/05/2004  10.00.00    4,5


            Date      Time CO(GT)
1481  11/05/2004  11.00.00      3


            Date      Time CO(GT)
1482  11/05/2004  12.00.00    2,5


            Date      Time CO(GT)
1483  11/05/2004  13.00.00    2,3


            Date      Time CO(GT)
1484  11/05/2004  14.00.00      2


            Date      Time CO(GT)
1485  11/05/2004  15.00.00    1,9


            Date      Time CO(GT)
1486  11/05/2004  16.00.00    1,9


            Date      Time CO(GT)
1487  11/05/2004  17.00.00    3,5


            Date      Time CO(GT)
1488  11/05/2004  18.00.00    4,6


            Date      Time CO(GT)
1489  11/05/2004  19.00.00    6,3


            Date      Time CO(GT)
1490  11/05/2004  20.00.00      5


            Date      Time CO(GT)
1491  11/05/2004  21.00.00    3,3


            Date      Time CO(GT)
1492  11/05/2004  22.00.00    2,7


            Date      Time CO(GT)
1493  11/05/2004  23.00.00    2,2


            Date      Time CO(GT)
2214  11/06/2004  00.00.00    1,5


            Date      Time CO(GT)
2215  11/06/2004  01.00.00    1,1


            Date      Time CO(GT)
2216  11/06/2004  02.00.00    0,6


            Date      Time CO(GT)
2217  11/06/2004  03.00.00    0,5


            Date      Time CO(GT)
2218  11/06/2004  04.00.00    0,4


            Date      Time CO(GT)
2219  11/06/2004  05.00.00    0,6


            Date      Time CO(GT)
2220  11/06/2004  06.00.00      1


            Date      Time CO(GT)
2221  11/06/2004  07.00.00    4,6


            Date      Time CO(GT)
2222  11/06/2004  08.00.00    4,8


            Date      Time CO(GT)
2223  11/06/2004  09.00.00      4


            Date      Time CO(GT)
2224  11/06/2004  10.00.00   -200


            Date      Time CO(GT)
2225  11/06/2004  11.00.00      2


            Date      Time CO(GT)
2226  11/06/2004  12.00.00      2


            Date      Time CO(GT)
2227  11/06/2004  13.00.00      2


            Date      Time CO(GT)
2228  11/06/2004  14.00.00    1,9


            Date      Time CO(GT)
2229  11/06/2004  15.00.00    1,9


            Date      Time CO(GT)
2230  11/06/2004  16.00.00    1,9


            Date      Time CO(GT)
2231  11/06/2004  17.00.00    2,6


            Date      Time CO(GT)
2232  11/06/2004  18.00.00    3,2


            Date      Time CO(GT)
2233  11/06/2004  19.00.00    3,4


            Date      Time CO(GT)
2234  11/06/2004  20.00.00    3,4


            Date      Time CO(GT)
2235  11/06/2004  21.00.00    2,9


            Date      Time CO(GT)
2236  11/06/2004  22.00.00    2,7


            Date      Time CO(GT)
2237  11/06/2004  23.00.00    1,3


            Date      Time CO(GT)
2934  11/07/2004  00.00.00    2,3


            Date      Time CO(GT)
2935  11/07/2004  01.00.00      1


            Date      Time CO(GT)
2936  11/07/2004  02.00.00    0,5


            Date      Time CO(GT)
2937  11/07/2004  03.00.00      1


            Date      Time CO(GT)
2938  11/07/2004  04.00.00    0,4


            Date      Time CO(GT)
2939  11/07/2004  05.00.00    0,3


            Date      Time CO(GT)
2940  11/07/2004  06.00.00    0,2


            Date      Time CO(GT)
2941  11/07/2004  07.00.00    0,4


            Date      Time CO(GT)
2942  11/07/2004  08.00.00    0,3


            Date      Time CO(GT)
2943  11/07/2004  09.00.00    0,6


            Date      Time CO(GT)
2944  11/07/2004  10.00.00    0,6


            Date      Time CO(GT)
2945  11/07/2004  11.00.00    0,6


            Date      Time CO(GT)
2946  11/07/2004  12.00.00    0,5


            Date      Time CO(GT)
2947  11/07/2004  13.00.00    0,4


            Date      Time CO(GT)
2948  11/07/2004  14.00.00    0,2


            Date      Time CO(GT)
2949  11/07/2004  15.00.00    0,4


            Date      Time CO(GT)
2950  11/07/2004  16.00.00    0,6


            Date      Time CO(GT)
2951  11/07/2004  17.00.00    0,9


            Date      Time CO(GT)
2952  11/07/2004  18.00.00    0,7


            Date      Time CO(GT)
2953  11/07/2004  19.00.00    1,2


            Date      Time CO(GT)
2954  11/07/2004  20.00.00    1,6


            Date      Time CO(GT)
2955  11/07/2004  21.00.00    1,8


            Date      Time CO(GT)
2956  11/07/2004  22.00.00    2,4


            Date      Time CO(GT)
2957  11/07/2004  23.00.00    1,5


            Date      Time CO(GT)
3678  11/08/2004  00.00.00    1,5


            Date      Time CO(GT)
3679  11/08/2004  01.00.00    1,2


            Date      Time CO(GT)
3680  11/08/2004  02.00.00    0,8


            Date      Time CO(GT)
3681  11/08/2004  03.00.00    0,5


            Date      Time CO(GT)
3682  11/08/2004  04.00.00    0,5


            Date      Time CO(GT)
3683  11/08/2004  05.00.00    0,7


            Date      Time CO(GT)
3684  11/08/2004  06.00.00    1,1


            Date      Time CO(GT)
3685  11/08/2004  07.00.00    1,4


            Date      Time CO(GT)
3686  11/08/2004  08.00.00    1,7


            Date      Time CO(GT)
3687  11/08/2004  09.00.00    1,8


            Date      Time CO(GT)
3688  11/08/2004  10.00.00    1,8


            Date      Time CO(GT)
3689  11/08/2004  11.00.00    1,7


            Date      Time CO(GT)
3690  11/08/2004  12.00.00    1,3


            Date      Time CO(GT)
3691  11/08/2004  13.00.00    1,3


            Date      Time CO(GT)
3692  11/08/2004  14.00.00      1


            Date      Time CO(GT)
3693  11/08/2004  15.00.00      1


            Date      Time CO(GT)
3694  11/08/2004  16.00.00    1,4


            Date      Time CO(GT)
3695  11/08/2004  17.00.00    1,6


            Date      Time CO(GT)
3696  11/08/2004  18.00.00    1,4


            Date      Time CO(GT)
3697  11/08/2004  19.00.00    1,7


            Date      Time CO(GT)
3698  11/08/2004  20.00.00    1,4


            Date      Time CO(GT)
3699  11/08/2004  21.00.00    1,5


            Date      Time CO(GT)
3700  11/08/2004  22.00.00    1,4


            Date      Time CO(GT)
3701  11/08/2004  23.00.00    1,5


            Date      Time CO(GT)
4422  11/09/2004  00.00.00    1,6


            Date      Time CO(GT)
4423  11/09/2004  01.00.00   -200


            Date      Time CO(GT)
4424  11/09/2004  02.00.00   -200


            Date      Time CO(GT)
4425  11/09/2004  03.00.00   -200


            Date      Time CO(GT)
4426  11/09/2004  04.00.00   -200


            Date      Time CO(GT)
4427  11/09/2004  05.00.00   -200


            Date      Time CO(GT)
4428  11/09/2004  06.00.00   -200


            Date      Time CO(GT)
4429  11/09/2004  07.00.00   -200


            Date      Time CO(GT)
4430  11/09/2004  08.00.00   -200


            Date      Time CO(GT)
4431  11/09/2004  09.00.00   -200


            Date      Time CO(GT)
4432  11/09/2004  10.00.00   -200


            Date      Time CO(GT)
4433  11/09/2004  11.00.00   -200


            Date      Time CO(GT)
4434  11/09/2004  12.00.00   -200


            Date      Time CO(GT)
4435  11/09/2004  13.00.00   -200


            Date      Time CO(GT)
4436  11/09/2004  14.00.00   -200


            Date      Time CO(GT)
4437  11/09/2004  15.00.00   -200


            Date      Time CO(GT)
4438  11/09/2004  16.00.00   -200


            Date      Time CO(GT)
4439  11/09/2004  17.00.00   -200


            Date      Time CO(GT)
4440  11/09/2004  18.00.00   -200


            Date      Time CO(GT)
4441  11/09/2004  19.00.00   -200


            Date      Time CO(GT)
4442  11/09/2004  20.00.00   -200


            Date      Time CO(GT)
4443  11/09/2004  21.00.00   -200


            Date      Time CO(GT)
4444  11/09/2004  22.00.00   -200


            Date      Time CO(GT)
4445  11/09/2004  23.00.00   -200


            Date      Time CO(GT)
5142  11/10/2004  00.00.00    1,3


            Date      Time CO(GT)
5143  11/10/2004  01.00.00    1,4


            Date      Time CO(GT)
5144  11/10/2004  02.00.00    0,5


            Date      Time CO(GT)
5145  11/10/2004  03.00.00    0,4


            Date      Time CO(GT)
5146  11/10/2004  04.00.00    0,4


            Date      Time CO(GT)
5147  11/10/2004  05.00.00    0,6


            Date      Time CO(GT)
5148  11/10/2004  06.00.00    1,1


            Date      Time CO(GT)
5149  11/10/2004  07.00.00    2,9


            Date      Time CO(GT)
5150  11/10/2004  08.00.00    3,5


            Date      Time CO(GT)
5151  11/10/2004  09.00.00    4,6


            Date      Time CO(GT)
5152  11/10/2004  10.00.00    3,4


            Date      Time CO(GT)
5153  11/10/2004  11.00.00    2,3


            Date      Time CO(GT)
5154  11/10/2004  12.00.00    2,7


            Date      Time CO(GT)
5155  11/10/2004  13.00.00    3,1


            Date      Time CO(GT)
5156  11/10/2004  14.00.00    3,2


            Date      Time CO(GT)
5157  11/10/2004  15.00.00    2,5


            Date      Time CO(GT)
5158  11/10/2004  16.00.00    3,4


            Date      Time CO(GT)
5159  11/10/2004  17.00.00    4,8


            Date      Time CO(GT)
5160  11/10/2004  18.00.00    4,5


            Date      Time CO(GT)
5161  11/10/2004  19.00.00      4


            Date      Time CO(GT)
5162  11/10/2004  20.00.00    3,2


            Date      Time CO(GT)
5163  11/10/2004  21.00.00    1,9


            Date      Time CO(GT)
5164  11/10/2004  22.00.00    1,9


            Date      Time CO(GT)
5165  11/10/2004  23.00.00    1,3


            Date      Time CO(GT)
5886  11/11/2004  00.00.00    2,6



8803  12/03/2005  13.00.00    0,3


            Date      Time CO(GT)
8804  12/03/2005  14.00.00    0,5


            Date      Time CO(GT)
8805  12/03/2005  15.00.00    0,2


            Date      Time CO(GT)
8806  12/03/2005  16.00.00    0,4


            Date      Time CO(GT)
8807  12/03/2005  17.00.00    0,7


            Date      Time CO(GT)
8808  12/03/2005  18.00.00    0,9


            Date      Time CO(GT)
8809  12/03/2005  19.00.00    0,8


            Date      Time CO(GT)
8810  12/03/2005  20.00.00    2,4


            Date      Time CO(GT)
8811  12/03/2005  21.00.00    3,3


            Date      Time CO(GT)
8812  12/03/2005  22.00.00    0,9


            Date      Time CO(GT)
8813  12/03/2005  23.00.00    0,1


           Date      Time CO(GT)
774  12/04/2004  00.00.00    0,7


           Date      Time CO(GT)
775  12/04/2004  01.00.00    0,6


           Date      Time CO(GT)
776  12/04/2004  02.00.00    0,7


           Date      Time CO(GT)
777  12/04/2004  03.00.00    0,6


           Date      Time CO(GT)
778  12/04/2004  04.00.00    0,3


           Date      Time CO(GT)
779  12/04/2004  05.00.00    0,3


           Date      Time CO(GT)
780  12/04/2004  06.00.00    0,4


           Date      Time CO(GT)
781  12/04/2004  07.00.00    0,5


           Date      Time CO(GT)
782  12/04/2004  08.00.00    0,6


           Date      Time CO(GT)
783  12/04/2004  09.00.00    0,8


           Date      Time CO(GT)
784  12/04/2004  10.00.00      1


           Date      Time CO(GT)
785  12/04/2004  11.00.00    1,3


           Date      Time CO(GT)
786  12/04/2004  12.00.00    1,1


           Date      Time CO(GT)
787  12/04/2004  13.00.00    0,6


           Date      Time CO(GT)
788  12/04/2004  14.00.00    0,7


           Date      Time CO(GT)
789  12/04/2004  15.00.00    1,2


           Date      Time CO(GT)
790  12/04/2004  16.00.00    1,4


           Date      Time CO(GT)
791  12/04/2004  17.00.00    1,2


           Date      Time CO(GT)
792  12/04/2004  18.00.00    1,3


           Date      Time CO(GT)
793  12/04/2004  19.00.00    1,8


           Date      Time CO(GT)
794  12/04/2004  20.00.00    1,2


           Date      Time CO(GT)
795  12/04/2004  21.00.00    0,8


           Date      Time CO(GT)
796  12/04/2004  22.00.00    0,8


           Date      Time CO(GT)
797  12/04/2004  23.00.00    0,8


            Date      Time CO(GT)
1494  12/05/2004  00.00.00    1,7


            Date      Time CO(GT)
1495  12/05/2004  01.00.00    0,8


            Date      Time CO(GT)
1496  12/05/2004  02.00.00    0,8


            Date      Time CO(GT)
1497  12/05/2004  03.00.00    0,6


            Date      Time CO(GT)
1498  12/05/2004  04.00.00   -200


            Date      Time CO(GT)
1499  12/05/2004  05.00.00    0,8


            Date      Time CO(GT)
1500  12/05/2004  06.00.00    1,5


            Date      Time CO(GT)
1501  12/05/2004  07.00.00    4,1


            Date      Time CO(GT)
1502  12/05/2004  08.00.00    5,9


            Date      Time CO(GT)
1503  12/05/2004  09.00.00    5,1


            Date      Time CO(GT)
1504  12/05/2004  10.00.00    3,9


            Date      Time CO(GT)
1505  12/05/2004  11.00.00    3,4


            Date      Time CO(GT)
1506  12/05/2004  12.00.00    3,3


            Date      Time CO(GT)
1507  12/05/2004  13.00.00    5,1


            Date      Time CO(GT)
1508  12/05/2004  14.00.00    3,1


            Date      Time CO(GT)
1509  12/05/2004  15.00.00    2,5


            Date      Time CO(GT)
1510  12/05/2004  16.00.00    2,4


            Date      Time CO(GT)
1511  12/05/2004  17.00.00    2,8


            Date      Time CO(GT)
1512  12/05/2004  18.00.00    2,9


            Date      Time CO(GT)
1513  12/05/2004  19.00.00    3,4


            Date      Time CO(GT)
1514  12/05/2004  20.00.00    2,2


            Date      Time CO(GT)
1515  12/05/2004  21.00.00    1,6


            Date      Time CO(GT)
1516  12/05/2004  22.00.00    1,3


            Date      Time CO(GT)
1517  12/05/2004  23.00.00    1,3


            Date      Time CO(GT)
2238  12/06/2004  00.00.00    1,3


            Date      Time CO(GT)
2239  12/06/2004  01.00.00    0,9


            Date      Time CO(GT)
2240  12/06/2004  02.00.00    0,6


            Date      Time CO(GT)
2241  12/06/2004  03.00.00    0,5


            Date      Time CO(GT)
2242  12/06/2004  04.00.00    0,5


            Date      Time CO(GT)
2243  12/06/2004  05.00.00    0,9


            Date      Time CO(GT)
2244  12/06/2004  06.00.00    0,7


            Date      Time CO(GT)
2245  12/06/2004  07.00.00    0,6


            Date      Time CO(GT)
2246  12/06/2004  08.00.00    1,3


            Date      Time CO(GT)
2247  12/06/2004  09.00.00    1,9


            Date      Time CO(GT)
2248  12/06/2004  10.00.00    2,1


            Date      Time CO(GT)
2249  12/06/2004  11.00.00    1,8


            Date      Time CO(GT)
2250  12/06/2004  12.00.00    1,8


            Date      Time CO(GT)
2251  12/06/2004  13.00.00    1,6


            Date      Time CO(GT)
2252  12/06/2004  14.00.00    1,2


            Date      Time CO(GT)
2253  12/06/2004  15.00.00    1,2


            Date      Time CO(GT)
2254  12/06/2004  16.00.00    1,4


            Date      Time CO(GT)
2255  12/06/2004  17.00.00    1,3


            Date      Time CO(GT)
2256  12/06/2004  18.00.00    1,1


            Date      Time CO(GT)
2257  12/06/2004  19.00.00    1,1


            Date      Time CO(GT)
2258  12/06/2004  20.00.00    1,1


            Date      Time CO(GT)
2259  12/06/2004  21.00.00    1,8


            Date      Time CO(GT)
2260  12/06/2004  22.00.00    2,3


            Date      Time CO(GT)
2261  12/06/2004  23.00.00    2,6


            Date      Time CO(GT)
2958  12/07/2004  00.00.00    0,9


            Date      Time CO(GT)
2959  12/07/2004  01.00.00    0,8


            Date      Time CO(GT)
2960  12/07/2004  02.00.00    0,2


            Date      Time CO(GT)
2961  12/07/2004  03.00.00    0,1


            Date      Time CO(GT)
2962  12/07/2004  04.00.00   -200


            Date      Time CO(GT)
2963  12/07/2004  05.00.00    0,5


            Date      Time CO(GT)
2964  12/07/2004  06.00.00    1,4


            Date      Time CO(GT)
2965  12/07/2004  07.00.00    3,3


            Date      Time CO(GT)
2966  12/07/2004  08.00.00    3,6


            Date      Time CO(GT)
2967  12/07/2004  09.00.00    1,7


            Date      Time CO(GT)
2968  12/07/2004  10.00.00    1,5


            Date      Time CO(GT)
2969  12/07/2004  11.00.00    1,6


            Date      Time CO(GT)
2970  12/07/2004  12.00.00    2,1


            Date      Time CO(GT)
2971  12/07/2004  13.00.00    2,1


            Date      Time CO(GT)
2972  12/07/2004  14.00.00    1,6


            Date      Time CO(GT)
2973  12/07/2004  15.00.00    1,3


            Date      Time CO(GT)
2974  12/07/2004  16.00.00    1,6


            Date      Time CO(GT)
2975  12/07/2004  17.00.00    3,1


            Date      Time CO(GT)
2976  12/07/2004  18.00.00    3,3


            Date      Time CO(GT)
2977  12/07/2004  19.00.00    3,4


            Date      Time CO(GT)
2978  12/07/2004  20.00.00    2,8


            Date      Time CO(GT)
2979  12/07/2004  21.00.00    1,5


            Date      Time CO(GT)
2980  12/07/2004  22.00.00    1,3


            Date      Time CO(GT)
2981  12/07/2004  23.00.00    1,6


            Date      Time CO(GT)
3702  12/08/2004  00.00.00    1,6


            Date      Time CO(GT)
3703  12/08/2004  01.00.00    1,2


            Date      Time CO(GT)
3704  12/08/2004  02.00.00    0,9


            Date      Time CO(GT)
3705  12/08/2004  03.00.00    0,6


            Date      Time CO(GT)
3706  12/08/2004  04.00.00   -200


            Date      Time CO(GT)
3707  12/08/2004  05.00.00    0,7


            Date      Time CO(GT)
3708  12/08/2004  06.00.00    0,7


            Date      Time CO(GT)
3709  12/08/2004  07.00.00    1,7


            Date      Time CO(GT)
3710  12/08/2004  08.00.00    2,2


            Date      Time CO(GT)
3711  12/08/2004  09.00.00    1,9


            Date      Time CO(GT)
3712  12/08/2004  10.00.00    1,5


            Date      Time CO(GT)
3713  12/08/2004  11.00.00    1,6


            Date      Time CO(GT)
3714  12/08/2004  12.00.00    1,3


            Date      Time CO(GT)
3715  12/08/2004  13.00.00    1,1


            Date      Time CO(GT)
3716  12/08/2004  14.00.00      1


            Date      Time CO(GT)
3717  12/08/2004  15.00.00      1


            Date      Time CO(GT)
3718  12/08/2004  16.00.00    1,1


            Date      Time CO(GT)
3719  12/08/2004  17.00.00    1,3


            Date      Time CO(GT)
3720  12/08/2004  18.00.00    1,5


            Date      Time CO(GT)
3721  12/08/2004  19.00.00    1,6


            Date      Time CO(GT)
3722  12/08/2004  20.00.00    1,5


            Date      Time CO(GT)
3723  12/08/2004  21.00.00    1,3


            Date      Time CO(GT)
3724  12/08/2004  22.00.00    1,2


            Date      Time CO(GT)
3725  12/08/2004  23.00.00    1,6


            Date      Time CO(GT)
4446  12/09/2004  00.00.00   -200


            Date      Time CO(GT)
4447  12/09/2004  01.00.00   -200


            Date      Time CO(GT)
4448  12/09/2004  02.00.00   -200


            Date      Time CO(GT)
4449  12/09/2004  03.00.00   -200


            Date      Time CO(GT)
4450  12/09/2004  04.00.00   -200


            Date      Time CO(GT)
4451  12/09/2004  05.00.00   -200


            Date      Time CO(GT)
4452  12/09/2004  06.00.00   -200


            Date      Time CO(GT)
4453  12/09/2004  07.00.00   -200


            Date      Time CO(GT)
4454  12/09/2004  08.00.00   -200


            Date      Time CO(GT)
4455  12/09/2004  09.00.00   -200


            Date      Time CO(GT)
4456  12/09/2004  10.00.00   -200


            Date      Time CO(GT)
4457  12/09/2004  11.00.00   -200


            Date      Time CO(GT)
4458  12/09/2004  12.00.00   -200


            Date      Time CO(GT)
4459  12/09/2004  13.00.00   -200


            Date      Time CO(GT)
4460  12/09/2004  14.00.00   -200


            Date      Time CO(GT)
4461  12/09/2004  15.00.00   -200


            Date      Time CO(GT)
4462  12/09/2004  16.00.00   -200


            Date      Time CO(GT)
4463  12/09/2004  17.00.00   -200


            Date      Time CO(GT)
4464  12/09/2004  18.00.00   -200


            Date      Time CO(GT)
4465  12/09/2004  19.00.00   -200


            Date      Time CO(GT)
4466  12/09/2004  20.00.00   -200


            Date      Time CO(GT)
4467  12/09/2004  21.00.00   -200


            Date      Time CO(GT)
4468  12/09/2004  22.00.00   -200


            Date      Time CO(GT)
4469  12/09/2004  23.00.00   -200


            Date      Time CO(GT)
5166  12/10/2004  00.00.00    1,1


            Date      Time CO(GT)
5167  12/10/2004  01.00.00      1


            Date      Time CO(GT)
5168  12/10/2004  02.00.00    0,5


            Date      Time CO(GT)
5169  12/10/2004  03.00.00    0,6


            Date      Time CO(GT)
5170  12/10/2004  04.00.00    0,5


            Date      Time CO(GT)
5171  12/10/2004  05.00.00    0,8


            Date      Time CO(GT)
5172  12/10/2004  06.00.00    1,2


            Date      Time CO(GT)
5173  12/10/2004  07.00.00    2,7


            Date      Time CO(GT)
5174  12/10/2004  08.00.00      3


            Date      Time CO(GT)
5175  12/10/2004  09.00.00   -200


            Date      Time CO(GT)
5176  12/10/2004  10.00.00   -200


            Date      Time CO(GT)
5177  12/10/2004  11.00.00   -200


            Date      Time CO(GT)
5178  12/10/2004  12.00.00   -200


            Date      Time CO(GT)
5179  12/10/2004  13.00.00   -200


            Date      Time CO(GT)
5180  12/10/2004  14.00.00   -200


            Date      Time CO(GT)
5181  12/10/2004  15.00.00   -200


            Date      Time CO(GT)
5182  12/10/2004  16.00.00   -200


            Date      Time CO(GT)
5183  12/10/2004  17.00.00   -200


            Date      Time CO(GT)
5184  12/10/2004  18.00.00   -200


            Date      Time CO(GT)
5185  12/10/2004  19.00.00   -200


            Date      Time CO(GT)
5186  12/10/2004  20.00.00   -200


            Date      Time CO(GT)
5187  12/10/2004  21.00.00   -200


            Date      Time CO(GT)
5188  12/10/2004  22.00.00   -200


            Date      Time CO(GT)
5189  12/10/2004  23.00.00   -200


            Date      Time CO(GT)
5910  12/11/2004  00.00.00    1,2


            Date      Time CO(GT)
5911  12/11/2004  01.00.00    1,6


            Date      Time CO(GT)
5912  12/11/2004  02.00.00    0,7


            Date      Time CO(GT)
5913  12/11/2004  03.00.00    0,4


            Date      Time CO(GT)
5914  12/11/2004  04.00.00   -200


            Date      Time CO(GT)
5915  12/11/2004  05.00.00    0,6


            Date      Time CO(GT)
5916  12/11/2004  06.00.00    0,5


            Date      Time CO(GT)
5917  12/11/2004  07.00.00    0,6


            Date      Time CO(GT)
5918  12/11/2004  08.00.00    1,4


            Date      Time CO(GT)
5919  12/11/2004  09.00.00      2


            Date      Time CO(GT)
5920  12/11/2004  10.00.00    1,6


            Date      Time CO(GT)
5921  12/11/2004  11.00.00    1,6


            Date      Time CO(GT)
5922  12/11/2004  12.00.00    1,7


            Date      Time CO(GT)
5923  12/11/2004  13.00.00      2


            Date      Time CO(GT)
5924  12/11/2004  14.00.00    2,3


            Date      Time CO(GT)
5925  12/11/2004  15.00.00    2,4


            Date      Time CO(GT)
5926  12/11/2004  16.00.00    2,2


            Date      Time CO(GT)
5927  12/11/2004  17.00.00    2,6


            Date      Time CO(GT)
5928  12/11/2004  18.00.00      4


            Date      Time CO(GT)
5929  12/11/2004  19.00.00    5,2


            Date      Time CO(GT)
5930  12/11/2004  20.00.00    3,9


            Date      Time CO(GT)
5931  12/11/2004  21.00.00    3,8


            Date      Time CO(GT)
5932  12/11/2004  22.00.00    1,6


            Date      Time CO(GT)
5933  12/11/2004  23.00.00    1,5


            Date      Time CO(GT)
6630  12/12/2004  00.00.00      3


            Date      Time CO(GT)
6631  12/12/2004  01.00.00    2,4


            Date      Time CO(GT)
6632  12/12/2004  02.00.00    2,6


            Date      Time CO(GT)
6633  12/12/2004  03.00.00      2


            Date      Time CO(GT)
6634  12/12/2004  04.00.00    2,1


            Date      Time CO(GT)
6635  12/12/2004  05.00.00    1,7


            Date      Time CO(GT)
6636  12/12/2004  06.00.00    1,5


            Date      Time CO(GT)
6637  12/12/2004  07.00.00    1,3


            Date      Time CO(GT)
6638  12/12/2004  08.00.00    1,9


            Date      Time CO(GT)
6639  12/12/2004  09.00.00      2


            Date      Time CO(GT)
6640  12/12/2004  10.00.00    2,7


            Date      Time CO(GT)
6641  12/12/2004  11.00.00    2,4


            Date      Time CO(GT)
6642  12/12/2004  12.00.00    2,7


            Date      Time CO(GT)
6643  12/12/2004  13.00.00    3,2


            Date      Time CO(GT)
6644  12/12/2004  14.00.00    3,4


            Date      Time CO(GT)
6645  12/12/2004  15.00.00    3,2


            Date      Time CO(GT)
6646  12/12/2004  16.00.00    4,3


            Date      Time CO(GT)
6647  12/12/2004  17.00.00      5


            Date      Time CO(GT)
6648  12/12/2004  18.00.00    6,3


            Date      Time CO(GT)
6649  12/12/2004  19.00.00    4,6


            Date      Time CO(GT)
6650  12/12/2004  20.00.00    3,1


            Date      Time CO(GT)
6651  12/12/2004  21.00.00    2,6


            Date      Time CO(GT)
6652  12/12/2004  22.00.00    2,1


            Date      Time CO(GT)
6653  12/12/2004  23.00.00    2,1


            Date      Time CO(GT)
7398  13/01/2005  00.00.00    2,9


            Date      Time CO(GT)
7399  13/01/2005  01.00.00    2,5


            Date      Time CO(GT)
7400  13/01/2005  02.00.00    1,7


            Date      Time CO(GT)
7401  13/01/2005  03.00.00    1,6


            Date      Time CO(GT)
7402  13/01/2005  04.00.00    1,1


            Date      Time CO(GT)
7403  13/01/2005  05.00.00    0,9


            Date      Time CO(GT)
7404  13/01/2005  06.00.00    1,0


            Date      Time CO(GT)
7405  13/01/2005  07.00.00    1,6


            Date      Time CO(GT)
7406  13/01/2005  08.00.00    3,1


            Date      Time CO(GT)
7407  13/01/2005  09.00.00    4,1


            Date      Time CO(GT)
7408  13/01/2005  10.00.00    3,9


            Date      Time CO(GT)
7409  13/01/2005  11.00.00    3,6


            Date      Time CO(GT)
7410  13/01/2005  12.00.00    3,2


            Date      Time CO(GT)
7411  13/01/2005  13.00.00    2,2


            Date      Time CO(GT)
7412  13/01/2005  14.00.00    2,4


            Date      Time CO(GT)
7413  13/01/2005  15.00.00    2,7


            Date      Time CO(GT)
7414  13/01/2005  16.00.00    2,7


            Date      Time CO(GT)
7415  13/01/2005  17.00.00    3,9


            Date      Time CO(GT)
7416  13/01/2005  18.00.00    5,2


            Date      Time CO(GT)
7417  13/01/2005  19.00.00    4,0


            Date      Time CO(GT)
7418  13/01/2005  20.00.00    2,9


            Date      Time CO(GT)
7419  13/01/2005  21.00.00    3,3


            Date      Time CO(GT)
7420  13/01/2005  22.00.00    2,0


            Date      Time CO(GT)
7421  13/01/2005  23.00.00    1,8


            Date      Time CO(GT)
8142  13/02/2005  00.00.00    4,1


            Date      Time CO(GT)
8143  13/02/2005  01.00.00    4,1


            Date      Time CO(GT)
8144  13/02/2005  02.00.00    3,1


            Date      Time CO(GT)
8145  13/02/2005  03.00.00    2,7


            Date      Time CO(GT)
8146  13/02/2005  04.00.00    2,8


            Date      Time CO(GT)
8147  13/02/2005  05.00.00    2,9


            Date      Time CO(GT)
8148  13/02/2005  06.00.00    2,6


            Date      Time CO(GT)
8149  13/02/2005  07.00.00    2,6


            Date      Time CO(GT)
8150  13/02/2005  08.00.00    2,8


            Date      Time CO(GT)
8151  13/02/2005  09.00.00    3,3


            Date      Time CO(GT)
8152  13/02/2005  10.00.00    3,2


            Date      Time CO(GT)
8153  13/02/2005  11.00.00    3,3


            Date      Time CO(GT)
8154  13/02/2005  12.00.00    1,5


            Date      Time CO(GT)
8155  13/02/2005  13.00.00    1,2


            Date      Time CO(GT)
8156  13/02/2005  14.00.00    1,1


            Date      Time CO(GT)
8157  13/02/2005  15.00.00    1,7


            Date      Time CO(GT)
8158  13/02/2005  16.00.00    1,0


            Date      Time CO(GT)
8159  13/02/2005  17.00.00    1,0


            Date      Time CO(GT)
8160  13/02/2005  18.00.00    2,6


            Date      Time CO(GT)
8161  13/02/2005  19.00.00    2,5


            Date      Time CO(GT)
8162  13/02/2005  20.00.00    2,1


            Date      Time CO(GT)
8163  13/02/2005  21.00.00    1,0


            Date      Time CO(GT)
8164  13/02/2005  22.00.00    1,3


            Date      Time CO(GT)
8165  13/02/2005  23.00.00    1,5


          Date      Time CO(GT)
54  13/03/2004  00.00.00    2,7


          Date      Time CO(GT)
55  13/03/2004  01.00.00    1,9


          Date      Time CO(GT)
56  13/03/2004  02.00.00    1,6


          Date      Time CO(GT)
57  13/03/2004  03.00.00    1,7


          Date      Time CO(GT)
58  13/03/2004  04.00.00   -200


          Date      Time CO(GT)
59  13/03/2004  05.00.00      1


          Date      Time CO(GT)
60  13/03/2004  06.00.00    1,2


          Date      Time CO(GT)
61  13/03/2004  07.00.00    1,5


          Date      Time CO(GT)
62  13/03/2004  08.00.00    2,7


          Date      Time CO(GT)
63  13/03/2004  09.00.00    3,7


          Date      Time CO(GT)
64  13/03/2004  10.00.00    3,2


          Date      Time CO(GT)
65  13/03/2004  11.00.00    4,1


          Date      Time CO(GT)

799  13/04/2004  01.00.00    0,5


           Date      Time CO(GT)
800  13/04/2004  02.00.00    0,3


           Date      Time CO(GT)
801  13/04/2004  03.00.00    0,4


           Date      Time CO(GT)
802  13/04/2004  04.00.00    0,3


           Date      Time CO(GT)
803  13/04/2004  05.00.00    0,7


           Date      Time CO(GT)
804  13/04/2004  06.00.00    1,6


           Date      Time CO(GT)
805  13/04/2004  07.00.00    3,9


           Date      Time CO(GT)
806  13/04/2004  08.00.00    4,5


           Date      Time CO(GT)
807  13/04/2004  09.00.00    2,7


           Date      Time CO(GT)
808  13/04/2004  10.00.00    1,6


           Date      Time CO(GT)
809  13/04/2004  11.00.00    1,6


           Date      Time CO(GT)
810  13/04/2004  12.00.00    1,6


           Date      Time CO(GT)
811  13/04/2004  13.00.00    1,5


           Date      Time CO(GT)
812  13/04/2004  14.00.00    1,8


           Date      Time CO(GT)
813  13/04/2004  15.00.00    2,1


           Date      Time CO(GT)
814  13/04/2004  16.00.00    1,7


           Date      Time CO(GT)
815  13/04/2004  17.00.00      3


           Date      Time CO(GT)
816  13/04/2004  18.00.00    4,6


           Date      Time CO(GT)
817  13/04/2004  19.00.00      5


           Date      Time CO(GT)
818  13/04/2004  20.00.00    3,5


           Date      Time CO(GT)
819  13/04/2004  21.00.00    2,1


           Date      Time CO(GT)
820  13/04/2004  22.00.00    2,1


           Date      Time CO(GT)
821  13/04/2004  23.00.00    1,5


            Date      Time CO(GT)
1518  13/05/2004  00.00.00    1,6


            Date      Time CO(GT)
1519  13/05/2004  01.00.00    1,2


            Date      Time CO(GT)
1520  13/05/2004  02.00.00    0,6


            Date      Time CO(GT)
1521  13/05/2004  03.00.00    0,4


            Date      Time CO(GT)
1522  13/05/2004  04.00.00   -200


            Date      Time CO(GT)
1523  13/05/2004  05.00.00    0,4


            Date      Time CO(GT)
1524  13/05/2004  06.00.00      1


            Date      Time CO(GT)
1525  13/05/2004  07.00.00      2


            Date      Time CO(GT)
1526  13/05/2004  08.00.00    3,6


            Date      Time CO(GT)
1527  13/05/2004  09.00.00    2,4


            Date      Time CO(GT)
1528  13/05/2004  10.00.00    2,4


            Date      Time CO(GT)
1529  13/05/2004  11.00.00    1,6


            Date      Time CO(GT)
1530  13/05/2004  12.00.00    1,9


            Date      Time CO(GT)
1531  13/05/2004  13.00.00    2,4


            Date      Time CO(GT)
1532  13/05/2004  14.00.00    1,7


            Date      Time CO(GT)
1533  13/05/2004  15.00.00    2,1


            Date      Time CO(GT)
1534  13/05/2004  16.00.00    3,1


            Date      Time CO(GT)
1535  13/05/2004  17.00.00    4,6


            Date      Time CO(GT)
1536  13/05/2004  18.00.00    4,5


            Date      Time CO(GT)
1537  13/05/2004  19.00.00    3,9


            Date      Time CO(GT)
1538  13/05/2004  20.00.00    4,6


            Date      Time CO(GT)
1539  13/05/2004  21.00.00    3,3


            Date      Time CO(GT)
1540  13/05/2004  22.00.00    2,7


            Date      Time CO(GT)
1541  13/05/2004  23.00.00    3,3


            Date      Time CO(GT)
2262  13/06/2004  00.00.00      2


            Date      Time CO(GT)
2263  13/06/2004  01.00.00      1


            Date      Time CO(GT)
2264  13/06/2004  02.00.00    0,6


            Date      Time CO(GT)
2265  13/06/2004  03.00.00    0,6


            Date      Time CO(GT)
2266  13/06/2004  04.00.00    0,5


            Date      Time CO(GT)
2267  13/06/2004  05.00.00    0,4


            Date      Time CO(GT)
2268  13/06/2004  06.00.00    0,4


            Date      Time CO(GT)
2269  13/06/2004  07.00.00    0,4


            Date      Time CO(GT)
2270  13/06/2004  08.00.00    0,4


            Date      Time CO(GT)
2271  13/06/2004  09.00.00    0,5


            Date      Time CO(GT)
2272  13/06/2004  10.00.00    0,6


            Date      Time CO(GT)
2273  13/06/2004  11.00.00    0,7


            Date      Time CO(GT)
2274  13/06/2004  12.00.00    0,7


            Date      Time CO(GT)
2275  13/06/2004  13.00.00    0,6


            Date      Time CO(GT)
2276  13/06/2004  14.00.00    0,5


            Date      Time CO(GT)
2277  13/06/2004  15.00.00    0,6


            Date      Time CO(GT)
2278  13/06/2004  16.00.00    0,8


            Date      Time CO(GT)
2279  13/06/2004  17.00.00    0,8


            Date      Time CO(GT)
2280  13/06/2004  18.00.00      1


            Date      Time CO(GT)
2281  13/06/2004  19.00.00      1


            Date      Time CO(GT)
2282  13/06/2004  20.00.00      1


            Date      Time CO(GT)
2283  13/06/2004  21.00.00    0,9


            Date      Time CO(GT)
2284  13/06/2004  22.00.00    0,7


            Date      Time CO(GT)
2285  13/06/2004  23.00.00    0,8


            Date      Time CO(GT)
2982  13/07/2004  00.00.00    1,5


            Date      Time CO(GT)
2983  13/07/2004  01.00.00      1


            Date      Time CO(GT)
2984  13/07/2004  02.00.00    0,5


            Date      Time CO(GT)
2985  13/07/2004  03.00.00    0,4


            Date      Time CO(GT)
2986  13/07/2004  04.00.00    0,6


            Date      Time CO(GT)
2987  13/07/2004  05.00.00    0,7


            Date      Time CO(GT)
2988  13/07/2004  06.00.00    1,3


            Date      Time CO(GT)
2989  13/07/2004  07.00.00      4


            Date      Time CO(GT)
2990  13/07/2004  08.00.00      5


            Date      Time CO(GT)
2991  13/07/2004  09.00.00    3,6


            Date      Time CO(GT)
2992  13/07/2004  10.00.00    2,8


            Date      Time CO(GT)
2993  13/07/2004  11.00.00    2,6


            Date      Time CO(GT)
2994  13/07/2004  12.00.00    2,7


            Date      Time CO(GT)
2995  13/07/2004  13.00.00    2,3


            Date      Time CO(GT)
2996  13/07/2004  14.00.00      2


            Date      Time CO(GT)
2997  13/07/2004  15.00.00    1,3


            Date      Time CO(GT)
2998  13/07/2004  16.00.00    1,7


            Date      Time CO(GT)
2999  13/07/2004  17.00.00    2,8


            Date      Time CO(GT)
3000  13/07/2004  18.00.00    3,8


            Date      Time CO(GT)
3001  13/07/2004  19.00.00    4,9


            Date      Time CO(GT)
3002  13/07/2004  20.00.00    4,3


            Date      Time CO(GT)
3003  13/07/2004  21.00.00    2,6


            Date      Time CO(GT)
3004  13/07/2004  22.00.00    2,4


            Date      Time CO(GT)
3005  13/07/2004  23.00.00    1,9


            Date      Time CO(GT)
3726  13/08/2004  00.00.00    1,4


            Date      Time CO(GT)
3727  13/08/2004  01.00.00    1,1


            Date      Time CO(GT)
3728  13/08/2004  02.00.00    0,7


            Date      Time CO(GT)
3729  13/08/2004  03.00.00    0,4


            Date      Time CO(GT)
3730  13/08/2004  04.00.00    0,5


            Date      Time CO(GT)
3731  13/08/2004  05.00.00    0,5


            Date      Time CO(GT)
3732  13/08/2004  06.00.00    0,8


            Date      Time CO(GT)
3733  13/08/2004  07.00.00    1,6


            Date      Time CO(GT)
3734  13/08/2004  08.00.00    1,6


            Date      Time CO(GT)
3735  13/08/2004  09.00.00    1,4


            Date      Time CO(GT)
3736  13/08/2004  10.00.00    1,5


            Date      Time CO(GT)
3737  13/08/2004  11.00.00    1,2


            Date      Time CO(GT)
3738  13/08/2004  12.00.00    1,1


            Date      Time CO(GT)
3739  13/08/2004  13.00.00    0,8


            Date      Time CO(GT)
3740  13/08/2004  14.00.00    0,7


            Date      Time CO(GT)
3741  13/08/2004  15.00.00    0,7


            Date      Time CO(GT)
3742  13/08/2004  16.00.00    0,7


            Date      Time CO(GT)
3743  13/08/2004  17.00.00      1


            Date      Time CO(GT)
3744  13/08/2004  18.00.00      1


            Date      Time CO(GT)
3745  13/08/2004  19.00.00    1,2


            Date      Time CO(GT)
3746  13/08/2004  20.00.00    1,1


            Date      Time CO(GT)
3747  13/08/2004  21.00.00      1


            Date      Time CO(GT)
3748  13/08/2004  22.00.00    1,2


            Date      Time CO(GT)
3749  13/08/2004  23.00.00    1,4


            Date      Time CO(GT)
4470  13/09/2004  00.00.00   -200


            Date      Time CO(GT)
4471  13/09/2004  01.00.00   -200


            Date      Time CO(GT)
4472  13/09/2004  02.00.00   -200


            Date      Time CO(GT)
4473  13/09/2004  03.00.00   -200


            Date      Time CO(GT)
4474  13/09/2004  04.00.00   -200


            Date      Time CO(GT)
4475  13/09/2004  05.00.00   -200


            Date      Time CO(GT)
4476  13/09/2004  06.00.00   -200


            Date      Time CO(GT)
4477  13/09/2004  07.00.00   -200


            Date      Time CO(GT)
4478  13/09/2004  08.00.00   -200


            Date      Time CO(GT)
4479  13/09/2004  09.00.00   -200


            Date      Time CO(GT)
4480  13/09/2004  10.00.00    3,1


            Date      Time CO(GT)
4481  13/09/2004  11.00.00    2,9


            Date      Time CO(GT)
4482  13/09/2004  12.00.00      3


            Date      Time CO(GT)
4483  13/09/2004  13.00.00      3


            Date      Time CO(GT)
4484  13/09/2004  14.00.00    2,2


            Date      Time CO(GT)
4485  13/09/2004  15.00.00      2


            Date      Time CO(GT)
4486  13/09/2004  16.00.00    2,3


            Date      Time CO(GT)
4487  13/09/2004  17.00.00    3,1


            Date      Time CO(GT)
4488  13/09/2004  18.00.00   -200


            Date      Time CO(GT)
4489  13/09/2004  19.00.00    6,2


            Date      Time CO(GT)
4490  13/09/2004  20.00.00    4,7


            Date      Time CO(GT)
4491  13/09/2004  21.00.00      3


            Date      Time CO(GT)
4492  13/09/2004  22.00.00    2,1


            Date      Time CO(GT)
4493  13/09/2004  23.00.00      1


            Date      Time CO(GT)
5190  13/10/2004  00.00.00   -200


            Date      Time CO(GT)
5191  13/10/2004  01.00.00   -200


            Date      Time CO(GT)
5192  13/10/2004  02.00.00   -200


            Date      Time CO(GT)
5193  13/10/2004  03.00.00   -200


            Date      Time CO(GT)
5194  13/10/2004  04.00.00   -200


            Date      Time CO(GT)
5195  13/10/2004  05.00.00   -200


            Date      Time CO(GT)
5196  13/10/2004  06.00.00   -200


            Date      Time CO(GT)
5197  13/10/2004  07.00.00   -200


            Date      Time CO(GT)
5198  13/10/2004  08.00.00   -200


            Date      Time CO(GT)
5199  13/10/2004  09.00.00    1,5


            Date      Time CO(GT)
5200  13/10/2004  10.00.00    1,2


            Date      Time CO(GT)
5201  13/10/2004  11.00.00   -200


            Date      Time CO(GT)
5202  13/10/2004  12.00.00   -200


            Date      Time CO(GT)
5203  13/10/2004  13.00.00   -200


            Date      Time CO(GT)
5204  13/10/2004  14.00.00   -200


            Date      Time CO(GT)
5205  13/10/2004  15.00.00   -200


            Date      Time CO(GT)
5206  13/10/2004  16.00.00   -200


            Date      Time CO(GT)
5207  13/10/2004  17.00.00   -200


            Date      Time CO(GT)
5208  13/10/2004  18.00.00   -200


            Date      Time CO(GT)
5209  13/10/2004  19.00.00   -200


            Date      Time CO(GT)
5210  13/10/2004  20.00.00   -200


            Date      Time CO(GT)
5211  13/10/2004  21.00.00   -200


            Date      Time CO(GT)
5212  13/10/2004  22.00.00   -200


            Date      Time CO(GT)
5213  13/10/2004  23.00.00   -200


            Date      Time CO(GT)
5934  13/11/2004  00.00.00    1,6


            Date      Time CO(GT)
5935  13/11/2004  01.00.00    1,5


            Date      Time CO(GT)
5936  13/11/2004  02.00.00      1


            Date      Time CO(GT)
5937  13/11/2004  03.00.00    0,8


            Date      Time CO(GT)
5938  13/11/2004  04.00.00    1,3


            Date      Time CO(GT)
5939  13/11/2004  05.00.00      1


            Date      Time CO(GT)
5940  13/11/2004  06.00.00      1


            Date      Time CO(GT)
5941  13/11/2004  07.00.00    0,9


            Date      Time CO(GT)
5942  13/11/2004  08.00.00    2,1


            Date      Time CO(GT)
5943  13/11/2004  09.00.00    2,1


            Date      Time CO(GT)
5944  13/11/2004  10.00.00    3,1


            Date      Time CO(GT)
5945  13/11/2004  11.00.00    3,8


            Date      Time CO(GT)
5946  13/11/2004  12.00.00    3,7


            Date      Time CO(GT)
5947  13/11/2004  13.00.00    3,6


            Date      Time CO(GT)
5948  13/11/2004  14.00.00    3,3


            Date      Time CO(GT)
5949  13/11/2004  15.00.00    2,1


            Date      Time CO(GT)
5950  13/11/2004  16.00.00    2,3


            Date      Time CO(GT)
5951  13/11/2004  17.00.00    2,1


            Date      Time CO(GT)
5952  13/11/2004  18.00.00    1,9


            Date      Time CO(GT)
5953  13/11/2004  19.00.00    1,9


            Date      Time CO(GT)
5954  13/11/2004  20.00.00    2,3


            Date      Time CO(GT)
5955  13/11/2004  21.00.00    1,7


            Date      Time CO(GT)
5956  13/11/2004  22.00.00    0,8


            Date      Time CO(GT)
5957  13/11/2004  23.00.00    0,8


            Date      Time CO(GT)
6654  13/12/2004  00.00.00    2,5


            Date      Time CO(GT)
6655  13/12/2004  01.00.00      2


            Date      Time CO(GT)
6656  13/12/2004  02.00.00    1,8


            Date      Time CO(GT)
6657  13/12/2004  03.00.00    1,3


            Date      Time CO(GT)
6658  13/12/2004  04.00.00   -200


            Date      Time CO(GT)
6659  13/12/2004  05.00.00    0,7


            Date      Time CO(GT)
6660  13/12/2004  06.00.00    0,9


            Date      Time CO(GT)
6661  13/12/2004  07.00.00    1,5


            Date      Time CO(GT)
6662  13/12/2004  08.00.00    3,4


            Date      Time CO(GT)
6663  13/12/2004  09.00.00    3,4


            Date      Time CO(GT)
6664  13/12/2004  10.00.00    3,2


            Date      Time CO(GT)
6665  13/12/2004  11.00.00    4,8


            Date      Time CO(GT)
6666  13/12/2004  12.00.00    3,5


            Date      Time CO(GT)
6667  13/12/2004  13.00.00    4,1


            Date      Time CO(GT)
6668  13/12/2004  14.00.00    4,8


            Date      Time CO(GT)
6669  13/12/2004  15.00.00    4,4


            Date      Time CO(GT)
6670  13/12/2004  16.00.00    4,5


            Date      Time CO(GT)
6671  13/12/2004  17.00.00    5,9


            Date      Time CO(GT)
6672  13/12/2004  18.00.00    9,9


            Date      Time CO(GT)
6673  13/12/2004  19.00.00    6,9


            Date      Time CO(GT)
6674  13/12/2004  20.00.00    4,3


            Date      Time CO(GT)
6675  13/12/2004  21.00.00    2,9


            Date      Time CO(GT)
6676  13/12/2004  22.00.00      2


            Date      Time CO(GT)
6677  13/12/2004  23.00.00    1,7


            Date      Time CO(GT)
7422  14/01/2005  00.00.00    2,7


            Date      Time CO(GT)
7423  14/01/2005  01.00.00    1,8


            Date      Time CO(GT)
7424  14/01/2005  02.00.00    1,3


            Date      Time CO(GT)
7425  14/01/2005  03.00.00    1,0


            Date      Time CO(GT)
7426  14/01/2005  04.00.00    1,1


            Date      Time CO(GT)
7427  14/01/2005  05.00.00    1,6


            Date      Time CO(GT)
7428  14/01/2005  06.00.00    1,3


            Date      Time CO(GT)
7429  14/01/2005  07.00.00    1,4


            Date      Time CO(GT)
7430  14/01/2005  08.00.00    5,0


            Date      Time CO(GT)
7431  14/01/2005  09.00.00    4,3


            Date      Time CO(GT)
7432  14/01/2005  10.00.00    4,1


            Date      Time CO(GT)
7433  14/01/2005  11.00.00    3,8


            Date      Time CO(GT)
7434  14/01/2005  12.00.00    3,1


            Date      Time CO(GT)
7435  14/01/2005  13.00.00    3,3


            Date      Time CO(GT)
7436  14/01/2005  14.00.00    3,1


            Date      Time CO(GT)
7437  14/01/2005  15.00.00    2,7


            Date      Time CO(GT)
7438  14/01/2005  16.00.00    3,4


            Date      Time CO(GT)
7439  14/01/2005  17.00.00    5,0


            Date      Time CO(GT)
7440  14/01/2005  18.00.00    5,7


            Date      Time CO(GT)
7441  14/01/2005  19.00.00    5,8


            Date      Time CO(GT)
7442  14/01/2005  20.00.00    5,8


            Date      Time CO(GT)
7443  14/01/2005  21.00.00    5,0


            Date      Time CO(GT)
7444  14/01/2005  22.00.00    1,7


            Date      Time CO(GT)
7445  14/01/2005  23.00.00    1,6


            Date      Time CO(GT)
8166  14/02/2005  00.00.00    1,4


            Date      Time CO(GT)
8167  14/02/2005  01.00.00    1,6


            Date      Time CO(GT)
8168  14/02/2005  02.00.00    1,1


            Date      Time CO(GT)
8169  14/02/2005  03.00.00    0,7


            Date      Time CO(GT)
8170  14/02/2005  04.00.00    0,5


            Date      Time CO(GT)
8171  14/02/2005  05.00.00    0,4


            Date      Time CO(GT)
8172  14/02/2005  06.00.00    0,7


            Date      Time CO(GT)
8173  14/02/2005  07.00.00    0,7


            Date      Time CO(GT)
8174  14/02/2005  08.00.00    2,3


            Date      Time CO(GT)
8175  14/02/2005  09.00.00    2,5


            Date      Time CO(GT)
8176  14/02/2005  10.00.00    1,7


            Date      Time CO(GT)
8177  14/02/2005  11.00.00    2,5


            Date      Time CO(GT)
8178  14/02/2005  12.00.00    2,1


            Date      Time CO(GT)
8179  14/02/2005  13.00.00    1,1


            Date      Time CO(GT)
8180  14/02/2005  14.00.00    1,3


            Date      Time CO(GT)
8181  14/02/2005  15.00.00    1,1


            Date      Time CO(GT)
8182  14/02/2005  16.00.00    1,1


            Date      Time CO(GT)
8183  14/02/2005  17.00.00    1,4


            Date      Time CO(GT)
8184  14/02/2005  18.00.00    2,3


            Date      Time CO(GT)
8185  14/02/2005  19.00.00    4,2


            Date      Time CO(GT)
8186  14/02/2005  20.00.00    3,5


            Date      Time CO(GT)
8187  14/02/2005  21.00.00    3,0


            Date      Time CO(GT)
8188  14/02/2005  22.00.00    1,7


            Date      Time CO(GT)
8189  14/02/2005  23.00.00    1,6


          Date      Time CO(GT)
78  14/03/2004  00.00.00    2,9


          Date      Time CO(GT)
79  14/03/2004  01.00.00    2,8


          Date      Time CO(GT)
80  14/03/2004  02.00.00    2,5


          Date      Time CO(GT)
81  14/03/2004  03.00.00    2,4


          Date      Time CO(GT)
82  14/03/2004  04.00.00   -200


          Date      Time CO(GT)
83  14/03/2004  05.00.00    1,2


          Date      Time CO(GT)
84  14/03/2004  06.00.00      1


          Date      Time CO(GT)
85  14/03/2004  07.00.00    0,9


          Date      Time CO(GT)
86  14/03/2004  08.00.00    1,4


          Date      Time CO(GT)
87  14/03/2004  09.00.00    1,6


          Date      Time CO(GT)
88  14/03/2004  10.00.00    2,2


          Date      Time CO(GT)
89  14/03/2004  11.00.00    2,8


          Date      Time CO(GT)
90  14/03/2004  12.00.00    2,8


          Date      Time CO(GT)
91  14/03/2004  13.00.00      2


          Date      Time CO(GT)
92  14/03/2004  14.00.00    1,8


          Date      Time CO(GT)
93  14/03/2004  15.00.00    1,9


          Date      Time CO(GT)
94  14/03/2004  16.00.00      3


          Date      Time CO(GT)
95  14/03/2004  17.00.00    2,9


          Date      Time CO(GT)
96  14/03/2004  18.00.00    2,5


          Date      Time CO(GT)
97  14/03/2004  19.00.00    4,6


          Date      Time CO(GT)
98  14/03/2004  20.00.00    5,9


          Date      Time CO(GT)
99  14/03/2004  21.00.00    3,4


           Date      Time CO(GT)
100  14/03/2004  22.00.00    2,1


           Date      Time CO(GT)
101  14/03/2004  23.00.00    2,2


            Date      Time CO(GT)
8838  14/03/2005  00.00.00    0,4



            Date      Time CO(GT)
4500  14/09/2004  06.00.00   -200


            Date      Time CO(GT)
4501  14/09/2004  07.00.00   -200


            Date      Time CO(GT)
4502  14/09/2004  08.00.00   -200


            Date      Time CO(GT)
4503  14/09/2004  09.00.00   -200


            Date      Time CO(GT)
4504  14/09/2004  10.00.00   -200


            Date      Time CO(GT)
4505  14/09/2004  11.00.00   -200


            Date      Time CO(GT)
4506  14/09/2004  12.00.00   -200


            Date      Time CO(GT)
4507  14/09/2004  13.00.00   -200


            Date      Time CO(GT)
4508  14/09/2004  14.00.00   -200


            Date      Time CO(GT)
4509  14/09/2004  15.00.00   -200


            Date      Time CO(GT)
4510  14/09/2004  16.00.00   -200


            Date      Time CO(GT)
4511  14/09/2004  17.00.00   -200


            Date      Time CO(GT)
4512  14/09/2004  18.00.00   -200


            Date      Time CO(GT)
4513  14/09/2004  19.00.00   -200


            Date      Time CO(GT)
4514  14/09/2004  20.00.00   -200


            Date      Time CO(GT)
4515  14/09/2004  21.00.00   -200


            Date      Time CO(GT)
4516  14/09/2004  22.00.00   -200


            Date      Time CO(GT)
4517  14/09/2004  23.00.00   -200


            Date      Time CO(GT)
5214  14/10/2004  00.00.00   -200


            Date      Time CO(GT)
5215  14/10/2004  01.00.00   -200


            Date      Time CO(GT)
5216  14/10/2004  02.00.00   -200


            Date      Time CO(GT)
5217  14/10/2004  03.00.00   -200


            Date      Time CO(GT)
5218  14/10/2004  04.00.00   -200


            Date      Time CO(GT)
5219  14/10/2004  05.00.00   -200


            Date      Time CO(GT)
5220  14/10/2004  06.00.00   -200


            Date      Time CO(GT)
5221  14/10/2004  07.00.00   -200


            Date      Time CO(GT)
5222  14/10/2004  08.00.00   -200


            Date      Time CO(GT)
5223  14/10/2004  09.00.00   -200


            Date      Time CO(GT)
5224  14/10/2004  10.00.00   -200


            Date      Time CO(GT)
5225  14/10/2004  11.00.00   -200


            Date      Time CO(GT)
5226  14/10/2004  12.00.00   -200


            Date      Time CO(GT)
5227  14/10/2004  13.00.00   -200


            Date      Time CO(GT)
5228  14/10/2004  14.00.00   -200


            Date      Time CO(GT)
5229  14/10/2004  15.00.00   -200


            Date      Time CO(GT)
5230  14/10/2004  16.00.00   -200


            Date      Time CO(GT)
5231  14/10/2004  17.00.00   -200


            Date      Time CO(GT)
5232  14/10/2004  18.00.00   -200


            Date      Time CO(GT)
5233  14/10/2004  19.00.00   -200


            Date      Time CO(GT)
5234  14/10/2004  20.00.00   -200


            Date      Time CO(GT)
5235  14/10/2004  21.00.00   -200


            Date      Time CO(GT)
5236  14/10/2004  22.00.00   -200


            Date      Time CO(GT)
5237  14/10/2004  23.00.00   -200


            Date      Time CO(GT)
5958  14/11/2004  00.00.00    0,8


            Date      Time CO(GT)
5959  14/11/2004  01.00.00    0,8


            Date      Time CO(GT)
5960  14/11/2004  02.00.00    0,6


            Date      Time CO(GT)
5961  14/11/2004  03.00.00    0,4


            Date      Time CO(GT)
5962  14/11/2004  04.00.00    0,3


            Date      Time CO(GT)
5963  14/11/2004  05.00.00    0,3


            Date      Time CO(GT)
5964  14/11/2004  06.00.00    0,2


            Date      Time CO(GT)
5965  14/11/2004  07.00.00    0,2


            Date      Time CO(GT)
5966  14/11/2004  08.00.00    0,3


            Date      Time CO(GT)
5967  14/11/2004  09.00.00    0,3


            Date      Time CO(GT)
5968  14/11/2004  10.00.00    0,4


            Date      Time CO(GT)
5969  14/11/2004  11.00.00    0,4


            Date      Time CO(GT)
5970  14/11/2004  12.00.00    0,6


            Date      Time CO(GT)
5971  14/11/2004  13.00.00    0,6


            Date      Time CO(GT)
5972  14/11/2004  14.00.00    0,6


            Date      Time CO(GT)
5973  14/11/2004  15.00.00    0,5


            Date      Time CO(GT)
5974  14/11/2004  16.00.00    0,6


            Date      Time CO(GT)
5975  14/11/2004  17.00.00    0,7


            Date      Time CO(GT)
5976  14/11/2004  18.00.00    1,4


            Date      Time CO(GT)
5977  14/11/2004  19.00.00    1,2


            Date      Time CO(GT)
5978  14/11/2004  20.00.00    1,1


            Date      Time CO(GT)
5979  14/11/2004  21.00.00      1


            Date      Time CO(GT)
5980  14/11/2004  22.00.00    0,6


            Date      Time CO(GT)
5981  14/11/2004  23.00.00    0,8


            Date      Time CO(GT)
6678  14/12/2004  00.00.00    1,9


            Date      Time CO(GT)
6679  14/12/2004  01.00.00      2


            Date      Time CO(GT)
6680  14/12/2004  02.00.00    1,9


            Date      Time CO(GT)
6681  14/12/2004  03.00.00      1


            Date      Time CO(GT)
6682  14/12/2004  04.00.00    0,8


            Date      Time CO(GT)
6683  14/12/2004  05.00.00    0,7


            Date      Time CO(GT)
6684  14/12/2004  06.00.00    1,1


            Date      Time CO(GT)
6685  14/12/2004  07.00.00    1,7


            Date      Time CO(GT)
6686  14/12/2004  08.00.00    3,1


            Date      Time CO(GT)
6687  14/12/2004  09.00.00    4,4


            Date      Time CO(GT)
6688  14/12/2004  10.00.00    5,6


            Date      Time CO(GT)
6689  14/12/2004  11.00.00    4,4


            Date      Time CO(GT)
6690  14/12/2004  12.00.00    4,4


            Date      Time CO(GT)
6691  14/12/2004  13.00.00    4,7


            Date      Time CO(GT)
6692  14/12/2004  14.00.00    4,2


            Date      Time CO(GT)
6693  14/12/2004  15.00.00    3,3


            Date      Time CO(GT)
6694  14/12/2004  16.00.00    5,1


            Date      Time CO(GT)
6695  14/12/2004  17.00.00    7,4


            Date      Time CO(GT)
6696  14/12/2004  18.00.00    9,3


            Date      Time CO(GT)
6697  14/12/2004  19.00.00    7,4


            Date      Time CO(GT)
6698  14/12/2004  20.00.00    5,3


            Date      Time CO(GT)
6699  14/12/2004  21.00.00    4,1


            Date      Time CO(GT)
6700  14/12/2004  22.00.00    2,5


            Date      Time CO(GT)
6701  14/12/2004  23.00.00    2,1


            Date      Time CO(GT)
7446  15/01/2005  00.00.00    2,3


            Date      Time CO(GT)
7447  15/01/2005  01.00.00    2,4


            Date      Time CO(GT)
7448  15/01/2005  02.00.00    2,0


            Date      Time CO(GT)
7449  15/01/2005  03.00.00    1,6


            Date      Time CO(GT)
7450  15/01/2005  04.00.00   -200


            Date      Time CO(GT)
7451  15/01/2005  05.00.00    1,1


            Date      Time CO(GT)
7452  15/01/2005  06.00.00    1,0


            Date      Time CO(GT)
7453  15/01/2005  07.00.00    1,3


            Date      Time CO(GT)
7454  15/01/2005  08.00.00    1,9


            Date      Time CO(GT)
7455  15/01/2005  09.00.00    2,6


            Date      Time CO(GT)
7456  15/01/2005  10.00.00    2,7


            Date      Time CO(GT)
7457  15/01/2005  11.00.00    2,4


            Date      Time CO(GT)
7458  15/01/2005  12.00.00    2,7


            Date      Time CO(GT)
7459  15/01/2005  13.00.00    3,1


            Date      Time CO(GT)
7460  15/01/2005  14.00.00    4,4


            Date      Time CO(GT)
7461  15/01/2005  15.00.00    3,2


            Date      Time CO(GT)
7462  15/01/2005  16.00.00    2,9


            Date      Time CO(GT)
7463  15/01/2005  17.00.00    3,0


            Date      Time CO(GT)
7464  15/01/2005  18.00.00    3,7


            Date      Time CO(GT)
7465  15/01/2005  19.00.00    5,2


            Date      Time CO(GT)
7466  15/01/2005  20.00.00    3,3


            Date      Time CO(GT)
7467  15/01/2005  21.00.00    3,6


            Date      Time CO(GT)
7468  15/01/2005  22.00.00    2,3


            Date      Time CO(GT)
7469  15/01/2005  23.00.00    3,0


            Date      Time CO(GT)
8190  15/02/2005  00.00.00    1,0


            Date      Time CO(GT)
8191  15/02/2005  01.00.00    0,8


            Date      Time CO(GT)
8192  15/02/2005  02.00.00    0,6


            Date      Time CO(GT)
8193  15/02/2005  03.00.00    0,4


            Date      Time  CO(GT)
8194  15/02/2005  04.00.00  -200,0


            Date      Time CO(GT)
8195  15/02/2005  05.00.00    0,3


            Date      Time CO(GT)
8196  15/02/2005  06.00.00    0,4


            Date      Time CO(GT)
8197  15/02/2005  07.00.00    0,5


            Date      Time CO(GT)
8198  15/02/2005  08.00.00    1,5


            Date      Time CO(GT)
8199  15/02/2005  09.00.00    2,1


            Date      Time CO(GT)
8200  15/02/2005  10.00.00    1,6


            Date      Time CO(GT)
8201  15/02/2005  11.00.00    1,0


            Date      Time CO(GT)
8202  15/02/2005  12.00.00    1,2


            Date      Time CO(GT)
8203  15/02/2005  13.00.00    1,3


            Date      Time CO(GT)
8204  15/02/2005  14.00.00    1,4


            Date      Time CO(GT)
8205  15/02/2005  15.00.00    1,0


            Date      Time CO(GT)
8206  15/02/2005  16.00.00    1,4


            Date      Time CO(GT)
8207  15/02/2005  17.00.00    1,5


            Date      Time CO(GT)
8208  15/02/2005  18.00.00    2,4


            Date      Time CO(GT)
8209  15/02/2005  19.00.00    2,8


            Date      Time CO(GT)
8210  15/02/2005  20.00.00    3,1


            Date      Time CO(GT)
8211  15/02/2005  21.00.00    3,1


            Date      Time CO(GT)
8212  15/02/2005  22.00.00    2,0


            Date      Time CO(GT)
8213  15/02/2005  23.00.00    2,1


           Date      Time CO(GT)
102  15/03/2004  00.00.00    1,8


           Date      Time CO(GT)
103  15/03/2004  01.00.00    1,8


           Date      Time CO(GT)
104  15/03/2004  02.00.00    1,8


           Date      Time CO(GT)
105  15/03/2004  03.00.00    1,1


           Date      Time CO(GT)
106  15/03/2004  04.00.00   -200


           Date      Time CO(GT)
107  15/03/2004  05.00.00      1


           Date      Time CO(GT)
108  15/03/2004  06.00.00    1,4


           Date      Time CO(GT)
109  15/03/2004  07.00.00    2,2


           Date      Time CO(GT)
110  15/03/2004  08.00.00    5,5


           Date      Time CO(GT)
111  15/03/2004  09.00.00    8,1


           Date      Time CO(GT)
112  15/03/2004  10.00.00    5,8


           Date      Time CO(GT)
113  15/03/2004  11.00.00    4,2


           Date      Time CO(GT)
114  15/03/2004  12.00.00    3,1


           Date      Time CO(GT)
115  15/03/2004  13.00.00    2,9


           Date      Time CO(GT)
116  15/03/2004  14.00.00    2,9


           Date      Time CO(GT)
117  15/03/2004  15.00.00    2,5


           Date      Time CO(GT)
118  15/03/2004  16.00.00    2,3


           Date      Time CO(GT)
119  15/03/2004  17.00.00    2,8


           Date      Time CO(GT)
120  15/03/2004  18.00.00    6,1


           Date      Time CO(GT)
121  15/03/2004  19.00.00      8


           Date      Time CO(GT)
122  15/03/2004  20.00.00    6,5


           Date      Time CO(GT)
123  15/03/2004  21.00.00    4,2


           Date      Time CO(GT)
124  15/03/2004  22.00.00    3,2


           Date      Time CO(GT)
125  15/03/2004  23.00.00    1,4


            Date      Time CO(GT)
8862  15/03/2005  00.00.00    1,5


            Date      Time CO(GT)
8863  15/03/2005  01.00.00    0,7


            Date      Time CO(GT)
8864  15/03/2005  02.00.00    0,7


            Date      Time CO(GT)
8865  15/03/2005  03.00.00    0,6


            Date      Time CO(GT)
8866  15/03/2005  04.00.00    0,5


            Date      Time CO(GT)
8867  15/03/2005  05.00.00    0,4


            Date      Time CO(GT)
8868  15/03/2005  06.00.00    0,6


            Date      Time CO(GT)
8869  15/03/2005  07.00.00    0,9


            Date      Time CO(GT)
8870  15/03/2005  08.00.00    2,6


            Date      Time CO(GT)
8871  15/03/2005  09.00.00    3,3


            Date      Time CO(GT)
8872  15/03/2005  10.00.00    4,0


            Date      Time CO(GT)
8873  15/03/2005  11.00.00    3,1


            Date      Time CO(GT)
8874  15/03/2005  12.00.00    2,2


            Date      Time CO(GT)
8875  15/03/2005  13.00.00    2,1


            Date      Time CO(GT)
8876  15/03/2005  14.00.00    2,2


            Date      Time CO(GT)
8877  15/03/2005  15.00.00    1,9


            Date      Time CO(GT)
8878  15/03/2005  16.00.00    2,5


            Date      Time CO(GT)
8879  15/03/2005  17.00.00    2,9


            Date      Time CO(GT)
8880  15/03/2005  18.00.00    3,9


            Date      Time CO(GT)
8881  15/03/2005  19.00.00    6,3


            Date      Time CO(GT)
8882  15/03/2005  20.00.00    7,4


            Date      Time CO(GT)
8883  15/03/2005  21.00.00    5,7


            Date      Time CO(GT)
8884  15/03/2005  22.00.00    2,3


            Date      Time CO(GT)
8885  15/03/2005  23.00.00    1,5


           Date      Time CO(GT)
846  15/04/2004  00.00.00   -200


           Date      Time CO(GT)
847  15/04/2004  01.00.00   -200


           Date      Time CO(GT)
848  15/04/2004  02.00.00   -200


           Date      Time CO(GT)
849  15/04/2004  03.00.00   -200


           Date      Time CO(GT)
850  15/04/2004  04.00.00   -200


           Date      Time CO(GT)
851  15/04/2004  05.00.00   -200


           Date      Time CO(GT)
852  15/04/2004  06.00.00   -200


           Date      Time CO(GT)
853  15/04/2004  07.00.00   -200


           Date      Time CO(GT)
854  15/04/2004  08.00.00   -200


           Date      Time CO(GT)
855  15/04/2004  09.00.00    3,9


           Date      Time CO(GT)
856  15/04/2004  10.00.00    3,8


           Date      Time CO(GT)
857  15/04/2004  11.00.00    3,8


           Date      Time CO(GT)
858  15/04/2004  12.00.00    3,9


           Date      Time CO(GT)
859  15/04/2004  13.00.00    3,5


           Date      Time CO(GT)
860  15/04/2004  14.00.00      4


           Date      Time CO(GT)
861  15/04/2004  15.00.00      3


           Date      Time CO(GT)
862  15/04/2004  16.00.00    3,1


           Date      Time CO(GT)
863  15/04/2004  17.00.00    5,2


           Date      Time CO(GT)
864  15/04/2004  18.00.00    5,9


           Date      Time CO(GT)
865  15/04/2004  19.00.00    7,3


           Date      Time CO(GT)
866  15/04/2004  20.00.00    6,1


           Date      Time CO(GT)
867  15/04/2004  21.00.00    4,6


           Date      Time CO(GT)
868  15/04/2004  22.00.00    2,5


           Date      Time CO(GT)
869  15/04/2004  23.00.00    2,2


            Date      Time CO(GT)
1566  15/05/2004  00.00.00    1,9


            Date      Time CO(GT)
1567  15/05/2004  01.00.00    1,2


            Date      Time CO(GT)
1568  15/05/2004  02.00.00      1


            Date      Time CO(GT)
1569  15/05/2004  03.00.00    1,1


            Date      Time CO(GT)
1570  15/05/2004  04.00.00   -200


            Date      Time CO(GT)
1571  15/05/2004  05.00.00    0,5


            Date      Time CO(GT)
1572  15/05/2004  06.00.00    0,6


            Date      Time CO(GT)
1573  15/05/2004  07.00.00    1,4


            Date      Time CO(GT)
1574  15/05/2004  08.00.00    2,6


            Date      Time CO(GT)
1575  15/05/2004  09.00.00    2,8


            Date      Time CO(GT)
1576  15/05/2004  10.00.00    2,6


            Date      Time CO(GT)
1577  15/05/2004  11.00.00    1,6


            Date      Time CO(GT)
1578  15/05/2004  12.00.00    1,7


            Date      Time CO(GT)
1579  15/05/2004  13.00.00    1,7


            Date      Time CO(GT)
1580  15/05/2004  14.00.00    1,3


            Date      Time CO(GT)
1581  15/05/2004  15.00.00    1,4


            Date      Time CO(GT)
1582  15/05/2004  16.00.00    1,4


            Date      Time CO(GT)
1583  15/05/2004  17.00.00    1,7


            Date      Time CO(GT)
1584  15/05/2004  18.00.00    2,3


            Date      Time CO(GT)
1585  15/05/2004  19.00.00    2,5


            Date      Time CO(GT)
1586  15/05/2004  20.00.00    3,3


            Date      Time CO(GT)
1587  15/05/2004  21.00.00    2,2


            Date      Time CO(GT)
1588  15/05/2004  22.00.00    1,6


            Date      Time CO(GT)
1589  15/05/2004  23.00.00    2,6


            Date      Time CO(GT)
2310  15/06/2004  00.00.00    1,2


            Date      Time CO(GT)
2311  15/06/2004  01.00.00    0,7


            Date      Time CO(GT)
2312  15/06/2004  02.00.00    0,5


            Date      Time CO(GT)
2313  15/06/2004  03.00.00    0,4


            Date      Time CO(GT)
2314  15/06/2004  04.00.00    0,4


            Date      Time CO(GT)
2315  15/06/2004  05.00.00    0,5


            Date      Time CO(GT)
2316  15/06/2004  06.00.00      1


            Date      Time CO(GT)
2317  15/06/2004  07.00.00    4,4


            Date      Time CO(GT)
2318  15/06/2004  08.00.00      4


            Date      Time CO(GT)
2319  15/06/2004  09.00.00    2,4


            Date      Time CO(GT)
2320  15/06/2004  10.00.00    2,1


            Date      Time CO(GT)
2321  15/06/2004  11.00.00    2,7


            Date      Time CO(GT)
2322  15/06/2004  12.00.00    2,8


            Date      Time CO(GT)
2323  15/06/2004  13.00.00    2,3


            Date      Time CO(GT)
2324  15/06/2004  14.00.00      2


            Date      Time CO(GT)
2325  15/06/2004  15.00.00    2,6


            Date      Time CO(GT)
2326  15/06/2004  16.00.00    2,7


            Date      Time CO(GT)
2327  15/06/2004  17.00.00    3,1


            Date      Time CO(GT)
2328  15/06/2004  18.00.00    3,1


            Date      Time CO(GT)
2329  15/06/2004  19.00.00    3,6


            Date      Time CO(GT)
2330  15/06/2004  20.00.00    2,9


            Date      Time CO(GT)
2331  15/06/2004  21.00.00    2,2


            Date      Time CO(GT)
2332  15/06/2004  22.00.00      2


            Date      Time CO(GT)
2333  15/06/2004  23.00.00    2,1


            Date      Time CO(GT)
3030  15/07/2004  00.00.00    2,1


            Date      Time CO(GT)
3031  15/07/2004  01.00.00    1,2


            Date      Time CO(GT)
3032  15/07/2004  02.00.00    0,6


            Date      Time CO(GT)
3033  15/07/2004  03.00.00    0,4


            Date      Time CO(GT)
3034  15/07/2004  04.00.00   -200


            Date      Time CO(GT)
3035  15/07/2004  05.00.00    0,4


            Date      Time CO(GT)
3036  15/07/2004  06.00.00    0,7


            Date      Time CO(GT)
3037  15/07/2004  07.00.00    2,3


            Date      Time CO(GT)
3038  15/07/2004  08.00.00      4


            Date      Time CO(GT)
3039  15/07/2004  09.00.00    2,8


            Date      Time CO(GT)
3040  15/07/2004  10.00.00    1,6


            Date      Time CO(GT)
3041  15/07/2004  11.00.00    1,6


            Date      Time CO(GT)
3042  15/07/2004  12.00.00      2


            Date      Time CO(GT)
3043  15/07/2004  13.00.00      2


            Date      Time CO(GT)
3044  15/07/2004  14.00.00    1,7


            Date      Time CO(GT)
3045  15/07/2004  15.00.00      2


            Date      Time CO(GT)
3046  15/07/2004  16.00.00    2,2


            Date      Time CO(GT)
3047  15/07/2004  17.00.00    3,2


            Date      Time CO(GT)
3048  15/07/2004  18.00.00    3,6


            Date      Time CO(GT)
3049  15/07/2004  19.00.00    3,8


            Date      Time CO(GT)
3050  15/07/2004  20.00.00    4,8


            Date      Time CO(GT)
3051  15/07/2004  21.00.00    2,8


            Date      Time CO(GT)
3052  15/07/2004  22.00.00    2,6


            Date      Time CO(GT)
3053  15/07/2004  23.00.00    1,9


            Date      Time CO(GT)
3774  15/08/2004  00.00.00    0,7


            Date      Time CO(GT)
3775  15/08/2004  01.00.00    0,5


            Date      Time CO(GT)
3776  15/08/2004  02.00.00    0,5


            Date      Time CO(GT)
3777  15/08/2004  03.00.00    0,4


            Date      Time CO(GT)
3778  15/08/2004  04.00.00   -200



            Date      Time CO(GT)
3795  15/08/2004  21.00.00    1,1


            Date      Time CO(GT)
3796  15/08/2004  22.00.00    1,6


            Date      Time CO(GT)
3797  15/08/2004  23.00.00    0,9


            Date      Time CO(GT)
4518  15/09/2004  00.00.00   -200


            Date      Time CO(GT)
4519  15/09/2004  01.00.00   -200


            Date      Time CO(GT)
4520  15/09/2004  02.00.00   -200


            Date      Time CO(GT)
4521  15/09/2004  03.00.00   -200


            Date      Time CO(GT)
4522  15/09/2004  04.00.00   -200


            Date      Time CO(GT)
4523  15/09/2004  05.00.00   -200


            Date      Time CO(GT)
4524  15/09/2004  06.00.00   -200


            Date      Time CO(GT)
4525  15/09/2004  07.00.00   -200


            Date      Time CO(GT)
4526  15/09/2004  08.00.00   -200


            Date      Time CO(GT)
4527  15/09/2004  09.00.00   -200


            Date      Time CO(GT)
4528  15/09/2004  10.00.00   -200


            Date      Time CO(GT)
4529  15/09/2004  11.00.00   -200


            Date      Time CO(GT)
4530  15/09/2004  12.00.00   -200


            Date      Time CO(GT)
4531  15/09/2004  13.00.00   -200


            Date      Time CO(GT)
4532  15/09/2004  14.00.00   -200


            Date      Time CO(GT)
4533  15/09/2004  15.00.00   -200


            Date      Time CO(GT)
4534  15/09/2004  16.00.00   -200


            Date      Time CO(GT)
4535  15/09/2004  17.00.00    3,3


            Date      Time CO(GT)
4536  15/09/2004  18.00.00    6,1


            Date      Time CO(GT)
4537  15/09/2004  19.00.00    6,7


            Date      Time CO(GT)
4538  15/09/2004  20.00.00    4,4


            Date      Time CO(GT)
4539  15/09/2004  21.00.00    1,9


            Date      Time CO(GT)
4540  15/09/2004  22.00.00    1,8


            Date      Time CO(GT)
4541  15/09/2004  23.00.00    1,5


            Date      Time CO(GT)
5238  15/10/2004  00.00.00   -200


            Date      Time CO(GT)
5239  15/10/2004  01.00.00   -200


            Date      Time CO(GT)
5240  15/10/2004  02.00.00   -200


            Date      Time CO(GT)
5241  15/10/2004  03.00.00   -200


            Date      Time CO(GT)
5242  15/10/2004  04.00.00   -200


            Date      Time CO(GT)
5243  15/10/2004  05.00.00   -200


            Date      Time CO(GT)
5244  15/10/2004  06.00.00   -200


            Date      Time CO(GT)
5245  15/10/2004  07.00.00   -200


            Date      Time CO(GT)
5246  15/10/2004  08.00.00   -200


            Date      Time CO(GT)
5247  15/10/2004  09.00.00   -200


            Date      Time CO(GT)
5248  15/10/2004  10.00.00   -200


            Date      Time CO(GT)
5249  15/10/2004  11.00.00   -200


            Date      Time CO(GT)
5250  15/10/2004  12.00.00   -200


            Date      Time CO(GT)
5251  15/10/2004  13.00.00   -200


            Date      Time CO(GT)
5252  15/10/2004  14.00.00   -200


            Date      Time CO(GT)
5253  15/10/2004  15.00.00   -200


            Date      Time CO(GT)
5254  15/10/2004  16.00.00   -200


            Date      Time CO(GT)
5255  15/10/2004  17.00.00   -200


            Date      Time CO(GT)
5256  15/10/2004  18.00.00   -200


            Date      Time CO(GT)
5257  15/10/2004  19.00.00   -200


            Date      Time CO(GT)
5258  15/10/2004  20.00.00   -200


            Date      Time CO(GT)
5259  15/10/2004  21.00.00   -200


            Date      Time CO(GT)
5260  15/10/2004  22.00.00   -200


            Date      Time CO(GT)
5261  15/10/2004  23.00.00   -200


            Date      Time CO(GT)
5982  15/11/2004  00.00.00    0,6


            Date      Time CO(GT)
5983  15/11/2004  01.00.00    0,5


            Date      Time CO(GT)
5984  15/11/2004  02.00.00    0,3


            Date      Time CO(GT)
5985  15/11/2004  03.00.00    0,2


            Date      Time CO(GT)
5986  15/11/2004  04.00.00   -200


            Date      Time CO(GT)
5987  15/11/2004  05.00.00    0,3


            Date      Time CO(GT)
5988  15/11/2004  06.00.00    0,4


            Date      Time CO(GT)
5989  15/11/2004  07.00.00    0,7


            Date      Time CO(GT)
5990  15/11/2004  08.00.00      2


            Date      Time CO(GT)
5991  15/11/2004  09.00.00    2,4


            Date      Time CO(GT)
5992  15/11/2004  10.00.00    1,8


            Date      Time CO(GT)
5993  15/11/2004  11.00.00    1,6


            Date      Time CO(GT)
5994  15/11/2004  12.00.00    1,7


            Date      Time CO(GT)
5995  15/11/2004  13.00.00    1,8


            Date      Time CO(GT)
5996  15/11/2004  14.00.00    1,7


            Date      Time CO(GT)
5997  15/11/2004  15.00.00    1,7


            Date      Time CO(GT)
5998  15/11/2004  16.00.00    1,7


            Date      Time CO(GT)
5999  15/11/2004  17.00.00    2,6


            Date      Time CO(GT)
6000  15/11/2004  18.00.00      4


            Date      Time CO(GT)
6001  15/11/2004  19.00.00    3,8


            Date      Time CO(GT)
6002  15/11/2004  20.00.00      4


            Date      Time CO(GT)
6003  15/11/2004  21.00.00    2,4


            Date      Time CO(GT)
6004  15/11/2004  22.00.00    1,4


            Date      Time CO(GT)
6005  15/11/2004  23.00.00    1,3


            Date      Time CO(GT)
6702  15/12/2004  00.00.00    2,9


            Date      Time CO(GT)
6703  15/12/2004  01.00.00    2,3


            Date      Time CO(GT)
6704  15/12/2004  02.00.00    1,7


            Date      Time CO(GT)
6705  15/12/2004  03.00.00    0,9


            Date      Time CO(GT)
6706  15/12/2004  04.00.00    0,7


            Date      Time CO(GT)
6707  15/12/2004  05.00.00    0,8


            Date      Time CO(GT)
6708  15/12/2004  06.00.00      1


            Date      Time CO(GT)
6709  15/12/2004  07.00.00    1,2


            Date      Time CO(GT)
6710  15/12/2004  08.00.00    3,5


            Date      Time CO(GT)
6711  15/12/2004  09.00.00    4,5


            Date      Time CO(GT)
6712  15/12/2004  10.00.00    4,9


            Date      Time CO(GT)
6713  15/12/2004  11.00.00    3,5


            Date      Time CO(GT)
6714  15/12/2004  12.00.00    3,4


            Date      Time CO(GT)
6715  15/12/2004  13.00.00      4


            Date      Time CO(GT)
6716  15/12/2004  14.00.00    4,3


            Date      Time CO(GT)
6717  15/12/2004  15.00.00      4


            Date      Time CO(GT)
6718  15/12/2004  16.00.00    4,7


            Date      Time CO(GT)
6719  15/12/2004  17.00.00    6,6


            Date      Time CO(GT)
6720  15/12/2004  18.00.00    7,3


            Date      Time CO(GT)
6721  15/12/2004  19.00.00    3,6


            Date      Time CO(GT)
6722  15/12/2004  20.00.00    2,4


            Date      Time CO(GT)
6723  15/12/2004  21.00.00    2,1


            Date      Time CO(GT)
6724  15/12/2004  22.00.00    2,1


            Date      Time CO(GT)
6725  15/12/2004  23.00.00    1,7


            Date      Time CO(GT)
7470  16/01/2005  00.00.00    3,8


            Date      Time CO(GT)
7471  16/01/2005  01.00.00    3,2


            Date      Time CO(GT)
7472  16/01/2005  02.00.00    2,1


            Date      Time CO(GT)
7473  16/01/2005  03.00.00    1,7


            Date      Time CO(GT)
7474  16/01/2005  04.00.00    1,7


            Date      Time CO(GT)
7475  16/01/2005  05.00.00    1,4


            Date      Time CO(GT)
7476  16/01/2005  06.00.00    1,2


            Date      Time CO(GT)
7477  16/01/2005  07.00.00    1,4


            Date      Time CO(GT)
7478  16/01/2005  08.00.00    1,4


            Date      Time CO(GT)
7479  16/01/2005  09.00.00    1,7


            Date      Time CO(GT)
7480  16/01/2005  10.00.00    1,0


            Date      Time CO(GT)
7481  16/01/2005  11.00.00    1,0


            Date      Time CO(GT)
7482  16/01/2005  12.00.00    0,8


            Date      Time CO(GT)
7483  16/01/2005  13.00.00    1,0


            Date      Time CO(GT)
7484  16/01/2005  14.00.00    0,8


            Date      Time CO(GT)
7485  16/01/2005  15.00.00    0,7


            Date      Time CO(GT)
7486  16/01/2005  16.00.00    1,1


            Date      Time CO(GT)
7487  16/01/2005  17.00.00    1,1


            Date      Time CO(GT)
7488  16/01/2005  18.00.00    1,2


            Date      Time CO(GT)
7489  16/01/2005  19.00.00    2,0


            Date      Time CO(GT)
7490  16/01/2005  20.00.00    2,2


            Date      Time CO(GT)
7491  16/01/2005  21.00.00    1,5


            Date      Time CO(GT)
7492  16/01/2005  22.00.00    1,2


            Date      Time CO(GT)
7493  16/01/2005  23.00.00    1,5


            Date      Time CO(GT)
8214  16/02/2005  00.00.00    1,9


            Date      Time CO(GT)
8215  16/02/2005  01.00.00    2,5


            Date      Time CO(GT)
8216  16/02/2005  02.00.00    2,0


            Date      Time CO(GT)
8217  16/02/2005  03.00.00    1,4


            Date      Time CO(GT)
8218  16/02/2005  04.00.00    1,1


            Date      Time CO(GT)
8219  16/02/2005  05.00.00    0,8


            Date      Time CO(GT)
8220  16/02/2005  06.00.00    0,9


            Date      Time CO(GT)
8221  16/02/2005  07.00.00    1,6


            Date      Time CO(GT)
8222  16/02/2005  08.00.00    3,6


            Date      Time CO(GT)
8223  16/02/2005  09.00.00    3,3


            Date      Time CO(GT)
8224  16/02/2005  10.00.00    2,1


            Date      Time CO(GT)
8225  16/02/2005  11.00.00    1,3


            Date      Time CO(GT)
8226  16/02/2005  12.00.00    1,1


            Date      Time CO(GT)
8227  16/02/2005  13.00.00    1,5


            Date      Time CO(GT)
8228  16/02/2005  14.00.00    1,5


            Date      Time CO(GT)
8229  16/02/2005  15.00.00    1,6


            Date      Time CO(GT)
8230  16/02/2005  16.00.00    1,5


            Date      Time CO(GT)
8231  16/02/2005  17.00.00    1,6


            Date      Time CO(GT)
8232  16/02/2005  18.00.00    2,2


            Date      Time CO(GT)
8233  16/02/2005  19.00.00    3,4


            Date      Time CO(GT)
8234  16/02/2005  20.00.00    5,6


            Date      Time CO(GT)
8235  16/02/2005  21.00.00    5,2


            Date      Time CO(GT)
8236  16/02/2005  22.00.00    2,8


            Date      Time CO(GT)
8237  16/02/2005  23.00.00    2,4


           Date      Time CO(GT)
126  16/03/2004  00.00.00    2,1


           Date      Time CO(GT)
127  16/03/2004  01.00.00    1,2


           Date      Time CO(GT)
128  16/03/2004  02.00.00    0,8


           Date      Time CO(GT)
129  16/03/2004  03.00.00    0,7


           Date      Time CO(GT)
130  16/03/2004  04.00.00   -200


           Date      Time CO(GT)
131  16/03/2004  05.00.00    0,6


           Date      Time CO(GT)
132  16/03/2004  06.00.00    0,9


           Date      Time CO(GT)
133  16/03/2004  07.00.00    1,3


           Date      Time CO(GT)
134  16/03/2004  08.00.00    3,4


           Date      Time CO(GT)
135  16/03/2004  09.00.00    3,7


           Date      Time CO(GT)
136  16/03/2004  10.00.00    5,3


           Date      Time CO(GT)
137  16/03/2004  11.00.00    4,1


           Date      Time CO(GT)
138  16/03/2004  12.00.00    3,3


           Date      Time CO(GT)
139  16/03/2004  13.00.00      4


           Date      Time CO(GT)
140  16/03/2004  14.00.00    3,8


           Date      Time CO(GT)
141  16/03/2004  15.00.00    2,8


           Date      Time CO(GT)
142  16/03/2004  16.00.00    2,9


           Date      Time CO(GT)
143  16/03/2004  17.00.00    2,9


           Date      Time CO(GT)
144  16/03/2004  18.00.00    3,4


           Date      Time CO(GT)
145  16/03/2004  19.00.00    3,9


           Date      Time CO(GT)
146  16/03/2004  20.00.00    3,2


           Date      Time CO(GT)
147  16/03/2004  21.00.00    5,1


           Date      Time CO(GT)
148  16/03/2004  22.00.00    2,6


           Date      Time CO(GT)
149  16/03/2004  23.00.00    1,7


            Date      Time CO(GT)
8886  16/03/2005  00.00.00    1,4


            Date      Time CO(GT)
8887  16/03/2005  01.00.00    1,1


            Date      Time CO(GT)
8888  16/03/2005  02.00.00    0,9


            Date      Time CO(GT)
8889  16/03/2005  03.00.00    0,7


            Date      Time CO(GT)
8890  16/03/2005  04.00.00    0,6


            Date      Time CO(GT)
8891  16/03/2005  05.00.00    0,6


            Date      Time CO(GT)
8892  16/03/2005  06.00.00    0,8


            Date      Time CO(GT)
8893  16/03/2005  07.00.00    1,0


            Date      Time CO(GT)
8894  16/03/2005  08.00.00    2,1


            Date      Time CO(GT)
8895  16/03/2005  09.00.00    4,2


            Date      Time CO(GT)
8896  16/03/2005  10.00.00    4,3


            Date      Time CO(GT)
8897  16/03/2005  11.00.00    3,2


            Date      Time CO(GT)
8898  16/03/2005  12.00.00    2,8


            Date      Time CO(GT)
8899  16/03/2005  13.00.00    2,4


            Date      Time CO(GT)
8900  16/03/2005  14.00.00    2,5


            Date      Time CO(GT)
8901  16/03/2005  15.00.00    2,9


            Date      Time CO(GT)
8902  16/03/2005  16.00.00    3,0


            Date      Time CO(GT)
8903  16/03/2005  17.00.00    3,6


            Date      Time CO(GT)
8904  16/03/2005  18.00.00    3,5


            Date      Time CO(GT)
8905  16/03/2005  19.00.00    4,8


            Date      Time CO(GT)
8906  16/03/2005  20.00.00    4,4


            Date      Time CO(GT)
8907  16/03/2005  21.00.00    4,9


            Date      Time CO(GT)
8908  16/03/2005  22.00.00    2,9


            Date      Time CO(GT)
8909  16/03/2005  23.00.00    2,1


           Date      Time CO(GT)
870  16/04/2004  00.00.00      2


           Date      Time CO(GT)
871  16/04/2004  01.00.00    1,9


           Date      Time CO(GT)
872  16/04/2004  02.00.00    1,6


           Date      Time CO(GT)
873  16/04/2004  03.00.00      1


           Date      Time CO(GT)
874  16/04/2004  04.00.00      1


           Date      Time CO(GT)
875  16/04/2004  05.00.00    1,2


           Date      Time CO(GT)
876  16/04/2004  06.00.00      2


           Date      Time CO(GT)
877  16/04/2004  07.00.00    4,5


           Date      Time CO(GT)
878  16/04/2004  08.00.00    4,1


           Date      Time CO(GT)
879  16/04/2004  09.00.00    2,6


           Date      Time CO(GT)
880  16/04/2004  10.00.00    2,3


           Date      Time CO(GT)
881  16/04/2004  11.00.00    2,6


           Date      Time CO(GT)
882  16/04/2004  12.00.00    2,4


           Date      Time CO(GT)
883  16/04/2004  13.00.00    4,3


           Date      Time CO(GT)
884  16/04/2004  14.00.00    4,6


           Date      Time CO(GT)
885  16/04/2004  15.00.00      4


           Date      Time CO(GT)
886  16/04/2004  16.00.00    4,7


           Date      Time CO(GT)
887  16/04/2004  17.00.00    5,7


           Date      Time CO(GT)
888  16/04/2004  18.00.00    5,2


           Date      Time CO(GT)
889  16/04/2004  19.00.00    6,4


           Date      Time CO(GT)
890  16/04/2004  20.00.00      6


           Date      Time CO(GT)
891  16/04/2004  21.00.00    3,4


           Date      Time CO(GT)
892  16/04/2004  22.00.00    2,7


           Date      Time CO(GT)
893  16/04/2004  23.00.00    3,1


            Date      Time CO(GT)
1590  16/05/2004  00.00.00    2,3


            Date      Time CO(GT)
1591  16/05/2004  01.00.00    1,5


            Date      Time CO(GT)
1592  16/05/2004  02.00.00    0,9


            Date      Time CO(GT)
1593  16/05/2004  03.00.00    0,8


            Date      Time CO(GT)
1594  16/05/2004  04.00.00   -200


            Date      Time CO(GT)
1595  16/05/2004  05.00.00    0,4


            Date      Time CO(GT)
1596  16/05/2004  06.00.00    0,4


            Date      Time CO(GT)
1597  16/05/2004  07.00.00    0,8


            Date      Time CO(GT)
1598  16/05/2004  08.00.00    0,9


            Date      Time CO(GT)
1599  16/05/2004  09.00.00    1,6


            Date      Time CO(GT)
1600  16/05/2004  10.00.00      2


            Date      Time CO(GT)
1601  16/05/2004  11.00.00    1,6


            Date      Time CO(GT)
1602  16/05/2004  12.00.00    1,4


            Date      Time CO(GT)
1603  16/05/2004  13.00.00    0,9


            Date      Time CO(GT)
1604  16/05/2004  14.00.00    0,9


            Date      Time CO(GT)
1605  16/05/2004  15.00.00    1,2


            Date      Time CO(GT)
1606  16/05/2004  16.00.00    1,4


            Date      Time CO(GT)
1607  16/05/2004  17.00.00    1,9


            Date      Time CO(GT)
1608  16/05/2004  18.00.00    1,8


            Date      Time CO(GT)
1609  16/05/2004  19.00.00    2,7


            Date      Time CO(GT)
1610  16/05/2004  20.00.00    2,4


            Date      Time CO(GT)
1611  16/05/2004  21.00.00    1,6


            Date      Time CO(GT)
1612  16/05/2004  22.00.00    1,4


            Date      Time CO(GT)
1613  16/05/2004  23.00.00    1,4


            Date      Time CO(GT)
2334  16/06/2004  00.00.00    1,9


            Date      Time CO(GT)
2335  16/06/2004  01.00.00    1,4


            Date      Time CO(GT)
2336  16/06/2004  02.00.00    0,8


            Date      Time CO(GT)
2337  16/06/2004  03.00.00    0,6


            Date      Time CO(GT)
2338  16/06/2004  04.00.00    0,6


            Date      Time CO(GT)
2339  16/06/2004  05.00.00    0,5


            Date      Time CO(GT)
2340  16/06/2004  06.00.00      1


            Date      Time CO(GT)
2341  16/06/2004  07.00.00    2,7


            Date      Time CO(GT)
2342  16/06/2004  08.00.00      5


            Date      Time CO(GT)
2343  16/06/2004  09.00.00    3,3


            Date      Time CO(GT)
2344  16/06/2004  10.00.00    2,4


            Date      Time CO(GT)
2345  16/06/2004  11.00.00    1,7


            Date      Time CO(GT)
2346  16/06/2004  12.00.00    1,7


            Date      Time CO(GT)
2347  16/06/2004  13.00.00    2,4


            Date      Time CO(GT)
2348  16/06/2004  14.00.00    2,2


            Date      Time CO(GT)
2349  16/06/2004  15.00.00    2,2


            Date      Time CO(GT)
2350  16/06/2004  16.00.00    2,3


            Date      Time CO(GT)
2351  16/06/2004  17.00.00    2,6


            Date      Time CO(GT)
2352  16/06/2004  18.00.00    2,3


            Date      Time CO(GT)
2353  16/06/2004  19.00.00    3,3


            Date      Time CO(GT)
2354  16/06/2004  20.00.00    3,5


            Date      Time CO(GT)
2355  16/06/2004  21.00.00    2,5


            Date      Time CO(GT)
2356  16/06/2004  22.00.00    2,5


            Date      Time CO(GT)
2357  16/06/2004  23.00.00    2,4


            Date      Time CO(GT)
3054  16/07/2004  00.00.00    1,7


            Date      Time CO(GT)
3055  16/07/2004  01.00.00      1


            Date      Time CO(GT)
3056  16/07/2004  02.00.00    0,7


            Date      Time CO(GT)
3057  16/07/2004  03.00.00    0,5


            Date      Time CO(GT)
3058  16/07/2004  04.00.00    0,4


            Date      Time CO(GT)
3059  16/07/2004  05.00.00    0,6


            Date      Time CO(GT)
3060  16/07/2004  06.00.00    0,7


            Date      Time CO(GT)
3061  16/07/2004  07.00.00    2,4


            Date      Time CO(GT)
3062  16/07/2004  08.00.00    4,4


            Date      Time CO(GT)
3063  16/07/2004  09.00.00    3,1


            Date      Time CO(GT)
3064  16/07/2004  10.00.00      2


            Date      Time CO(GT)
3065  16/07/2004  11.00.00    2,1


            Date      Time CO(GT)
3066  16/07/2004  12.00.00    2,1


            Date      Time CO(GT)
3067  16/07/2004  13.00.00    2,1


            Date      Time CO(GT)
3068  16/07/2004  14.00.00    2,2


            Date      Time CO(GT)
3069  16/07/2004  15.00.00    1,6


            Date      Time CO(GT)
3070  16/07/2004  16.00.00    2,4


            Date      Time CO(GT)
3071  16/07/2004  17.00.00    3,3


            Date      Time CO(GT)
3072  16/07/2004  18.00.00      4


            Date      Time CO(GT)
3073  16/07/2004  19.00.00    4,1



7512  17/01/2005  18.00.00    8,6


            Date      Time CO(GT)
7513  17/01/2005  19.00.00    8,7


            Date      Time CO(GT)
7514  17/01/2005  20.00.00    3,6


            Date      Time CO(GT)
7515  17/01/2005  21.00.00    3,0


            Date      Time CO(GT)
7516  17/01/2005  22.00.00    1,9


            Date      Time CO(GT)
7517  17/01/2005  23.00.00    1,9


            Date      Time CO(GT)
8238  17/02/2005  00.00.00    2,7


            Date      Time CO(GT)
8239  17/02/2005  01.00.00    2,6


            Date      Time CO(GT)
8240  17/02/2005  02.00.00    2,3


            Date      Time CO(GT)
8241  17/02/2005  03.00.00    1,0


            Date      Time CO(GT)
8242  17/02/2005  04.00.00    0,6


            Date      Time CO(GT)
8243  17/02/2005  05.00.00    0,5


            Date      Time CO(GT)
8244  17/02/2005  06.00.00    0,5


            Date      Time CO(GT)
8245  17/02/2005  07.00.00    1,0


            Date      Time CO(GT)
8246  17/02/2005  08.00.00    2,6


            Date      Time CO(GT)
8247  17/02/2005  09.00.00    2,7


            Date      Time CO(GT)
8248  17/02/2005  10.00.00    1,8


            Date      Time CO(GT)
8249  17/02/2005  11.00.00    1,2


            Date      Time CO(GT)
8250  17/02/2005  12.00.00    1,3


            Date      Time CO(GT)
8251  17/02/2005  13.00.00    1,4


            Date      Time CO(GT)
8252  17/02/2005  14.00.00    1,8


            Date      Time CO(GT)
8253  17/02/2005  15.00.00    1,3


            Date      Time CO(GT)
8254  17/02/2005  16.00.00    1,4


            Date      Time CO(GT)
8255  17/02/2005  17.00.00    1,4


            Date      Time CO(GT)
8256  17/02/2005  18.00.00    2,4


            Date      Time CO(GT)
8257  17/02/2005  19.00.00    2,8


            Date      Time CO(GT)
8258  17/02/2005  20.00.00    3,3


            Date      Time CO(GT)
8259  17/02/2005  21.00.00    2,5


            Date      Time CO(GT)
8260  17/02/2005  22.00.00    2,1


            Date      Time CO(GT)
8261  17/02/2005  23.00.00    1,2


           Date      Time CO(GT)
150  17/03/2004  00.00.00    1,7


           Date      Time CO(GT)
151  17/03/2004  01.00.00    1,2


           Date      Time CO(GT)
152  17/03/2004  02.00.00    0,9


           Date      Time CO(GT)
153  17/03/2004  03.00.00    0,7


           Date      Time CO(GT)
154  17/03/2004  04.00.00   -200


           Date      Time CO(GT)
155  17/03/2004  05.00.00    0,5


           Date      Time CO(GT)
156  17/03/2004  06.00.00    0,5


           Date      Time CO(GT)
157  17/03/2004  07.00.00    1,6


           Date      Time CO(GT)
158  17/03/2004  08.00.00    4,1


           Date      Time CO(GT)
159  17/03/2004  09.00.00    6,6


           Date      Time CO(GT)
160  17/03/2004  10.00.00    4,3


           Date      Time CO(GT)
161  17/03/2004  11.00.00    2,9


           Date      Time CO(GT)
162  17/03/2004  12.00.00    2,5


           Date      Time CO(GT)
163  17/03/2004  13.00.00    2,8


           Date      Time CO(GT)
164  17/03/2004  14.00.00    2,6


           Date      Time CO(GT)
165  17/03/2004  15.00.00      2


           Date      Time CO(GT)
166  17/03/2004  16.00.00    2,9


           Date      Time CO(GT)
167  17/03/2004  17.00.00    2,5


           Date      Time CO(GT)
168  17/03/2004  18.00.00      5


           Date      Time CO(GT)
169  17/03/2004  19.00.00    7,6


           Date      Time CO(GT)
170  17/03/2004  20.00.00    6,7


           Date      Time CO(GT)
171  17/03/2004  21.00.00    5,7


           Date      Time CO(GT)
172  17/03/2004  22.00.00    2,8


           Date      Time CO(GT)
173  17/03/2004  23.00.00    2,6


            Date      Time CO(GT)
8910  17/03/2005  00.00.00    1,6


            Date      Time CO(GT)
8911  17/03/2005  01.00.00    1,2


            Date      Time CO(GT)
8912  17/03/2005  02.00.00    0,9


            Date      Time CO(GT)
8913  17/03/2005  03.00.00    0,7


            Date      Time  CO(GT)
8914  17/03/2005  04.00.00  -200,0


            Date      Time CO(GT)
8915  17/03/2005  05.00.00    0,5


            Date      Time CO(GT)
8916  17/03/2005  06.00.00    0,6


            Date      Time CO(GT)
8917  17/03/2005  07.00.00    1,3


            Date      Time CO(GT)
8918  17/03/2005  08.00.00    3,8


            Date      Time CO(GT)
8919  17/03/2005  09.00.00    5,6


            Date      Time CO(GT)
8920  17/03/2005  10.00.00    4,4


            Date      Time CO(GT)
8921  17/03/2005  11.00.00    3,0


            Date      Time CO(GT)
8922  17/03/2005  12.00.00    2,2


            Date      Time CO(GT)
8923  17/03/2005  13.00.00    2,0


            Date      Time CO(GT)
8924  17/03/2005  14.00.00    2,2


            Date      Time CO(GT)
8925  17/03/2005  15.00.00    2,1


            Date      Time CO(GT)
8926  17/03/2005  16.00.00    2,2


            Date      Time CO(GT)
8927  17/03/2005  17.00.00    1,9


            Date      Time CO(GT)
8928  17/03/2005  18.00.00    2,7


            Date      Time CO(GT)
8929  17/03/2005  19.00.00    3,9


            Date      Time CO(GT)
8930  17/03/2005  20.00.00    5,6


            Date      Time CO(GT)
8931  17/03/2005  21.00.00    4,9


            Date      Time CO(GT)
8932  17/03/2005  22.00.00    2,2


            Date      Time CO(GT)
8933  17/03/2005  23.00.00    1,9


           Date      Time CO(GT)
894  17/04/2004  00.00.00    2,6


           Date      Time CO(GT)
895  17/04/2004  01.00.00    2,2


           Date      Time CO(GT)
896  17/04/2004  02.00.00    1,9


           Date      Time CO(GT)
897  17/04/2004  03.00.00   -200


           Date      Time CO(GT)
898  17/04/2004  04.00.00   -200


           Date      Time CO(GT)
899  17/04/2004  05.00.00   -200


           Date      Time CO(GT)
900  17/04/2004  06.00.00   -200


           Date      Time CO(GT)
901  17/04/2004  07.00.00   -200


           Date      Time CO(GT)
902  17/04/2004  08.00.00   -200


           Date      Time CO(GT)
903  17/04/2004  09.00.00   -200


           Date      Time CO(GT)
904  17/04/2004  10.00.00   -200


           Date      Time CO(GT)
905  17/04/2004  11.00.00   -200


           Date      Time CO(GT)
906  17/04/2004  12.00.00   -200


           Date      Time CO(GT)
907  17/04/2004  13.00.00   -200


           Date      Time CO(GT)
908  17/04/2004  14.00.00   -200


           Date      Time CO(GT)
909  17/04/2004  15.00.00   -200


           Date      Time CO(GT)
910  17/04/2004  16.00.00   -200


           Date      Time CO(GT)
911  17/04/2004  17.00.00   -200


           Date      Time CO(GT)
912  17/04/2004  18.00.00   -200


           Date      Time CO(GT)
913  17/04/2004  19.00.00   -200


           Date      Time CO(GT)
914  17/04/2004  20.00.00   -200


           Date      Time CO(GT)
915  17/04/2004  21.00.00   -200


           Date      Time CO(GT)
916  17/04/2004  22.00.00   -200


           Date      Time CO(GT)
917  17/04/2004  23.00.00   -200


            Date      Time CO(GT)
1614  17/05/2004  00.00.00    1,4


            Date      Time CO(GT)
1615  17/05/2004  01.00.00    0,9


            Date      Time CO(GT)
1616  17/05/2004  02.00.00    0,5


            Date      Time CO(GT)
1617  17/05/2004  03.00.00    0,4


            Date      Time CO(GT)
1618  17/05/2004  04.00.00   -200


            Date      Time CO(GT)
1619  17/05/2004  05.00.00    0,5


            Date      Time CO(GT)
1620  17/05/2004  06.00.00    1,3


            Date      Time CO(GT)
1621  17/05/2004  07.00.00    2,6


            Date      Time CO(GT)
1622  17/05/2004  08.00.00      2


            Date      Time CO(GT)
1623  17/05/2004  09.00.00    1,8


            Date      Time CO(GT)
1624  17/05/2004  10.00.00    1,7


            Date      Time CO(GT)
1625  17/05/2004  11.00.00    1,5


            Date      Time CO(GT)
1626  17/05/2004  12.00.00    1,9


            Date      Time CO(GT)
1627  17/05/2004  13.00.00    1,7


            Date      Time CO(GT)
1628  17/05/2004  14.00.00    1,5


            Date      Time CO(GT)
1629  17/05/2004  15.00.00    1,7


            Date      Time CO(GT)
1630  17/05/2004  16.00.00    1,7


            Date      Time CO(GT)
1631  17/05/2004  17.00.00    2,4


            Date      Time CO(GT)
1632  17/05/2004  18.00.00    3,1


            Date      Time CO(GT)
1633  17/05/2004  19.00.00    3,4


            Date      Time CO(GT)
1634  17/05/2004  20.00.00      3


            Date      Time CO(GT)
1635  17/05/2004  21.00.00    1,2


            Date      Time CO(GT)
1636  17/05/2004  22.00.00    1,2


            Date      Time CO(GT)
1637  17/05/2004  23.00.00    1,3


            Date      Time CO(GT)
2358  17/06/2004  00.00.00    2,5


            Date      Time CO(GT)
2359  17/06/2004  01.00.00    2,1


            Date      Time CO(GT)
2360  17/06/2004  02.00.00      1


            Date      Time CO(GT)
2361  17/06/2004  03.00.00    0,8


            Date      Time CO(GT)
2362  17/06/2004  04.00.00   -200


            Date      Time CO(GT)
2363  17/06/2004  05.00.00    0,5


            Date      Time CO(GT)
2364  17/06/2004  06.00.00    1,3


            Date      Time CO(GT)
2365  17/06/2004  07.00.00    3,6


            Date      Time CO(GT)
2366  17/06/2004  08.00.00    4,8


            Date      Time CO(GT)
2367  17/06/2004  09.00.00    3,7


            Date      Time CO(GT)
2368  17/06/2004  10.00.00    1,9


            Date      Time CO(GT)
2369  17/06/2004  11.00.00    1,7


            Date      Time CO(GT)
2370  17/06/2004  12.00.00    1,9


            Date      Time CO(GT)
2371  17/06/2004  13.00.00    1,8


            Date      Time CO(GT)
2372  17/06/2004  14.00.00    1,7


            Date      Time CO(GT)
2373  17/06/2004  15.00.00    1,8


            Date      Time CO(GT)
2374  17/06/2004  16.00.00    1,7


            Date      Time CO(GT)
2375  17/06/2004  17.00.00    2,8


            Date      Time CO(GT)
2376  17/06/2004  18.00.00    3,6


            Date      Time CO(GT)
2377  17/06/2004  19.00.00    3,3


            Date      Time CO(GT)
2378  17/06/2004  20.00.00    2,9


            Date      Time CO(GT)
2379  17/06/2004  21.00.00    1,7


            Date      Time CO(GT)
2380  17/06/2004  22.00.00    1,7


            Date      Time CO(GT)
2381  17/06/2004  23.00.00    2,8


            Date      Time CO(GT)
3078  17/07/2004  00.00.00    2,1


            Date      Time CO(GT)
3079  17/07/2004  01.00.00    1,6


            Date      Time CO(GT)
3080  17/07/2004  02.00.00    1,2


            Date      Time CO(GT)
3081  17/07/2004  03.00.00    1,2


            Date      Time CO(GT)
3082  17/07/2004  04.00.00    0,9


            Date      Time CO(GT)
3083  17/07/2004  05.00.00    0,6


            Date      Time CO(GT)
3084  17/07/2004  06.00.00    0,7


            Date      Time CO(GT)
3085  17/07/2004  07.00.00    1,3


            Date      Time CO(GT)
3086  17/07/2004  08.00.00      2


            Date      Time CO(GT)
3087  17/07/2004  09.00.00    1,9


            Date      Time CO(GT)
3088  17/07/2004  10.00.00    2,2


            Date      Time CO(GT)
3089  17/07/2004  11.00.00    1,9


            Date      Time CO(GT)
3090  17/07/2004  12.00.00    1,5


            Date      Time CO(GT)
3091  17/07/2004  13.00.00    1,4


            Date      Time CO(GT)
3092  17/07/2004  14.00.00      1


            Date      Time CO(GT)
3093  17/07/2004  15.00.00      1


            Date      Time CO(GT)
3094  17/07/2004  16.00.00    1,4


            Date      Time CO(GT)
3095  17/07/2004  17.00.00    1,6


            Date      Time CO(GT)
3096  17/07/2004  18.00.00    1,6


            Date      Time CO(GT)
3097  17/07/2004  19.00.00    2,1


            Date      Time CO(GT)
3098  17/07/2004  20.00.00      2


            Date      Time CO(GT)
3099  17/07/2004  21.00.00    1,9


            Date      Time CO(GT)
3100  17/07/2004  22.00.00    2,3


            Date      Time CO(GT)
3101  17/07/2004  23.00.00    2,4


            Date      Time CO(GT)
3822  17/08/2004  00.00.00    0,9


            Date      Time CO(GT)
3823  17/08/2004  01.00.00    0,6


            Date      Time CO(GT)
3824  17/08/2004  02.00.00    0,5


            Date      Time CO(GT)
3825  17/08/2004  03.00.00    0,5


            Date      Time CO(GT)
3826  17/08/2004  04.00.00    0,4


            Date      Time CO(GT)
3827  17/08/2004  05.00.00    0,4


            Date      Time CO(GT)
3828  17/08/2004  06.00.00      1


            Date      Time CO(GT)
3829  17/08/2004  07.00.00    2,2


            Date      Time CO(GT)
3830  17/08/2004  08.00.00    2,5


            Date      Time CO(GT)
3831  17/08/2004  09.00.00    2,3


            Date      Time CO(GT)
3832  17/08/2004  10.00.00      2


            Date      Time CO(GT)
3833  17/08/2004  11.00.00   -200


            Date      Time CO(GT)
3834  17/08/2004  12.00.00   -200


            Date      Time CO(GT)
3835  17/08/2004  13.00.00   -200


            Date      Time CO(GT)
3836  17/08/2004  14.00.00   -200


            Date      Time CO(GT)
3837  17/08/2004  15.00.00   -200


            Date      Time CO(GT)
3838  17/08/2004  16.00.00   -200


            Date      Time CO(GT)
3839  17/08/2004  17.00.00   -200


            Date      Time CO(GT)
3840  17/08/2004  18.00.00   -200


            Date      Time CO(GT)
3841  17/08/2004  19.00.00   -200


            Date      Time CO(GT)
3842  17/08/2004  20.00.00   -200


            Date      Time CO(GT)
3843  17/08/2004  21.00.00   -200


            Date      Time CO(GT)
3844  17/08/2004  22.00.00   -200


            Date      Time CO(GT)
3845  17/08/2004  23.00.00   -200


            Date      Time CO(GT)
4566  17/09/2004  00.00.00    1,1


            Date      Time CO(GT)
4567  17/09/2004  01.00.00    0,8


            Date      Time CO(GT)
4568  17/09/2004  02.00.00    0,5


            Date      Time CO(GT)
4569  17/09/2004  03.00.00    0,4


            Date      Time CO(GT)
4570  17/09/2004  04.00.00    0,3


            Date      Time CO(GT)
4571  17/09/2004  05.00.00    0,3


            Date      Time CO(GT)
4572  17/09/2004  06.00.00    0,5


            Date      Time CO(GT)
4573  17/09/2004  07.00.00    2,4


            Date      Time CO(GT)
4574  17/09/2004  08.00.00    2,2


            Date      Time CO(GT)
4575  17/09/2004  09.00.00    1,4


            Date      Time CO(GT)
4576  17/09/2004  10.00.00    1,6


            Date      Time CO(GT)
4577  17/09/2004  11.00.00    1,6


            Date      Time CO(GT)
4578  17/09/2004  12.00.00    1,6


            Date      Time CO(GT)
4579  17/09/2004  13.00.00    2,1


            Date      Time CO(GT)
4580  17/09/2004  14.00.00    1,1


            Date      Time CO(GT)
4581  17/09/2004  15.00.00    1,6


            Date      Time CO(GT)
4582  17/09/2004  16.00.00    2,4


            Date      Time CO(GT)
4583  17/09/2004  17.00.00    2,9


            Date      Time CO(GT)
4584  17/09/2004  18.00.00    2,7


            Date      Time CO(GT)
4585  17/09/2004  19.00.00    3,1


            Date      Time CO(GT)
4586  17/09/2004  20.00.00    2,2


            Date      Time CO(GT)
4587  17/09/2004  21.00.00    1,5


            Date      Time CO(GT)
4588  17/09/2004  22.00.00    1,2


            Date      Time CO(GT)
4589  17/09/2004  23.00.00    1,3


            Date      Time CO(GT)
5286  17/10/2004  00.00.00   -200


            Date      Time CO(GT)
5287  17/10/2004  01.00.00   -200


            Date      Time CO(GT)
5288  17/10/2004  02.00.00   -200


            Date      Time CO(GT)
5289  17/10/2004  03.00.00   -200


            Date      Time CO(GT)
5290  17/10/2004  04.00.00   -200


            Date      Time CO(GT)
5291  17/10/2004  05.00.00   -200


            Date      Time CO(GT)
5292  17/10/2004  06.00.00   -200


            Date      Time CO(GT)
5293  17/10/2004  07.00.00   -200


            Date      Time CO(GT)
5294  17/10/2004  08.00.00   -200


            Date      Time CO(GT)
5295  17/10/2004  09.00.00   -200


            Date      Time CO(GT)
5296  17/10/2004  10.00.00   -200


            Date      Time CO(GT)
5297  17/10/2004  11.00.00   -200


            Date      Time CO(GT)
5298  17/10/2004  12.00.00   -200


            Date      Time CO(GT)
5299  17/10/2004  13.00.00   -200


            Date      Time CO(GT)
5300  17/10/2004  14.00.00   -200


            Date      Time CO(GT)
5301  17/10/2004  15.00.00   -200


            Date      Time CO(GT)
5302  17/10/2004  16.00.00   -200


            Date      Time CO(GT)
5303  17/10/2004  17.00.00   -200


            Date      Time CO(GT)
5304  17/10/2004  18.00.00   -200


            Date      Time CO(GT)
5305  17/10/2004  19.00.00   -200


            Date      Time CO(GT)
5306  17/10/2004  20.00.00   -200


            Date      Time CO(GT)
5307  17/10/2004  21.00.00   -200


            Date      Time CO(GT)
5308  17/10/2004  22.00.00   -200


            Date      Time CO(GT)
5309  17/10/2004  23.00.00   -200


            Date      Time CO(GT)
6030  17/11/2004  00.00.00    1,7


            Date      Time CO(GT)
6031  17/11/2004  01.00.00    1,6


            Date      Time CO(GT)
6032  17/11/2004  02.00.00    1,1


            Date      Time CO(GT)
6033  17/11/2004  03.00.00    0,8


            Date      Time CO(GT)
6034  17/11/2004  04.00.00    0,7


            Date      Time CO(GT)
6035  17/11/2004  05.00.00    0,8


            Date      Time CO(GT)
6036  17/11/2004  06.00.00    0,9


            Date      Time CO(GT)
6037  17/11/2004  07.00.00    1,2


            Date      Time CO(GT)
6038  17/11/2004  08.00.00    3,3


            Date      Time CO(GT)
6039  17/11/2004  09.00.00    3,8


            Date      Time CO(GT)
6040  17/11/2004  10.00.00    3,2


            Date      Time CO(GT)
6041  17/11/2004  11.00.00   -200


            Date      Time CO(GT)
6042  17/11/2004  12.00.00    3,2


            Date      Time CO(GT)
6043  17/11/2004  13.00.00    4,2


            Date      Time CO(GT)
6044  17/11/2004  14.00.00    4,3


            Date      Time CO(GT)
6045  17/11/2004  15.00.00      4


            Date      Time CO(GT)
6046  17/11/2004  16.00.00    4,1


            Date      Time CO(GT)
6047  17/11/2004  17.00.00    7,8


            Date      Time CO(GT)
6048  17/11/2004  18.00.00   10,2


            Date      Time CO(GT)
6049  17/11/2004  19.00.00    6,6


            Date      Time CO(GT)
6050  17/11/2004  20.00.00    4,3


            Date      Time CO(GT)
6051  17/11/2004  21.00.00    4,9


            Date      Time CO(GT)
6052  17/11/2004  22.00.00    2,6


            Date      Time CO(GT)
6053  17/11/2004  23.00.00    2,3


            Date      Time CO(GT)
6750  17/12/2004  00.00.00    4,2


            Date      Time CO(GT)
6751  17/12/2004  01.00.00    4,3


            Date      Time CO(GT)
6752  17/12/2004  02.00.00    4,2


            Date      Time CO(GT)
6753  17/12/2004  03.00.00    2,8


            Date      Time CO(GT)
6754  17/12/2004  04.00.00    2,2


            Date      Time CO(GT)
6755  17/12/2004  05.00.00    1,8


            Date      Time CO(GT)
6756  17/12/2004  06.00.00      2


            Date      Time CO(GT)
6757  17/12/2004  07.00.00    2,5


            Date      Time CO(GT)
6758  17/12/2004  08.00.00    4,1


            Date      Time CO(GT)
6759  17/12/2004  09.00.00    6,3


            Date      Time CO(GT)
6760  17/12/2004  10.00.00      5


            Date      Time CO(GT)
6761  17/12/2004  11.00.00    5,1


            Date      Time CO(GT)
6762  17/12/2004  12.00.00    3,6


            Date      Time CO(GT)
6763  17/12/2004  13.00.00    3,5


            Date      Time CO(GT)
6764  17/12/2004  14.00.00    3,7


            Date      Time CO(GT)
6765  17/12/2004  15.00.00    3,1


            Date      Time CO(GT)
6766  17/12/2004  16.00.00    3,2


            Date      Time CO(GT)

            Date      Time CO(GT)
7541  18/01/2005  23.00.00    0,2


            Date      Time CO(GT)
8262  18/02/2005  00.00.00    1,2


            Date      Time CO(GT)
8263  18/02/2005  01.00.00    1,3


            Date      Time CO(GT)
8264  18/02/2005  02.00.00    1,0


            Date      Time CO(GT)
8265  18/02/2005  03.00.00    0,8


            Date      Time  CO(GT)
8266  18/02/2005  04.00.00  -200,0


            Date      Time CO(GT)
8267  18/02/2005  05.00.00    0,4


            Date      Time CO(GT)
8268  18/02/2005  06.00.00    0,5


            Date      Time CO(GT)
8269  18/02/2005  07.00.00    0,7


            Date      Time CO(GT)
8270  18/02/2005  08.00.00    2,1


            Date      Time CO(GT)
8271  18/02/2005  09.00.00    2,5


            Date      Time CO(GT)
8272  18/02/2005  10.00.00    2,0


            Date      Time CO(GT)
8273  18/02/2005  11.00.00    1,4


            Date      Time CO(GT)
8274  18/02/2005  12.00.00    1,3


            Date      Time CO(GT)
8275  18/02/2005  13.00.00    1,4


            Date      Time CO(GT)
8276  18/02/2005  14.00.00    1,6


            Date      Time CO(GT)
8277  18/02/2005  15.00.00    1,7


            Date      Time CO(GT)
8278  18/02/2005  16.00.00    1,8


            Date      Time CO(GT)
8279  18/02/2005  17.00.00    2,4


            Date      Time CO(GT)
8280  18/02/2005  18.00.00    2,8


            Date      Time CO(GT)
8281  18/02/2005  19.00.00    3,3


            Date      Time CO(GT)
8282  18/02/2005  20.00.00    4,8


            Date      Time CO(GT)
8283  18/02/2005  21.00.00    2,8


            Date      Time CO(GT)
8284  18/02/2005  22.00.00    2,4


            Date      Time CO(GT)
8285  18/02/2005  23.00.00    2,9


           Date      Time CO(GT)
174  18/03/2004  00.00.00    2,3


           Date      Time CO(GT)
175  18/03/2004  01.00.00    1,4


           Date      Time CO(GT)
176  18/03/2004  02.00.00      1


           Date      Time CO(GT)
177  18/03/2004  03.00.00    0,7


           Date      Time CO(GT)
178  18/03/2004  04.00.00   -200


           Date      Time CO(GT)
179  18/03/2004  05.00.00    0,6


           Date      Time CO(GT)
180  18/03/2004  06.00.00    0,7


           Date      Time CO(GT)
181  18/03/2004  07.00.00    1,5


           Date      Time CO(GT)
182  18/03/2004  08.00.00    4,7


           Date      Time CO(GT)
183  18/03/2004  09.00.00    6,6


           Date      Time CO(GT)
184  18/03/2004  10.00.00    4,5


           Date      Time CO(GT)
185  18/03/2004  11.00.00    2,8


           Date      Time CO(GT)
186  18/03/2004  12.00.00    2,2


           Date      Time CO(GT)
187  18/03/2004  13.00.00    2,2


           Date      Time CO(GT)
188  18/03/2004  14.00.00    2,3


           Date      Time CO(GT)
189  18/03/2004  15.00.00    2,2


           Date      Time CO(GT)
190  18/03/2004  16.00.00    2,8


           Date      Time CO(GT)
191  18/03/2004  17.00.00    2,7


           Date      Time CO(GT)
192  18/03/2004  18.00.00    3,7


           Date      Time CO(GT)
193  18/03/2004  19.00.00    5,1


           Date      Time CO(GT)
194  18/03/2004  20.00.00    5,1


           Date      Time CO(GT)
195  18/03/2004  21.00.00    3,2


           Date      Time CO(GT)
196  18/03/2004  22.00.00    2,1


           Date      Time CO(GT)
197  18/03/2004  23.00.00    1,7


            Date      Time CO(GT)
8934  18/03/2005  00.00.00    1,4


            Date      Time CO(GT)
8935  18/03/2005  01.00.00    1,3


            Date      Time CO(GT)
8936  18/03/2005  02.00.00    1,1


            Date      Time CO(GT)
8937  18/03/2005  03.00.00    0,9


            Date      Time CO(GT)
8938  18/03/2005  04.00.00    0,9


            Date      Time CO(GT)
8939  18/03/2005  05.00.00    0,7


            Date      Time CO(GT)
8940  18/03/2005  06.00.00    0,8


            Date      Time CO(GT)
8941  18/03/2005  07.00.00    1,2


            Date      Time CO(GT)
8942  18/03/2005  08.00.00    2,9


            Date      Time CO(GT)
8943  18/03/2005  09.00.00    5,4


            Date      Time CO(GT)
8944  18/03/2005  10.00.00    4,3


            Date      Time CO(GT)
8945  18/03/2005  11.00.00    3,1


            Date      Time CO(GT)
8946  18/03/2005  12.00.00    2,4


            Date      Time CO(GT)
8947  18/03/2005  13.00.00    2,3


            Date      Time CO(GT)
8948  18/03/2005  14.00.00    2,3


            Date      Time CO(GT)
8949  18/03/2005  15.00.00    2,3


            Date      Time CO(GT)
8950  18/03/2005  16.00.00    3,4


            Date      Time CO(GT)
8951  18/03/2005  17.00.00    3,7


            Date      Time CO(GT)
8952  18/03/2005  18.00.00    4,1


            Date      Time CO(GT)
8953  18/03/2005  19.00.00    5,6


            Date      Time CO(GT)
8954  18/03/2005  20.00.00    5,3


            Date      Time CO(GT)
8955  18/03/2005  21.00.00    4,9


            Date      Time CO(GT)
8956  18/03/2005  22.00.00    2,0


            Date      Time CO(GT)
8957  18/03/2005  23.00.00    1,9


           Date      Time CO(GT)
918  18/04/2004  00.00.00   -200


           Date      Time CO(GT)
919  18/04/2004  01.00.00   -200


           Date      Time CO(GT)
920  18/04/2004  02.00.00   -200


           Date      Time CO(GT)
921  18/04/2004  03.00.00   -200


           Date      Time CO(GT)
922  18/04/2004  04.00.00   -200


           Date      Time CO(GT)
923  18/04/2004  05.00.00   -200


           Date      Time CO(GT)
924  18/04/2004  06.00.00   -200


           Date      Time CO(GT)
925  18/04/2004  07.00.00   -200


           Date      Time CO(GT)
926  18/04/2004  08.00.00   -200


           Date      Time CO(GT)
927  18/04/2004  09.00.00   -200


           Date      Time CO(GT)
928  18/04/2004  10.00.00   -200


           Date      Time CO(GT)
929  18/04/2004  11.00.00   -200


           Date      Time CO(GT)
930  18/04/2004  12.00.00   -200


           Date      Time CO(GT)
931  18/04/2004  13.00.00   -200


           Date      Time CO(GT)
932  18/04/2004  14.00.00   -200


           Date      Time CO(GT)
933  18/04/2004  15.00.00   -200


           Date      Time CO(GT)
934  18/04/2004  16.00.00   -200


           Date      Time CO(GT)
935  18/04/2004  17.00.00   -200


           Date      Time CO(GT)
936  18/04/2004  18.00.00   -200


           Date      Time CO(GT)
937  18/04/2004  19.00.00   -200


           Date      Time CO(GT)
938  18/04/2004  20.00.00   -200


           Date      Time CO(GT)
939  18/04/2004  21.00.00   -200


           Date      Time CO(GT)
940  18/04/2004  22.00.00   -200


           Date      Time CO(GT)
941  18/04/2004  23.00.00   -200


            Date      Time CO(GT)
1638  18/05/2004  00.00.00      1


            Date      Time CO(GT)
1639  18/05/2004  01.00.00    0,4


            Date      Time CO(GT)
1640  18/05/2004  02.00.00    0,3


            Date      Time CO(GT)
1641  18/05/2004  03.00.00    0,2


            Date      Time CO(GT)
1642  18/05/2004  04.00.00   -200


            Date      Time CO(GT)
1643  18/05/2004  05.00.00    0,5


            Date      Time CO(GT)
1644  18/05/2004  06.00.00    0,9


            Date      Time CO(GT)
1645  18/05/2004  07.00.00    2,7


            Date      Time CO(GT)
1646  18/05/2004  08.00.00    6,5


            Date      Time CO(GT)
1647  18/05/2004  09.00.00    3,2


            Date      Time CO(GT)
1648  18/05/2004  10.00.00    2,4


            Date      Time CO(GT)
1649  18/05/2004  11.00.00    1,9


            Date      Time CO(GT)
1650  18/05/2004  12.00.00    2,7


            Date      Time CO(GT)
1651  18/05/2004  13.00.00    2,9


            Date      Time CO(GT)
1652  18/05/2004  14.00.00      2


            Date      Time CO(GT)
1653  18/05/2004  15.00.00    2,3


            Date      Time CO(GT)
1654  18/05/2004  16.00.00    1,9


            Date      Time CO(GT)
1655  18/05/2004  17.00.00      3


            Date      Time CO(GT)
1656  18/05/2004  18.00.00    4,4


            Date      Time CO(GT)
1657  18/05/2004  19.00.00    4,7


            Date      Time CO(GT)
1658  18/05/2004  20.00.00    3,4


            Date      Time CO(GT)
1659  18/05/2004  21.00.00    2,4


            Date      Time CO(GT)
1660  18/05/2004  22.00.00    1,2


            Date      Time CO(GT)
1661  18/05/2004  23.00.00    1,7


            Date      Time CO(GT)
2382  18/06/2004  00.00.00    1,8


            Date      Time CO(GT)
2383  18/06/2004  01.00.00      1


            Date      Time CO(GT)
2384  18/06/2004  02.00.00    0,5


            Date      Time CO(GT)
2385  18/06/2004  03.00.00    0,4


            Date      Time CO(GT)
2386  18/06/2004  04.00.00    0,3


            Date      Time CO(GT)
2387  18/06/2004  05.00.00    0,4


            Date      Time CO(GT)
2388  18/06/2004  06.00.00    0,8


            Date      Time CO(GT)
2389  18/06/2004  07.00.00    2,2


            Date      Time CO(GT)
2390  18/06/2004  08.00.00    4,4


            Date      Time CO(GT)
2391  18/06/2004  09.00.00    3,7


            Date      Time CO(GT)
2392  18/06/2004  10.00.00    2,5


            Date      Time CO(GT)
2393  18/06/2004  11.00.00    2,5


            Date      Time CO(GT)
2394  18/06/2004  12.00.00    2,3


            Date      Time CO(GT)
2395  18/06/2004  13.00.00      2


            Date      Time CO(GT)
2396  18/06/2004  14.00.00      2


            Date      Time CO(GT)
2397  18/06/2004  15.00.00    2,1


            Date      Time CO(GT)
2398  18/06/2004  16.00.00    2,4


            Date      Time CO(GT)
2399  18/06/2004  17.00.00    3,1


            Date      Time CO(GT)
2400  18/06/2004  18.00.00    2,9


            Date      Time CO(GT)
2401  18/06/2004  19.00.00    3,5


            Date      Time CO(GT)
2402  18/06/2004  20.00.00    2,9


            Date      Time CO(GT)
2403  18/06/2004  21.00.00    1,5


            Date      Time CO(GT)
2404  18/06/2004  22.00.00    1,7


            Date      Time CO(GT)
2405  18/06/2004  23.00.00    2,2


            Date      Time CO(GT)
3102  18/07/2004  00.00.00    2,2


            Date      Time CO(GT)
3103  18/07/2004  01.00.00    1,2


            Date      Time CO(GT)
3104  18/07/2004  02.00.00    1,1


            Date      Time CO(GT)
3105  18/07/2004  03.00.00    0,8


            Date      Time CO(GT)
3106  18/07/2004  04.00.00   -200


            Date      Time CO(GT)
3107  18/07/2004  05.00.00    0,6


            Date      Time CO(GT)
3108  18/07/2004  06.00.00    0,7


            Date      Time CO(GT)
3109  18/07/2004  07.00.00    0,4


            Date      Time CO(GT)
3110  18/07/2004  08.00.00    0,6


            Date      Time CO(GT)
3111  18/07/2004  09.00.00    0,9


            Date      Time CO(GT)
3112  18/07/2004  10.00.00    0,9


            Date      Time CO(GT)
3113  18/07/2004  11.00.00    0,8


            Date      Time CO(GT)
3114  18/07/2004  12.00.00    0,4


            Date      Time CO(GT)
3115  18/07/2004  13.00.00    0,3


            Date      Time CO(GT)
3116  18/07/2004  14.00.00    0,1


            Date      Time CO(GT)
3117  18/07/2004  15.00.00    0,5


            Date      Time CO(GT)
3118  18/07/2004  16.00.00    0,4


            Date      Time CO(GT)
3119  18/07/2004  17.00.00    0,3


            Date      Time CO(GT)
3120  18/07/2004  18.00.00    0,4


            Date      Time CO(GT)
3121  18/07/2004  19.00.00    0,6


            Date      Time CO(GT)
3122  18/07/2004  20.00.00    0,8


            Date      Time CO(GT)
3123  18/07/2004  21.00.00    1,2


            Date      Time CO(GT)
3124  18/07/2004  22.00.00    1,6


            Date      Time CO(GT)
3125  18/07/2004  23.00.00    1,2


            Date      Time CO(GT)
3846  18/08/2004  00.00.00   -200


            Date      Time CO(GT)
3847  18/08/2004  01.00.00   -200


            Date      Time CO(GT)
3848  18/08/2004  02.00.00   -200


            Date      Time CO(GT)
3849  18/08/2004  03.00.00   -200


            Date      Time CO(GT)
3850  18/08/2004  04.00.00   -200


            Date      Time CO(GT)
3851  18/08/2004  05.00.00   -200


            Date      Time CO(GT)
3852  18/08/2004  06.00.00   -200


            Date      Time CO(GT)
3853  18/08/2004  07.00.00   -200


            Date      Time CO(GT)
3854  18/08/2004  08.00.00   -200


            Date      Time CO(GT)
3855  18/08/2004  09.00.00   -200


            Date      Time CO(GT)
3856  18/08/2004  10.00.00   -200


            Date      Time CO(GT)
3857  18/08/2004  11.00.00   -200


            Date      Time CO(GT)
3858  18/08/2004  12.00.00   -200


            Date      Time CO(GT)
3859  18/08/2004  13.00.00   -200


            Date      Time CO(GT)
3860  18/08/2004  14.00.00   -200


            Date      Time CO(GT)
3861  18/08/2004  15.00.00   -200


            Date      Time CO(GT)
3862  18/08/2004  16.00.00    1,4


            Date      Time CO(GT)
3863  18/08/2004  17.00.00    1,7


            Date      Time CO(GT)
3864  18/08/2004  18.00.00    1,5


            Date      Time CO(GT)
3865  18/08/2004  19.00.00    1,7


            Date      Time CO(GT)
3866  18/08/2004  20.00.00    1,6


            Date      Time CO(GT)
3867  18/08/2004  21.00.00    1,4


            Date      Time CO(GT)
3868  18/08/2004  22.00.00    1,4


            Date      Time CO(GT)
3869  18/08/2004  23.00.00    1,4


            Date      Time CO(GT)
4590  18/09/2004  00.00.00    1,4


            Date      Time CO(GT)
4591  18/09/2004  01.00.00    0,9


            Date      Time CO(GT)
4592  18/09/2004  02.00.00    0,7


            Date      Time CO(GT)
4593  18/09/2004  03.00.00    0,6


            Date      Time CO(GT)
4594  18/09/2004  04.00.00   -200


            Date      Time CO(GT)
4595  18/09/2004  05.00.00    0,5


            Date      Time CO(GT)
4596  18/09/2004  06.00.00    0,8


            Date      Time CO(GT)
4597  18/09/2004  07.00.00    1,2


            Date      Time CO(GT)
4598  18/09/2004  08.00.00    1,1


            Date      Time CO(GT)
4599  18/09/2004  09.00.00    1,6


            Date      Time CO(GT)
4600  18/09/2004  10.00.00    1,4


            Date      Time CO(GT)
4601  18/09/2004  11.00.00    1,2


            Date      Time CO(GT)
4602  18/09/2004  12.00.00    1,4


            Date      Time CO(GT)
4603  18/09/2004  13.00.00    1,6


            Date      Time CO(GT)
4604  18/09/2004  14.00.00    1,1


            Date      Time CO(GT)
4605  18/09/2004  15.00.00    1,1


            Date      Time CO(GT)
4606  18/09/2004  16.00.00    1,3


            Date      Time CO(GT)
4607  18/09/2004  17.00.00    1,5


            Date      Time CO(GT)
4608  18/09/2004  18.00.00      2


            Date      Time CO(GT)
4609  18/09/2004  19.00.00    2,4


            Date      Time CO(GT)
4610  18/09/2004  20.00.00      2


            Date      Time CO(GT)
4611  18/09/2004  21.00.00    1,5


            Date      Time CO(GT)
4612  18/09/2004  22.00.00    1,7


            Date      Time CO(GT)
4613  18/09/2004  23.00.00    2,5


            Date      Time CO(GT)
5310  18/10/2004  00.00.00   -200


            Date      Time CO(GT)
5311  18/10/2004  01.00.00   -200


            Date      Time CO(GT)
5312  18/10/2004  02.00.00   -200


            Date      Time CO(GT)
5313  18/10/2004  03.00.00   -200


            Date      Time CO(GT)
5314  18/10/2004  04.00.00   -200


            Date      Time CO(GT)
5315  18/10/2004  05.00.00   -200


            Date      Time CO(GT)
5316  18/10/2004  06.00.00   -200


            Date      Time CO(GT)
5317  18/10/2004  07.00.00   -200


            Date      Time CO(GT)
5318  18/10/2004  08.00.00   -200


            Date      Time CO(GT)
5319  18/10/2004  09.00.00   -200


            Date      Time CO(GT)
5320  18/10/2004  10.00.00   -200


            Date      Time CO(GT)
5321  18/10/2004  11.00.00   -200


            Date      Time CO(GT)
5322  18/10/2004  12.00.00   -200


            Date      Time CO(GT)
5323  18/10/2004  13.00.00   -200


            Date      Time CO(GT)
5324  18/10/2004  14.00.00   -200


            Date      Time CO(GT)
5325  18/10/2004  15.00.00   -200


            Date      Time CO(GT)
5326  18/10/2004  16.00.00   -200


            Date      Time CO(GT)
5327  18/10/2004  17.00.00   -200


            Date      Time CO(GT)
5328  18/10/2004  18.00.00   -200


            Date      Time CO(GT)
5329  18/10/2004  19.00.00   -200


            Date      Time CO(GT)
5330  18/10/2004  20.00.00   -200


            Date      Time CO(GT)
5331  18/10/2004  21.00.00   -200


            Date      Time CO(GT)
5332  18/10/2004  22.00.00   -200


            Date      Time CO(GT)
5333  18/10/2004  23.00.00   -200


            Date      Time CO(GT)
6054  18/11/2004  00.00.00    2,7


            Date      Time CO(GT)
6055  18/11/2004  01.00.00    2,2


            Date      Time CO(GT)
6056  18/11/2004  02.00.00      2


            Date      Time CO(GT)
6057  18/11/2004  03.00.00    1,3


            Date      Time CO(GT)
6058  18/11/2004  04.00.00    1,2


            Date      Time CO(GT)
6059  18/11/2004  05.00.00    1,1


            Date      Time CO(GT)
6060  18/11/2004  06.00.00    1,4


            Date      Time CO(GT)
6061  18/11/2004  07.00.00    2,1


            Date      Time CO(GT)
6062  18/11/2004  08.00.00    4,5


            Date      Time CO(GT)
6063  18/11/2004  09.00.00    5,6


            Date      Time CO(GT)
6064  18/11/2004  10.00.00    5,6


            Date      Time CO(GT)
6065  18/11/2004  11.00.00    4,7


            Date      Time CO(GT)
6066  18/11/2004  12.00.00    4,2


            Date      Time CO(GT)
6067  18/11/2004  13.00.00    3,6


            Date      Time CO(GT)
6068  18/11/2004  14.00.00    3,2


            Date      Time CO(GT)
6069  18/11/2004  15.00.00    3,1


            Date      Time CO(GT)
6070  18/11/2004  16.00.00    3,8


            Date      Time CO(GT)
6071  18/11/2004  17.00.00    3,9


            Date      Time CO(GT)
6072  18/11/2004  18.00.00    4,6


            Date      Time CO(GT)
6073  18/11/2004  19.00.00    4,9


            Date      Time CO(GT)
6074  18/11/2004  20.00.00    5,4


            Date      Time CO(GT)
6075  18/11/2004  21.00.00    4,3


            Date      Time CO(GT)
6076  18/11/2004  22.00.00    3,1


            Date      Time CO(GT)
6077  18/11/2004  23.00.00    2,5


            Date      Time CO(GT)
6774  18/12/2004  00.00.00    2,1


            Date      Time CO(GT)
6775  18/12/2004  01.00.00    1,4


            Date      Time CO(GT)
6776  18/12/2004  02.00.00    1,4


            Date      Time CO(GT)
6777  18/12/2004  03.00.00    1,3


            Date      Time CO(GT)
6778  18/12/2004  04.00.00      1


            Date      Time CO(GT)
6779  18/12/2004  05.00.00    1,3


            Date      Time CO(GT)
6780  18/12/2004  06.00.00      1


            Date      Time CO(GT)
6781  18/12/2004  07.00.00    1,1


            Date      Time CO(GT)
6782  18/12/2004  08.00.00    2,1


            Date      Time CO(GT)
6783  18/12/2004  09.00.00    3,2


            Date      Time CO(GT)
6784  18/12/2004  10.00.00    3,3


            Date      Time CO(GT)
6785  18/12/2004  11.00.00    2,3


            Date      Time CO(GT)
6786  18/12/2004  12.00.00      1


            Date      Time CO(GT)
6787  18/12/2004  13.00.00    0,8


            Date      Time CO(GT)
6788  18/12/2004  14.00.00    0,8


            Date      Time CO(GT)
6789  18/12/2004  15.00.00    0,6


            Date      Time CO(GT)
6790  18/12/2004  16.00.00    0,9


            Date      Time CO(GT)
6791  18/12/2004  17.00.00    0,8


            Date      Time CO(GT)
6792  18/12/2004  18.00.00    1,2


            Date      Time CO(GT)
6793  18/12/2004  19.00.00    2,1


            Date      Time CO(GT)
6794  18/12/2004  20.00.00    3,9


            Date      Time CO(GT)
6795  18/12/2004  21.00.00    4,4



1685  19/05/2004  23.00.00      2


            Date      Time CO(GT)
2406  19/06/2004  00.00.00    1,6


            Date      Time CO(GT)
2407  19/06/2004  01.00.00      1


            Date      Time CO(GT)
2408  19/06/2004  02.00.00    0,6


            Date      Time CO(GT)
2409  19/06/2004  03.00.00    0,6


            Date      Time CO(GT)
2410  19/06/2004  04.00.00    0,6


            Date      Time CO(GT)
2411  19/06/2004  05.00.00    0,5


            Date      Time CO(GT)
2412  19/06/2004  06.00.00    0,5


            Date      Time CO(GT)
2413  19/06/2004  07.00.00    0,9


            Date      Time CO(GT)
2414  19/06/2004  08.00.00    1,4


            Date      Time CO(GT)
2415  19/06/2004  09.00.00    1,6


            Date      Time CO(GT)
2416  19/06/2004  10.00.00    1,6


            Date      Time CO(GT)
2417  19/06/2004  11.00.00    1,7


            Date      Time CO(GT)
2418  19/06/2004  12.00.00    1,7


            Date      Time CO(GT)
2419  19/06/2004  13.00.00    1,5


            Date      Time CO(GT)
2420  19/06/2004  14.00.00    1,2


            Date      Time CO(GT)
2421  19/06/2004  15.00.00    1,2


            Date      Time CO(GT)
2422  19/06/2004  16.00.00    1,1


            Date      Time CO(GT)
2423  19/06/2004  17.00.00      1


            Date      Time CO(GT)
2424  19/06/2004  18.00.00    1,1


            Date      Time CO(GT)
2425  19/06/2004  19.00.00    1,6


            Date      Time CO(GT)
2426  19/06/2004  20.00.00    1,7


            Date      Time CO(GT)
2427  19/06/2004  21.00.00    1,4


            Date      Time CO(GT)
2428  19/06/2004  22.00.00    1,7


            Date      Time CO(GT)
2429  19/06/2004  23.00.00    2,4


            Date      Time CO(GT)
3126  19/07/2004  00.00.00    0,5


            Date      Time CO(GT)
3127  19/07/2004  01.00.00    0,3


            Date      Time CO(GT)
3128  19/07/2004  02.00.00    0,1


            Date      Time CO(GT)
3129  19/07/2004  03.00.00   -200


            Date      Time CO(GT)
3130  19/07/2004  04.00.00    0,1


            Date      Time CO(GT)
3131  19/07/2004  05.00.00    0,3


            Date      Time CO(GT)
3132  19/07/2004  06.00.00    0,8


            Date      Time CO(GT)
3133  19/07/2004  07.00.00    2,3


            Date      Time CO(GT)
3134  19/07/2004  08.00.00    3,4


            Date      Time CO(GT)
3135  19/07/2004  09.00.00    2,5


            Date      Time CO(GT)
3136  19/07/2004  10.00.00    2,4


            Date      Time CO(GT)
3137  19/07/2004  11.00.00    2,1


            Date      Time CO(GT)
3138  19/07/2004  12.00.00   -200


            Date      Time CO(GT)
3139  19/07/2004  13.00.00   -200


            Date      Time CO(GT)
3140  19/07/2004  14.00.00   -200


            Date      Time CO(GT)
3141  19/07/2004  15.00.00   -200


            Date      Time CO(GT)
3142  19/07/2004  16.00.00   -200


            Date      Time CO(GT)
3143  19/07/2004  17.00.00   -200


            Date      Time CO(GT)
3144  19/07/2004  18.00.00   -200


            Date      Time CO(GT)
3145  19/07/2004  19.00.00   -200


            Date      Time CO(GT)
3146  19/07/2004  20.00.00   -200


            Date      Time CO(GT)
3147  19/07/2004  21.00.00   -200


            Date      Time CO(GT)
3148  19/07/2004  22.00.00   -200


            Date      Time CO(GT)
3149  19/07/2004  23.00.00   -200


            Date      Time CO(GT)
3870  19/08/2004  00.00.00    1,2


            Date      Time CO(GT)
3871  19/08/2004  01.00.00    0,9


            Date      Time CO(GT)
3872  19/08/2004  02.00.00    0,6


            Date      Time CO(GT)
3873  19/08/2004  03.00.00    0,4


            Date      Time CO(GT)
3874  19/08/2004  04.00.00    0,5


            Date      Time CO(GT)
3875  19/08/2004  05.00.00    0,5


            Date      Time CO(GT)
3876  19/08/2004  06.00.00    0,8


            Date      Time CO(GT)
3877  19/08/2004  07.00.00    1,4


            Date      Time CO(GT)
3878  19/08/2004  08.00.00    1,2


            Date      Time CO(GT)
3879  19/08/2004  09.00.00      1


            Date      Time CO(GT)
3880  19/08/2004  10.00.00    1,2


            Date      Time CO(GT)
3881  19/08/2004  11.00.00    1,1


            Date      Time CO(GT)
3882  19/08/2004  12.00.00    1,2


            Date      Time CO(GT)
3883  19/08/2004  13.00.00    1,1


            Date      Time CO(GT)
3884  19/08/2004  14.00.00      1


            Date      Time CO(GT)
3885  19/08/2004  15.00.00      1


            Date      Time CO(GT)
3886  19/08/2004  16.00.00    1,2


            Date      Time CO(GT)
3887  19/08/2004  17.00.00    1,7


            Date      Time CO(GT)
3888  19/08/2004  18.00.00    1,7


            Date      Time CO(GT)
3889  19/08/2004  19.00.00    1,7


            Date      Time CO(GT)
3890  19/08/2004  20.00.00    1,7


            Date      Time CO(GT)
3891  19/08/2004  21.00.00   -200


            Date      Time CO(GT)
3892  19/08/2004  22.00.00   -200


            Date      Time CO(GT)
3893  19/08/2004  23.00.00   -200


            Date      Time CO(GT)
4614  19/09/2004  00.00.00    2,2


            Date      Time CO(GT)
4615  19/09/2004  01.00.00    1,4


            Date      Time CO(GT)
4616  19/09/2004  02.00.00    1,2


            Date      Time CO(GT)
4617  19/09/2004  03.00.00    1,2


            Date      Time CO(GT)
4618  19/09/2004  04.00.00    0,9


            Date      Time CO(GT)
4619  19/09/2004  05.00.00    0,5


            Date      Time CO(GT)
4620  19/09/2004  06.00.00    0,6


            Date      Time CO(GT)
4621  19/09/2004  07.00.00      1


            Date      Time CO(GT)
4622  19/09/2004  08.00.00    1,3


            Date      Time CO(GT)
4623  19/09/2004  09.00.00    1,7


            Date      Time CO(GT)
4624  19/09/2004  10.00.00    2,2


            Date      Time CO(GT)
4625  19/09/2004  11.00.00    2,1


            Date      Time CO(GT)
4626  19/09/2004  12.00.00    2,2


            Date      Time CO(GT)
4627  19/09/2004  13.00.00      2


            Date      Time CO(GT)
4628  19/09/2004  14.00.00      2


            Date      Time CO(GT)
4629  19/09/2004  15.00.00    1,2


            Date      Time CO(GT)
4630  19/09/2004  16.00.00    1,8


            Date      Time CO(GT)
4631  19/09/2004  17.00.00    4,3


            Date      Time CO(GT)
4632  19/09/2004  18.00.00    3,8


            Date      Time CO(GT)
4633  19/09/2004  19.00.00    4,4


            Date      Time CO(GT)
4634  19/09/2004  20.00.00    3,8


            Date      Time CO(GT)
4635  19/09/2004  21.00.00    1,9


            Date      Time CO(GT)
4636  19/09/2004  22.00.00    1,7


            Date      Time CO(GT)
4637  19/09/2004  23.00.00    1,8


            Date      Time CO(GT)
5334  19/10/2004  00.00.00   -200


            Date      Time CO(GT)
5335  19/10/2004  01.00.00   -200


            Date      Time CO(GT)
5336  19/10/2004  02.00.00   -200


            Date      Time CO(GT)
5337  19/10/2004  03.00.00   -200


            Date      Time CO(GT)
5338  19/10/2004  04.00.00   -200


            Date      Time CO(GT)
5339  19/10/2004  05.00.00   -200


            Date      Time CO(GT)
5340  19/10/2004  06.00.00   -200


            Date      Time CO(GT)
5341  19/10/2004  07.00.00   -200


            Date      Time CO(GT)
5342  19/10/2004  08.00.00   -200


            Date      Time CO(GT)
5343  19/10/2004  09.00.00   -200


            Date      Time CO(GT)
5344  19/10/2004  10.00.00   -200


            Date      Time CO(GT)
5345  19/10/2004  11.00.00   -200


            Date      Time CO(GT)
5346  19/10/2004  12.00.00   -200


            Date      Time CO(GT)
5347  19/10/2004  13.00.00   -200


            Date      Time CO(GT)
5348  19/10/2004  14.00.00   -200


            Date      Time CO(GT)
5349  19/10/2004  15.00.00   -200


            Date      Time CO(GT)
5350  19/10/2004  16.00.00   -200


            Date      Time CO(GT)
5351  19/10/2004  17.00.00   -200


            Date      Time CO(GT)
5352  19/10/2004  18.00.00   -200


            Date      Time CO(GT)
5353  19/10/2004  19.00.00   -200


            Date      Time CO(GT)
5354  19/10/2004  20.00.00   -200


            Date      Time CO(GT)
5355  19/10/2004  21.00.00   -200


            Date      Time CO(GT)
5356  19/10/2004  22.00.00   -200


            Date      Time CO(GT)
5357  19/10/2004  23.00.00   -200


            Date      Time CO(GT)
6078  19/11/2004  00.00.00    2,4


            Date      Time CO(GT)
6079  19/11/2004  01.00.00    1,9


            Date      Time CO(GT)
6080  19/11/2004  02.00.00    1,3


            Date      Time CO(GT)
6081  19/11/2004  03.00.00    1,2


            Date      Time CO(GT)
6082  19/11/2004  04.00.00    1,1


            Date      Time CO(GT)
6083  19/11/2004  05.00.00    0,9


            Date      Time CO(GT)
6084  19/11/2004  06.00.00      1


            Date      Time CO(GT)
6085  19/11/2004  07.00.00    1,6


            Date      Time CO(GT)
6086  19/11/2004  08.00.00    4,8


            Date      Time CO(GT)
6087  19/11/2004  09.00.00    5,9


            Date      Time CO(GT)
6088  19/11/2004  10.00.00    5,6


            Date      Time CO(GT)
6089  19/11/2004  11.00.00    3,5


            Date      Time CO(GT)
6090  19/11/2004  12.00.00    2,8


            Date      Time CO(GT)
6091  19/11/2004  13.00.00    3,6


            Date      Time CO(GT)
6092  19/11/2004  14.00.00    4,8


            Date      Time CO(GT)
6093  19/11/2004  15.00.00      5


            Date      Time CO(GT)
6094  19/11/2004  16.00.00    5,6


            Date      Time CO(GT)
6095  19/11/2004  17.00.00    7,5


            Date      Time CO(GT)
6096  19/11/2004  18.00.00    7,2


            Date      Time CO(GT)
6097  19/11/2004  19.00.00    8,3


            Date      Time CO(GT)
6098  19/11/2004  20.00.00    8,6


            Date      Time CO(GT)
6099  19/11/2004  21.00.00    4,3


            Date      Time CO(GT)
6100  19/11/2004  22.00.00    2,6


            Date      Time CO(GT)
6101  19/11/2004  23.00.00    2,6


            Date      Time CO(GT)
6798  19/12/2004  00.00.00    3,6


            Date      Time CO(GT)
6799  19/12/2004  01.00.00    3,9


            Date      Time CO(GT)
6800  19/12/2004  02.00.00    1,6


            Date      Time CO(GT)
6801  19/12/2004  03.00.00      1


            Date      Time CO(GT)
6802  19/12/2004  04.00.00   -200


            Date      Time CO(GT)
6803  19/12/2004  05.00.00      1


            Date      Time CO(GT)
6804  19/12/2004  06.00.00    0,8


            Date      Time CO(GT)
6805  19/12/2004  07.00.00    0,7


            Date      Time CO(GT)
6806  19/12/2004  08.00.00      1


            Date      Time CO(GT)
6807  19/12/2004  09.00.00      1


            Date      Time CO(GT)
6808  19/12/2004  10.00.00    1,5


            Date      Time CO(GT)
6809  19/12/2004  11.00.00    2,5


            Date      Time CO(GT)
6810  19/12/2004  12.00.00    2,6


            Date      Time CO(GT)
6811  19/12/2004  13.00.00    3,2


            Date      Time CO(GT)
6812  19/12/2004  14.00.00      3


            Date      Time CO(GT)
6813  19/12/2004  15.00.00    3,4


            Date      Time CO(GT)
6814  19/12/2004  16.00.00    3,3


            Date      Time CO(GT)
6815  19/12/2004  17.00.00    3,6


            Date      Time CO(GT)
6816  19/12/2004  18.00.00    5,5


            Date      Time CO(GT)
6817  19/12/2004  19.00.00    4,5


            Date      Time CO(GT)
6818  19/12/2004  20.00.00    4,7


            Date      Time CO(GT)
6819  19/12/2004  21.00.00    4,3


            Date      Time CO(GT)
6820  19/12/2004  22.00.00    3,2


            Date      Time CO(GT)
6821  19/12/2004  23.00.00    2,9


            Date      Time CO(GT)
7566  20/01/2005  00.00.00    1,8


            Date      Time CO(GT)
7567  20/01/2005  01.00.00    1,1


            Date      Time CO(GT)
7568  20/01/2005  02.00.00    0,9


            Date      Time CO(GT)
7569  20/01/2005  03.00.00    0,7


            Date      Time CO(GT)
7570  20/01/2005  04.00.00    0,6


            Date      Time CO(GT)
7571  20/01/2005  05.00.00    0,6


            Date      Time CO(GT)
7572  20/01/2005  06.00.00    0,9


            Date      Time CO(GT)
7573  20/01/2005  07.00.00    1,0


            Date      Time CO(GT)
7574  20/01/2005  08.00.00    3,4


            Date      Time CO(GT)
7575  20/01/2005  09.00.00    4,2


            Date      Time CO(GT)
7576  20/01/2005  10.00.00    4,4


            Date      Time CO(GT)
7577  20/01/2005  11.00.00    2,9


            Date      Time CO(GT)
7578  20/01/2005  12.00.00    2,6


            Date      Time CO(GT)
7579  20/01/2005  13.00.00    2,6


            Date      Time CO(GT)
7580  20/01/2005  14.00.00    3,0


            Date      Time CO(GT)
7581  20/01/2005  15.00.00    2,3


            Date      Time CO(GT)
7582  20/01/2005  16.00.00    3,0


            Date      Time CO(GT)
7583  20/01/2005  17.00.00    4,5


            Date      Time CO(GT)
7584  20/01/2005  18.00.00    6,0


            Date      Time CO(GT)
7585  20/01/2005  19.00.00    4,3


            Date      Time CO(GT)
7586  20/01/2005  20.00.00    3,4


            Date      Time CO(GT)
7587  20/01/2005  21.00.00    2,8


            Date      Time CO(GT)
7588  20/01/2005  22.00.00    2,1


            Date      Time CO(GT)
7589  20/01/2005  23.00.00    1,7


            Date      Time CO(GT)
8310  20/02/2005  00.00.00    1,9


            Date      Time CO(GT)
8311  20/02/2005  01.00.00    1,7


            Date      Time CO(GT)
8312  20/02/2005  02.00.00    2,2


            Date      Time CO(GT)
8313  20/02/2005  03.00.00    1,6


            Date      Time CO(GT)
8314  20/02/2005  04.00.00    1,5


            Date      Time CO(GT)
8315  20/02/2005  05.00.00    0,8


            Date      Time CO(GT)
8316  20/02/2005  06.00.00    0,5


            Date      Time CO(GT)
8317  20/02/2005  07.00.00    0,5


            Date      Time CO(GT)
8318  20/02/2005  08.00.00    0,7


            Date      Time CO(GT)
8319  20/02/2005  09.00.00    0,7


            Date      Time CO(GT)
8320  20/02/2005  10.00.00    0,9


            Date      Time CO(GT)
8321  20/02/2005  11.00.00    1,0


            Date      Time CO(GT)
8322  20/02/2005  12.00.00    1,1


            Date      Time CO(GT)
8323  20/02/2005  13.00.00    1,1


            Date      Time CO(GT)
8324  20/02/2005  14.00.00    1,0


            Date      Time CO(GT)
8325  20/02/2005  15.00.00    1,1


            Date      Time CO(GT)
8326  20/02/2005  16.00.00    1,3


            Date      Time CO(GT)
8327  20/02/2005  17.00.00    1,2


            Date      Time CO(GT)
8328  20/02/2005  18.00.00    1,3


            Date      Time CO(GT)
8329  20/02/2005  19.00.00    1,1


            Date      Time CO(GT)
8330  20/02/2005  20.00.00    1,5


            Date      Time CO(GT)
8331  20/02/2005  21.00.00    1,4


            Date      Time CO(GT)
8332  20/02/2005  22.00.00    1,1


            Date      Time CO(GT)
8333  20/02/2005  23.00.00    1,3


           Date      Time CO(GT)
222  20/03/2004  00.00.00    1,7


           Date      Time CO(GT)
223  20/03/2004  01.00.00    1,6


           Date      Time CO(GT)
224  20/03/2004  02.00.00    1,3


           Date      Time CO(GT)
225  20/03/2004  03.00.00    1,3


           Date      Time CO(GT)
226  20/03/2004  04.00.00   -200


           Date      Time CO(GT)
227  20/03/2004  05.00.00    0,8


           Date      Time CO(GT)
228  20/03/2004  06.00.00    0,8


           Date      Time CO(GT)
229  20/03/2004  07.00.00    1,1


           Date      Time CO(GT)
230  20/03/2004  08.00.00    2,1


           Date      Time CO(GT)
231  20/03/2004  09.00.00    2,4


           Date      Time CO(GT)
232  20/03/2004  10.00.00    2,6


           Date      Time CO(GT)
233  20/03/2004  11.00.00    2,8


           Date      Time CO(GT)
234  20/03/2004  12.00.00    2,6


           Date      Time CO(GT)
235  20/03/2004  13.00.00    2,6


           Date      Time CO(GT)
236  20/03/2004  14.00.00    2,1


           Date      Time CO(GT)
237  20/03/2004  15.00.00    1,7


           Date      Time CO(GT)
238  20/03/2004  16.00.00    1,6


           Date      Time CO(GT)
239  20/03/2004  17.00.00    2,1


           Date      Time CO(GT)
240  20/03/2004  18.00.00    2,3


           Date      Time CO(GT)
241  20/03/2004  19.00.00    3,5


           Date      Time CO(GT)
242  20/03/2004  20.00.00    3,9


           Date      Time CO(GT)
243  20/03/2004  21.00.00    3,3


           Date      Time CO(GT)
244  20/03/2004  22.00.00    2,3


           Date      Time CO(GT)
245  20/03/2004  23.00.00    2,1


            Date      Time CO(GT)
8982  20/03/2005  00.00.00    1,9


            Date      Time CO(GT)
8983  20/03/2005  01.00.00    1,9


            Date      Time CO(GT)
8984  20/03/2005  02.00.00    1,5


            Date      Time CO(GT)
8985  20/03/2005  03.00.00    1,1


            Date      Time  CO(GT)
8986  20/03/2005  04.00.00  -200,0


            Date      Time CO(GT)
8987  20/03/2005  05.00.00    0,8


            Date      Time CO(GT)
8988  20/03/2005  06.00.00    0,6


            Date      Time CO(GT)
8989  20/03/2005  07.00.00    0,7


            Date      Time CO(GT)
8990  20/03/2005  08.00.00    0,7


            Date      Time CO(GT)
8991  20/03/2005  09.00.00    1,0


            Date      Time CO(GT)
8992  20/03/2005  10.00.00    1,5


            Date      Time CO(GT)
8993  20/03/2005  11.00.00    2,4


            Date      Time CO(GT)
8994  20/03/2005  12.00.00    1,6


            Date      Time CO(GT)
8995  20/03/2005  13.00.00    1,2


            Date      Time CO(GT)
8996  20/03/2005  14.00.00    0,9


            Date      Time CO(GT)
8997  20/03/2005  15.00.00    0,9


            Date      Time CO(GT)
8998  20/03/2005  16.00.00    1,1


            Date      Time CO(GT)
8999  20/03/2005  17.00.00    1,4


            Date      Time CO(GT)
9000  20/03/2005  18.00.00    1,7


            Date      Time CO(GT)
9001  20/03/2005  19.00.00    2,9


            Date      Time CO(GT)
9002  20/03/2005  20.00.00    4,0


            Date      Time CO(GT)
9003  20/03/2005  21.00.00    4,0


            Date      Time CO(GT)
9004  20/03/2005  22.00.00    1,9


            Date      Time CO(GT)
9005  20/03/2005  23.00.00    1,5


           Date      Time CO(GT)
966  20/04/2004  00.00.00   -200


           Date      Time CO(GT)
967  20/04/2004  01.00.00   -200


           Date      Time CO(GT)
968  20/04/2004  02.00.00   -200


           Date      Time CO(GT)
969  20/04/2004  03.00.00   -200


           Date      Time CO(GT)
970  20/04/2004  04.00.00   -200


           Date      Time CO(GT)
971  20/04/2004  05.00.00   -200


           Date      Time CO(GT)
972  20/04/2004  06.00.00   -200


           Date      Time CO(GT)
973  20/04/2004  07.00.00   -200


           Date      Time CO(GT)
974  20/04/2004  08.00.00   -200


           Date      Time CO(GT)
975  20/04/2004  09.00.00   -200


           Date      Time CO(GT)
976  20/04/2004  10.00.00   -200


           Date      Time CO(GT)
977  20/04/2004  11.00.00   -200


           Date      Time CO(GT)
978  20/04/2004  12.00.00   -200


           Date      Time CO(GT)
979  20/04/2004  13.00.00   -200


           Date      Time CO(GT)
980  20/04/2004  14.00.00   -200


           Date      Time CO(GT)
981  20/04/2004  15.00.00   -200


           Date      Time CO(GT)
982  20/04/2004  16.00.00   -200


           Date      Time CO(GT)
983  20/04/2004  17.00.00   -200


           Date      Time CO(GT)
984  20/04/2004  18.00.00   -200


           Date      Time CO(GT)
985  20/04/2004  19.00.00   -200


           Date      Time CO(GT)
986  20/04/2004  20.00.00   -200


           Date      Time CO(GT)
987  20/04/2004  21.00.00   -200


           Date      Time CO(GT)

2439  20/06/2004  09.00.00    1,2


            Date      Time CO(GT)
2440  20/06/2004  10.00.00    1,2


            Date      Time CO(GT)
2441  20/06/2004  11.00.00      1


            Date      Time CO(GT)
2442  20/06/2004  12.00.00      1


            Date      Time CO(GT)
2443  20/06/2004  13.00.00    0,6


            Date      Time CO(GT)
2444  20/06/2004  14.00.00    0,7


            Date      Time CO(GT)
2445  20/06/2004  15.00.00    0,8


            Date      Time CO(GT)
2446  20/06/2004  16.00.00    1,1


            Date      Time CO(GT)
2447  20/06/2004  17.00.00    1,4


            Date      Time CO(GT)
2448  20/06/2004  18.00.00    2,8


            Date      Time CO(GT)
2449  20/06/2004  19.00.00    2,5


            Date      Time CO(GT)
2450  20/06/2004  20.00.00    1,6


            Date      Time CO(GT)
2451  20/06/2004  21.00.00    1,4


            Date      Time CO(GT)
2452  20/06/2004  22.00.00    2,3


            Date      Time CO(GT)
2453  20/06/2004  23.00.00    4,2


            Date      Time CO(GT)
3150  20/07/2004  00.00.00   -200


            Date      Time CO(GT)
3151  20/07/2004  01.00.00   -200


            Date      Time CO(GT)
3152  20/07/2004  02.00.00   -200


            Date      Time CO(GT)
3153  20/07/2004  03.00.00   -200


            Date      Time CO(GT)
3154  20/07/2004  04.00.00   -200


            Date      Time CO(GT)
3155  20/07/2004  05.00.00   -200


            Date      Time CO(GT)
3156  20/07/2004  06.00.00   -200


            Date      Time CO(GT)
3157  20/07/2004  07.00.00   -200


            Date      Time CO(GT)
3158  20/07/2004  08.00.00   -200


            Date      Time CO(GT)
3159  20/07/2004  09.00.00   -200


            Date      Time CO(GT)
3160  20/07/2004  10.00.00   -200


            Date      Time CO(GT)
3161  20/07/2004  11.00.00   -200


            Date      Time CO(GT)
3162  20/07/2004  12.00.00   -200


            Date      Time CO(GT)
3163  20/07/2004  13.00.00   -200


            Date      Time CO(GT)
3164  20/07/2004  14.00.00   -200


            Date      Time CO(GT)
3165  20/07/2004  15.00.00   -200


            Date      Time CO(GT)
3166  20/07/2004  16.00.00   -200


            Date      Time CO(GT)
3167  20/07/2004  17.00.00   -200


            Date      Time CO(GT)
3168  20/07/2004  18.00.00   -200


            Date      Time CO(GT)
3169  20/07/2004  19.00.00   -200


            Date      Time CO(GT)
3170  20/07/2004  20.00.00   -200


            Date      Time CO(GT)
3171  20/07/2004  21.00.00   -200


            Date      Time CO(GT)
3172  20/07/2004  22.00.00   -200


            Date      Time CO(GT)
3173  20/07/2004  23.00.00   -200


            Date      Time CO(GT)
3894  20/08/2004  00.00.00   -200


            Date      Time CO(GT)
3895  20/08/2004  01.00.00   -200


            Date      Time CO(GT)
3896  20/08/2004  02.00.00   -200


            Date      Time CO(GT)
3897  20/08/2004  03.00.00   -200


            Date      Time CO(GT)
3898  20/08/2004  04.00.00   -200


            Date      Time CO(GT)
3899  20/08/2004  05.00.00   -200


            Date      Time CO(GT)
3900  20/08/2004  06.00.00   -200


            Date      Time CO(GT)
3901  20/08/2004  07.00.00   -200


            Date      Time CO(GT)
3902  20/08/2004  08.00.00   -200


            Date      Time CO(GT)
3903  20/08/2004  09.00.00   -200


            Date      Time CO(GT)
3904  20/08/2004  10.00.00   -200


            Date      Time CO(GT)
3905  20/08/2004  11.00.00   -200


            Date      Time CO(GT)
3906  20/08/2004  12.00.00   -200


            Date      Time CO(GT)
3907  20/08/2004  13.00.00   -200


            Date      Time CO(GT)
3908  20/08/2004  14.00.00   -200


            Date      Time CO(GT)
3909  20/08/2004  15.00.00   -200


            Date      Time CO(GT)
3910  20/08/2004  16.00.00   -200


            Date      Time CO(GT)
3911  20/08/2004  17.00.00   -200


            Date      Time CO(GT)
3912  20/08/2004  18.00.00   -200


            Date      Time CO(GT)
3913  20/08/2004  19.00.00   -200


            Date      Time CO(GT)
3914  20/08/2004  20.00.00   -200


            Date      Time CO(GT)
3915  20/08/2004  21.00.00   -200


            Date      Time CO(GT)
3916  20/08/2004  22.00.00   -200


            Date      Time CO(GT)
3917  20/08/2004  23.00.00   -200


            Date      Time CO(GT)
4638  20/09/2004  00.00.00    1,1


            Date      Time CO(GT)
4639  20/09/2004  01.00.00    0,8


            Date      Time CO(GT)
4640  20/09/2004  02.00.00    0,7


            Date      Time CO(GT)
4641  20/09/2004  03.00.00    0,6


            Date      Time CO(GT)
4642  20/09/2004  04.00.00    0,5


            Date      Time CO(GT)
4643  20/09/2004  05.00.00    0,5


            Date      Time CO(GT)
4644  20/09/2004  06.00.00    0,9


            Date      Time CO(GT)
4645  20/09/2004  07.00.00    3,5


            Date      Time CO(GT)
4646  20/09/2004  08.00.00   -200


            Date      Time CO(GT)
4647  20/09/2004  09.00.00    5,7


            Date      Time CO(GT)
4648  20/09/2004  10.00.00    3,5


            Date      Time CO(GT)
4649  20/09/2004  11.00.00    3,7


            Date      Time CO(GT)
4650  20/09/2004  12.00.00    3,1


            Date      Time CO(GT)
4651  20/09/2004  13.00.00      3


            Date      Time CO(GT)
4652  20/09/2004  14.00.00    2,6


            Date      Time CO(GT)
4653  20/09/2004  15.00.00    2,4


            Date      Time CO(GT)
4654  20/09/2004  16.00.00    2,6


            Date      Time CO(GT)
4655  20/09/2004  17.00.00      5


            Date      Time CO(GT)
4656  20/09/2004  18.00.00    5,6


            Date      Time CO(GT)
4657  20/09/2004  19.00.00    6,5


            Date      Time CO(GT)
4658  20/09/2004  20.00.00    4,1


            Date      Time CO(GT)
4659  20/09/2004  21.00.00    2,1


            Date      Time CO(GT)
4660  20/09/2004  22.00.00      2


            Date      Time CO(GT)
4661  20/09/2004  23.00.00    1,4


            Date      Time CO(GT)
5358  20/10/2004  00.00.00   -200


            Date      Time CO(GT)
5359  20/10/2004  01.00.00   -200


            Date      Time CO(GT)
5360  20/10/2004  02.00.00   -200


            Date      Time CO(GT)
5361  20/10/2004  03.00.00   -200


            Date      Time CO(GT)
5362  20/10/2004  04.00.00   -200


            Date      Time CO(GT)
5363  20/10/2004  05.00.00   -200


            Date      Time CO(GT)
5364  20/10/2004  06.00.00   -200


            Date      Time CO(GT)
5365  20/10/2004  07.00.00   -200


            Date      Time CO(GT)
5366  20/10/2004  08.00.00   -200


            Date      Time CO(GT)
5367  20/10/2004  09.00.00   -200


            Date      Time CO(GT)
5368  20/10/2004  10.00.00   -200


            Date      Time CO(GT)
5369  20/10/2004  11.00.00   -200


            Date      Time CO(GT)
5370  20/10/2004  12.00.00   -200


            Date      Time CO(GT)
5371  20/10/2004  13.00.00   -200


            Date      Time CO(GT)
5372  20/10/2004  14.00.00   -200


            Date      Time CO(GT)
5373  20/10/2004  15.00.00   -200


            Date      Time CO(GT)
5374  20/10/2004  16.00.00    4,7


            Date      Time CO(GT)
5375  20/10/2004  17.00.00      8


            Date      Time CO(GT)
5376  20/10/2004  18.00.00    7,7


            Date      Time CO(GT)
5377  20/10/2004  19.00.00    6,8


            Date      Time CO(GT)
5378  20/10/2004  20.00.00      6


            Date      Time CO(GT)
5379  20/10/2004  21.00.00    4,7


            Date      Time CO(GT)
5380  20/10/2004  22.00.00    3,4


            Date      Time CO(GT)
5381  20/10/2004  23.00.00    3,9


            Date      Time CO(GT)
6102  20/11/2004  00.00.00    2,7


            Date      Time CO(GT)
6103  20/11/2004  01.00.00    2,7


            Date      Time CO(GT)
6104  20/11/2004  02.00.00    2,6


            Date      Time CO(GT)
6105  20/11/2004  03.00.00    2,4


            Date      Time CO(GT)
6106  20/11/2004  04.00.00   -200


            Date      Time CO(GT)
6107  20/11/2004  05.00.00    0,6


            Date      Time CO(GT)
6108  20/11/2004  06.00.00    0,7


            Date      Time CO(GT)
6109  20/11/2004  07.00.00    1,2


            Date      Time CO(GT)
6110  20/11/2004  08.00.00      2


            Date      Time CO(GT)
6111  20/11/2004  09.00.00    2,8


            Date      Time CO(GT)
6112  20/11/2004  10.00.00    2,9


            Date      Time CO(GT)
6113  20/11/2004  11.00.00    2,2


            Date      Time CO(GT)
6114  20/11/2004  12.00.00    1,6


            Date      Time CO(GT)
6115  20/11/2004  13.00.00    1,5


            Date      Time CO(GT)
6116  20/11/2004  14.00.00    1,9


            Date      Time CO(GT)
6117  20/11/2004  15.00.00    1,5


            Date      Time CO(GT)
6118  20/11/2004  16.00.00    1,8


            Date      Time CO(GT)
6119  20/11/2004  17.00.00    3,4


            Date      Time CO(GT)
6120  20/11/2004  18.00.00    4,6


            Date      Time CO(GT)
6121  20/11/2004  19.00.00    1,6


            Date      Time CO(GT)
6122  20/11/2004  20.00.00    1,2


            Date      Time CO(GT)
6123  20/11/2004  21.00.00    1,2


            Date      Time CO(GT)
6124  20/11/2004  22.00.00    0,9


            Date      Time CO(GT)
6125  20/11/2004  23.00.00    0,7


            Date      Time CO(GT)
6822  20/12/2004  00.00.00    3,1


            Date      Time CO(GT)
6823  20/12/2004  01.00.00    2,8


            Date      Time CO(GT)
6824  20/12/2004  02.00.00    1,2


            Date      Time CO(GT)
6825  20/12/2004  03.00.00    0,9


            Date      Time CO(GT)
6826  20/12/2004  04.00.00    0,8


            Date      Time CO(GT)
6827  20/12/2004  05.00.00    0,6


            Date      Time CO(GT)
6828  20/12/2004  06.00.00    0,6


            Date      Time CO(GT)
6829  20/12/2004  07.00.00      1


            Date      Time CO(GT)
6830  20/12/2004  08.00.00    3,2


            Date      Time CO(GT)
6831  20/12/2004  09.00.00    3,6


            Date      Time CO(GT)
6832  20/12/2004  10.00.00    2,9


            Date      Time CO(GT)
6833  20/12/2004  11.00.00    2,4


            Date      Time CO(GT)
6834  20/12/2004  12.00.00    2,5


            Date      Time CO(GT)
6835  20/12/2004  13.00.00    2,6


            Date      Time CO(GT)
6836  20/12/2004  14.00.00    2,3


            Date      Time CO(GT)
6837  20/12/2004  15.00.00    2,2


            Date      Time CO(GT)
6838  20/12/2004  16.00.00    2,3


            Date      Time CO(GT)
6839  20/12/2004  17.00.00    2,9


            Date      Time CO(GT)
6840  20/12/2004  18.00.00    4,1


            Date      Time CO(GT)
6841  20/12/2004  19.00.00    4,1


            Date      Time CO(GT)
6842  20/12/2004  20.00.00      4


            Date      Time CO(GT)
6843  20/12/2004  21.00.00    3,7


            Date      Time CO(GT)
6844  20/12/2004  22.00.00    1,7


            Date      Time CO(GT)
6845  20/12/2004  23.00.00    1,1


            Date      Time CO(GT)
7590  21/01/2005  00.00.00    1,8


            Date      Time CO(GT)
7591  21/01/2005  01.00.00    1,6


            Date      Time CO(GT)
7592  21/01/2005  02.00.00    1,4


            Date      Time CO(GT)
7593  21/01/2005  03.00.00    1,3


            Date      Time CO(GT)
7594  21/01/2005  04.00.00   -200


            Date      Time CO(GT)
7595  21/01/2005  05.00.00    1,3


            Date      Time CO(GT)
7596  21/01/2005  06.00.00    1,6


            Date      Time CO(GT)
7597  21/01/2005  07.00.00    2,4


            Date      Time CO(GT)
7598  21/01/2005  08.00.00    4,5


            Date      Time CO(GT)
7599  21/01/2005  09.00.00    5,7


            Date      Time CO(GT)
7600  21/01/2005  10.00.00    4,3


            Date      Time CO(GT)
7601  21/01/2005  11.00.00    4,2


            Date      Time CO(GT)
7602  21/01/2005  12.00.00    4,5


            Date      Time CO(GT)
7603  21/01/2005  13.00.00    5,0


            Date      Time CO(GT)
7604  21/01/2005  14.00.00    2,9


            Date      Time CO(GT)
7605  21/01/2005  15.00.00    3,0


            Date      Time CO(GT)
7606  21/01/2005  16.00.00    3,3


            Date      Time CO(GT)
7607  21/01/2005  17.00.00    1,4


            Date      Time CO(GT)
7608  21/01/2005  18.00.00    2,3


            Date      Time CO(GT)
7609  21/01/2005  19.00.00    1,6


            Date      Time CO(GT)
7610  21/01/2005  20.00.00    4,9


            Date      Time CO(GT)
7611  21/01/2005  21.00.00    6,4


            Date      Time CO(GT)
7612  21/01/2005  22.00.00    3,5


            Date      Time CO(GT)
7613  21/01/2005  23.00.00    1,7


            Date      Time CO(GT)
8334  21/02/2005  00.00.00    1,4


            Date      Time CO(GT)
8335  21/02/2005  01.00.00    1,1


            Date      Time CO(GT)
8336  21/02/2005  02.00.00    0,8


            Date      Time CO(GT)
8337  21/02/2005  03.00.00    0,6


            Date      Time  CO(GT)
8338  21/02/2005  04.00.00  -200,0


            Date      Time CO(GT)
8339  21/02/2005  05.00.00    0,5


            Date      Time CO(GT)
8340  21/02/2005  06.00.00    0,6


            Date      Time CO(GT)
8341  21/02/2005  07.00.00    1,2


            Date      Time CO(GT)
8342  21/02/2005  08.00.00    2,2


            Date      Time CO(GT)
8343  21/02/2005  09.00.00    2,9


            Date      Time CO(GT)
8344  21/02/2005  10.00.00    2,9


            Date      Time CO(GT)
8345  21/02/2005  11.00.00    2,0


            Date      Time CO(GT)
8346  21/02/2005  12.00.00    1,7


            Date      Time CO(GT)
8347  21/02/2005  13.00.00    2,2


            Date      Time CO(GT)
8348  21/02/2005  14.00.00    1,8


            Date      Time CO(GT)
8349  21/02/2005  15.00.00    1,6


            Date      Time CO(GT)
8350  21/02/2005  16.00.00    1,9


            Date      Time CO(GT)
8351  21/02/2005  17.00.00    2,2


            Date      Time CO(GT)
8352  21/02/2005  18.00.00    2,2


            Date      Time CO(GT)
8353  21/02/2005  19.00.00    4,9


            Date      Time CO(GT)
8354  21/02/2005  20.00.00    6,3


            Date      Time CO(GT)
8355  21/02/2005  21.00.00    2,7


            Date      Time CO(GT)
8356  21/02/2005  22.00.00    1,4


            Date      Time CO(GT)
8357  21/02/2005  23.00.00    1,2


           Date      Time CO(GT)
246  21/03/2004  00.00.00    2,8


           Date      Time CO(GT)
247  21/03/2004  01.00.00    2,1


           Date      Time CO(GT)
248  21/03/2004  02.00.00    1,6


           Date      Time CO(GT)
249  21/03/2004  03.00.00    1,6


           Date      Time CO(GT)
250  21/03/2004  04.00.00   -200


           Date      Time CO(GT)
251  21/03/2004  05.00.00    1,1


           Date      Time CO(GT)
252  21/03/2004  06.00.00    0,7


           Date      Time CO(GT)
253  21/03/2004  07.00.00    0,8


           Date      Time CO(GT)
254  21/03/2004  08.00.00    1,2


           Date      Time CO(GT)
255  21/03/2004  09.00.00    1,4


           Date      Time CO(GT)
256  21/03/2004  10.00.00    1,7


           Date      Time CO(GT)
257  21/03/2004  11.00.00    1,8


           Date      Time CO(GT)
258  21/03/2004  12.00.00    1,8


           Date      Time CO(GT)
259  21/03/2004  13.00.00    1,9


           Date      Time CO(GT)
260  21/03/2004  14.00.00    1,3


           Date      Time CO(GT)
261  21/03/2004  15.00.00    1,6


           Date      Time CO(GT)
262  21/03/2004  16.00.00    1,9


           Date      Time CO(GT)
263  21/03/2004  17.00.00    2,3


           Date      Time CO(GT)
264  21/03/2004  18.00.00    3,8


           Date      Time CO(GT)
265  21/03/2004  19.00.00    3,5


           Date      Time CO(GT)
266  21/03/2004  20.00.00    4,3


           Date      Time CO(GT)
267  21/03/2004  21.00.00    2,8


           Date      Time CO(GT)
268  21/03/2004  22.00.00    1,9


           Date      Time CO(GT)
269  21/03/2004  23.00.00    1,9


            Date      Time CO(GT)
9006  21/03/2005  00.00.00    1,5


            Date      Time CO(GT)
9007  21/03/2005  01.00.00    1,6


            Date      Time CO(GT)
9008  21/03/2005  02.00.00    1,1


            Date      Time CO(GT)
9009  21/03/2005  03.00.00    0,8


            Date      Time CO(GT)
9010  21/03/2005  04.00.00    0,7


            Date      Time CO(GT)
9011  21/03/2005  05.00.00    0,6


            Date      Time CO(GT)
9012  21/03/2005  06.00.00    0,7


            Date      Time CO(GT)
9013  21/03/2005  07.00.00    1,3


            Date      Time CO(GT)
9014  21/03/2005  08.00.00    3,2


            Date      Time CO(GT)
9015  21/03/2005  09.00.00    6,1


            Date      Time CO(GT)
9016  21/03/2005  10.00.00    4,3


            Date      Time CO(GT)
9017  21/03/2005  11.00.00    2,6


            Date      Time CO(GT)
9018  21/03/2005  12.00.00    2,0


            Date      Time CO(GT)
9019  21/03/2005  13.00.00    1,8


            Date      Time CO(GT)
9020  21/03/2005  14.00.00    2,1


            Date      Time CO(GT)
9021  21/03/2005  15.00.00    2,1


            Date      Time CO(GT)
9022  21/03/2005  16.00.00    2,0


            Date      Time CO(GT)
9023  21/03/2005  17.00.00    2,6


            Date      Time CO(GT)
9024  21/03/2005  18.00.00    4,5


            Date      Time CO(GT)
9025  21/03/2005  19.00.00    6,4


            Date      Time CO(GT)
9026  21/03/2005  20.00.00    6,0


            Date      Time CO(GT)
9027  21/03/2005  21.00.00    3,8


            Date      Time CO(GT)
9028  21/03/2005  22.00.00    2,1


            Date      Time CO(GT)
9029  21/03/2005  23.00.00    1,2


           Date      Time CO(GT)
990  21/04/2004  00.00.00   -200


           Date      Time CO(GT)
991  21/04/2004  01.00.00   -200


           Date      Time CO(GT)
992  21/04/2004  02.00.00   -200


           Date      Time CO(GT)
993  21/04/2004  03.00.00   -200


           Date      Time CO(GT)
994  21/04/2004  04.00.00   -200


           Date      Time CO(GT)
995  21/04/2004  05.00.00   -200


           Date      Time CO(GT)
996  21/04/2004  06.00.00   -200


           Date      Time CO(GT)
997  21/04/2004  07.00.00   -200


           Date      Time CO(GT)
998  21/04/2004  08.00.00   -200


           Date      Time CO(GT)
999  21/04/2004  09.00.00   -200


            Date      Time CO(GT)
1000  21/04/2004  10.00.00   -200


            Date      Time CO(GT)
1001  21/04/2004  11.00.00   -200


            Date      Time CO(GT)
1002  21/04/2004  12.00.00   -200


            Date      Time CO(GT)
1003  21/04/2004  13.00.00   -200


            Date      Time CO(GT)
1004  21/04/2004  14.00.00   -200


            Date      Time CO(GT)
1005  21/04/2004  15.00.00   -200


            Date      Time CO(GT)
1006  21/04/2004  16.00.00   -200


            Date      Time CO(GT)
1007  21/04/2004  17.00.00   -200


            Date      Time CO(GT)
1008  21/04/2004  18.00.00   -200


            Date      Time CO(GT)
1009  21/04/2004  19.00.00   -200


            Date      Time CO(GT)
1010  21/04/2004  20.00.00   -200


            Date      Time CO(GT)
1011  21/04/2004  21.00.00   -200


            Date      Time CO(GT)
1012  21/04/2004  22.00.00   -200


            Date      Time CO(GT)
1013  21/04/2004  23.00.00   -200


            Date      Time CO(GT)
1710  21/05/2004  00.00.00    1,2


            Date      Time CO(GT)
1711  21/05/2004  01.00.00    0,6


            Date      Time CO(GT)
1712  21/05/2004  02.00.00    0,3


            Date      Time CO(GT)
1713  21/05/2004  03.00.00    0,3


            Date      Time CO(GT)
1714  21/05/2004  04.00.00   -200


            Date      Time CO(GT)
1715  21/05/2004  05.00.00    0,3


            Date      Time CO(GT)
1716  21/05/2004  06.00.00    0,7


            Date      Time CO(GT)
1717  21/05/2004  07.00.00    4,2



            Date      Time CO(GT)
6130  21/11/2004  04.00.00    0,5


            Date      Time CO(GT)
6131  21/11/2004  05.00.00    0,1


            Date      Time CO(GT)
6132  21/11/2004  06.00.00    0,2


            Date      Time CO(GT)
6133  21/11/2004  07.00.00   -200


            Date      Time CO(GT)
6134  21/11/2004  08.00.00    0,2


            Date      Time CO(GT)
6135  21/11/2004  09.00.00    0,5


            Date      Time CO(GT)
6136  21/11/2004  10.00.00    0,4


            Date      Time CO(GT)
6137  21/11/2004  11.00.00    0,8


            Date      Time CO(GT)
6138  21/11/2004  12.00.00    1,5


            Date      Time CO(GT)
6139  21/11/2004  13.00.00    1,9


            Date      Time CO(GT)
6140  21/11/2004  14.00.00    1,1


            Date      Time CO(GT)
6141  21/11/2004  15.00.00    0,3


            Date      Time CO(GT)
6142  21/11/2004  16.00.00    0,9


            Date      Time CO(GT)
6143  21/11/2004  17.00.00    2,1


            Date      Time CO(GT)
6144  21/11/2004  18.00.00    2,4


            Date      Time CO(GT)
6145  21/11/2004  19.00.00    1,6


            Date      Time CO(GT)
6146  21/11/2004  20.00.00    1,1


            Date      Time CO(GT)
6147  21/11/2004  21.00.00    1,3


            Date      Time CO(GT)
6148  21/11/2004  22.00.00    0,8


            Date      Time CO(GT)
6149  21/11/2004  23.00.00      1


            Date      Time CO(GT)
6846  21/12/2004  00.00.00    1,1


            Date      Time CO(GT)
6847  21/12/2004  01.00.00    1,5


            Date      Time CO(GT)
6848  21/12/2004  02.00.00    0,5


            Date      Time CO(GT)
6849  21/12/2004  03.00.00    0,3


            Date      Time CO(GT)
6850  21/12/2004  04.00.00    0,2


            Date      Time CO(GT)
6851  21/12/2004  05.00.00    0,3


            Date      Time CO(GT)
6852  21/12/2004  06.00.00    0,6


            Date      Time CO(GT)
6853  21/12/2004  07.00.00    0,7


            Date      Time CO(GT)
6854  21/12/2004  08.00.00    2,6


            Date      Time CO(GT)
6855  21/12/2004  09.00.00    5,5


            Date      Time CO(GT)
6856  21/12/2004  10.00.00    2,6


            Date      Time CO(GT)
6857  21/12/2004  11.00.00    1,5


            Date      Time CO(GT)
6858  21/12/2004  12.00.00    1,7


            Date      Time CO(GT)
6859  21/12/2004  13.00.00    2,2


            Date      Time CO(GT)
6860  21/12/2004  14.00.00    2,1


            Date      Time CO(GT)
6861  21/12/2004  15.00.00    2,2


            Date      Time CO(GT)
6862  21/12/2004  16.00.00    2,3


            Date      Time CO(GT)
6863  21/12/2004  17.00.00    2,5


            Date      Time CO(GT)
6864  21/12/2004  18.00.00    3,1


            Date      Time CO(GT)
6865  21/12/2004  19.00.00    3,6


            Date      Time CO(GT)
6866  21/12/2004  20.00.00    3,9


            Date      Time CO(GT)
6867  21/12/2004  21.00.00      4


            Date      Time CO(GT)
6868  21/12/2004  22.00.00    2,3


            Date      Time CO(GT)
6869  21/12/2004  23.00.00    1,5


            Date      Time CO(GT)
7614  22/01/2005  00.00.00    2,6


            Date      Time CO(GT)
7615  22/01/2005  01.00.00    1,6


            Date      Time CO(GT)
7616  22/01/2005  02.00.00    1,5


            Date      Time CO(GT)
7617  22/01/2005  03.00.00    0,9


            Date      Time CO(GT)
7618  22/01/2005  04.00.00    0,5


            Date      Time CO(GT)
7619  22/01/2005  05.00.00    0,9


            Date      Time CO(GT)
7620  22/01/2005  06.00.00    0,4


            Date      Time CO(GT)
7621  22/01/2005  07.00.00    0,5


            Date      Time CO(GT)
7622  22/01/2005  08.00.00    0,8


            Date      Time CO(GT)
7623  22/01/2005  09.00.00    1,4


            Date      Time CO(GT)
7624  22/01/2005  10.00.00    1,6


            Date      Time CO(GT)
7625  22/01/2005  11.00.00    1,5


            Date      Time CO(GT)
7626  22/01/2005  12.00.00    1,0


            Date      Time CO(GT)
7627  22/01/2005  13.00.00    1,0


            Date      Time CO(GT)
7628  22/01/2005  14.00.00    1,3


            Date      Time CO(GT)
7629  22/01/2005  15.00.00    0,1


            Date      Time  CO(GT)
7630  22/01/2005  16.00.00  -200,0


            Date      Time  CO(GT)
7631  22/01/2005  17.00.00  -200,0


            Date      Time CO(GT)
7632  22/01/2005  18.00.00    0,1


            Date      Time CO(GT)
7633  22/01/2005  19.00.00    0,4


            Date      Time CO(GT)
7634  22/01/2005  20.00.00    0,7


            Date      Time CO(GT)
7635  22/01/2005  21.00.00    2,7


            Date      Time CO(GT)
7636  22/01/2005  22.00.00    2,1


            Date      Time CO(GT)
7637  22/01/2005  23.00.00    1,3


            Date      Time CO(GT)
8358  22/02/2005  00.00.00    0,8


            Date      Time CO(GT)
8359  22/02/2005  01.00.00    0,8


            Date      Time CO(GT)
8360  22/02/2005  02.00.00    0,7


            Date      Time CO(GT)
8361  22/02/2005  03.00.00    0,4


            Date      Time CO(GT)
8362  22/02/2005  04.00.00    0,4


            Date      Time CO(GT)
8363  22/02/2005  05.00.00    0,5


            Date      Time CO(GT)
8364  22/02/2005  06.00.00    0,9


            Date      Time CO(GT)
8365  22/02/2005  07.00.00    1,5


            Date      Time CO(GT)
8366  22/02/2005  08.00.00    3,8


            Date      Time CO(GT)
8367  22/02/2005  09.00.00    5,4


            Date      Time CO(GT)
8368  22/02/2005  10.00.00    3,5


            Date      Time CO(GT)
8369  22/02/2005  11.00.00    1,7


            Date      Time CO(GT)
8370  22/02/2005  12.00.00    2,0


            Date      Time CO(GT)
8371  22/02/2005  13.00.00    2,1


            Date      Time CO(GT)
8372  22/02/2005  14.00.00    3,0


            Date      Time CO(GT)
8373  22/02/2005  15.00.00    2,1


            Date      Time CO(GT)
8374  22/02/2005  16.00.00    2,5


            Date      Time CO(GT)
8375  22/02/2005  17.00.00    2,2


            Date      Time CO(GT)
8376  22/02/2005  18.00.00    2,4


            Date      Time CO(GT)
8377  22/02/2005  19.00.00    3,6


            Date      Time CO(GT)
8378  22/02/2005  20.00.00    2,6


            Date      Time CO(GT)
8379  22/02/2005  21.00.00    2,7


            Date      Time CO(GT)
8380  22/02/2005  22.00.00    1,4


            Date      Time CO(GT)
8381  22/02/2005  23.00.00    0,9


           Date      Time CO(GT)
270  22/03/2004  00.00.00    1,7


           Date      Time CO(GT)
271  22/03/2004  01.00.00    1,5


           Date      Time CO(GT)
272  22/03/2004  02.00.00    0,6


           Date      Time CO(GT)
273  22/03/2004  03.00.00    0,4


           Date      Time CO(GT)
274  22/03/2004  04.00.00   -200


           Date      Time CO(GT)
275  22/03/2004  05.00.00    0,3


           Date      Time CO(GT)
276  22/03/2004  06.00.00    0,6


           Date      Time CO(GT)
277  22/03/2004  07.00.00    1,2


           Date      Time CO(GT)
278  22/03/2004  08.00.00    3,6


           Date      Time CO(GT)
279  22/03/2004  09.00.00    3,7


           Date      Time CO(GT)
280  22/03/2004  10.00.00    1,8


           Date      Time CO(GT)
281  22/03/2004  11.00.00    1,6


           Date      Time CO(GT)
282  22/03/2004  12.00.00    1,9


           Date      Time CO(GT)
283  22/03/2004  13.00.00      2


           Date      Time CO(GT)
284  22/03/2004  14.00.00    2,2


           Date      Time CO(GT)
285  22/03/2004  15.00.00    2,1


           Date      Time CO(GT)
286  22/03/2004  16.00.00    2,3


           Date      Time CO(GT)
287  22/03/2004  17.00.00    2,6


           Date      Time CO(GT)
288  22/03/2004  18.00.00    3,8


           Date      Time CO(GT)
289  22/03/2004  19.00.00    4,4


           Date      Time CO(GT)
290  22/03/2004  20.00.00    4,5


           Date      Time CO(GT)
291  22/03/2004  21.00.00    3,3


           Date      Time CO(GT)
292  22/03/2004  22.00.00      2


           Date      Time CO(GT)
293  22/03/2004  23.00.00    1,1


            Date      Time CO(GT)
9030  22/03/2005  00.00.00    1,3


            Date      Time CO(GT)
9031  22/03/2005  01.00.00    1,5


            Date      Time CO(GT)
9032  22/03/2005  02.00.00    0,9


            Date      Time CO(GT)
9033  22/03/2005  03.00.00    0,7


            Date      Time CO(GT)
9034  22/03/2005  04.00.00    0,5


            Date      Time CO(GT)
9035  22/03/2005  05.00.00    0,6


            Date      Time CO(GT)
9036  22/03/2005  06.00.00    0,7


            Date      Time CO(GT)
9037  22/03/2005  07.00.00    0,9


            Date      Time CO(GT)
9038  22/03/2005  08.00.00    2,2


            Date      Time CO(GT)
9039  22/03/2005  09.00.00    4,7


            Date      Time CO(GT)
9040  22/03/2005  10.00.00    4,5


            Date      Time CO(GT)
9041  22/03/2005  11.00.00    3,1


            Date      Time CO(GT)
9042  22/03/2005  12.00.00    2,8


            Date      Time CO(GT)
9043  22/03/2005  13.00.00    2,4


            Date      Time CO(GT)
9044  22/03/2005  14.00.00    2,5


            Date      Time CO(GT)
9045  22/03/2005  15.00.00    2,0


            Date      Time CO(GT)
9046  22/03/2005  16.00.00    1,7


            Date      Time CO(GT)
9047  22/03/2005  17.00.00    1,7


            Date      Time CO(GT)
9048  22/03/2005  18.00.00    3,3


            Date      Time CO(GT)
9049  22/03/2005  19.00.00    4,5


            Date      Time CO(GT)
9050  22/03/2005  20.00.00    5,8


            Date      Time CO(GT)
9051  22/03/2005  21.00.00    4,3


            Date      Time CO(GT)
9052  22/03/2005  22.00.00    3,0


            Date      Time CO(GT)
9053  22/03/2005  23.00.00    2,8


            Date      Time CO(GT)
1014  22/04/2004  00.00.00   -200


            Date      Time CO(GT)
1015  22/04/2004  01.00.00   -200


            Date      Time CO(GT)
1016  22/04/2004  02.00.00   -200


            Date      Time CO(GT)
1017  22/04/2004  03.00.00   -200


            Date      Time CO(GT)
1018  22/04/2004  04.00.00   -200


            Date      Time CO(GT)
1019  22/04/2004  05.00.00   -200


            Date      Time CO(GT)
1020  22/04/2004  06.00.00   -200


            Date      Time CO(GT)
1021  22/04/2004  07.00.00   -200


            Date      Time CO(GT)
1022  22/04/2004  08.00.00   -200


            Date      Time CO(GT)
1023  22/04/2004  09.00.00   -200


            Date      Time CO(GT)
1024  22/04/2004  10.00.00   -200


            Date      Time CO(GT)
1025  22/04/2004  11.00.00   -200


            Date      Time CO(GT)
1026  22/04/2004  12.00.00   -200


            Date      Time CO(GT)
1027  22/04/2004  13.00.00   -200


            Date      Time CO(GT)
1028  22/04/2004  14.00.00   -200


            Date      Time CO(GT)
1029  22/04/2004  15.00.00   -200


            Date      Time CO(GT)
1030  22/04/2004  16.00.00   -200


            Date      Time CO(GT)
1031  22/04/2004  17.00.00   -200


            Date      Time CO(GT)
1032  22/04/2004  18.00.00   -200


            Date      Time CO(GT)
1033  22/04/2004  19.00.00   -200


            Date      Time CO(GT)
1034  22/04/2004  20.00.00   -200


            Date      Time CO(GT)
1035  22/04/2004  21.00.00   -200


            Date      Time CO(GT)
1036  22/04/2004  22.00.00   -200


            Date      Time CO(GT)
1037  22/04/2004  23.00.00   -200


            Date      Time CO(GT)
1734  22/05/2004  00.00.00    3,7


            Date      Time CO(GT)
1735  22/05/2004  01.00.00    3,3


            Date      Time CO(GT)
1736  22/05/2004  02.00.00    1,5


            Date      Time CO(GT)
1737  22/05/2004  03.00.00    0,7


            Date      Time CO(GT)
1738  22/05/2004  04.00.00   -200


            Date      Time CO(GT)
1739  22/05/2004  05.00.00    0,5


            Date      Time CO(GT)
1740  22/05/2004  06.00.00    0,5


            Date      Time CO(GT)
1741  22/05/2004  07.00.00    1,2


            Date      Time CO(GT)
1742  22/05/2004  08.00.00    2,2


            Date      Time CO(GT)
1743  22/05/2004  09.00.00    2,2


            Date      Time CO(GT)
1744  22/05/2004  10.00.00    2,1


            Date      Time CO(GT)
1745  22/05/2004  11.00.00    1,8


            Date      Time CO(GT)
1746  22/05/2004  12.00.00    2,2


            Date      Time CO(GT)
1747  22/05/2004  13.00.00      2


            Date      Time CO(GT)
1748  22/05/2004  14.00.00    1,4


            Date      Time CO(GT)
1749  22/05/2004  15.00.00    1,8


            Date      Time CO(GT)
1750  22/05/2004  16.00.00    2,1


            Date      Time CO(GT)
1751  22/05/2004  17.00.00    2,8


            Date      Time CO(GT)
1752  22/05/2004  18.00.00    2,8


            Date      Time CO(GT)
1753  22/05/2004  19.00.00    2,7


            Date      Time CO(GT)
1754  22/05/2004  20.00.00    1,8


            Date      Time CO(GT)
1755  22/05/2004  21.00.00    1,2


            Date      Time CO(GT)
1756  22/05/2004  22.00.00    2,6


            Date      Time CO(GT)
1757  22/05/2004  23.00.00    3,1


            Date      Time CO(GT)
2478  22/06/2004  00.00.00    1,1


            Date      Time CO(GT)
2479  22/06/2004  01.00.00    0,7


            Date      Time CO(GT)
2480  22/06/2004  02.00.00    0,4


            Date      Time CO(GT)
2481  22/06/2004  03.00.00    0,2


            Date      Time CO(GT)
2482  22/06/2004  04.00.00    0,2


            Date      Time CO(GT)
2483  22/06/2004  05.00.00    0,3


            Date      Time CO(GT)
2484  22/06/2004  06.00.00    0,9


            Date      Time CO(GT)
2485  22/06/2004  07.00.00    3,1


            Date      Time CO(GT)
2486  22/06/2004  08.00.00      5


            Date      Time CO(GT)
2487  22/06/2004  09.00.00    2,8


            Date      Time CO(GT)
2488  22/06/2004  10.00.00    2,8


            Date      Time CO(GT)
2489  22/06/2004  11.00.00    2,1


            Date      Time CO(GT)
2490  22/06/2004  12.00.00    3,1


            Date      Time CO(GT)
2491  22/06/2004  13.00.00      3


            Date      Time CO(GT)
2492  22/06/2004  14.00.00    2,1


            Date      Time CO(GT)
2493  22/06/2004  15.00.00    1,7


            Date      Time CO(GT)
2494  22/06/2004  16.00.00    2,2


            Date      Time CO(GT)
2495  22/06/2004  17.00.00    3,5


            Date      Time CO(GT)
2496  22/06/2004  18.00.00    3,6


            Date      Time CO(GT)
2497  22/06/2004  19.00.00    4,1


            Date      Time CO(GT)
2498  22/06/2004  20.00.00      4


            Date      Time CO(GT)
2499  22/06/2004  21.00.00    1,8


            Date      Time CO(GT)
2500  22/06/2004  22.00.00    1,7


            Date      Time CO(GT)
2501  22/06/2004  23.00.00    2,4


            Date      Time CO(GT)
3198  22/07/2004  00.00.00    2,4


            Date      Time CO(GT)
3199  22/07/2004  01.00.00    1,6


            Date      Time CO(GT)
3200  22/07/2004  02.00.00    1,3


            Date      Time CO(GT)
3201  22/07/2004  03.00.00    0,9


            Date      Time CO(GT)
3202  22/07/2004  04.00.00      1


            Date      Time CO(GT)
3203  22/07/2004  05.00.00    0,8


            Date      Time CO(GT)
3204  22/07/2004  06.00.00    1,1


            Date      Time CO(GT)
3205  22/07/2004  07.00.00    4,4


            Date      Time CO(GT)
3206  22/07/2004  08.00.00   -200


            Date      Time CO(GT)
3207  22/07/2004  09.00.00   -200


            Date      Time CO(GT)
3208  22/07/2004  10.00.00    3,3


            Date      Time CO(GT)
3209  22/07/2004  11.00.00    2,1


            Date      Time CO(GT)
3210  22/07/2004  12.00.00    2,1


            Date      Time CO(GT)
3211  22/07/2004  13.00.00      2


            Date      Time CO(GT)
3212  22/07/2004  14.00.00    1,5


            Date      Time CO(GT)
3213  22/07/2004  15.00.00    2,1


            Date      Time CO(GT)
3214  22/07/2004  16.00.00    2,3


            Date      Time CO(GT)
3215  22/07/2004  17.00.00    2,8


            Date      Time CO(GT)
3216  22/07/2004  18.00.00    3,6


            Date      Time CO(GT)
3217  22/07/2004  19.00.00      4


            Date      Time CO(GT)
3218  22/07/2004  20.00.00    3,7


            Date      Time CO(GT)
3219  22/07/2004  21.00.00    2,5


            Date      Time CO(GT)
3220  22/07/2004  22.00.00    2,3


            Date      Time CO(GT)
3221  22/07/2004  23.00.00    2,5


            Date      Time CO(GT)
3942  22/08/2004  00.00.00   -200


            Date      Time CO(GT)
3943  22/08/2004  01.00.00   -200


            Date      Time CO(GT)
3944  22/08/2004  02.00.00   -200


            Date      Time CO(GT)
3945  22/08/2004  03.00.00   -200


            Date      Time CO(GT)
3946  22/08/2004  04.00.00   -200


            Date      Time CO(GT)
3947  22/08/2004  05.00.00   -200


            Date      Time CO(GT)
3948  22/08/2004  06.00.00   -200


            Date      Time CO(GT)
3949  22/08/2004  07.00.00   -200


            Date      Time CO(GT)
3950  22/08/2004  08.00.00   -200


            Date      Time CO(GT)
3951  22/08/2004  09.00.00   -200


            Date      Time CO(GT)
3952  22/08/2004  10.00.00   -200


            Date      Time CO(GT)
3953  22/08/2004  11.00.00   -200


            Date      Time CO(GT)
3954  22/08/2004  12.00.00   -200


            Date      Time CO(GT)
3955  22/08/2004  13.00.00   -200


            Date      Time CO(GT)
3956  22/08/2004  14.00.00   -200


            Date      Time CO(GT)
3957  22/08/2004  15.00.00   -200


            Date      Time CO(GT)
3958  22/08/2004  16.00.00   -200


            Date      Time CO(GT)
3959  22/08/2004  17.00.00   -200


            Date      Time CO(GT)
3960  22/08/2004  18.00.00   -200


            Date      Time CO(GT)
3961  22/08/2004  19.00.00   -200


            Date      Time CO(GT)
3962  22/08/2004  20.00.00   -200


            Date      Time CO(GT)
3963  22/08/2004  21.00.00   -200


            Date      Time CO(GT)
3964  22/08/2004  22.00.00   -200


            Date      Time CO(GT)
3965  22/08/2004  23.00.00   -200


            Date      Time CO(GT)
4686  22/09/2004  00.00.00    1,1


            Date      Time CO(GT)
4687  22/09/2004  01.00.00      1


            Date      Time CO(GT)
4688  22/09/2004  02.00.00    0,6


            Date      Time CO(GT)
4689  22/09/2004  03.00.00    0,5


            Date      Time CO(GT)
4690  22/09/2004  04.00.00    0,6


            Date      Time CO(GT)
4691  22/09/2004  05.00.00    0,8


            Date      Time CO(GT)
4692  22/09/2004  06.00.00    1,5


            Date      Time CO(GT)
4693  22/09/2004  07.00.00    4,1


            Date      Time CO(GT)
4694  22/09/2004  08.00.00    5,5


            Date      Time CO(GT)
4695  22/09/2004  09.00.00    5,5


            Date      Time CO(GT)
4696  22/09/2004  10.00.00    3,7


            Date      Time CO(GT)
4697  22/09/2004  11.00.00    3,3


            Date      Time CO(GT)
4698  22/09/2004  12.00.00    2,5


            Date      Time CO(GT)
4699  22/09/2004  13.00.00    2,6


            Date      Time CO(GT)
4700  22/09/2004  14.00.00    2,2


            Date      Time CO(GT)
4701  22/09/2004  15.00.00    2,6


            Date      Time CO(GT)
4702  22/09/2004  16.00.00    2,9


            Date      Time CO(GT)
4703  22/09/2004  17.00.00      5


            Date      Time CO(GT)
4704  22/09/2004  18.00.00    5,1


            Date      Time CO(GT)
4705  22/09/2004  19.00.00    5,2


            Date      Time CO(GT)
4706  22/09/2004  20.00.00    3,8


            Date      Time CO(GT)
4707  22/09/2004  21.00.00    2,2


            Date      Time CO(GT)
4708  22/09/2004  22.00.00    2,1


            Date      Time CO(GT)
4709  22/09/2004  23.00.00    1,8


            Date      Time CO(GT)
5406  22/10/2004  00.00.00    2,2


            Date      Time CO(GT)
5407  22/10/2004  01.00.00    1,3



            Date      Time CO(GT)
6165  22/11/2004  15.00.00    3,1


            Date      Time CO(GT)
6166  22/11/2004  16.00.00    3,5


            Date      Time CO(GT)
6167  22/11/2004  17.00.00      4


            Date      Time CO(GT)
6168  22/11/2004  18.00.00    6,3


            Date      Time CO(GT)
6169  22/11/2004  19.00.00    6,9


            Date      Time CO(GT)
6170  22/11/2004  20.00.00    6,5


            Date      Time CO(GT)
6171  22/11/2004  21.00.00    3,3


            Date      Time CO(GT)
6172  22/11/2004  22.00.00    2,4


            Date      Time CO(GT)
6173  22/11/2004  23.00.00    1,7


            Date      Time CO(GT)
6870  22/12/2004  00.00.00    1,5


            Date      Time CO(GT)
6871  22/12/2004  01.00.00    2,2


            Date      Time CO(GT)
6872  22/12/2004  02.00.00    1,3


            Date      Time CO(GT)
6873  22/12/2004  03.00.00    0,9


            Date      Time CO(GT)
6874  22/12/2004  04.00.00   -200


            Date      Time CO(GT)
6875  22/12/2004  05.00.00    0,5


            Date      Time CO(GT)
6876  22/12/2004  06.00.00    0,5


            Date      Time CO(GT)
6877  22/12/2004  07.00.00    0,9


            Date      Time CO(GT)
6878  22/12/2004  08.00.00      2


            Date      Time CO(GT)
6879  22/12/2004  09.00.00    3,2


            Date      Time CO(GT)
6880  22/12/2004  10.00.00    2,3


            Date      Time CO(GT)
6881  22/12/2004  11.00.00    1,8


            Date      Time CO(GT)
6882  22/12/2004  12.00.00    2,1


            Date      Time CO(GT)
6883  22/12/2004  13.00.00    1,9


            Date      Time CO(GT)
6884  22/12/2004  14.00.00    2,4


            Date      Time CO(GT)
6885  22/12/2004  15.00.00    2,1


            Date      Time CO(GT)
6886  22/12/2004  16.00.00    2,8


            Date      Time CO(GT)
6887  22/12/2004  17.00.00    3,3


            Date      Time CO(GT)
6888  22/12/2004  18.00.00    2,9


            Date      Time CO(GT)
6889  22/12/2004  19.00.00    3,9


            Date      Time CO(GT)
6890  22/12/2004  20.00.00    4,1


            Date      Time CO(GT)
6891  22/12/2004  21.00.00    3,3


            Date      Time CO(GT)
6892  22/12/2004  22.00.00    3,3


            Date      Time CO(GT)
6893  22/12/2004  23.00.00    1,9


            Date      Time CO(GT)
7638  23/01/2005  00.00.00    0,8


            Date      Time  CO(GT)
7639  23/01/2005  01.00.00  -200,0


            Date      Time  CO(GT)
7640  23/01/2005  02.00.00  -200,0


            Date      Time  CO(GT)
7641  23/01/2005  03.00.00  -200,0


            Date      Time  CO(GT)
7642  23/01/2005  04.00.00  -200,0


            Date      Time  CO(GT)
7643  23/01/2005  05.00.00  -200,0


            Date      Time  CO(GT)
7644  23/01/2005  06.00.00  -200,0


            Date      Time  CO(GT)
7645  23/01/2005  07.00.00  -200,0


            Date      Time  CO(GT)
7646  23/01/2005  08.00.00  -200,0


            Date      Time  CO(GT)
7647  23/01/2005  09.00.00  -200,0


            Date      Time  CO(GT)
7648  23/01/2005  10.00.00  -200,0


            Date      Time  CO(GT)
7649  23/01/2005  11.00.00  -200,0


            Date      Time  CO(GT)
7650  23/01/2005  12.00.00  -200,0


            Date      Time  CO(GT)
7651  23/01/2005  13.00.00  -200,0


            Date      Time  CO(GT)
7652  23/01/2005  14.00.00  -200,0


            Date      Time  CO(GT)
7653  23/01/2005  15.00.00  -200,0


            Date      Time  CO(GT)
7654  23/01/2005  16.00.00  -200,0


            Date      Time  CO(GT)
7655  23/01/2005  17.00.00  -200,0


            Date      Time  CO(GT)
7656  23/01/2005  18.00.00  -200,0


            Date      Time  CO(GT)
7657  23/01/2005  19.00.00  -200,0


            Date      Time  CO(GT)
7658  23/01/2005  20.00.00  -200,0


            Date      Time  CO(GT)
7659  23/01/2005  21.00.00  -200,0


            Date      Time  CO(GT)
7660  23/01/2005  22.00.00  -200,0


            Date      Time  CO(GT)
7661  23/01/2005  23.00.00  -200,0


            Date      Time CO(GT)
8382  23/02/2005  00.00.00    1,5


            Date      Time CO(GT)
8383  23/02/2005  01.00.00    1,1


            Date      Time CO(GT)
8384  23/02/2005  02.00.00    0,8


            Date      Time CO(GT)
8385  23/02/2005  03.00.00    0,6


            Date      Time CO(GT)
8386  23/02/2005  04.00.00    0,6


            Date      Time CO(GT)
8387  23/02/2005  05.00.00    0,6


            Date      Time CO(GT)
8388  23/02/2005  06.00.00    0,6


            Date      Time CO(GT)
8389  23/02/2005  07.00.00    0,7


            Date      Time CO(GT)
8390  23/02/2005  08.00.00    1,7


            Date      Time CO(GT)
8391  23/02/2005  09.00.00    1,9


            Date      Time CO(GT)
8392  23/02/2005  10.00.00    1,4


            Date      Time CO(GT)
8393  23/02/2005  11.00.00    1,3


            Date      Time CO(GT)
8394  23/02/2005  12.00.00    1,2


            Date      Time CO(GT)
8395  23/02/2005  13.00.00    1,9


            Date      Time CO(GT)
8396  23/02/2005  14.00.00    2,5


            Date      Time CO(GT)
8397  23/02/2005  15.00.00    2,3


            Date      Time CO(GT)
8398  23/02/2005  16.00.00    2,3


            Date      Time CO(GT)
8399  23/02/2005  17.00.00    2,5


            Date      Time CO(GT)
8400  23/02/2005  18.00.00    2,8


            Date      Time CO(GT)
8401  23/02/2005  19.00.00    2,7


            Date      Time CO(GT)
8402  23/02/2005  20.00.00    3,1


            Date      Time CO(GT)
8403  23/02/2005  21.00.00    2,9


            Date      Time CO(GT)
8404  23/02/2005  22.00.00    2,6


            Date      Time CO(GT)
8405  23/02/2005  23.00.00    1,5


           Date      Time CO(GT)
294  23/03/2004  00.00.00    0,9


           Date      Time CO(GT)
295  23/03/2004  01.00.00    0,8


           Date      Time CO(GT)
296  23/03/2004  02.00.00    0,7


           Date      Time CO(GT)
297  23/03/2004  03.00.00    0,5


           Date      Time CO(GT)
298  23/03/2004  04.00.00   -200


           Date      Time CO(GT)
299  23/03/2004  05.00.00    0,3


           Date      Time CO(GT)
300  23/03/2004  06.00.00    0,5


           Date      Time CO(GT)
301  23/03/2004  07.00.00    1,1


           Date      Time CO(GT)
302  23/03/2004  08.00.00      3


           Date      Time CO(GT)
303  23/03/2004  09.00.00    3,8


           Date      Time CO(GT)
304  23/03/2004  10.00.00    3,4


           Date      Time CO(GT)
305  23/03/2004  11.00.00      3


           Date      Time CO(GT)
306  23/03/2004  12.00.00    2,7


           Date      Time CO(GT)
307  23/03/2004  13.00.00    3,5


           Date      Time CO(GT)
308  23/03/2004  14.00.00    2,8


           Date      Time CO(GT)
309  23/03/2004  15.00.00    1,9


           Date      Time CO(GT)
310  23/03/2004  16.00.00      2


           Date      Time CO(GT)
311  23/03/2004  17.00.00      3


           Date      Time CO(GT)
312  23/03/2004  18.00.00    1,9


           Date      Time CO(GT)
313  23/03/2004  19.00.00    2,7


           Date      Time CO(GT)
314  23/03/2004  20.00.00    3,3


           Date      Time CO(GT)
315  23/03/2004  21.00.00    1,7


           Date      Time CO(GT)
316  23/03/2004  22.00.00    1,3


           Date      Time CO(GT)
317  23/03/2004  23.00.00    1,3


            Date      Time CO(GT)
9054  23/03/2005  00.00.00    2,7


            Date      Time CO(GT)
9055  23/03/2005  01.00.00    2,4


            Date      Time CO(GT)
9056  23/03/2005  02.00.00    2,2


            Date      Time CO(GT)
9057  23/03/2005  03.00.00    2,0


            Date      Time  CO(GT)
9058  23/03/2005  04.00.00  -200,0


            Date      Time CO(GT)
9059  23/03/2005  05.00.00    0,5


            Date      Time CO(GT)
9060  23/03/2005  06.00.00    0,7


            Date      Time CO(GT)
9061  23/03/2005  07.00.00    1,2


            Date      Time CO(GT)
9062  23/03/2005  08.00.00    3,9


            Date      Time CO(GT)
9063  23/03/2005  09.00.00    4,9


            Date      Time CO(GT)
9064  23/03/2005  10.00.00    4,6


            Date      Time CO(GT)
9065  23/03/2005  11.00.00    3,4


            Date      Time CO(GT)
9066  23/03/2005  12.00.00    2,0


            Date      Time CO(GT)
9067  23/03/2005  13.00.00    1,9


            Date      Time CO(GT)
9068  23/03/2005  14.00.00    2,4


            Date      Time CO(GT)
9069  23/03/2005  15.00.00    2,4


            Date      Time CO(GT)
9070  23/03/2005  16.00.00    2,2


            Date      Time CO(GT)
9071  23/03/2005  17.00.00    2,5


            Date      Time CO(GT)
9072  23/03/2005  18.00.00    3,9


            Date      Time CO(GT)
9073  23/03/2005  19.00.00    6,2


            Date      Time CO(GT)
9074  23/03/2005  20.00.00    7,2


            Date      Time CO(GT)
9075  23/03/2005  21.00.00    3,9


            Date      Time CO(GT)
9076  23/03/2005  22.00.00    2,4


            Date      Time CO(GT)
9077  23/03/2005  23.00.00    2,3


            Date      Time CO(GT)
1038  23/04/2004  00.00.00   -200


            Date      Time CO(GT)
1039  23/04/2004  01.00.00   -200


            Date      Time CO(GT)
1040  23/04/2004  02.00.00   -200


            Date      Time CO(GT)
1041  23/04/2004  03.00.00   -200


            Date      Time CO(GT)
1042  23/04/2004  04.00.00   -200


            Date      Time CO(GT)
1043  23/04/2004  05.00.00    0,6


            Date      Time CO(GT)
1044  23/04/2004  06.00.00    0,8


            Date      Time CO(GT)
1045  23/04/2004  07.00.00      4


            Date      Time CO(GT)
1046  23/04/2004  08.00.00    5,6


            Date      Time CO(GT)
1047  23/04/2004  09.00.00      5


            Date      Time CO(GT)
1048  23/04/2004  10.00.00    3,2


            Date      Time CO(GT)
1049  23/04/2004  11.00.00    3,8


            Date      Time CO(GT)
1050  23/04/2004  12.00.00    3,3


            Date      Time CO(GT)
1051  23/04/2004  13.00.00      3


            Date      Time CO(GT)
1052  23/04/2004  14.00.00    3,2


            Date      Time CO(GT)
1053  23/04/2004  15.00.00    4,4


            Date      Time CO(GT)
1054  23/04/2004  16.00.00    4,6


            Date      Time CO(GT)
1055  23/04/2004  17.00.00    5,2


            Date      Time CO(GT)
1056  23/04/2004  18.00.00    4,8


            Date      Time CO(GT)
1057  23/04/2004  19.00.00    5,6


            Date      Time CO(GT)
1058  23/04/2004  20.00.00    4,6


            Date      Time CO(GT)
1059  23/04/2004  21.00.00    1,8


            Date      Time CO(GT)
1060  23/04/2004  22.00.00    2,2


            Date      Time CO(GT)
1061  23/04/2004  23.00.00      2


            Date      Time CO(GT)
1758  23/05/2004  00.00.00    4,1


            Date      Time CO(GT)
1759  23/05/2004  01.00.00    3,6


            Date      Time CO(GT)
1760  23/05/2004  02.00.00    1,9


            Date      Time CO(GT)
1761  23/05/2004  03.00.00    1,9


            Date      Time CO(GT)
1762  23/05/2004  04.00.00   -200


            Date      Time CO(GT)
1763  23/05/2004  05.00.00    0,3


            Date      Time CO(GT)
1764  23/05/2004  06.00.00    0,4


            Date      Time CO(GT)
1765  23/05/2004  07.00.00    0,8


            Date      Time CO(GT)
1766  23/05/2004  08.00.00    0,8


            Date      Time CO(GT)
1767  23/05/2004  09.00.00    0,8


            Date      Time CO(GT)
1768  23/05/2004  10.00.00    0,8


            Date      Time CO(GT)
1769  23/05/2004  11.00.00    0,9


            Date      Time CO(GT)
1770  23/05/2004  12.00.00    1,2


            Date      Time CO(GT)
1771  23/05/2004  13.00.00      1


            Date      Time CO(GT)
1772  23/05/2004  14.00.00    0,8


            Date      Time CO(GT)
1773  23/05/2004  15.00.00    1,1


            Date      Time CO(GT)
1774  23/05/2004  16.00.00    1,5


            Date      Time CO(GT)
1775  23/05/2004  17.00.00    1,5


            Date      Time CO(GT)
1776  23/05/2004  18.00.00    1,4


            Date      Time CO(GT)
1777  23/05/2004  19.00.00    1,1


            Date      Time CO(GT)
1778  23/05/2004  20.00.00    0,9


            Date      Time CO(GT)
1779  23/05/2004  21.00.00      1


            Date      Time CO(GT)
1780  23/05/2004  22.00.00    1,1


            Date      Time CO(GT)
1781  23/05/2004  23.00.00      1


            Date      Time CO(GT)
2502  23/06/2004  00.00.00    1,2


            Date      Time CO(GT)
2503  23/06/2004  01.00.00    0,8


            Date      Time CO(GT)
2504  23/06/2004  02.00.00    0,5


            Date      Time CO(GT)
2505  23/06/2004  03.00.00    0,3


            Date      Time CO(GT)
2506  23/06/2004  04.00.00   -200


            Date      Time CO(GT)
2507  23/06/2004  05.00.00    0,4


            Date      Time CO(GT)
2508  23/06/2004  06.00.00      1


            Date      Time CO(GT)
2509  23/06/2004  07.00.00    3,8


            Date      Time CO(GT)
2510  23/06/2004  08.00.00    3,2


            Date      Time CO(GT)
2511  23/06/2004  09.00.00    3,5


            Date      Time CO(GT)
2512  23/06/2004  10.00.00    3,2


            Date      Time CO(GT)
2513  23/06/2004  11.00.00    2,3


            Date      Time CO(GT)
2514  23/06/2004  12.00.00    2,2


            Date      Time CO(GT)
2515  23/06/2004  13.00.00    2,1


            Date      Time CO(GT)
2516  23/06/2004  14.00.00    1,9


            Date      Time CO(GT)
2517  23/06/2004  15.00.00    2,4


            Date      Time CO(GT)
2518  23/06/2004  16.00.00    2,5


            Date      Time CO(GT)
2519  23/06/2004  17.00.00    3,6


            Date      Time CO(GT)
2520  23/06/2004  18.00.00    3,9


            Date      Time CO(GT)
2521  23/06/2004  19.00.00    4,4


            Date      Time CO(GT)
2522  23/06/2004  20.00.00    4,8


            Date      Time CO(GT)
2523  23/06/2004  21.00.00    2,5


            Date      Time CO(GT)
2524  23/06/2004  22.00.00    2,8


            Date      Time CO(GT)
2525  23/06/2004  23.00.00    3,2


            Date      Time CO(GT)
3222  23/07/2004  00.00.00    2,7


            Date      Time CO(GT)
3223  23/07/2004  01.00.00    1,3


            Date      Time CO(GT)
3224  23/07/2004  02.00.00    0,8


            Date      Time CO(GT)
3225  23/07/2004  03.00.00    0,9


            Date      Time CO(GT)
3226  23/07/2004  04.00.00    0,5


            Date      Time CO(GT)
3227  23/07/2004  05.00.00    0,8


            Date      Time CO(GT)
3228  23/07/2004  06.00.00      1


            Date      Time CO(GT)
3229  23/07/2004  07.00.00    2,9


            Date      Time CO(GT)
3230  23/07/2004  08.00.00    3,8


            Date      Time CO(GT)
3231  23/07/2004  09.00.00    3,5


            Date      Time CO(GT)
3232  23/07/2004  10.00.00    2,4


            Date      Time CO(GT)
3233  23/07/2004  11.00.00    1,8


            Date      Time CO(GT)
3234  23/07/2004  12.00.00    2,1


            Date      Time CO(GT)
3235  23/07/2004  13.00.00    2,1


            Date      Time CO(GT)
3236  23/07/2004  14.00.00    1,5


            Date      Time CO(GT)
3237  23/07/2004  15.00.00    1,5


            Date      Time CO(GT)
3238  23/07/2004  16.00.00    1,8


            Date      Time CO(GT)
3239  23/07/2004  17.00.00    2,1


            Date      Time CO(GT)
3240  23/07/2004  18.00.00      3


            Date      Time CO(GT)
3241  23/07/2004  19.00.00    2,8


            Date      Time CO(GT)
3242  23/07/2004  20.00.00    2,5


            Date      Time CO(GT)
3243  23/07/2004  21.00.00    1,4


            Date      Time CO(GT)
3244  23/07/2004  22.00.00    1,7


            Date      Time CO(GT)
3245  23/07/2004  23.00.00    1,8


            Date      Time CO(GT)
3966  23/08/2004  00.00.00   -200


            Date      Time CO(GT)
3967  23/08/2004  01.00.00   -200


            Date      Time CO(GT)
3968  23/08/2004  02.00.00   -200


            Date      Time CO(GT)
3969  23/08/2004  03.00.00   -200


            Date      Time CO(GT)
3970  23/08/2004  04.00.00   -200


            Date      Time CO(GT)
3971  23/08/2004  05.00.00   -200


            Date      Time CO(GT)
3972  23/08/2004  06.00.00   -200


            Date      Time CO(GT)
3973  23/08/2004  07.00.00   -200


            Date      Time CO(GT)
3974  23/08/2004  08.00.00   -200


            Date      Time CO(GT)
3975  23/08/2004  09.00.00      2


            Date      Time CO(GT)
3976  23/08/2004  10.00.00   -200


            Date      Time CO(GT)
3977  23/08/2004  11.00.00    1,6


            Date      Time CO(GT)
3978  23/08/2004  12.00.00    1,3


            Date      Time CO(GT)
3979  23/08/2004  13.00.00      1


            Date      Time CO(GT)
3980  23/08/2004  14.00.00    0,9


            Date      Time CO(GT)
3981  23/08/2004  15.00.00      1


            Date      Time CO(GT)
3982  23/08/2004  16.00.00    1,1


            Date      Time CO(GT)
3983  23/08/2004  17.00.00    1,5


            Date      Time CO(GT)
3984  23/08/2004  18.00.00    1,5


            Date      Time CO(GT)
3985  23/08/2004  19.00.00    1,6


            Date      Time CO(GT)
3986  23/08/2004  20.00.00    1,7


            Date      Time CO(GT)
3987  23/08/2004  21.00.00    1,4


            Date      Time CO(GT)
3988  23/08/2004  22.00.00    1,2


            Date      Time CO(GT)
3989  23/08/2004  23.00.00    1,1


            Date      Time CO(GT)
4710  23/09/2004  00.00.00    1,6


            Date      Time CO(GT)
4711  23/09/2004  01.00.00    1,4


            Date      Time CO(GT)
4712  23/09/2004  02.00.00    0,8


            Date      Time CO(GT)
4713  23/09/2004  03.00.00    0,5


            Date      Time CO(GT)
4714  23/09/2004  04.00.00   -200


            Date      Time CO(GT)
4715  23/09/2004  05.00.00    0,5


            Date      Time CO(GT)
4716  23/09/2004  06.00.00    0,9


            Date      Time CO(GT)
4717  23/09/2004  07.00.00    3,2


            Date      Time CO(GT)
4718  23/09/2004  08.00.00    2,8


            Date      Time CO(GT)
4719  23/09/2004  09.00.00    2,7


            Date      Time CO(GT)
4720  23/09/2004  10.00.00    2,4


            Date      Time CO(GT)
4721  23/09/2004  11.00.00    2,7


            Date      Time CO(GT)
4722  23/09/2004  12.00.00    2,8


            Date      Time CO(GT)
4723  23/09/2004  13.00.00    2,9


            Date      Time CO(GT)
4724  23/09/2004  14.00.00    2,6


            Date      Time CO(GT)
4725  23/09/2004  15.00.00    2,6


            Date      Time CO(GT)
4726  23/09/2004  16.00.00    3,2


            Date      Time CO(GT)
4727  23/09/2004  17.00.00    4,6


            Date      Time CO(GT)
4728  23/09/2004  18.00.00    4,9


            Date      Time CO(GT)
4729  23/09/2004  19.00.00    4,7


            Date      Time CO(GT)
4730  23/09/2004  20.00.00    3,3


            Date      Time CO(GT)
4731  23/09/2004  21.00.00    2,3


            Date      Time CO(GT)
4732  23/09/2004  22.00.00    2,1


            Date      Time CO(GT)
4733  23/09/2004  23.00.00    1,7


            Date      Time CO(GT)
5430  23/10/2004  00.00.00    1,7


            Date      Time CO(GT)
5431  23/10/2004  01.00.00    1,1


            Date      Time CO(GT)
5432  23/10/2004  02.00.00      1


            Date      Time CO(GT)
5433  23/10/2004  03.00.00    0,8


            Date      Time CO(GT)
5434  23/10/2004  04.00.00   -200


            Date      Time CO(GT)
5435  23/10/2004  05.00.00    0,7


            Date      Time CO(GT)
5436  23/10/2004  06.00.00    1,2


            Date      Time CO(GT)
5437  23/10/2004  07.00.00    2,3


            Date      Time CO(GT)
5438  23/10/2004  08.00.00      3


            Date      Time CO(GT)
5439  23/10/2004  09.00.00    3,3


            Date      Time CO(GT)
5440  23/10/2004  10.00.00    2,8


            Date      Time CO(GT)
5441  23/10/2004  11.00.00      3


            Date      Time CO(GT)

9084  24/03/2005  06.00.00    0,4


            Date      Time CO(GT)
9085  24/03/2005  07.00.00    0,7


            Date      Time CO(GT)
9086  24/03/2005  08.00.00    3,1


            Date      Time CO(GT)
9087  24/03/2005  09.00.00    3,4


            Date      Time CO(GT)
9088  24/03/2005  10.00.00    3,5


            Date      Time CO(GT)
9089  24/03/2005  11.00.00    3,2


            Date      Time CO(GT)
9090  24/03/2005  12.00.00    3,2


            Date      Time CO(GT)
9091  24/03/2005  13.00.00    3,3


            Date      Time CO(GT)
9092  24/03/2005  14.00.00    3,0


            Date      Time CO(GT)
9093  24/03/2005  15.00.00    2,0


            Date      Time CO(GT)
9094  24/03/2005  16.00.00    2,3


            Date      Time CO(GT)
9095  24/03/2005  17.00.00    2,2


            Date      Time CO(GT)
9096  24/03/2005  18.00.00    2,7


            Date      Time CO(GT)
9097  24/03/2005  19.00.00    5,9


            Date      Time CO(GT)
9098  24/03/2005  20.00.00    7,5


            Date      Time CO(GT)
9099  24/03/2005  21.00.00    5,0


            Date      Time CO(GT)
9100  24/03/2005  22.00.00    4,0


            Date      Time CO(GT)
9101  24/03/2005  23.00.00    2,7


            Date      Time CO(GT)
1062  24/04/2004  00.00.00    2,8


            Date      Time CO(GT)
1063  24/04/2004  01.00.00    2,6


            Date      Time CO(GT)
1064  24/04/2004  02.00.00    1,8


            Date      Time CO(GT)
1065  24/04/2004  03.00.00    1,1


            Date      Time CO(GT)
1066  24/04/2004  04.00.00   -200


            Date      Time CO(GT)
1067  24/04/2004  05.00.00    0,7


            Date      Time CO(GT)
1068  24/04/2004  06.00.00    0,9


            Date      Time CO(GT)
1069  24/04/2004  07.00.00    1,5


            Date      Time CO(GT)
1070  24/04/2004  08.00.00    2,5


            Date      Time CO(GT)
1071  24/04/2004  09.00.00      3


            Date      Time CO(GT)
1072  24/04/2004  10.00.00    2,6


            Date      Time CO(GT)
1073  24/04/2004  11.00.00    2,6


            Date      Time CO(GT)
1074  24/04/2004  12.00.00    2,6


            Date      Time CO(GT)
1075  24/04/2004  13.00.00    1,9


            Date      Time CO(GT)
1076  24/04/2004  14.00.00      2


            Date      Time CO(GT)
1077  24/04/2004  15.00.00    1,7


            Date      Time CO(GT)
1078  24/04/2004  16.00.00    1,9


            Date      Time CO(GT)
1079  24/04/2004  17.00.00    1,8


            Date      Time CO(GT)
1080  24/04/2004  18.00.00    2,8


            Date      Time CO(GT)
1081  24/04/2004  19.00.00    3,5


            Date      Time CO(GT)
1082  24/04/2004  20.00.00    3,4


            Date      Time CO(GT)
1083  24/04/2004  21.00.00      2


            Date      Time CO(GT)
1084  24/04/2004  22.00.00    1,1


            Date      Time CO(GT)
1085  24/04/2004  23.00.00    1,3


            Date      Time CO(GT)
1782  24/05/2004  00.00.00    0,7


            Date      Time CO(GT)
1783  24/05/2004  01.00.00    0,5


            Date      Time CO(GT)
1784  24/05/2004  02.00.00    0,2


            Date      Time CO(GT)
1785  24/05/2004  03.00.00   -200


            Date      Time CO(GT)
1786  24/05/2004  04.00.00   -200


            Date      Time CO(GT)
1787  24/05/2004  05.00.00    0,1


            Date      Time CO(GT)
1788  24/05/2004  06.00.00    0,5


            Date      Time CO(GT)
1789  24/05/2004  07.00.00    1,6


            Date      Time CO(GT)
1790  24/05/2004  08.00.00      2


            Date      Time CO(GT)
1791  24/05/2004  09.00.00    1,3


            Date      Time CO(GT)
1792  24/05/2004  10.00.00      1


            Date      Time CO(GT)
1793  24/05/2004  11.00.00    0,9


            Date      Time CO(GT)
1794  24/05/2004  12.00.00    1,2


            Date      Time CO(GT)
1795  24/05/2004  13.00.00    1,3


            Date      Time CO(GT)
1796  24/05/2004  14.00.00    1,1


            Date      Time CO(GT)
1797  24/05/2004  15.00.00    1,2


            Date      Time CO(GT)
1798  24/05/2004  16.00.00    1,4


            Date      Time CO(GT)
1799  24/05/2004  17.00.00      2


            Date      Time CO(GT)
1800  24/05/2004  18.00.00    2,4


            Date      Time CO(GT)
1801  24/05/2004  19.00.00    2,1


            Date      Time CO(GT)
1802  24/05/2004  20.00.00    1,2


            Date      Time CO(GT)
1803  24/05/2004  21.00.00    0,7


            Date      Time CO(GT)
1804  24/05/2004  22.00.00    0,7


            Date      Time CO(GT)
1805  24/05/2004  23.00.00    0,8


            Date      Time CO(GT)
2526  24/06/2004  00.00.00    2,6


            Date      Time CO(GT)
2527  24/06/2004  01.00.00    1,5


            Date      Time CO(GT)
2528  24/06/2004  02.00.00      1


            Date      Time CO(GT)
2529  24/06/2004  03.00.00    0,8


            Date      Time CO(GT)
2530  24/06/2004  04.00.00    0,6


            Date      Time CO(GT)
2531  24/06/2004  05.00.00    0,6


            Date      Time CO(GT)
2532  24/06/2004  06.00.00    0,7


            Date      Time CO(GT)
2533  24/06/2004  07.00.00    1,2


            Date      Time CO(GT)
2534  24/06/2004  08.00.00    1,5


            Date      Time CO(GT)
2535  24/06/2004  09.00.00    1,3


            Date      Time CO(GT)
2536  24/06/2004  10.00.00    1,6


            Date      Time CO(GT)
2537  24/06/2004  11.00.00    1,5


            Date      Time CO(GT)
2538  24/06/2004  12.00.00    1,2


            Date      Time CO(GT)
2539  24/06/2004  13.00.00    1,1


            Date      Time CO(GT)
2540  24/06/2004  14.00.00    1,2


            Date      Time CO(GT)
2541  24/06/2004  15.00.00    1,3


            Date      Time CO(GT)
2542  24/06/2004  16.00.00    1,4


            Date      Time CO(GT)
2543  24/06/2004  17.00.00    1,6


            Date      Time CO(GT)
2544  24/06/2004  18.00.00    2,1


            Date      Time CO(GT)
2545  24/06/2004  19.00.00      3


            Date      Time CO(GT)
2546  24/06/2004  20.00.00    2,8


            Date      Time CO(GT)
2547  24/06/2004  21.00.00    3,8


            Date      Time CO(GT)
2548  24/06/2004  22.00.00    3,2


            Date      Time CO(GT)
2549  24/06/2004  23.00.00    4,1


            Date      Time CO(GT)
3246  24/07/2004  00.00.00    2,4


            Date      Time CO(GT)
3247  24/07/2004  01.00.00    1,9


            Date      Time CO(GT)
3248  24/07/2004  02.00.00    1,4


            Date      Time CO(GT)
3249  24/07/2004  03.00.00    0,8


            Date      Time CO(GT)
3250  24/07/2004  04.00.00    0,7


            Date      Time CO(GT)
3251  24/07/2004  05.00.00    0,8


            Date      Time CO(GT)
3252  24/07/2004  06.00.00    0,7


            Date      Time CO(GT)
3253  24/07/2004  07.00.00      1


            Date      Time CO(GT)
3254  24/07/2004  08.00.00    1,7


            Date      Time CO(GT)
3255  24/07/2004  09.00.00    1,9


            Date      Time CO(GT)
3256  24/07/2004  10.00.00    2,3


            Date      Time CO(GT)
3257  24/07/2004  11.00.00    1,7


            Date      Time CO(GT)
3258  24/07/2004  12.00.00    1,3


            Date      Time CO(GT)
3259  24/07/2004  13.00.00    1,2


            Date      Time CO(GT)
3260  24/07/2004  14.00.00    0,8


            Date      Time CO(GT)
3261  24/07/2004  15.00.00    0,9


            Date      Time CO(GT)
3262  24/07/2004  16.00.00    1,1


            Date      Time CO(GT)
3263  24/07/2004  17.00.00    1,2


            Date      Time CO(GT)
3264  24/07/2004  18.00.00    1,3


            Date      Time CO(GT)
3265  24/07/2004  19.00.00    1,4


            Date      Time CO(GT)
3266  24/07/2004  20.00.00    1,2


            Date      Time CO(GT)
3267  24/07/2004  21.00.00    0,9


            Date      Time CO(GT)
3268  24/07/2004  22.00.00    1,1


            Date      Time CO(GT)
3269  24/07/2004  23.00.00    1,5


            Date      Time CO(GT)
3990  24/08/2004  00.00.00    1,1


            Date      Time CO(GT)
3991  24/08/2004  01.00.00    1,2


            Date      Time CO(GT)
3992  24/08/2004  02.00.00    0,7


            Date      Time CO(GT)
3993  24/08/2004  03.00.00    0,5


            Date      Time CO(GT)
3994  24/08/2004  04.00.00    0,4


            Date      Time CO(GT)
3995  24/08/2004  05.00.00    0,7


            Date      Time CO(GT)
3996  24/08/2004  06.00.00    1,1


            Date      Time CO(GT)
3997  24/08/2004  07.00.00    1,6


            Date      Time CO(GT)
3998  24/08/2004  08.00.00    2,3


            Date      Time CO(GT)
3999  24/08/2004  09.00.00    1,6


            Date      Time CO(GT)
4000  24/08/2004  10.00.00      2


            Date      Time CO(GT)
4001  24/08/2004  11.00.00    1,6


            Date      Time CO(GT)
4002  24/08/2004  12.00.00    1,6


            Date      Time CO(GT)
4003  24/08/2004  13.00.00    1,3


            Date      Time CO(GT)
4004  24/08/2004  14.00.00      1


            Date      Time CO(GT)
4005  24/08/2004  15.00.00    1,6


            Date      Time CO(GT)
4006  24/08/2004  16.00.00      2


            Date      Time CO(GT)
4007  24/08/2004  17.00.00    1,7


            Date      Time CO(GT)
4008  24/08/2004  18.00.00    1,7


            Date      Time CO(GT)
4009  24/08/2004  19.00.00    1,4


            Date      Time CO(GT)
4010  24/08/2004  20.00.00    1,3


            Date      Time CO(GT)
4011  24/08/2004  21.00.00    1,3


            Date      Time CO(GT)
4012  24/08/2004  22.00.00    1,6


            Date      Time CO(GT)
4013  24/08/2004  23.00.00    1,8


            Date      Time CO(GT)
4734  24/09/2004  00.00.00      1


            Date      Time CO(GT)
4735  24/09/2004  01.00.00    0,9


            Date      Time CO(GT)
4736  24/09/2004  02.00.00    0,7


            Date      Time CO(GT)
4737  24/09/2004  03.00.00    0,4


            Date      Time CO(GT)
4738  24/09/2004  04.00.00    0,4


            Date      Time CO(GT)
4739  24/09/2004  05.00.00    0,5


            Date      Time CO(GT)
4740  24/09/2004  06.00.00    1,3


            Date      Time CO(GT)
4741  24/09/2004  07.00.00    3,5


            Date      Time CO(GT)
4742  24/09/2004  08.00.00    5,5


            Date      Time CO(GT)
4743  24/09/2004  09.00.00    5,6


            Date      Time CO(GT)
4744  24/09/2004  10.00.00    3,4


            Date      Time CO(GT)
4745  24/09/2004  11.00.00    3,2


            Date      Time CO(GT)
4746  24/09/2004  12.00.00    3,7


            Date      Time CO(GT)
4747  24/09/2004  13.00.00    4,6


            Date      Time CO(GT)
4748  24/09/2004  14.00.00    4,2


            Date      Time CO(GT)
4749  24/09/2004  15.00.00    3,3


            Date      Time CO(GT)
4750  24/09/2004  16.00.00    2,7


            Date      Time CO(GT)
4751  24/09/2004  17.00.00    2,2


            Date      Time CO(GT)
4752  24/09/2004  18.00.00    2,8


            Date      Time CO(GT)
4753  24/09/2004  19.00.00    2,9


            Date      Time CO(GT)
4754  24/09/2004  20.00.00      2


            Date      Time CO(GT)
4755  24/09/2004  21.00.00    0,7


            Date      Time CO(GT)
4756  24/09/2004  22.00.00    0,6


            Date      Time CO(GT)
4757  24/09/2004  23.00.00    1,2


            Date      Time CO(GT)
5454  24/10/2004  00.00.00    2,9


            Date      Time CO(GT)
5455  24/10/2004  01.00.00    2,1


            Date      Time CO(GT)
5456  24/10/2004  02.00.00    2,1


            Date      Time CO(GT)
5457  24/10/2004  03.00.00    1,5


            Date      Time CO(GT)
5458  24/10/2004  04.00.00   -200


            Date      Time CO(GT)
5459  24/10/2004  05.00.00    1,4


            Date      Time CO(GT)
5460  24/10/2004  06.00.00    1,2


            Date      Time CO(GT)
5461  24/10/2004  07.00.00    1,5


            Date      Time CO(GT)
5462  24/10/2004  08.00.00    0,9


            Date      Time CO(GT)
5463  24/10/2004  09.00.00    1,4


            Date      Time CO(GT)
5464  24/10/2004  10.00.00    2,1


            Date      Time CO(GT)
5465  24/10/2004  11.00.00    1,6


            Date      Time CO(GT)
5466  24/10/2004  12.00.00    1,5


            Date      Time CO(GT)
5467  24/10/2004  13.00.00    1,1


            Date      Time CO(GT)
5468  24/10/2004  14.00.00    1,4


            Date      Time CO(GT)
5469  24/10/2004  15.00.00      2


            Date      Time CO(GT)
5470  24/10/2004  16.00.00      2


            Date      Time CO(GT)
5471  24/10/2004  17.00.00    2,5


            Date      Time CO(GT)
5472  24/10/2004  18.00.00    4,3


            Date      Time CO(GT)
5473  24/10/2004  19.00.00    5,2


            Date      Time CO(GT)
5474  24/10/2004  20.00.00    3,4


            Date      Time CO(GT)
5475  24/10/2004  21.00.00    1,3


            Date      Time CO(GT)
5476  24/10/2004  22.00.00    1,2


            Date      Time CO(GT)
5477  24/10/2004  23.00.00    1,7


            Date      Time CO(GT)
6198  24/11/2004  00.00.00    3,9


            Date      Time CO(GT)
6199  24/11/2004  01.00.00    2,8


            Date      Time CO(GT)
6200  24/11/2004  02.00.00    2,3


            Date      Time CO(GT)
6201  24/11/2004  03.00.00    1,8


            Date      Time CO(GT)
6202  24/11/2004  04.00.00    1,4


            Date      Time CO(GT)
6203  24/11/2004  05.00.00      1


            Date      Time CO(GT)
6204  24/11/2004  06.00.00      1


            Date      Time CO(GT)
6205  24/11/2004  07.00.00    1,8


            Date      Time CO(GT)
6206  24/11/2004  08.00.00    3,8


            Date      Time CO(GT)
6207  24/11/2004  09.00.00    4,2


            Date      Time CO(GT)
6208  24/11/2004  10.00.00    3,6


            Date      Time CO(GT)
6209  24/11/2004  11.00.00    3,3


            Date      Time CO(GT)
6210  24/11/2004  12.00.00      2


            Date      Time CO(GT)
6211  24/11/2004  13.00.00      2


            Date      Time CO(GT)
6212  24/11/2004  14.00.00    2,9


            Date      Time CO(GT)
6213  24/11/2004  15.00.00    2,7


            Date      Time CO(GT)
6214  24/11/2004  16.00.00    3,4


            Date      Time CO(GT)
6215  24/11/2004  17.00.00    4,5


            Date      Time CO(GT)
6216  24/11/2004  18.00.00    6,1


            Date      Time CO(GT)
6217  24/11/2004  19.00.00    6,8


            Date      Time CO(GT)
6218  24/11/2004  20.00.00    8,4


            Date      Time CO(GT)
6219  24/11/2004  21.00.00    5,3


            Date      Time CO(GT)
6220  24/11/2004  22.00.00    4,5


            Date      Time CO(GT)
6221  24/11/2004  23.00.00    4,1


            Date      Time CO(GT)
6918  24/12/2004  00.00.00    4,6


            Date      Time CO(GT)
6919  24/12/2004  01.00.00    3,9


            Date      Time CO(GT)
6920  24/12/2004  02.00.00    3,4


            Date      Time CO(GT)
6921  24/12/2004  03.00.00      3


            Date      Time CO(GT)
6922  24/12/2004  04.00.00    2,4


            Date      Time CO(GT)
6923  24/12/2004  05.00.00    2,5


            Date      Time CO(GT)
6924  24/12/2004  06.00.00    3,5


            Date      Time CO(GT)
6925  24/12/2004  07.00.00    3,9


            Date      Time CO(GT)
6926  24/12/2004  08.00.00    4,8


            Date      Time CO(GT)
6927  24/12/2004  09.00.00    6,1


            Date      Time CO(GT)
6928  24/12/2004  10.00.00    6,6


            Date      Time CO(GT)
6929  24/12/2004  11.00.00    6,5


            Date      Time CO(GT)
6930  24/12/2004  12.00.00      6


            Date      Time CO(GT)
6931  24/12/2004  13.00.00    6,9


            Date      Time CO(GT)
6932  24/12/2004  14.00.00    7,9


            Date      Time CO(GT)
6933  24/12/2004  15.00.00    6,1


            Date      Time CO(GT)
6934  24/12/2004  16.00.00    6,7


            Date      Time CO(GT)
6935  24/12/2004  17.00.00    6,8


            Date      Time CO(GT)
6936  24/12/2004  18.00.00    6,7


            Date      Time CO(GT)
6937  24/12/2004  19.00.00    6,4


            Date      Time CO(GT)
6938  24/12/2004  20.00.00    6,8


            Date      Time CO(GT)
6939  24/12/2004  21.00.00    5,6


            Date      Time CO(GT)
6940  24/12/2004  22.00.00    5,4


            Date      Time CO(GT)
6941  24/12/2004  23.00.00    5,2


            Date      Time  CO(GT)
7686  25/01/2005  00.00.00  -200,0


            Date      Time  CO(GT)
7687  25/01/2005  01.00.00  -200,0


            Date      Time  CO(GT)
7688  25/01/2005  02.00.00  -200,0


            Date      Time  CO(GT)
7689  25/01/2005  03.00.00  -200,0


            Date      Time  CO(GT)
7690  25/01/2005  04.00.00  -200,0


            Date      Time  CO(GT)
7691  25/01/2005  05.00.00  -200,0


            Date      Time  CO(GT)
7692  25/01/2005  06.00.00  -200,0


            Date      Time  CO(GT)
7693  25/01/2005  07.00.00  -200,0


            Date      Time CO(GT)
7694  25/01/2005  08.00.00    0,2


            Date      Time CO(GT)
7695  25/01/2005  09.00.00    0,7


            Date      Time CO(GT)
7696  25/01/2005  10.00.00    0,5


            Date      Time CO(GT)
7697  25/01/2005  11.00.00    0,4


            Date      Time CO(GT)
7698  25/01/2005  12.00.00    0,3


            Date      Time CO(GT)
7699  25/01/2005  13.00.00    0,3


            Date      Time CO(GT)
7700  25/01/2005  14.00.00    0,4


            Date      Time CO(GT)
7701  25/01/2005  15.00.00    0,2


            Date      Time CO(GT)
7702  25/01/2005  16.00.00    0,4


            Date      Time CO(GT)
7703  25/01/2005  17.00.00    0,4


            Date      Time CO(GT)
7704  25/01/2005  18.00.00    0,7


            Date      Time CO(GT)
7705  25/01/2005  19.00.00    1,0


            Date      Time CO(GT)
7706  25/01/2005  20.00.00    1,1


            Date      Time CO(GT)
7707  25/01/2005  21.00.00    0,3


            Date      Time CO(GT)
7708  25/01/2005  22.00.00    0,1


            Date      Time  CO(GT)
7709  25/01/2005  23.00.00  -200,0


            Date      Time CO(GT)
8430  25/02/2005  00.00.00    2,5


            Date      Time CO(GT)
8431  25/02/2005  01.00.00    2,1


            Date      Time CO(GT)
8432  25/02/2005  02.00.00    1,5


            Date      Time CO(GT)
8433  25/02/2005  03.00.00    1,1


            Date      Time CO(GT)
8434  25/02/2005  04.00.00    1,0


            Date      Time CO(GT)
8435  25/02/2005  05.00.00    0,8


            Date      Time CO(GT)
8436  25/02/2005  06.00.00    1,0


            Date      Time CO(GT)
8437  25/02/2005  07.00.00    1,4


            Date      Time CO(GT)
8438  25/02/2005  08.00.00    3,6


            Date      Time CO(GT)
8439  25/02/2005  09.00.00    5,8


            Date      Time CO(GT)
8440  25/02/2005  10.00.00    4,2


            Date      Time CO(GT)
8441  25/02/2005  11.00.00    3,3


            Date      Time CO(GT)
8442  25/02/2005  12.00.00    1,7


            Date      Time CO(GT)
8443  25/02/2005  13.00.00    2,1


            Date      Time CO(GT)
8444  25/02/2005  14.00.00    2,2


            Date      Time CO(GT)
8445  25/02/2005  15.00.00    1,8


            Date      Time CO(GT)
8446  25/02/2005  16.00.00    2,0


            Date      Time CO(GT)
8447  25/02/2005  17.00.00    2,3


            Date      Time CO(GT)
8448  25/02/2005  18.00.00    2,8


            Date      Time CO(GT)
8449  25/02/2005  19.00.00    3,4


            Date      Time CO(GT)
8450  25/02/2005  20.00.00    4,0


            Date      Time CO(GT)
8451  25/02/2005  21.00.00    2,3


            Date      Time CO(GT)
8452  25/02/2005  22.00.00    2,7


            Date      Time CO(GT)
8453  25/02/2005  23.00.00    2,7


           Date      Time CO(GT)
342  25/03/2004  00.00.00    1,3


           Date      Time CO(GT)
343  25/03/2004  01.00.00      1


           Date      Time CO(GT)
344  25/03/2004  02.00.00    0,7


           Date      Time CO(GT)
345  25/03/2004  03.00.00    0,7



9116  25/03/2005  14.00.00    2,1


            Date      Time CO(GT)
9117  25/03/2005  15.00.00    1,4


            Date      Time CO(GT)
9118  25/03/2005  16.00.00    3,4


            Date      Time CO(GT)
9119  25/03/2005  17.00.00    3,8


            Date      Time CO(GT)
9120  25/03/2005  18.00.00    4,9


            Date      Time CO(GT)
9121  25/03/2005  19.00.00    5,7


            Date      Time CO(GT)
9122  25/03/2005  20.00.00    5,5


            Date      Time CO(GT)
9123  25/03/2005  21.00.00    3,9


            Date      Time CO(GT)
9124  25/03/2005  22.00.00    3,1


            Date      Time CO(GT)
9125  25/03/2005  23.00.00    2,0


            Date      Time CO(GT)
1086  25/04/2004  00.00.00    1,2


            Date      Time CO(GT)
1087  25/04/2004  01.00.00    1,3


            Date      Time CO(GT)
1088  25/04/2004  02.00.00      1


            Date      Time CO(GT)
1089  25/04/2004  03.00.00    1,3


            Date      Time CO(GT)
1090  25/04/2004  04.00.00   -200


            Date      Time CO(GT)
1091  25/04/2004  05.00.00    0,3


            Date      Time CO(GT)
1092  25/04/2004  06.00.00    0,5


            Date      Time CO(GT)
1093  25/04/2004  07.00.00    0,6


            Date      Time CO(GT)
1094  25/04/2004  08.00.00    0,6


            Date      Time CO(GT)
1095  25/04/2004  09.00.00    0,8


            Date      Time CO(GT)
1096  25/04/2004  10.00.00      1


            Date      Time CO(GT)
1097  25/04/2004  11.00.00    0,9


            Date      Time CO(GT)
1098  25/04/2004  12.00.00      1


            Date      Time CO(GT)
1099  25/04/2004  13.00.00    0,8


            Date      Time CO(GT)
1100  25/04/2004  14.00.00    0,7


            Date      Time CO(GT)
1101  25/04/2004  15.00.00    0,9


            Date      Time CO(GT)
1102  25/04/2004  16.00.00    1,3


            Date      Time CO(GT)
1103  25/04/2004  17.00.00    1,4


            Date      Time CO(GT)
1104  25/04/2004  18.00.00    1,5


            Date      Time CO(GT)
1105  25/04/2004  19.00.00    2,7


            Date      Time CO(GT)
1106  25/04/2004  20.00.00    2,5


            Date      Time CO(GT)
1107  25/04/2004  21.00.00    1,4


            Date      Time CO(GT)
1108  25/04/2004  22.00.00    2,8


            Date      Time CO(GT)
1109  25/04/2004  23.00.00    2,1


            Date      Time CO(GT)
1806  25/05/2004  00.00.00    0,5


            Date      Time CO(GT)
1807  25/05/2004  01.00.00    0,2


            Date      Time CO(GT)
1808  25/05/2004  02.00.00   -200


            Date      Time CO(GT)
1809  25/05/2004  03.00.00   -200


            Date      Time CO(GT)
1810  25/05/2004  04.00.00   -200


            Date      Time CO(GT)
1811  25/05/2004  05.00.00    0,1


            Date      Time CO(GT)
1812  25/05/2004  06.00.00    0,2


            Date      Time CO(GT)
1813  25/05/2004  07.00.00    1,1


            Date      Time CO(GT)
1814  25/05/2004  08.00.00      3


            Date      Time CO(GT)
1815  25/05/2004  09.00.00    2,1


            Date      Time CO(GT)
1816  25/05/2004  10.00.00    2,6


            Date      Time CO(GT)
1817  25/05/2004  11.00.00    3,2


            Date      Time CO(GT)
1818  25/05/2004  12.00.00    2,1


            Date      Time CO(GT)
1819  25/05/2004  13.00.00    2,2


            Date      Time CO(GT)
1820  25/05/2004  14.00.00    2,4


            Date      Time CO(GT)
1821  25/05/2004  15.00.00   -200


            Date      Time CO(GT)
1822  25/05/2004  16.00.00   -200


            Date      Time CO(GT)
1823  25/05/2004  17.00.00   -200


            Date      Time CO(GT)
1824  25/05/2004  18.00.00   -200


            Date      Time CO(GT)
1825  25/05/2004  19.00.00   -200


            Date      Time CO(GT)
1826  25/05/2004  20.00.00   -200


            Date      Time CO(GT)
1827  25/05/2004  21.00.00   -200


            Date      Time CO(GT)
1828  25/05/2004  22.00.00   -200


            Date      Time CO(GT)
1829  25/05/2004  23.00.00   -200


            Date      Time CO(GT)
2550  25/06/2004  00.00.00    2,6


            Date      Time CO(GT)
2551  25/06/2004  01.00.00      2


            Date      Time CO(GT)
2552  25/06/2004  02.00.00    0,9


            Date      Time CO(GT)
2553  25/06/2004  03.00.00    0,7


            Date      Time CO(GT)
2554  25/06/2004  04.00.00    0,6


            Date      Time CO(GT)
2555  25/06/2004  05.00.00    0,6


            Date      Time CO(GT)
2556  25/06/2004  06.00.00    1,6


            Date      Time CO(GT)
2557  25/06/2004  07.00.00    2,6


            Date      Time CO(GT)
2558  25/06/2004  08.00.00    2,9


            Date      Time CO(GT)
2559  25/06/2004  09.00.00    2,8


            Date      Time CO(GT)
2560  25/06/2004  10.00.00    1,9


            Date      Time CO(GT)
2561  25/06/2004  11.00.00    1,9


            Date      Time CO(GT)
2562  25/06/2004  12.00.00    2,1


            Date      Time CO(GT)
2563  25/06/2004  13.00.00    1,9


            Date      Time CO(GT)
2564  25/06/2004  14.00.00    1,6


            Date      Time CO(GT)
2565  25/06/2004  15.00.00    1,6


            Date      Time CO(GT)
2566  25/06/2004  16.00.00    2,1


            Date      Time CO(GT)
2567  25/06/2004  17.00.00    2,4


            Date      Time CO(GT)
2568  25/06/2004  18.00.00    2,8


            Date      Time CO(GT)
2569  25/06/2004  19.00.00    3,4


            Date      Time CO(GT)
2570  25/06/2004  20.00.00    3,4


            Date      Time CO(GT)
2571  25/06/2004  21.00.00    2,7


            Date      Time CO(GT)
2572  25/06/2004  22.00.00    2,6


            Date      Time CO(GT)
2573  25/06/2004  23.00.00    2,3


            Date      Time CO(GT)
3270  25/07/2004  00.00.00    1,7


            Date      Time CO(GT)
3271  25/07/2004  01.00.00    0,9


            Date      Time CO(GT)
3272  25/07/2004  02.00.00    0,7


            Date      Time CO(GT)
3273  25/07/2004  03.00.00    0,4


            Date      Time CO(GT)
3274  25/07/2004  04.00.00   -200


            Date      Time CO(GT)
3275  25/07/2004  05.00.00    0,3


            Date      Time CO(GT)
3276  25/07/2004  06.00.00    0,4


            Date      Time CO(GT)
3277  25/07/2004  07.00.00    0,4


            Date      Time CO(GT)
3278  25/07/2004  08.00.00    0,5


            Date      Time CO(GT)
3279  25/07/2004  09.00.00    0,5


            Date      Time CO(GT)
3280  25/07/2004  10.00.00    0,7


            Date      Time CO(GT)
3281  25/07/2004  11.00.00    0,9


            Date      Time CO(GT)
3282  25/07/2004  12.00.00    0,8


            Date      Time CO(GT)
3283  25/07/2004  13.00.00    0,8


            Date      Time CO(GT)
3284  25/07/2004  14.00.00    0,7


            Date      Time CO(GT)
3285  25/07/2004  15.00.00    0,8


            Date      Time CO(GT)
3286  25/07/2004  16.00.00    0,7


            Date      Time CO(GT)
3287  25/07/2004  17.00.00    0,8


            Date      Time CO(GT)
3288  25/07/2004  18.00.00    1,2


            Date      Time CO(GT)
3289  25/07/2004  19.00.00    1,6


            Date      Time CO(GT)
3290  25/07/2004  20.00.00    1,6


            Date      Time CO(GT)
3291  25/07/2004  21.00.00    1,5


            Date      Time CO(GT)
3292  25/07/2004  22.00.00    1,5


            Date      Time CO(GT)
3293  25/07/2004  23.00.00    1,5


            Date      Time CO(GT)
4014  25/08/2004  00.00.00    1,5


            Date      Time CO(GT)
4015  25/08/2004  01.00.00    1,3


            Date      Time CO(GT)
4016  25/08/2004  02.00.00    1,1


            Date      Time CO(GT)
4017  25/08/2004  03.00.00    0,5


            Date      Time CO(GT)
4018  25/08/2004  04.00.00    0,6


            Date      Time CO(GT)
4019  25/08/2004  05.00.00    0,7


            Date      Time CO(GT)
4020  25/08/2004  06.00.00    1,1


            Date      Time CO(GT)
4021  25/08/2004  07.00.00    1,9


            Date      Time CO(GT)
4022  25/08/2004  08.00.00    3,5


            Date      Time CO(GT)
4023  25/08/2004  09.00.00    2,9


            Date      Time CO(GT)
4024  25/08/2004  10.00.00    2,2


            Date      Time CO(GT)
4025  25/08/2004  11.00.00      2


            Date      Time CO(GT)
4026  25/08/2004  12.00.00    1,7


            Date      Time CO(GT)
4027  25/08/2004  13.00.00    1,6


            Date      Time CO(GT)
4028  25/08/2004  14.00.00    1,3


            Date      Time CO(GT)
4029  25/08/2004  15.00.00    1,3


            Date      Time CO(GT)
4030  25/08/2004  16.00.00    1,3


            Date      Time CO(GT)
4031  25/08/2004  17.00.00    1,6


            Date      Time CO(GT)
4032  25/08/2004  18.00.00    1,3


            Date      Time CO(GT)
4033  25/08/2004  19.00.00    1,4


            Date      Time CO(GT)
4034  25/08/2004  20.00.00    1,4


            Date      Time CO(GT)
4035  25/08/2004  21.00.00    1,3


            Date      Time CO(GT)
4036  25/08/2004  22.00.00    1,4


            Date      Time CO(GT)
4037  25/08/2004  23.00.00    1,5


            Date      Time CO(GT)
4758  25/09/2004  00.00.00    1,2


            Date      Time CO(GT)
4759  25/09/2004  01.00.00    1,1


            Date      Time CO(GT)
4760  25/09/2004  02.00.00    0,6


            Date      Time CO(GT)
4761  25/09/2004  03.00.00    0,3


            Date      Time CO(GT)
4762  25/09/2004  04.00.00    0,3


            Date      Time CO(GT)
4763  25/09/2004  05.00.00    0,3


            Date      Time CO(GT)
4764  25/09/2004  06.00.00    0,4


            Date      Time CO(GT)
4765  25/09/2004  07.00.00    0,6


            Date      Time CO(GT)
4766  25/09/2004  08.00.00    0,7


            Date      Time CO(GT)
4767  25/09/2004  09.00.00      1


            Date      Time CO(GT)
4768  25/09/2004  10.00.00    1,1


            Date      Time CO(GT)
4769  25/09/2004  11.00.00    1,5


            Date      Time CO(GT)
4770  25/09/2004  12.00.00    1,4


            Date      Time CO(GT)
4771  25/09/2004  13.00.00    1,4


            Date      Time CO(GT)
4772  25/09/2004  14.00.00      1


            Date      Time CO(GT)
4773  25/09/2004  15.00.00    0,9


            Date      Time CO(GT)
4774  25/09/2004  16.00.00    1,1


            Date      Time CO(GT)
4775  25/09/2004  17.00.00    1,3


            Date      Time CO(GT)
4776  25/09/2004  18.00.00    1,8


            Date      Time CO(GT)
4777  25/09/2004  19.00.00    2,4


            Date      Time CO(GT)
4778  25/09/2004  20.00.00    2,7


            Date      Time CO(GT)
4779  25/09/2004  21.00.00    1,7


            Date      Time CO(GT)
4780  25/09/2004  22.00.00    2,2


            Date      Time CO(GT)
4781  25/09/2004  23.00.00    2,8


            Date      Time CO(GT)
5478  25/10/2004  00.00.00    1,7


            Date      Time CO(GT)
5479  25/10/2004  01.00.00    1,4


            Date      Time CO(GT)
5480  25/10/2004  02.00.00    0,9


            Date      Time CO(GT)
5481  25/10/2004  03.00.00    0,7


            Date      Time CO(GT)
5482  25/10/2004  04.00.00   -200


            Date      Time CO(GT)
5483  25/10/2004  05.00.00    0,9


            Date      Time CO(GT)
5484  25/10/2004  06.00.00    1,2


            Date      Time CO(GT)
5485  25/10/2004  07.00.00    3,2


            Date      Time CO(GT)
5486  25/10/2004  08.00.00    4,4


            Date      Time CO(GT)
5487  25/10/2004  09.00.00    3,5


            Date      Time CO(GT)
5488  25/10/2004  10.00.00    3,2


            Date      Time CO(GT)
5489  25/10/2004  11.00.00      3


            Date      Time CO(GT)
5490  25/10/2004  12.00.00    3,5


            Date      Time CO(GT)
5491  25/10/2004  13.00.00      4


            Date      Time CO(GT)
5492  25/10/2004  14.00.00    3,8


            Date      Time CO(GT)
5493  25/10/2004  15.00.00    4,2


            Date      Time CO(GT)
5494  25/10/2004  16.00.00      5


            Date      Time CO(GT)
5495  25/10/2004  17.00.00    7,9


            Date      Time CO(GT)
5496  25/10/2004  18.00.00    8,4


            Date      Time CO(GT)
5497  25/10/2004  19.00.00      8


            Date      Time CO(GT)
5498  25/10/2004  20.00.00    6,4


            Date      Time CO(GT)
5499  25/10/2004  21.00.00    3,5


            Date      Time CO(GT)
5500  25/10/2004  22.00.00    3,5


            Date      Time CO(GT)
5501  25/10/2004  23.00.00    1,9


            Date      Time CO(GT)
6222  25/11/2004  00.00.00      4


            Date      Time CO(GT)
6223  25/11/2004  01.00.00      4


            Date      Time CO(GT)
6224  25/11/2004  02.00.00      3


            Date      Time CO(GT)
6225  25/11/2004  03.00.00    2,1


            Date      Time CO(GT)
6226  25/11/2004  04.00.00    2,2


            Date      Time CO(GT)
6227  25/11/2004  05.00.00    2,2


            Date      Time CO(GT)
6228  25/11/2004  06.00.00      2


            Date      Time CO(GT)
6229  25/11/2004  07.00.00    2,2


            Date      Time CO(GT)
6230  25/11/2004  08.00.00      4


            Date      Time CO(GT)
6231  25/11/2004  09.00.00    4,8


            Date      Time CO(GT)
6232  25/11/2004  10.00.00    4,6


            Date      Time CO(GT)
6233  25/11/2004  11.00.00    2,8


            Date      Time CO(GT)
6234  25/11/2004  12.00.00    2,1


            Date      Time CO(GT)
6235  25/11/2004  13.00.00      2


            Date      Time CO(GT)
6236  25/11/2004  14.00.00    2,5


            Date      Time CO(GT)
6237  25/11/2004  15.00.00    2,5


            Date      Time CO(GT)
6238  25/11/2004  16.00.00    2,8


            Date      Time CO(GT)
6239  25/11/2004  17.00.00      4


            Date      Time CO(GT)
6240  25/11/2004  18.00.00    4,5


            Date      Time CO(GT)
6241  25/11/2004  19.00.00    3,1


            Date      Time CO(GT)
6242  25/11/2004  20.00.00    2,6


            Date      Time CO(GT)
6243  25/11/2004  21.00.00    2,6


            Date      Time CO(GT)
6244  25/11/2004  22.00.00      2


            Date      Time CO(GT)
6245  25/11/2004  23.00.00    1,8


            Date      Time CO(GT)
6942  25/12/2004  00.00.00    5,9


            Date      Time CO(GT)
6943  25/12/2004  01.00.00    5,6


            Date      Time CO(GT)
6944  25/12/2004  02.00.00    5,5


            Date      Time CO(GT)
6945  25/12/2004  03.00.00    5,2


            Date      Time CO(GT)
6946  25/12/2004  04.00.00   -200


            Date      Time CO(GT)
6947  25/12/2004  05.00.00    2,2


            Date      Time CO(GT)
6948  25/12/2004  06.00.00      2


            Date      Time CO(GT)
6949  25/12/2004  07.00.00    2,2


            Date      Time CO(GT)
6950  25/12/2004  08.00.00      2


            Date      Time CO(GT)
6951  25/12/2004  09.00.00    2,5


            Date      Time CO(GT)
6952  25/12/2004  10.00.00      3


            Date      Time CO(GT)
6953  25/12/2004  11.00.00    2,8


            Date      Time CO(GT)
6954  25/12/2004  12.00.00    3,4


            Date      Time CO(GT)
6955  25/12/2004  13.00.00    5,5


            Date      Time CO(GT)
6956  25/12/2004  14.00.00      4


            Date      Time CO(GT)
6957  25/12/2004  15.00.00    2,4


            Date      Time CO(GT)
6958  25/12/2004  16.00.00    3,1


            Date      Time CO(GT)
6959  25/12/2004  17.00.00      4


            Date      Time CO(GT)
6960  25/12/2004  18.00.00    4,6


            Date      Time CO(GT)
6961  25/12/2004  19.00.00    4,8


            Date      Time CO(GT)
6962  25/12/2004  20.00.00    6,2


            Date      Time CO(GT)
6963  25/12/2004  21.00.00    4,6


            Date      Time CO(GT)
6964  25/12/2004  22.00.00    4,5


            Date      Time CO(GT)
6965  25/12/2004  23.00.00    4,2


            Date      Time  CO(GT)
7710  26/01/2005  00.00.00  -200,0


            Date      Time  CO(GT)
7711  26/01/2005  01.00.00  -200,0


            Date      Time  CO(GT)
7712  26/01/2005  02.00.00  -200,0


            Date      Time  CO(GT)
7713  26/01/2005  03.00.00  -200,0


            Date      Time  CO(GT)
7714  26/01/2005  04.00.00  -200,0


            Date      Time  CO(GT)
7715  26/01/2005  05.00.00  -200,0


            Date      Time  CO(GT)
7716  26/01/2005  06.00.00  -200,0


            Date      Time  CO(GT)
7717  26/01/2005  07.00.00  -200,0


            Date      Time CO(GT)
7718  26/01/2005  08.00.00    0,3


            Date      Time CO(GT)
7719  26/01/2005  09.00.00    0,6


            Date      Time CO(GT)
7720  26/01/2005  10.00.00    0,3


            Date      Time CO(GT)
7721  26/01/2005  11.00.00    0,1


            Date      Time CO(GT)
7722  26/01/2005  12.00.00    0,1


            Date      Time CO(GT)
7723  26/01/2005  13.00.00    0,2


            Date      Time CO(GT)
7724  26/01/2005  14.00.00    0,5


            Date      Time CO(GT)
7725  26/01/2005  15.00.00    0,3


            Date      Time CO(GT)
7726  26/01/2005  16.00.00    0,3


            Date      Time CO(GT)
7727  26/01/2005  17.00.00    0,3


            Date      Time CO(GT)
7728  26/01/2005  18.00.00    1,0


            Date      Time CO(GT)
7729  26/01/2005  19.00.00    1,4


            Date      Time CO(GT)
7730  26/01/2005  20.00.00    1,4


            Date      Time CO(GT)
7731  26/01/2005  21.00.00    1,1


            Date      Time CO(GT)
7732  26/01/2005  22.00.00    0,4


            Date      Time CO(GT)
7733  26/01/2005  23.00.00    0,2


            Date      Time CO(GT)
8454  26/02/2005  00.00.00    2,8


            Date      Time CO(GT)
8455  26/02/2005  01.00.00    2,1


            Date      Time CO(GT)
8456  26/02/2005  02.00.00    1,9


            Date      Time CO(GT)
8457  26/02/2005  03.00.00    2,1


            Date      Time CO(GT)
8458  26/02/2005  04.00.00    1,7


            Date      Time CO(GT)
8459  26/02/2005  05.00.00    1,3


            Date      Time CO(GT)
8460  26/02/2005  06.00.00    0,9


            Date      Time CO(GT)
8461  26/02/2005  07.00.00    1,0


            Date      Time CO(GT)
8462  26/02/2005  08.00.00    1,0


            Date      Time CO(GT)
8463  26/02/2005  09.00.00    1,5


            Date      Time CO(GT)
8464  26/02/2005  10.00.00    1,5


            Date      Time CO(GT)
8465  26/02/2005  11.00.00    1,4


            Date      Time CO(GT)
8466  26/02/2005  12.00.00    2,4


            Date      Time CO(GT)
8467  26/02/2005  13.00.00    2,8


            Date      Time CO(GT)
8468  26/02/2005  14.00.00    2,9


            Date      Time CO(GT)
8469  26/02/2005  15.00.00    2,6


            Date      Time CO(GT)
8470  26/02/2005  16.00.00    2,5


            Date      Time CO(GT)
8471  26/02/2005  17.00.00    2,7


            Date      Time CO(GT)
8472  26/02/2005  18.00.00    2,8


            Date      Time CO(GT)
8473  26/02/2005  19.00.00    3,0


            Date      Time CO(GT)
8474  26/02/2005  20.00.00    3,7


            Date      Time CO(GT)
8475  26/02/2005  21.00.00    3,5


            Date      Time CO(GT)
8476  26/02/2005  22.00.00    3,8


            Date      Time CO(GT)
8477  26/02/2005  23.00.00    4,3


           Date      Time CO(GT)
366  26/03/2004  00.00.00    1,7


           Date      Time CO(GT)
367  26/03/2004  01.00.00    1,4


           Date      Time CO(GT)
368  26/03/2004  02.00.00    1,2


           Date      Time CO(GT)
369  26/03/2004  03.00.00    0,6


           Date      Time CO(GT)
370  26/03/2004  04.00.00    0,7


           Date      Time CO(GT)
371  26/03/2004  05.00.00    0,8


           Date      Time CO(GT)
372  26/03/2004  06.00.00    0,9


           Date      Time CO(GT)
373  26/03/2004  07.00.00    1,6


           Date      Time CO(GT)
374  26/03/2004  08.00.00    3,4


           Date      Time CO(GT)
375  26/03/2004  09.00.00    3,8


           Date      Time CO(GT)
376  26/03/2004  10.00.00    3,1


           Date      Time CO(GT)
377  26/03/2004  11.00.00    2,7



4785  26/09/2004  03.00.00    1,4


            Date      Time CO(GT)
4786  26/09/2004  04.00.00   -200


            Date      Time CO(GT)
4787  26/09/2004  05.00.00    0,9


            Date      Time CO(GT)
4788  26/09/2004  06.00.00    0,6


            Date      Time CO(GT)
4789  26/09/2004  07.00.00      1


            Date      Time CO(GT)
4790  26/09/2004  08.00.00    1,6


            Date      Time CO(GT)
4791  26/09/2004  09.00.00    0,9


            Date      Time CO(GT)
4792  26/09/2004  10.00.00    0,9


            Date      Time CO(GT)
4793  26/09/2004  11.00.00      1


            Date      Time CO(GT)
4794  26/09/2004  12.00.00      1


            Date      Time CO(GT)
4795  26/09/2004  13.00.00    0,9


            Date      Time CO(GT)
4796  26/09/2004  14.00.00    0,9


            Date      Time CO(GT)
4797  26/09/2004  15.00.00    0,9


            Date      Time CO(GT)
4798  26/09/2004  16.00.00    0,9


            Date      Time CO(GT)
4799  26/09/2004  17.00.00    2,7


            Date      Time CO(GT)
4800  26/09/2004  18.00.00    2,2


            Date      Time CO(GT)
4801  26/09/2004  19.00.00    3,3


            Date      Time CO(GT)
4802  26/09/2004  20.00.00    2,1


            Date      Time CO(GT)
4803  26/09/2004  21.00.00    1,8


            Date      Time CO(GT)
4804  26/09/2004  22.00.00    1,9


            Date      Time CO(GT)
4805  26/09/2004  23.00.00    2,3


            Date      Time CO(GT)
5502  26/10/2004  00.00.00    2,2


            Date      Time CO(GT)
5503  26/10/2004  01.00.00    1,6


            Date      Time CO(GT)
5504  26/10/2004  02.00.00      1


            Date      Time CO(GT)
5505  26/10/2004  03.00.00      1


            Date      Time CO(GT)
5506  26/10/2004  04.00.00   -200


            Date      Time CO(GT)
5507  26/10/2004  05.00.00    0,9


            Date      Time CO(GT)
5508  26/10/2004  06.00.00    1,4


            Date      Time CO(GT)
5509  26/10/2004  07.00.00      3


            Date      Time CO(GT)
5510  26/10/2004  08.00.00    4,5


            Date      Time CO(GT)
5511  26/10/2004  09.00.00    3,8


            Date      Time CO(GT)
5512  26/10/2004  10.00.00    3,4


            Date      Time CO(GT)
5513  26/10/2004  11.00.00    3,5


            Date      Time CO(GT)
5514  26/10/2004  12.00.00    4,4


            Date      Time CO(GT)
5515  26/10/2004  13.00.00      4


            Date      Time CO(GT)
5516  26/10/2004  14.00.00    4,5


            Date      Time CO(GT)
5517  26/10/2004  15.00.00    5,3


            Date      Time CO(GT)
5518  26/10/2004  16.00.00    5,8


            Date      Time CO(GT)
5519  26/10/2004  17.00.00    8,4


            Date      Time CO(GT)
5520  26/10/2004  18.00.00    9,5


            Date      Time CO(GT)
5521  26/10/2004  19.00.00    6,2


            Date      Time CO(GT)
5522  26/10/2004  20.00.00      5


            Date      Time CO(GT)
5523  26/10/2004  21.00.00    2,1


            Date      Time CO(GT)
5524  26/10/2004  22.00.00    1,4


            Date      Time CO(GT)
5525  26/10/2004  23.00.00    1,6


            Date      Time CO(GT)
6246  26/11/2004  00.00.00    2,5


            Date      Time CO(GT)
6247  26/11/2004  01.00.00    2,3


            Date      Time CO(GT)
6248  26/11/2004  02.00.00    2,1


            Date      Time CO(GT)
6249  26/11/2004  03.00.00    1,5


            Date      Time CO(GT)
6250  26/11/2004  04.00.00   -200


            Date      Time CO(GT)
6251  26/11/2004  05.00.00    1,2


            Date      Time CO(GT)
6252  26/11/2004  06.00.00      1


            Date      Time CO(GT)
6253  26/11/2004  07.00.00    1,7


            Date      Time CO(GT)
6254  26/11/2004  08.00.00    4,3


            Date      Time CO(GT)
6255  26/11/2004  09.00.00    5,8


            Date      Time CO(GT)
6256  26/11/2004  10.00.00    5,6


            Date      Time CO(GT)
6257  26/11/2004  11.00.00      4


            Date      Time CO(GT)
6258  26/11/2004  12.00.00      4


            Date      Time CO(GT)
6259  26/11/2004  13.00.00    4,9


            Date      Time CO(GT)
6260  26/11/2004  14.00.00    5,6


            Date      Time CO(GT)
6261  26/11/2004  15.00.00    5,1


            Date      Time CO(GT)
6262  26/11/2004  16.00.00    6,2


            Date      Time CO(GT)
6263  26/11/2004  17.00.00    7,7


            Date      Time CO(GT)
6264  26/11/2004  18.00.00   10,1


            Date      Time CO(GT)
6265  26/11/2004  19.00.00    6,4


            Date      Time CO(GT)
6266  26/11/2004  20.00.00    7,7


            Date      Time CO(GT)
6267  26/11/2004  21.00.00    8,1


            Date      Time CO(GT)
6268  26/11/2004  22.00.00    4,7


            Date      Time CO(GT)
6269  26/11/2004  23.00.00    4,3


            Date      Time CO(GT)
6966  26/12/2004  00.00.00    2,6


            Date      Time CO(GT)
6967  26/12/2004  01.00.00    1,6


            Date      Time CO(GT)
6968  26/12/2004  02.00.00    1,3


            Date      Time CO(GT)
6969  26/12/2004  03.00.00    0,6


            Date      Time CO(GT)
6970  26/12/2004  04.00.00    0,5


            Date      Time CO(GT)
6971  26/12/2004  05.00.00    0,4


            Date      Time CO(GT)
6972  26/12/2004  06.00.00    0,3


            Date      Time CO(GT)
6973  26/12/2004  07.00.00    0,4


            Date      Time CO(GT)
6974  26/12/2004  08.00.00    0,6


            Date      Time CO(GT)
6975  26/12/2004  09.00.00    0,9


            Date      Time CO(GT)
6976  26/12/2004  10.00.00    1,1


            Date      Time CO(GT)
6977  26/12/2004  11.00.00      1


            Date      Time CO(GT)
6978  26/12/2004  12.00.00    1,6


            Date      Time CO(GT)
6979  26/12/2004  13.00.00    1,8


            Date      Time CO(GT)
6980  26/12/2004  14.00.00      1


            Date      Time CO(GT)
6981  26/12/2004  15.00.00    0,8


            Date      Time CO(GT)
6982  26/12/2004  16.00.00    1,4


            Date      Time CO(GT)
6983  26/12/2004  17.00.00    2,1


            Date      Time CO(GT)
6984  26/12/2004  18.00.00    2,3


            Date      Time CO(GT)
6985  26/12/2004  19.00.00    3,5


            Date      Time CO(GT)
6986  26/12/2004  20.00.00    3,8


            Date      Time CO(GT)
6987  26/12/2004  21.00.00    2,4


            Date      Time CO(GT)
6988  26/12/2004  22.00.00      1


            Date      Time CO(GT)
6989  26/12/2004  23.00.00    1,3


            Date      Time CO(GT)
7734  27/01/2005  00.00.00    0,2


            Date      Time CO(GT)
7735  27/01/2005  01.00.00    0,2


            Date      Time CO(GT)
7736  27/01/2005  02.00.00    0,2


            Date      Time  CO(GT)
7737  27/01/2005  03.00.00  -200,0


            Date      Time  CO(GT)
7738  27/01/2005  04.00.00  -200,0


            Date      Time CO(GT)
7739  27/01/2005  05.00.00    0,4


            Date      Time CO(GT)
7740  27/01/2005  06.00.00    0,5


            Date      Time CO(GT)
7741  27/01/2005  07.00.00    0,7


            Date      Time CO(GT)
7742  27/01/2005  08.00.00    1,9


            Date      Time CO(GT)
7743  27/01/2005  09.00.00    2,4


            Date      Time CO(GT)
7744  27/01/2005  10.00.00    2,0


            Date      Time CO(GT)
7745  27/01/2005  11.00.00    1,3


            Date      Time CO(GT)
7746  27/01/2005  12.00.00    1,0


            Date      Time CO(GT)
7747  27/01/2005  13.00.00    1,2


            Date      Time CO(GT)
7748  27/01/2005  14.00.00    1,5


            Date      Time CO(GT)
7749  27/01/2005  15.00.00    1,3


            Date      Time CO(GT)
7750  27/01/2005  16.00.00    1,5


            Date      Time CO(GT)
7751  27/01/2005  17.00.00    1,5


            Date      Time CO(GT)
7752  27/01/2005  18.00.00    2,1


            Date      Time CO(GT)
7753  27/01/2005  19.00.00    2,6


            Date      Time CO(GT)
7754  27/01/2005  20.00.00    3,0


            Date      Time CO(GT)
7755  27/01/2005  21.00.00    2,0


            Date      Time CO(GT)
7756  27/01/2005  22.00.00    1,4


            Date      Time CO(GT)
7757  27/01/2005  23.00.00    1,3


            Date      Time CO(GT)
8478  27/02/2005  00.00.00    4,8


            Date      Time CO(GT)
8479  27/02/2005  01.00.00    4,2


            Date      Time CO(GT)
8480  27/02/2005  02.00.00    3,3


            Date      Time CO(GT)
8481  27/02/2005  03.00.00    3,0


            Date      Time  CO(GT)
8482  27/02/2005  04.00.00  -200,0


            Date      Time CO(GT)
8483  27/02/2005  05.00.00    1,0


            Date      Time CO(GT)
8484  27/02/2005  06.00.00    0,9


            Date      Time CO(GT)
8485  27/02/2005  07.00.00    1,1


            Date      Time CO(GT)
8486  27/02/2005  08.00.00    1,1


            Date      Time CO(GT)
8487  27/02/2005  09.00.00    1,2


            Date      Time CO(GT)
8488  27/02/2005  10.00.00    1,7


            Date      Time CO(GT)
8489  27/02/2005  11.00.00    1,6


            Date      Time CO(GT)
8490  27/02/2005  12.00.00    1,4


            Date      Time CO(GT)
8491  27/02/2005  13.00.00    1,8


            Date      Time CO(GT)
8492  27/02/2005  14.00.00    1,1


            Date      Time CO(GT)
8493  27/02/2005  15.00.00    0,9


            Date      Time CO(GT)
8494  27/02/2005  16.00.00    1,1


            Date      Time CO(GT)
8495  27/02/2005  17.00.00    1,1


            Date      Time CO(GT)
8496  27/02/2005  18.00.00    1,2


            Date      Time CO(GT)
8497  27/02/2005  19.00.00    1,6


            Date      Time CO(GT)
8498  27/02/2005  20.00.00    2,6


            Date      Time CO(GT)
8499  27/02/2005  21.00.00    1,5


            Date      Time CO(GT)
8500  27/02/2005  22.00.00    1,0


            Date      Time CO(GT)
8501  27/02/2005  23.00.00    1,3


           Date      Time CO(GT)
390  27/03/2004  00.00.00    1,5


           Date      Time CO(GT)
391  27/03/2004  01.00.00      1


           Date      Time CO(GT)
392  27/03/2004  02.00.00    1,2


           Date      Time CO(GT)
393  27/03/2004  03.00.00    1,1


           Date      Time CO(GT)
394  27/03/2004  04.00.00   -200


           Date      Time CO(GT)
395  27/03/2004  05.00.00    0,8


           Date      Time CO(GT)
396  27/03/2004  06.00.00    0,9


           Date      Time CO(GT)
397  27/03/2004  07.00.00    1,1


           Date      Time CO(GT)
398  27/03/2004  08.00.00    1,5


           Date      Time CO(GT)
399  27/03/2004  09.00.00    1,8


           Date      Time CO(GT)
400  27/03/2004  10.00.00    2,1


           Date      Time CO(GT)
401  27/03/2004  11.00.00    2,1


           Date      Time CO(GT)
402  27/03/2004  12.00.00    1,9


           Date      Time CO(GT)
403  27/03/2004  13.00.00    2,1


           Date      Time CO(GT)
404  27/03/2004  14.00.00    2,5


           Date      Time CO(GT)
405  27/03/2004  15.00.00    1,9


           Date      Time CO(GT)
406  27/03/2004  16.00.00    2,2


           Date      Time CO(GT)
407  27/03/2004  17.00.00    2,3


           Date      Time CO(GT)
408  27/03/2004  18.00.00    2,7


           Date      Time CO(GT)
409  27/03/2004  19.00.00      3


           Date      Time CO(GT)
410  27/03/2004  20.00.00    2,8


           Date      Time CO(GT)
411  27/03/2004  21.00.00    2,2


           Date      Time CO(GT)
412  27/03/2004  22.00.00    1,6


           Date      Time CO(GT)
413  27/03/2004  23.00.00    2,1


            Date      Time CO(GT)
9150  27/03/2005  00.00.00    1,6


            Date      Time CO(GT)
9151  27/03/2005  01.00.00    1,3


            Date      Time CO(GT)
9152  27/03/2005  02.00.00    1,0


            Date      Time CO(GT)
9153  27/03/2005  03.00.00    1,0


            Date      Time CO(GT)
9154  27/03/2005  04.00.00    1,0


            Date      Time CO(GT)
9155  27/03/2005  05.00.00    0,8


            Date      Time CO(GT)
9156  27/03/2005  06.00.00    0,7


            Date      Time CO(GT)
9157  27/03/2005  07.00.00    1,1


            Date      Time CO(GT)
9158  27/03/2005  08.00.00    1,1


            Date      Time CO(GT)
9159  27/03/2005  09.00.00    1,1


            Date      Time CO(GT)
9160  27/03/2005  10.00.00    1,4


            Date      Time CO(GT)
9161  27/03/2005  11.00.00    1,3


            Date      Time CO(GT)
9162  27/03/2005  12.00.00    1,5


            Date      Time CO(GT)
9163  27/03/2005  13.00.00    1,3


            Date      Time CO(GT)
9164  27/03/2005  14.00.00    0,8


            Date      Time CO(GT)
9165  27/03/2005  15.00.00    0,9


            Date      Time CO(GT)
9166  27/03/2005  16.00.00    1,4


            Date      Time CO(GT)
9167  27/03/2005  17.00.00    1,8


            Date      Time CO(GT)
9168  27/03/2005  18.00.00    1,6


            Date      Time CO(GT)
9169  27/03/2005  19.00.00    1,8


            Date      Time CO(GT)
9170  27/03/2005  20.00.00    2,1


            Date      Time CO(GT)
9171  27/03/2005  21.00.00    1,9


            Date      Time CO(GT)
9172  27/03/2005  22.00.00    1,7


            Date      Time CO(GT)
9173  27/03/2005  23.00.00    1,9


            Date      Time CO(GT)
1134  27/04/2004  00.00.00    0,8


            Date      Time CO(GT)
1135  27/04/2004  01.00.00    0,7


            Date      Time CO(GT)
1136  27/04/2004  02.00.00    0,5


            Date      Time CO(GT)
1137  27/04/2004  03.00.00    0,5


            Date      Time CO(GT)
1138  27/04/2004  04.00.00   -200


            Date      Time CO(GT)
1139  27/04/2004  05.00.00    0,7


            Date      Time CO(GT)
1140  27/04/2004  06.00.00    1,4


            Date      Time CO(GT)
1141  27/04/2004  07.00.00    4,1


            Date      Time CO(GT)
1142  27/04/2004  08.00.00    4,6


            Date      Time CO(GT)
1143  27/04/2004  09.00.00    1,9


            Date      Time CO(GT)
1144  27/04/2004  10.00.00    1,9


            Date      Time CO(GT)
1145  27/04/2004  11.00.00    1,7


            Date      Time CO(GT)
1146  27/04/2004  12.00.00    2,4


            Date      Time CO(GT)
1147  27/04/2004  13.00.00      3


            Date      Time CO(GT)
1148  27/04/2004  14.00.00      2


            Date      Time CO(GT)
1149  27/04/2004  15.00.00    2,7


            Date      Time CO(GT)
1150  27/04/2004  16.00.00    2,2


            Date      Time CO(GT)
1151  27/04/2004  17.00.00    2,9


            Date      Time CO(GT)
1152  27/04/2004  18.00.00    3,4


            Date      Time CO(GT)
1153  27/04/2004  19.00.00    3,9


            Date      Time CO(GT)
1154  27/04/2004  20.00.00    3,6


            Date      Time CO(GT)
1155  27/04/2004  21.00.00    2,5


            Date      Time CO(GT)
1156  27/04/2004  22.00.00    1,8


            Date      Time CO(GT)
1157  27/04/2004  23.00.00      2


            Date      Time CO(GT)
1854  27/05/2004  00.00.00   -200


            Date      Time CO(GT)
1855  27/05/2004  01.00.00   -200


            Date      Time CO(GT)
1856  27/05/2004  02.00.00   -200


            Date      Time CO(GT)
1857  27/05/2004  03.00.00   -200


            Date      Time CO(GT)
1858  27/05/2004  04.00.00   -200


            Date      Time CO(GT)
1859  27/05/2004  05.00.00   -200


            Date      Time CO(GT)
1860  27/05/2004  06.00.00   -200


            Date      Time CO(GT)
1861  27/05/2004  07.00.00   -200


            Date      Time CO(GT)
1862  27/05/2004  08.00.00   -200


            Date      Time CO(GT)
1863  27/05/2004  09.00.00   -200


            Date      Time CO(GT)
1864  27/05/2004  10.00.00   -200


            Date      Time CO(GT)
1865  27/05/2004  11.00.00   -200


            Date      Time CO(GT)
1866  27/05/2004  12.00.00   -200


            Date      Time CO(GT)
1867  27/05/2004  13.00.00   -200


            Date      Time CO(GT)
1868  27/05/2004  14.00.00   -200


            Date      Time CO(GT)
1869  27/05/2004  15.00.00   -200


            Date      Time CO(GT)
1870  27/05/2004  16.00.00   -200


            Date      Time CO(GT)
1871  27/05/2004  17.00.00   -200


            Date      Time CO(GT)
1872  27/05/2004  18.00.00   -200


            Date      Time CO(GT)
1873  27/05/2004  19.00.00   -200


            Date      Time CO(GT)
1874  27/05/2004  20.00.00   -200


            Date      Time CO(GT)
1875  27/05/2004  21.00.00   -200


            Date      Time CO(GT)
1876  27/05/2004  22.00.00   -200


            Date      Time CO(GT)
1877  27/05/2004  23.00.00   -200


            Date      Time CO(GT)
2598  27/06/2004  00.00.00    2,1


            Date      Time CO(GT)
2599  27/06/2004  01.00.00    1,4


            Date      Time CO(GT)
2600  27/06/2004  02.00.00      1


            Date      Time CO(GT)
2601  27/06/2004  03.00.00      1


            Date      Time CO(GT)
2602  27/06/2004  04.00.00    0,8


            Date      Time CO(GT)
2603  27/06/2004  05.00.00    0,5


            Date      Time CO(GT)
2604  27/06/2004  06.00.00    0,6


            Date      Time CO(GT)
2605  27/06/2004  07.00.00    0,6


            Date      Time CO(GT)
2606  27/06/2004  08.00.00      1


            Date      Time CO(GT)
2607  27/06/2004  09.00.00    1,6


            Date      Time CO(GT)
2608  27/06/2004  10.00.00    1,9


            Date      Time CO(GT)
2609  27/06/2004  11.00.00    1,7


            Date      Time CO(GT)
2610  27/06/2004  12.00.00    1,1


            Date      Time CO(GT)
2611  27/06/2004  13.00.00    0,8


            Date      Time CO(GT)
2612  27/06/2004  14.00.00    0,7


            Date      Time CO(GT)
2613  27/06/2004  15.00.00    0,7


            Date      Time CO(GT)
2614  27/06/2004  16.00.00    1,2


            Date      Time CO(GT)
2615  27/06/2004  17.00.00    1,6


            Date      Time CO(GT)
2616  27/06/2004  18.00.00    1,6


            Date      Time CO(GT)
2617  27/06/2004  19.00.00    1,7


            Date      Time CO(GT)
2618  27/06/2004  20.00.00      2


            Date      Time CO(GT)
2619  27/06/2004  21.00.00    2,3


            Date      Time CO(GT)
2620  27/06/2004  22.00.00    2,4


            Date      Time CO(GT)
2621  27/06/2004  23.00.00    1,7


            Date      Time CO(GT)
3318  27/07/2004  00.00.00   -200


            Date      Time CO(GT)
3319  27/07/2004  01.00.00   -200


            Date      Time CO(GT)
3320  27/07/2004  02.00.00   -200


            Date      Time CO(GT)
3321  27/07/2004  03.00.00   -200


            Date      Time CO(GT)
3322  27/07/2004  04.00.00   -200


            Date      Time CO(GT)
3323  27/07/2004  05.00.00   -200


            Date      Time CO(GT)
3324  27/07/2004  06.00.00   -200


            Date      Time CO(GT)
3325  27/07/2004  07.00.00   -200


            Date      Time CO(GT)
3326  27/07/2004  08.00.00   -200


            Date      Time CO(GT)
3327  27/07/2004  09.00.00   -200


            Date      Time CO(GT)
3328  27/07/2004  10.00.00   -200


            Date      Time CO(GT)
3329  27/07/2004  11.00.00   -200


            Date      Time CO(GT)
3330  27/07/2004  12.00.00   -200


            Date      Time CO(GT)
3331  27/07/2004  13.00.00   -200


            Date      Time CO(GT)
3332  27/07/2004  14.00.00   -200


            Date      Time CO(GT)
3333  27/07/2004  15.00.00   -200


            Date      Time CO(GT)
3334  27/07/2004  16.00.00   -200


            Date      Time CO(GT)
3335  27/07/2004  17.00.00   -200


            Date      Time CO(GT)
3336  27/07/2004  18.00.00   -200


            Date      Time CO(GT)
3337  27/07/2004  19.00.00   -200


            Date      Time CO(GT)
3338  27/07/2004  20.00.00   -200


            Date      Time CO(GT)
3339  27/07/2004  21.00.00   -200


            Date      Time CO(GT)
3340  27/07/2004  22.00.00   -200


            Date      Time CO(GT)
3341  27/07/2004  23.00.00   -200


            Date      Time CO(GT)
4062  27/08/2004  00.00.00    1,3


            Date      Time CO(GT)

            Date      Time CO(GT)
4825  27/09/2004  19.00.00    4,3


            Date      Time CO(GT)
4826  27/09/2004  20.00.00    3,5


            Date      Time CO(GT)
4827  27/09/2004  21.00.00    2,4


            Date      Time CO(GT)
4828  27/09/2004  22.00.00    1,5


            Date      Time CO(GT)
4829  27/09/2004  23.00.00    1,3


            Date      Time CO(GT)
5526  27/10/2004  00.00.00      2


            Date      Time CO(GT)
5527  27/10/2004  01.00.00    1,2


            Date      Time CO(GT)
5528  27/10/2004  02.00.00    0,8


            Date      Time CO(GT)
5529  27/10/2004  03.00.00    0,6


            Date      Time CO(GT)
5530  27/10/2004  04.00.00   -200


            Date      Time CO(GT)
5531  27/10/2004  05.00.00    0,7


            Date      Time CO(GT)
5532  27/10/2004  06.00.00    1,7


            Date      Time CO(GT)
5533  27/10/2004  07.00.00    3,4


            Date      Time CO(GT)
5534  27/10/2004  08.00.00    4,9


            Date      Time CO(GT)
5535  27/10/2004  09.00.00    2,7


            Date      Time CO(GT)
5536  27/10/2004  10.00.00    3,2


            Date      Time CO(GT)
5537  27/10/2004  11.00.00    2,7


            Date      Time CO(GT)
5538  27/10/2004  12.00.00    3,2


            Date      Time CO(GT)
5539  27/10/2004  13.00.00    4,1


            Date      Time CO(GT)
5540  27/10/2004  14.00.00    3,6


            Date      Time CO(GT)
5541  27/10/2004  15.00.00    2,8


            Date      Time CO(GT)
5542  27/10/2004  16.00.00    2,1


            Date      Time CO(GT)
5543  27/10/2004  17.00.00    2,4


            Date      Time CO(GT)
5544  27/10/2004  18.00.00    3,6


            Date      Time CO(GT)
5545  27/10/2004  19.00.00    2,6


            Date      Time CO(GT)
5546  27/10/2004  20.00.00    2,8


            Date      Time CO(GT)
5547  27/10/2004  21.00.00    1,4


            Date      Time CO(GT)
5548  27/10/2004  22.00.00    1,1


            Date      Time CO(GT)
5549  27/10/2004  23.00.00    1,3


            Date      Time CO(GT)
6270  27/11/2004  00.00.00    4,1


            Date      Time CO(GT)
6271  27/11/2004  01.00.00    4,2


            Date      Time CO(GT)
6272  27/11/2004  02.00.00    3,8


            Date      Time CO(GT)
6273  27/11/2004  03.00.00    2,7


            Date      Time CO(GT)
6274  27/11/2004  04.00.00    2,4


            Date      Time CO(GT)
6275  27/11/2004  05.00.00      2


            Date      Time CO(GT)
6276  27/11/2004  06.00.00    1,7


            Date      Time CO(GT)
6277  27/11/2004  07.00.00    2,1


            Date      Time CO(GT)
6278  27/11/2004  08.00.00    2,5


            Date      Time CO(GT)
6279  27/11/2004  09.00.00    3,8


            Date      Time CO(GT)
6280  27/11/2004  10.00.00    3,9


            Date      Time CO(GT)
6281  27/11/2004  11.00.00    4,2


            Date      Time CO(GT)
6282  27/11/2004  12.00.00      4


            Date      Time CO(GT)
6283  27/11/2004  13.00.00    4,4


            Date      Time CO(GT)
6284  27/11/2004  14.00.00    4,7


            Date      Time CO(GT)
6285  27/11/2004  15.00.00    4,6


            Date      Time CO(GT)
6286  27/11/2004  16.00.00    4,8


            Date      Time CO(GT)
6287  27/11/2004  17.00.00    4,5


            Date      Time CO(GT)
6288  27/11/2004  18.00.00    5,6


            Date      Time CO(GT)
6289  27/11/2004  19.00.00    4,9


            Date      Time CO(GT)
6290  27/11/2004  20.00.00    5,3


            Date      Time CO(GT)
6291  27/11/2004  21.00.00    4,6


            Date      Time CO(GT)
6292  27/11/2004  22.00.00    2,4


            Date      Time CO(GT)
6293  27/11/2004  23.00.00    2,7


            Date      Time CO(GT)
6990  27/12/2004  00.00.00    2,3


            Date      Time CO(GT)
6991  27/12/2004  01.00.00    1,5


            Date      Time CO(GT)
6992  27/12/2004  02.00.00    1,1


            Date      Time CO(GT)
6993  27/12/2004  03.00.00    0,6


            Date      Time CO(GT)
6994  27/12/2004  04.00.00    0,7


            Date      Time CO(GT)
6995  27/12/2004  05.00.00    0,4


            Date      Time CO(GT)
6996  27/12/2004  06.00.00    0,5


            Date      Time CO(GT)
6997  27/12/2004  07.00.00    0,8


            Date      Time CO(GT)
6998  27/12/2004  08.00.00    1,9


            Date      Time CO(GT)
6999  27/12/2004  09.00.00    2,3


            Date      Time CO(GT)
7000  27/12/2004  10.00.00    1,9


            Date      Time CO(GT)
7001  27/12/2004  11.00.00    1,6


            Date      Time CO(GT)
7002  27/12/2004  12.00.00    1,4


            Date      Time CO(GT)
7003  27/12/2004  13.00.00    1,5


            Date      Time CO(GT)
7004  27/12/2004  14.00.00    1,4


            Date      Time CO(GT)
7005  27/12/2004  15.00.00      2


            Date      Time CO(GT)
7006  27/12/2004  16.00.00    2,5


            Date      Time CO(GT)
7007  27/12/2004  17.00.00    2,2


            Date      Time CO(GT)
7008  27/12/2004  18.00.00      2


            Date      Time CO(GT)
7009  27/12/2004  19.00.00    2,1


            Date      Time CO(GT)
7010  27/12/2004  20.00.00    2,1


            Date      Time CO(GT)
7011  27/12/2004  21.00.00    2,1


            Date      Time CO(GT)
7012  27/12/2004  22.00.00    1,6


            Date      Time CO(GT)
7013  27/12/2004  23.00.00    1,1


            Date      Time CO(GT)
7758  28/01/2005  00.00.00    1,2


            Date      Time CO(GT)
7759  28/01/2005  01.00.00    1,1


            Date      Time CO(GT)
7760  28/01/2005  02.00.00    0,9


            Date      Time CO(GT)
7761  28/01/2005  03.00.00    0,8


            Date      Time CO(GT)
7762  28/01/2005  04.00.00    0,6


            Date      Time CO(GT)
7763  28/01/2005  05.00.00    0,5


            Date      Time CO(GT)
7764  28/01/2005  06.00.00    0,6


            Date      Time CO(GT)
7765  28/01/2005  07.00.00    0,7


            Date      Time CO(GT)
7766  28/01/2005  08.00.00    1,6


            Date      Time CO(GT)
7767  28/01/2005  09.00.00    2,2


            Date      Time CO(GT)
7768  28/01/2005  10.00.00    1,8


            Date      Time CO(GT)
7769  28/01/2005  11.00.00    1,5


            Date      Time CO(GT)
7770  28/01/2005  12.00.00    1,8


            Date      Time CO(GT)
7771  28/01/2005  13.00.00    1,4


            Date      Time CO(GT)
7772  28/01/2005  14.00.00    2,1


            Date      Time CO(GT)
7773  28/01/2005  15.00.00    1,6


            Date      Time CO(GT)
7774  28/01/2005  16.00.00    1,3


            Date      Time CO(GT)
7775  28/01/2005  17.00.00    1,9


            Date      Time CO(GT)
7776  28/01/2005  18.00.00    2,4


            Date      Time CO(GT)
7777  28/01/2005  19.00.00    3,0


            Date      Time CO(GT)
7778  28/01/2005  20.00.00    1,9


            Date      Time CO(GT)
7779  28/01/2005  21.00.00    1,8


            Date      Time CO(GT)
7780  28/01/2005  22.00.00    1,1


            Date      Time CO(GT)
7781  28/01/2005  23.00.00    1,1


            Date      Time CO(GT)
8502  28/02/2005  00.00.00    1,6


            Date      Time CO(GT)
8503  28/02/2005  01.00.00    1,0


            Date      Time CO(GT)
8504  28/02/2005  02.00.00    0,6


            Date      Time CO(GT)
8505  28/02/2005  03.00.00    0,4


            Date      Time CO(GT)
8506  28/02/2005  04.00.00    0,3


            Date      Time CO(GT)
8507  28/02/2005  05.00.00    0,3


            Date      Time CO(GT)
8508  28/02/2005  06.00.00    0,3


            Date      Time CO(GT)
8509  28/02/2005  07.00.00    0,4


            Date      Time CO(GT)
8510  28/02/2005  08.00.00    1,0


            Date      Time CO(GT)
8511  28/02/2005  09.00.00    1,2


            Date      Time CO(GT)
8512  28/02/2005  10.00.00    1,0


            Date      Time CO(GT)
8513  28/02/2005  11.00.00    0,9


            Date      Time CO(GT)
8514  28/02/2005  12.00.00    0,8


            Date      Time CO(GT)
8515  28/02/2005  13.00.00    1,1


            Date      Time CO(GT)
8516  28/02/2005  14.00.00    1,0


            Date      Time CO(GT)
8517  28/02/2005  15.00.00    0,8


            Date      Time CO(GT)
8518  28/02/2005  16.00.00    0,9


            Date      Time CO(GT)
8519  28/02/2005  17.00.00    0,9


            Date      Time CO(GT)
8520  28/02/2005  18.00.00    2,0


            Date      Time CO(GT)
8521  28/02/2005  19.00.00    2,4


            Date      Time CO(GT)
8522  28/02/2005  20.00.00    2,5


            Date      Time CO(GT)
8523  28/02/2005  21.00.00    1,6


            Date      Time CO(GT)
8524  28/02/2005  22.00.00    0,9


            Date      Time CO(GT)
8525  28/02/2005  23.00.00    0,7


           Date      Time CO(GT)
414  28/03/2004  00.00.00    2,3


           Date      Time CO(GT)
415  28/03/2004  01.00.00    2,3


           Date      Time CO(GT)
416  28/03/2004  02.00.00    1,7


           Date      Time CO(GT)
417  28/03/2004  03.00.00    2,2


           Date      Time CO(GT)
418  28/03/2004  04.00.00    1,3


           Date      Time CO(GT)
419  28/03/2004  05.00.00    0,8


           Date      Time CO(GT)
420  28/03/2004  06.00.00    1,1


           Date      Time CO(GT)
421  28/03/2004  07.00.00    1,4


           Date      Time CO(GT)
422  28/03/2004  08.00.00    1,3


           Date      Time CO(GT)
423  28/03/2004  09.00.00    1,9


           Date      Time CO(GT)
424  28/03/2004  10.00.00    2,3


           Date      Time CO(GT)
425  28/03/2004  11.00.00    2,3


           Date      Time CO(GT)
426  28/03/2004  12.00.00    1,8


           Date      Time CO(GT)
427  28/03/2004  13.00.00    1,4


           Date      Time CO(GT)
428  28/03/2004  14.00.00      1


           Date      Time CO(GT)
429  28/03/2004  15.00.00    1,4


           Date      Time CO(GT)
430  28/03/2004  16.00.00    1,3


           Date      Time CO(GT)
431  28/03/2004  17.00.00    1,3


           Date      Time CO(GT)
432  28/03/2004  18.00.00    1,4


           Date      Time CO(GT)
433  28/03/2004  19.00.00    1,9


           Date      Time CO(GT)
434  28/03/2004  20.00.00    1,8


           Date      Time CO(GT)
435  28/03/2004  21.00.00    1,1


           Date      Time CO(GT)
436  28/03/2004  22.00.00    1,1


           Date      Time CO(GT)
437  28/03/2004  23.00.00    1,1


            Date      Time CO(GT)
9174  28/03/2005  00.00.00    1,6


            Date      Time CO(GT)
9175  28/03/2005  01.00.00    1,2


            Date      Time CO(GT)
9176  28/03/2005  02.00.00    1,0


            Date      Time CO(GT)
9177  28/03/2005  03.00.00    1,0


            Date      Time CO(GT)
9178  28/03/2005  04.00.00    0,8


            Date      Time CO(GT)
9179  28/03/2005  05.00.00    0,6


            Date      Time CO(GT)
9180  28/03/2005  06.00.00    0,6


            Date      Time CO(GT)
9181  28/03/2005  07.00.00    1,0


            Date      Time CO(GT)
9182  28/03/2005  08.00.00    1,0


            Date      Time CO(GT)
9183  28/03/2005  09.00.00    1,3


            Date      Time CO(GT)
9184  28/03/2005  10.00.00    1,5


            Date      Time CO(GT)
9185  28/03/2005  11.00.00    1,6


            Date      Time CO(GT)
9186  28/03/2005  12.00.00    1,4


            Date      Time CO(GT)
9187  28/03/2005  13.00.00    1,4


            Date      Time CO(GT)
9188  28/03/2005  14.00.00    1,2


            Date      Time CO(GT)
9189  28/03/2005  15.00.00    1,3


            Date      Time CO(GT)
9190  28/03/2005  16.00.00    1,4


            Date      Time CO(GT)
9191  28/03/2005  17.00.00    1,6


            Date      Time CO(GT)
9192  28/03/2005  18.00.00    2,8


            Date      Time CO(GT)
9193  28/03/2005  19.00.00    3,7


            Date      Time CO(GT)
9194  28/03/2005  20.00.00    2,9


            Date      Time CO(GT)
9195  28/03/2005  21.00.00    1,8


            Date      Time CO(GT)
9196  28/03/2005  22.00.00    1,6


            Date      Time CO(GT)
9197  28/03/2005  23.00.00    1,7


            Date      Time CO(GT)
1158  28/04/2004  00.00.00    1,3


            Date      Time CO(GT)
1159  28/04/2004  01.00.00      1


            Date      Time CO(GT)
1160  28/04/2004  02.00.00    0,6


            Date      Time CO(GT)
1161  28/04/2004  03.00.00    0,6


            Date      Time CO(GT)
1162  28/04/2004  04.00.00   -200


            Date      Time CO(GT)
1163  28/04/2004  05.00.00    0,5


            Date      Time CO(GT)
1164  28/04/2004  06.00.00    1,1


            Date      Time CO(GT)
1165  28/04/2004  07.00.00    5,5


            Date      Time CO(GT)
1166  28/04/2004  08.00.00    4,2


            Date      Time CO(GT)
1167  28/04/2004  09.00.00    4,6


            Date      Time CO(GT)
1168  28/04/2004  10.00.00    3,4


            Date      Time CO(GT)
1169  28/04/2004  11.00.00    2,8


            Date      Time CO(GT)
1170  28/04/2004  12.00.00    2,5


            Date      Time CO(GT)
1171  28/04/2004  13.00.00    2,4


            Date      Time CO(GT)
1172  28/04/2004  14.00.00    3,2


            Date      Time CO(GT)
1173  28/04/2004  15.00.00    3,5


            Date      Time CO(GT)
1174  28/04/2004  16.00.00    2,9


            Date      Time CO(GT)
1175  28/04/2004  17.00.00    3,6


            Date      Time CO(GT)
1176  28/04/2004  18.00.00    4,8


            Date      Time CO(GT)
1177  28/04/2004  19.00.00    5,4


            Date      Time CO(GT)
1178  28/04/2004  20.00.00    5,3


            Date      Time CO(GT)
1179  28/04/2004  21.00.00    2,7


            Date      Time CO(GT)
1180  28/04/2004  22.00.00    1,4


            Date      Time CO(GT)
1181  28/04/2004  23.00.00    1,6


            Date      Time CO(GT)
1878  28/05/2004  00.00.00   -200


            Date      Time CO(GT)
1879  28/05/2004  01.00.00   -200


            Date      Time CO(GT)
1880  28/05/2004  02.00.00   -200


            Date      Time CO(GT)
1881  28/05/2004  03.00.00   -200


            Date      Time CO(GT)
1882  28/05/2004  04.00.00   -200


            Date      Time CO(GT)
1883  28/05/2004  05.00.00   -200


            Date      Time CO(GT)
1884  28/05/2004  06.00.00   -200


            Date      Time CO(GT)
1885  28/05/2004  07.00.00   -200


            Date      Time CO(GT)
1886  28/05/2004  08.00.00   -200


            Date      Time CO(GT)
1887  28/05/2004  09.00.00   -200


            Date      Time CO(GT)
1888  28/05/2004  10.00.00   -200


            Date      Time CO(GT)
1889  28/05/2004  11.00.00   -200


            Date      Time CO(GT)
1890  28/05/2004  12.00.00   -200


            Date      Time CO(GT)
1891  28/05/2004  13.00.00   -200


            Date      Time CO(GT)
1892  28/05/2004  14.00.00   -200


            Date      Time CO(GT)
1893  28/05/2004  15.00.00    1,7


            Date      Time CO(GT)
1894  28/05/2004  16.00.00    1,7


            Date      Time CO(GT)
1895  28/05/2004  17.00.00    2,1


            Date      Time CO(GT)
1896  28/05/2004  18.00.00    2,2


            Date      Time CO(GT)
1897  28/05/2004  19.00.00    1,8


            Date      Time CO(GT)
1898  28/05/2004  20.00.00    1,8


            Date      Time CO(GT)
1899  28/05/2004  21.00.00    0,9


            Date      Time CO(GT)
1900  28/05/2004  22.00.00      1


            Date      Time CO(GT)
1901  28/05/2004  23.00.00      2


            Date      Time CO(GT)
2622  28/06/2004  00.00.00    1,2


            Date      Time CO(GT)
2623  28/06/2004  01.00.00      1


            Date      Time CO(GT)
2624  28/06/2004  02.00.00    0,6


            Date      Time CO(GT)
2625  28/06/2004  03.00.00    0,5


            Date      Time CO(GT)
2626  28/06/2004  04.00.00    0,4


            Date      Time CO(GT)
2627  28/06/2004  05.00.00    0,5


            Date      Time CO(GT)
2628  28/06/2004  06.00.00    0,7


            Date      Time CO(GT)
2629  28/06/2004  07.00.00    3,2


            Date      Time CO(GT)
2630  28/06/2004  08.00.00    5,6


            Date      Time CO(GT)
2631  28/06/2004  09.00.00    4,6


            Date      Time CO(GT)
2632  28/06/2004  10.00.00    3,3


            Date      Time CO(GT)
2633  28/06/2004  11.00.00    2,1


            Date      Time CO(GT)
2634  28/06/2004  12.00.00    1,9


            Date      Time CO(GT)
2635  28/06/2004  13.00.00    1,9


            Date      Time CO(GT)
2636  28/06/2004  14.00.00    1,6


            Date      Time CO(GT)
2637  28/06/2004  15.00.00      2


            Date      Time CO(GT)
2638  28/06/2004  16.00.00    1,8


            Date      Time CO(GT)
2639  28/06/2004  17.00.00    2,9


            Date      Time CO(GT)
2640  28/06/2004  18.00.00    3,4


            Date      Time CO(GT)
2641  28/06/2004  19.00.00    3,1


            Date      Time CO(GT)
2642  28/06/2004  20.00.00    2,5


            Date      Time CO(GT)
2643  28/06/2004  21.00.00    1,8


            Date      Time CO(GT)
2644  28/06/2004  22.00.00    1,8


            Date      Time CO(GT)
2645  28/06/2004  23.00.00      2


            Date      Time CO(GT)
3342  28/07/2004  00.00.00   -200


            Date      Time CO(GT)
3343  28/07/2004  01.00.00   -200


            Date      Time CO(GT)
3344  28/07/2004  02.00.00   -200


            Date      Time CO(GT)
3345  28/07/2004  03.00.00   -200


            Date      Time CO(GT)
3346  28/07/2004  04.00.00   -200


            Date      Time CO(GT)
3347  28/07/2004  05.00.00   -200


            Date      Time CO(GT)
3348  28/07/2004  06.00.00   -200


            Date      Time CO(GT)
3349  28/07/2004  07.00.00   -200


            Date      Time CO(GT)
3350  28/07/2004  08.00.00   -200


            Date      Time CO(GT)
3351  28/07/2004  09.00.00   -200


            Date      Time CO(GT)
3352  28/07/2004  10.00.00   -200


            Date      Time CO(GT)
3353  28/07/2004  11.00.00   -200


            Date      Time CO(GT)
3354  28/07/2004  12.00.00   -200


            Date      Time CO(GT)
3355  28/07/2004  13.00.00   -200


            Date      Time CO(GT)
3356  28/07/2004  14.00.00   -200


            Date      Time CO(GT)
3357  28/07/2004  15.00.00   -200


            Date      Time CO(GT)
3358  28/07/2004  16.00.00   -200


            Date      Time CO(GT)
3359  28/07/2004  17.00.00   -200


            Date      Time CO(GT)
3360  28/07/2004  18.00.00   -200


            Date      Time CO(GT)
3361  28/07/2004  19.00.00   -200


            Date      Time CO(GT)
3362  28/07/2004  20.00.00   -200


            Date      Time CO(GT)
3363  28/07/2004  21.00.00   -200


            Date      Time CO(GT)
3364  28/07/2004  22.00.00   -200


            Date      Time CO(GT)
3365  28/07/2004  23.00.00   -200


            Date      Time CO(GT)
4086  28/08/2004  00.00.00    0,8


            Date      Time CO(GT)
4087  28/08/2004  01.00.00    0,7


            Date      Time CO(GT)
4088  28/08/2004  02.00.00    0,6


            Date      Time CO(GT)
4089  28/08/2004  03.00.00    0,6


            Date      Time CO(GT)
4090  28/08/2004  04.00.00    0,6


            Date      Time CO(GT)
4091  28/08/2004  05.00.00    0,4


            Date      Time CO(GT)
4092  28/08/2004  06.00.00    0,5


            Date      Time CO(GT)
4093  28/08/2004  07.00.00    0,7


            Date      Time CO(GT)
4094  28/08/2004  08.00.00    1,2


            Date      Time CO(GT)
4095  28/08/2004  09.00.00    1,7


            Date      Time CO(GT)
4096  28/08/2004  10.00.00    1,8


            Date      Time CO(GT)
4097  28/08/2004  11.00.00    1,5


            Date      Time CO(GT)
4098  28/08/2004  12.00.00    1,2


            Date      Time CO(GT)
4099  28/08/2004  13.00.00    1,1


            Date      Time CO(GT)
4100  28/08/2004  14.00.00   -200


            Date      Time CO(GT)
4101  28/08/2004  15.00.00   -200


            Date      Time CO(GT)
4102  28/08/2004  16.00.00   -200



           Date      Time CO(GT)
451  29/03/2004  13.00.00    1,6


           Date      Time CO(GT)
452  29/03/2004  14.00.00    1,5


           Date      Time CO(GT)
453  29/03/2004  15.00.00    1,4


           Date      Time CO(GT)
454  29/03/2004  16.00.00    1,5


           Date      Time CO(GT)
455  29/03/2004  17.00.00    1,9


           Date      Time CO(GT)
456  29/03/2004  18.00.00    2,5


           Date      Time CO(GT)
457  29/03/2004  19.00.00    2,1


           Date      Time CO(GT)
458  29/03/2004  20.00.00    1,6


           Date      Time CO(GT)
459  29/03/2004  21.00.00    1,2


           Date      Time CO(GT)
460  29/03/2004  22.00.00    1,1


           Date      Time CO(GT)
461  29/03/2004  23.00.00      1


            Date      Time CO(GT)
9198  29/03/2005  00.00.00    1,5


            Date      Time CO(GT)
9199  29/03/2005  01.00.00    1,0


            Date      Time CO(GT)
9200  29/03/2005  02.00.00    0,8


            Date      Time CO(GT)
9201  29/03/2005  03.00.00    0,5


            Date      Time  CO(GT)
9202  29/03/2005  04.00.00  -200,0


            Date      Time CO(GT)
9203  29/03/2005  05.00.00    0,5


            Date      Time CO(GT)
9204  29/03/2005  06.00.00    1,0


            Date      Time CO(GT)
9205  29/03/2005  07.00.00    3,0


            Date      Time CO(GT)
9206  29/03/2005  08.00.00    5,1


            Date      Time CO(GT)
9207  29/03/2005  09.00.00    4,3


            Date      Time CO(GT)
9208  29/03/2005  10.00.00    3,3


            Date      Time CO(GT)
9209  29/03/2005  11.00.00    2,4


            Date      Time CO(GT)
9210  29/03/2005  12.00.00    2,4


            Date      Time CO(GT)
9211  29/03/2005  13.00.00    2,5


            Date      Time CO(GT)
9212  29/03/2005  14.00.00    2,3


            Date      Time CO(GT)
9213  29/03/2005  15.00.00    2,7


            Date      Time CO(GT)
9214  29/03/2005  16.00.00    2,7


            Date      Time CO(GT)
9215  29/03/2005  17.00.00    3,3


            Date      Time CO(GT)
9216  29/03/2005  18.00.00    3,9


            Date      Time CO(GT)
9217  29/03/2005  19.00.00    2,6


            Date      Time CO(GT)
9218  29/03/2005  20.00.00    3,2


            Date      Time CO(GT)
9219  29/03/2005  21.00.00    2,3


            Date      Time CO(GT)
9220  29/03/2005  22.00.00    1,4


            Date      Time CO(GT)
9221  29/03/2005  23.00.00    1,1


            Date      Time CO(GT)
1182  29/04/2004  00.00.00    1,5


            Date      Time CO(GT)
1183  29/04/2004  01.00.00      1


            Date      Time CO(GT)
1184  29/04/2004  02.00.00    0,6


            Date      Time CO(GT)
1185  29/04/2004  03.00.00    0,4


            Date      Time CO(GT)
1186  29/04/2004  04.00.00   -200


            Date      Time CO(GT)
1187  29/04/2004  05.00.00    0,8


            Date      Time CO(GT)
1188  29/04/2004  06.00.00    1,5


            Date      Time CO(GT)
1189  29/04/2004  07.00.00    4,9


            Date      Time CO(GT)
1190  29/04/2004  08.00.00    7,2


            Date      Time CO(GT)
1191  29/04/2004  09.00.00    3,5


            Date      Time CO(GT)
1192  29/04/2004  10.00.00    2,1


            Date      Time CO(GT)
1193  29/04/2004  11.00.00    1,5


            Date      Time CO(GT)
1194  29/04/2004  12.00.00      2


            Date      Time CO(GT)
1195  29/04/2004  13.00.00    3,8


            Date      Time CO(GT)
1196  29/04/2004  14.00.00    3,4


            Date      Time CO(GT)
1197  29/04/2004  15.00.00    4,4


            Date      Time CO(GT)
1198  29/04/2004  16.00.00    3,9


            Date      Time CO(GT)
1199  29/04/2004  17.00.00    4,9


            Date      Time CO(GT)
1200  29/04/2004  18.00.00    5,4


            Date      Time CO(GT)
1201  29/04/2004  19.00.00    6,5


            Date      Time CO(GT)
1202  29/04/2004  20.00.00    4,3


            Date      Time CO(GT)
1203  29/04/2004  21.00.00    2,9


            Date      Time CO(GT)
1204  29/04/2004  22.00.00    2,7


            Date      Time CO(GT)
1205  29/04/2004  23.00.00    2,8


            Date      Time CO(GT)
1902  29/05/2004  00.00.00    1,8


            Date      Time CO(GT)
1903  29/05/2004  01.00.00    1,1


            Date      Time CO(GT)
1904  29/05/2004  02.00.00    0,6


            Date      Time CO(GT)
1905  29/05/2004  03.00.00    0,3


            Date      Time CO(GT)
1906  29/05/2004  04.00.00   -200


            Date      Time CO(GT)
1907  29/05/2004  05.00.00   -200


            Date      Time CO(GT)
1908  29/05/2004  06.00.00    0,1


            Date      Time CO(GT)
1909  29/05/2004  07.00.00    0,5


            Date      Time CO(GT)
1910  29/05/2004  08.00.00    0,6


            Date      Time CO(GT)
1911  29/05/2004  09.00.00    0,5


            Date      Time CO(GT)
1912  29/05/2004  10.00.00    0,7


            Date      Time CO(GT)
1913  29/05/2004  11.00.00    0,7


            Date      Time CO(GT)
1914  29/05/2004  12.00.00    0,9


            Date      Time CO(GT)
1915  29/05/2004  13.00.00    0,7


            Date      Time CO(GT)
1916  29/05/2004  14.00.00    0,4


            Date      Time CO(GT)
1917  29/05/2004  15.00.00    0,5


            Date      Time CO(GT)
1918  29/05/2004  16.00.00    0,6


            Date      Time CO(GT)
1919  29/05/2004  17.00.00    0,6


            Date      Time CO(GT)
1920  29/05/2004  18.00.00    0,8


            Date      Time CO(GT)
1921  29/05/2004  19.00.00      1


            Date      Time CO(GT)
1922  29/05/2004  20.00.00    1,2


            Date      Time CO(GT)
1923  29/05/2004  21.00.00      1


            Date      Time CO(GT)
1924  29/05/2004  22.00.00    1,3


            Date      Time CO(GT)
1925  29/05/2004  23.00.00    2,7


            Date      Time CO(GT)
2646  29/06/2004  00.00.00    1,5


            Date      Time CO(GT)
2647  29/06/2004  01.00.00    0,8


            Date      Time CO(GT)
2648  29/06/2004  02.00.00    0,4


            Date      Time CO(GT)
2649  29/06/2004  03.00.00    0,3


            Date      Time CO(GT)
2650  29/06/2004  04.00.00   -200


            Date      Time CO(GT)
2651  29/06/2004  05.00.00    0,5


            Date      Time CO(GT)
2652  29/06/2004  06.00.00    0,7


            Date      Time CO(GT)
2653  29/06/2004  07.00.00    3,4


            Date      Time CO(GT)
2654  29/06/2004  08.00.00    5,7


            Date      Time CO(GT)
2655  29/06/2004  09.00.00    3,2


            Date      Time CO(GT)
2656  29/06/2004  10.00.00    2,7


            Date      Time CO(GT)
2657  29/06/2004  11.00.00    2,1


            Date      Time CO(GT)
2658  29/06/2004  12.00.00    2,8


            Date      Time CO(GT)
2659  29/06/2004  13.00.00    2,5


            Date      Time CO(GT)
2660  29/06/2004  14.00.00    2,1


            Date      Time CO(GT)
2661  29/06/2004  15.00.00    2,5


            Date      Time CO(GT)
2662  29/06/2004  16.00.00    2,7


            Date      Time CO(GT)
2663  29/06/2004  17.00.00    3,7


            Date      Time CO(GT)
2664  29/06/2004  18.00.00    3,7


            Date      Time CO(GT)
2665  29/06/2004  19.00.00    4,6


            Date      Time CO(GT)
2666  29/06/2004  20.00.00    2,6


            Date      Time CO(GT)
2667  29/06/2004  21.00.00    2,5


            Date      Time CO(GT)
2668  29/06/2004  22.00.00    2,3


            Date      Time CO(GT)
2669  29/06/2004  23.00.00    2,2


            Date      Time CO(GT)
3366  29/07/2004  00.00.00   -200


            Date      Time CO(GT)
3367  29/07/2004  01.00.00   -200


            Date      Time CO(GT)
3368  29/07/2004  02.00.00   -200


            Date      Time CO(GT)
3369  29/07/2004  03.00.00   -200


            Date      Time CO(GT)
3370  29/07/2004  04.00.00   -200


            Date      Time CO(GT)
3371  29/07/2004  05.00.00   -200


            Date      Time CO(GT)
3372  29/07/2004  06.00.00   -200


            Date      Time CO(GT)
3373  29/07/2004  07.00.00   -200


            Date      Time CO(GT)
3374  29/07/2004  08.00.00   -200


            Date      Time CO(GT)
3375  29/07/2004  09.00.00   -200


            Date      Time CO(GT)
3376  29/07/2004  10.00.00   -200


            Date      Time CO(GT)
3377  29/07/2004  11.00.00   -200


            Date      Time CO(GT)
3378  29/07/2004  12.00.00   -200


            Date      Time CO(GT)
3379  29/07/2004  13.00.00   -200


            Date      Time CO(GT)
3380  29/07/2004  14.00.00   -200


            Date      Time CO(GT)
3381  29/07/2004  15.00.00   -200


            Date      Time CO(GT)
3382  29/07/2004  16.00.00   -200


            Date      Time CO(GT)
3383  29/07/2004  17.00.00   -200


            Date      Time CO(GT)
3384  29/07/2004  18.00.00   -200


            Date      Time CO(GT)
3385  29/07/2004  19.00.00   -200


            Date      Time CO(GT)
3386  29/07/2004  20.00.00   -200


            Date      Time CO(GT)
3387  29/07/2004  21.00.00   -200


            Date      Time CO(GT)
3388  29/07/2004  22.00.00   -200


            Date      Time CO(GT)
3389  29/07/2004  23.00.00   -200


            Date      Time CO(GT)
4110  29/08/2004  00.00.00   -200


            Date      Time CO(GT)
4111  29/08/2004  01.00.00   -200


            Date      Time CO(GT)
4112  29/08/2004  02.00.00   -200


            Date      Time CO(GT)
4113  29/08/2004  03.00.00   -200


            Date      Time CO(GT)
4114  29/08/2004  04.00.00   -200


            Date      Time CO(GT)
4115  29/08/2004  05.00.00   -200


            Date      Time CO(GT)
4116  29/08/2004  06.00.00   -200


            Date      Time CO(GT)
4117  29/08/2004  07.00.00   -200


            Date      Time CO(GT)
4118  29/08/2004  08.00.00   -200


            Date      Time CO(GT)
4119  29/08/2004  09.00.00   -200


            Date      Time CO(GT)
4120  29/08/2004  10.00.00   -200


            Date      Time CO(GT)
4121  29/08/2004  11.00.00   -200


            Date      Time CO(GT)
4122  29/08/2004  12.00.00   -200


            Date      Time CO(GT)
4123  29/08/2004  13.00.00   -200


            Date      Time CO(GT)
4124  29/08/2004  14.00.00   -200


            Date      Time CO(GT)
4125  29/08/2004  15.00.00   -200


            Date      Time CO(GT)
4126  29/08/2004  16.00.00   -200


            Date      Time CO(GT)
4127  29/08/2004  17.00.00   -200


            Date      Time CO(GT)
4128  29/08/2004  18.00.00   -200


            Date      Time CO(GT)
4129  29/08/2004  19.00.00   -200


            Date      Time CO(GT)
4130  29/08/2004  20.00.00   -200


            Date      Time CO(GT)
4131  29/08/2004  21.00.00   -200


            Date      Time CO(GT)
4132  29/08/2004  22.00.00   -200


            Date      Time CO(GT)
4133  29/08/2004  23.00.00   -200


            Date      Time CO(GT)
4854  29/09/2004  00.00.00    1,1


            Date      Time CO(GT)
4855  29/09/2004  01.00.00    0,9


            Date      Time CO(GT)
4856  29/09/2004  02.00.00    0,5


            Date      Time CO(GT)
4857  29/09/2004  03.00.00    0,4


            Date      Time CO(GT)
4858  29/09/2004  04.00.00   -200


            Date      Time CO(GT)
4859  29/09/2004  05.00.00    0,4


            Date      Time CO(GT)
4860  29/09/2004  06.00.00    0,7


            Date      Time CO(GT)
4861  29/09/2004  07.00.00      2


            Date      Time CO(GT)
4862  29/09/2004  08.00.00    4,2


            Date      Time CO(GT)
4863  29/09/2004  09.00.00    5,2


            Date      Time CO(GT)
4864  29/09/2004  10.00.00    3,8


            Date      Time CO(GT)
4865  29/09/2004  11.00.00    3,7


            Date      Time CO(GT)
4866  29/09/2004  12.00.00    3,4


            Date      Time CO(GT)
4867  29/09/2004  13.00.00    3,1


            Date      Time CO(GT)
4868  29/09/2004  14.00.00    2,4


            Date      Time CO(GT)
4869  29/09/2004  15.00.00    2,8


            Date      Time CO(GT)
4870  29/09/2004  16.00.00    3,6


            Date      Time CO(GT)
4871  29/09/2004  17.00.00      4


            Date      Time CO(GT)
4872  29/09/2004  18.00.00    5,6


            Date      Time CO(GT)
4873  29/09/2004  19.00.00    6,3


            Date      Time CO(GT)
4874  29/09/2004  20.00.00    4,7


            Date      Time CO(GT)
4875  29/09/2004  21.00.00    1,9


            Date      Time CO(GT)
4876  29/09/2004  22.00.00    1,9


            Date      Time CO(GT)
4877  29/09/2004  23.00.00    1,2


            Date      Time CO(GT)
5574  29/10/2004  00.00.00      1


            Date      Time CO(GT)
5575  29/10/2004  01.00.00    0,8


            Date      Time CO(GT)
5576  29/10/2004  02.00.00    0,6


            Date      Time CO(GT)
5577  29/10/2004  03.00.00    0,6


            Date      Time CO(GT)
5578  29/10/2004  04.00.00   -200


            Date      Time CO(GT)
5579  29/10/2004  05.00.00    1,1


            Date      Time CO(GT)
5580  29/10/2004  06.00.00    1,3


            Date      Time CO(GT)
5581  29/10/2004  07.00.00    2,9


            Date      Time CO(GT)
5582  29/10/2004  08.00.00    3,7


            Date      Time CO(GT)
5583  29/10/2004  09.00.00      3


            Date      Time CO(GT)
5584  29/10/2004  10.00.00    1,4


            Date      Time CO(GT)
5585  29/10/2004  11.00.00    2,6


            Date      Time CO(GT)
5586  29/10/2004  12.00.00    4,2


            Date      Time CO(GT)
5587  29/10/2004  13.00.00    5,1


            Date      Time CO(GT)
5588  29/10/2004  14.00.00    5,5


            Date      Time CO(GT)
5589  29/10/2004  15.00.00    4,5


            Date      Time CO(GT)
5590  29/10/2004  16.00.00    2,7


            Date      Time CO(GT)
5591  29/10/2004  17.00.00    3,1


            Date      Time CO(GT)
5592  29/10/2004  18.00.00    4,2


            Date      Time CO(GT)
5593  29/10/2004  19.00.00    3,1


            Date      Time CO(GT)
5594  29/10/2004  20.00.00    1,7


            Date      Time CO(GT)
5595  29/10/2004  21.00.00    1,8


            Date      Time CO(GT)
5596  29/10/2004  22.00.00    1,7


            Date      Time CO(GT)
5597  29/10/2004  23.00.00    2,1


            Date      Time CO(GT)
6318  29/11/2004  00.00.00      3


            Date      Time CO(GT)
6319  29/11/2004  01.00.00    2,3


            Date      Time CO(GT)
6320  29/11/2004  02.00.00    2,3


            Date      Time CO(GT)
6321  29/11/2004  03.00.00    1,7


            Date      Time CO(GT)
6322  29/11/2004  04.00.00    1,5


            Date      Time CO(GT)
6323  29/11/2004  05.00.00    1,3


            Date      Time CO(GT)
6324  29/11/2004  06.00.00    1,4


            Date      Time CO(GT)
6325  29/11/2004  07.00.00      2


            Date      Time CO(GT)
6326  29/11/2004  08.00.00    4,2


            Date      Time CO(GT)
6327  29/11/2004  09.00.00    5,9


            Date      Time CO(GT)
6328  29/11/2004  10.00.00    6,3


            Date      Time CO(GT)
6329  29/11/2004  11.00.00    6,6


            Date      Time CO(GT)
6330  29/11/2004  12.00.00      5


            Date      Time CO(GT)
6331  29/11/2004  13.00.00    2,5


            Date      Time CO(GT)
6332  29/11/2004  14.00.00    2,6


            Date      Time CO(GT)
6333  29/11/2004  15.00.00    1,9


            Date      Time CO(GT)
6334  29/11/2004  16.00.00    2,3


            Date      Time CO(GT)
6335  29/11/2004  17.00.00    1,9


            Date      Time CO(GT)
6336  29/11/2004  18.00.00    2,3


            Date      Time CO(GT)
6337  29/11/2004  19.00.00    1,8


            Date      Time CO(GT)
6338  29/11/2004  20.00.00    1,9


            Date      Time CO(GT)
6339  29/11/2004  21.00.00    1,4


            Date      Time CO(GT)
6340  29/11/2004  22.00.00    1,2


            Date      Time CO(GT)
6341  29/11/2004  23.00.00      1


            Date      Time CO(GT)
7038  29/12/2004  00.00.00   -200


            Date      Time CO(GT)
7039  29/12/2004  01.00.00   -200


            Date      Time CO(GT)
7040  29/12/2004  02.00.00   -200


            Date      Time CO(GT)
7041  29/12/2004  03.00.00   -200


            Date      Time CO(GT)
7042  29/12/2004  04.00.00   -200


            Date      Time CO(GT)
7043  29/12/2004  05.00.00   -200


            Date      Time CO(GT)
7044  29/12/2004  06.00.00   -200


            Date      Time CO(GT)
7045  29/12/2004  07.00.00   -200


            Date      Time CO(GT)
7046  29/12/2004  08.00.00   -200


            Date      Time CO(GT)
7047  29/12/2004  09.00.00   -200


            Date      Time CO(GT)
7048  29/12/2004  10.00.00   -200


            Date      Time CO(GT)
7049  29/12/2004  11.00.00   -200


            Date      Time CO(GT)
7050  29/12/2004  12.00.00   -200


            Date      Time CO(GT)
7051  29/12/2004  13.00.00   -200


            Date      Time CO(GT)
7052  29/12/2004  14.00.00   -200


            Date      Time CO(GT)
7053  29/12/2004  15.00.00   -200


            Date      Time CO(GT)
7054  29/12/2004  16.00.00   -200


            Date      Time CO(GT)
7055  29/12/2004  17.00.00   -200


            Date      Time CO(GT)
7056  29/12/2004  18.00.00   -200


            Date      Time CO(GT)
7057  29/12/2004  19.00.00   -200


            Date      Time CO(GT)
7058  29/12/2004  20.00.00   -200


            Date      Time CO(GT)
7059  29/12/2004  21.00.00   -200


            Date      Time CO(GT)
7060  29/12/2004  22.00.00   -200


            Date      Time CO(GT)
7061  29/12/2004  23.00.00   -200


            Date      Time CO(GT)
7806  30/01/2005  00.00.00    1,1


            Date      Time CO(GT)
7807  30/01/2005  01.00.00    1,3


            Date      Time CO(GT)
7808  30/01/2005  02.00.00    1,0


            Date      Time CO(GT)
7809  30/01/2005  03.00.00    1,1


            Date      Time  CO(GT)
7810  30/01/2005  04.00.00  -200,0


            Date      Time CO(GT)
7811  30/01/2005  05.00.00    0,6


            Date      Time CO(GT)
7812  30/01/2005  06.00.00    0,5


            Date      Time CO(GT)
7813  30/01/2005  07.00.00    0,4


            Date      Time CO(GT)
7814  30/01/2005  08.00.00    0,5


            Date      Time CO(GT)
7815  30/01/2005  09.00.00    0,7


            Date      Time CO(GT)
7816  30/01/2005  10.00.00    0,8


            Date      Time CO(GT)
7817  30/01/2005  11.00.00    0,8


            Date      Time CO(GT)
7818  30/01/2005  12.00.00    1,0


            Date      Time CO(GT)
7819  30/01/2005  13.00.00    0,9


            Date      Time CO(GT)
7820  30/01/2005  14.00.00    0,9


            Date      Time CO(GT)
7821  30/01/2005  15.00.00    0,9


            Date      Time CO(GT)
7822  30/01/2005  16.00.00    1,0


            Date      Time CO(GT)
7823  30/01/2005  17.00.00    1,0


            Date      Time CO(GT)
7824  30/01/2005  18.00.00    1,1


            Date      Time CO(GT)
7825  30/01/2005  19.00.00    1,2


            Date      Time CO(GT)
7826  30/01/2005  20.00.00    1,6


            Date      Time CO(GT)
7827  30/01/2005  21.00.00    1,7


            Date      Time CO(GT)
7828  30/01/2005  22.00.00    1,1


            Date      Time CO(GT)
7829  30/01/2005  23.00.00    1,3


           Date      Time CO(GT)
462  30/03/2004  00.00.00      1


           Date      Time CO(GT)
463  30/03/2004  01.00.00    0,7


           Date      Time CO(GT)
464  30/03/2004  02.00.00    0,7


           Date      Time CO(GT)
465  30/03/2004  03.00.00    0,8


           Date      Time CO(GT)
466  30/03/2004  04.00.00   -200


           Date      Time CO(GT)
467  30/03/2004  05.00.00    0,7


           Date      Time CO(GT)
468  30/03/2004  06.00.00    1,1


           Date      Time CO(GT)
469  30/03/2004  07.00.00    2,6


           Date      Time CO(GT)
470  30/03/2004  08.00.00      4


           Date      Time CO(GT)
471  30/03/2004  09.00.00    4,2


           Date      Time CO(GT)
472  30/03/2004  10.00.00    4,7



1217  30/04/2004  11.00.00    2,6


            Date      Time CO(GT)
1218  30/04/2004  12.00.00    3,2


            Date      Time CO(GT)
1219  30/04/2004  13.00.00    3,4


            Date      Time CO(GT)
1220  30/04/2004  14.00.00    2,6


            Date      Time CO(GT)
1221  30/04/2004  15.00.00    3,4


            Date      Time CO(GT)
1222  30/04/2004  16.00.00      4


            Date      Time CO(GT)
1223  30/04/2004  17.00.00    4,5


            Date      Time CO(GT)
1224  30/04/2004  18.00.00    4,2


            Date      Time CO(GT)
1225  30/04/2004  19.00.00    5,7


            Date      Time CO(GT)
1226  30/04/2004  20.00.00    4,4


            Date      Time CO(GT)
1227  30/04/2004  21.00.00    3,1


            Date      Time CO(GT)
1228  30/04/2004  22.00.00      3


            Date      Time CO(GT)
1229  30/04/2004  23.00.00    3,1


            Date      Time CO(GT)
1926  30/05/2004  00.00.00    2,7


            Date      Time CO(GT)
1927  30/05/2004  01.00.00    1,6


            Date      Time CO(GT)
1928  30/05/2004  02.00.00    0,6


            Date      Time CO(GT)
1929  30/05/2004  03.00.00    0,3


            Date      Time CO(GT)
1930  30/05/2004  04.00.00   -200


            Date      Time CO(GT)
1931  30/05/2004  05.00.00    0,1


            Date      Time CO(GT)
1932  30/05/2004  06.00.00    0,1


            Date      Time CO(GT)
1933  30/05/2004  07.00.00    0,2


            Date      Time CO(GT)
1934  30/05/2004  08.00.00    0,3


            Date      Time CO(GT)
1935  30/05/2004  09.00.00    0,3


            Date      Time CO(GT)
1936  30/05/2004  10.00.00    0,4


            Date      Time CO(GT)
1937  30/05/2004  11.00.00    0,3


            Date      Time CO(GT)
1938  30/05/2004  12.00.00    0,3


            Date      Time CO(GT)
1939  30/05/2004  13.00.00    0,1


            Date      Time CO(GT)
1940  30/05/2004  14.00.00    0,1


            Date      Time CO(GT)
1941  30/05/2004  15.00.00    0,2


            Date      Time CO(GT)
1942  30/05/2004  16.00.00    0,6


            Date      Time CO(GT)
1943  30/05/2004  17.00.00    0,5


            Date      Time CO(GT)
1944  30/05/2004  18.00.00    0,9


            Date      Time CO(GT)
1945  30/05/2004  19.00.00    1,1


            Date      Time CO(GT)
1946  30/05/2004  20.00.00    1,3


            Date      Time CO(GT)
1947  30/05/2004  21.00.00    1,5


            Date      Time CO(GT)
1948  30/05/2004  22.00.00    1,2


            Date      Time CO(GT)
1949  30/05/2004  23.00.00    0,4


            Date      Time CO(GT)
2670  30/06/2004  00.00.00    2,5


            Date      Time CO(GT)
2671  30/06/2004  01.00.00    0,9


            Date      Time CO(GT)
2672  30/06/2004  02.00.00    0,8


            Date      Time CO(GT)
2673  30/06/2004  03.00.00    0,7


            Date      Time CO(GT)
2674  30/06/2004  04.00.00    0,5


            Date      Time CO(GT)
2675  30/06/2004  05.00.00    0,7


            Date      Time CO(GT)
2676  30/06/2004  06.00.00    0,9


            Date      Time CO(GT)
2677  30/06/2004  07.00.00    2,2


            Date      Time CO(GT)
2678  30/06/2004  08.00.00    2,8


            Date      Time CO(GT)
2679  30/06/2004  09.00.00    2,9


            Date      Time CO(GT)
2680  30/06/2004  10.00.00    2,9


            Date      Time CO(GT)
2681  30/06/2004  11.00.00      3


            Date      Time CO(GT)
2682  30/06/2004  12.00.00    2,5


            Date      Time CO(GT)
2683  30/06/2004  13.00.00    2,3


            Date      Time CO(GT)
2684  30/06/2004  14.00.00    2,1


            Date      Time CO(GT)
2685  30/06/2004  15.00.00    1,9


            Date      Time CO(GT)
2686  30/06/2004  16.00.00    2,3


            Date      Time CO(GT)
2687  30/06/2004  17.00.00    4,2


            Date      Time CO(GT)
2688  30/06/2004  18.00.00    4,9


            Date      Time CO(GT)
2689  30/06/2004  19.00.00    4,9


            Date      Time CO(GT)
2690  30/06/2004  20.00.00    3,5


            Date      Time CO(GT)
2691  30/06/2004  21.00.00    2,5


            Date      Time CO(GT)
2692  30/06/2004  22.00.00    2,5


            Date      Time CO(GT)
2693  30/06/2004  23.00.00    2,6


            Date      Time CO(GT)
3390  30/07/2004  00.00.00   -200


            Date      Time CO(GT)
3391  30/07/2004  01.00.00   -200


            Date      Time CO(GT)
3392  30/07/2004  02.00.00   -200


            Date      Time CO(GT)
3393  30/07/2004  03.00.00   -200


            Date      Time CO(GT)
3394  30/07/2004  04.00.00   -200


            Date      Time CO(GT)
3395  30/07/2004  05.00.00   -200


            Date      Time CO(GT)
3396  30/07/2004  06.00.00   -200


            Date      Time CO(GT)
3397  30/07/2004  07.00.00   -200


            Date      Time CO(GT)
3398  30/07/2004  08.00.00   -200


            Date      Time CO(GT)
3399  30/07/2004  09.00.00   -200


            Date      Time CO(GT)
3400  30/07/2004  10.00.00   -200


            Date      Time CO(GT)
3401  30/07/2004  11.00.00   -200


            Date      Time CO(GT)
3402  30/07/2004  12.00.00   -200


            Date      Time CO(GT)
3403  30/07/2004  13.00.00   -200


            Date      Time CO(GT)
3404  30/07/2004  14.00.00   -200


            Date      Time CO(GT)
3405  30/07/2004  15.00.00   -200


            Date      Time CO(GT)
3406  30/07/2004  16.00.00   -200


            Date      Time CO(GT)
3407  30/07/2004  17.00.00   -200


            Date      Time CO(GT)
3408  30/07/2004  18.00.00   -200


            Date      Time CO(GT)
3409  30/07/2004  19.00.00   -200


            Date      Time CO(GT)
3410  30/07/2004  20.00.00   -200


            Date      Time CO(GT)
3411  30/07/2004  21.00.00   -200


            Date      Time CO(GT)
3412  30/07/2004  22.00.00   -200


            Date      Time CO(GT)
3413  30/07/2004  23.00.00   -200


            Date      Time CO(GT)
4134  30/08/2004  00.00.00   -200


            Date      Time CO(GT)
4135  30/08/2004  01.00.00   -200


            Date      Time CO(GT)
4136  30/08/2004  02.00.00   -200


            Date      Time CO(GT)
4137  30/08/2004  03.00.00   -200


            Date      Time CO(GT)
4138  30/08/2004  04.00.00   -200


            Date      Time CO(GT)
4139  30/08/2004  05.00.00   -200


            Date      Time CO(GT)
4140  30/08/2004  06.00.00   -200


            Date      Time CO(GT)
4141  30/08/2004  07.00.00   -200


            Date      Time CO(GT)
4142  30/08/2004  08.00.00   -200


            Date      Time CO(GT)
4143  30/08/2004  09.00.00   -200


            Date      Time CO(GT)
4144  30/08/2004  10.00.00   -200


            Date      Time CO(GT)
4145  30/08/2004  11.00.00   -200


            Date      Time CO(GT)
4146  30/08/2004  12.00.00   -200


            Date      Time CO(GT)
4147  30/08/2004  13.00.00   -200


            Date      Time CO(GT)
4148  30/08/2004  14.00.00   -200


            Date      Time CO(GT)
4149  30/08/2004  15.00.00   -200


            Date      Time CO(GT)
4150  30/08/2004  16.00.00   -200


            Date      Time CO(GT)
4151  30/08/2004  17.00.00   -200


            Date      Time CO(GT)
4152  30/08/2004  18.00.00   -200


            Date      Time CO(GT)
4153  30/08/2004  19.00.00   -200


            Date      Time CO(GT)
4154  30/08/2004  20.00.00   -200


            Date      Time CO(GT)
4155  30/08/2004  21.00.00   -200


            Date      Time CO(GT)
4156  30/08/2004  22.00.00   -200


            Date      Time CO(GT)
4157  30/08/2004  23.00.00   -200


            Date      Time CO(GT)
4878  30/09/2004  00.00.00    0,9


            Date      Time CO(GT)
4879  30/09/2004  01.00.00   -200


            Date      Time CO(GT)
4880  30/09/2004  02.00.00   -200


            Date      Time CO(GT)
4881  30/09/2004  03.00.00   -200


            Date      Time CO(GT)
4882  30/09/2004  04.00.00   -200


            Date      Time CO(GT)
4883  30/09/2004  05.00.00   -200


            Date      Time CO(GT)
4884  30/09/2004  06.00.00   -200


            Date      Time CO(GT)
4885  30/09/2004  07.00.00   -200


            Date      Time CO(GT)
4886  30/09/2004  08.00.00   -200


            Date      Time CO(GT)
4887  30/09/2004  09.00.00   -200


            Date      Time CO(GT)
4888  30/09/2004  10.00.00   -200


            Date      Time CO(GT)
4889  30/09/2004  11.00.00   -200


            Date      Time CO(GT)
4890  30/09/2004  12.00.00    1,7


            Date      Time CO(GT)
4891  30/09/2004  13.00.00    1,7


            Date      Time CO(GT)
4892  30/09/2004  14.00.00    2,2


            Date      Time CO(GT)
4893  30/09/2004  15.00.00    2,8


            Date      Time CO(GT)
4894  30/09/2004  16.00.00    3,9


            Date      Time CO(GT)
4895  30/09/2004  17.00.00    6,5


            Date      Time CO(GT)
4896  30/09/2004  18.00.00    6,3


            Date      Time CO(GT)
4897  30/09/2004  19.00.00    5,7


            Date      Time CO(GT)
4898  30/09/2004  20.00.00    4,4


            Date      Time CO(GT)
4899  30/09/2004  21.00.00    1,6


            Date      Time CO(GT)
4900  30/09/2004  22.00.00    1,5


            Date      Time CO(GT)
4901  30/09/2004  23.00.00    1,7


            Date      Time CO(GT)
5598  30/10/2004  00.00.00    2,4


            Date      Time CO(GT)
5599  30/10/2004  01.00.00    1,8


            Date      Time CO(GT)
5600  30/10/2004  02.00.00    1,5


            Date      Time CO(GT)
5601  30/10/2004  03.00.00    1,4


            Date      Time CO(GT)
5602  30/10/2004  04.00.00   -200


            Date      Time CO(GT)
5603  30/10/2004  05.00.00      1


            Date      Time CO(GT)
5604  30/10/2004  06.00.00    1,4


            Date      Time CO(GT)
5605  30/10/2004  07.00.00    2,4


            Date      Time CO(GT)
5606  30/10/2004  08.00.00    3,1


            Date      Time CO(GT)
5607  30/10/2004  09.00.00      3


            Date      Time CO(GT)
5608  30/10/2004  10.00.00    2,7


            Date      Time CO(GT)
5609  30/10/2004  11.00.00      4


            Date      Time CO(GT)
5610  30/10/2004  12.00.00    3,7


            Date      Time CO(GT)
5611  30/10/2004  13.00.00    3,4


            Date      Time CO(GT)
5612  30/10/2004  14.00.00    3,4


            Date      Time CO(GT)
5613  30/10/2004  15.00.00    3,2


            Date      Time CO(GT)
5614  30/10/2004  16.00.00    3,9


            Date      Time CO(GT)
5615  30/10/2004  17.00.00    3,7


            Date      Time CO(GT)
5616  30/10/2004  18.00.00    4,3


            Date      Time CO(GT)
5617  30/10/2004  19.00.00    4,9


            Date      Time CO(GT)
5618  30/10/2004  20.00.00      4


            Date      Time CO(GT)
5619  30/10/2004  21.00.00    2,8


            Date      Time CO(GT)
5620  30/10/2004  22.00.00    2,4


            Date      Time CO(GT)
5621  30/10/2004  23.00.00    1,9


            Date      Time CO(GT)
6342  30/11/2004  00.00.00    1,2


            Date      Time CO(GT)
6343  30/11/2004  01.00.00    1,4


            Date      Time CO(GT)
6344  30/11/2004  02.00.00    1,2


            Date      Time CO(GT)
6345  30/11/2004  03.00.00    0,8


            Date      Time CO(GT)
6346  30/11/2004  04.00.00    0,6


            Date      Time CO(GT)
6347  30/11/2004  05.00.00    0,6


            Date      Time CO(GT)
6348  30/11/2004  06.00.00    0,7


            Date      Time CO(GT)
6349  30/11/2004  07.00.00    1,1


            Date      Time CO(GT)
6350  30/11/2004  08.00.00    2,5


            Date      Time CO(GT)
6351  30/11/2004  09.00.00    3,6


            Date      Time CO(GT)
6352  30/11/2004  10.00.00    3,6


            Date      Time CO(GT)
6353  30/11/2004  11.00.00    3,3


            Date      Time CO(GT)
6354  30/11/2004  12.00.00      2


            Date      Time CO(GT)
6355  30/11/2004  13.00.00    1,9


            Date      Time CO(GT)
6356  30/11/2004  14.00.00    2,2


            Date      Time CO(GT)
6357  30/11/2004  15.00.00    2,2


            Date      Time CO(GT)
6358  30/11/2004  16.00.00    3,8


            Date      Time CO(GT)
6359  30/11/2004  17.00.00    3,5


            Date      Time CO(GT)
6360  30/11/2004  18.00.00    5,2


            Date      Time CO(GT)
6361  30/11/2004  19.00.00    6,3


            Date      Time CO(GT)
6362  30/11/2004  20.00.00    6,8


            Date      Time CO(GT)
6363  30/11/2004  21.00.00    4,1


            Date      Time CO(GT)
6364  30/11/2004  22.00.00    2,3


            Date      Time CO(GT)
6365  30/11/2004  23.00.00    1,9


            Date      Time CO(GT)
7062  30/12/2004  00.00.00   -200


            Date      Time CO(GT)
7063  30/12/2004  01.00.00   -200


            Date      Time CO(GT)
7064  30/12/2004  02.00.00   -200


            Date      Time CO(GT)
7065  30/12/2004  03.00.00   -200


            Date      Time CO(GT)
7066  30/12/2004  04.00.00   -200


            Date      Time CO(GT)
7067  30/12/2004  05.00.00   -200


            Date      Time CO(GT)
7068  30/12/2004  06.00.00   -200


            Date      Time CO(GT)
7069  30/12/2004  07.00.00   -200


            Date      Time CO(GT)
7070  30/12/2004  08.00.00   -200


            Date      Time CO(GT)
7071  30/12/2004  09.00.00   -200


            Date      Time CO(GT)
7072  30/12/2004  10.00.00   -200


            Date      Time CO(GT)
7073  30/12/2004  11.00.00   -200


            Date      Time CO(GT)
7074  30/12/2004  12.00.00   -200


            Date      Time CO(GT)
7075  30/12/2004  13.00.00   -200


            Date      Time CO(GT)
7076  30/12/2004  14.00.00   -200


            Date      Time CO(GT)
7077  30/12/2004  15.00.00   -200


            Date      Time CO(GT)
7078  30/12/2004  16.00.00   -200


            Date      Time CO(GT)
7079  30/12/2004  17.00.00   -200


            Date      Time CO(GT)
7080  30/12/2004  18.00.00   -200


            Date      Time CO(GT)
7081  30/12/2004  19.00.00   -200


            Date      Time CO(GT)
7082  30/12/2004  20.00.00   -200


            Date      Time CO(GT)
7083  30/12/2004  21.00.00   -200


            Date      Time CO(GT)
7084  30/12/2004  22.00.00   -200


            Date      Time CO(GT)
7085  30/12/2004  23.00.00   -200


            Date      Time CO(GT)
7830  31/01/2005  00.00.00    1,7


            Date      Time CO(GT)
7831  31/01/2005  01.00.00    1,5


            Date      Time CO(GT)
7832  31/01/2005  02.00.00    0,8


            Date      Time CO(GT)
7833  31/01/2005  03.00.00    0,5


            Date      Time CO(GT)
7834  31/01/2005  04.00.00    0,4


            Date      Time CO(GT)
7835  31/01/2005  05.00.00    0,4


            Date      Time CO(GT)
7836  31/01/2005  06.00.00    0,4


            Date      Time CO(GT)
7837  31/01/2005  07.00.00    0,7


            Date      Time CO(GT)
7838  31/01/2005  08.00.00    1,8


            Date      Time  CO(GT)
7839  31/01/2005  09.00.00  -200,0


            Date      Time CO(GT)
7840  31/01/2005  10.00.00    3,5


            Date      Time CO(GT)
7841  31/01/2005  11.00.00    2,8


            Date      Time CO(GT)
7842  31/01/2005  12.00.00    3,1


            Date      Time CO(GT)
7843  31/01/2005  13.00.00    2,5


            Date      Time CO(GT)
7844  31/01/2005  14.00.00    2,7


            Date      Time CO(GT)
7845  31/01/2005  15.00.00    2,9


            Date      Time CO(GT)
7846  31/01/2005  16.00.00    3,2


            Date      Time CO(GT)
7847  31/01/2005  17.00.00    4,1


            Date      Time CO(GT)
7848  31/01/2005  18.00.00    6,1


            Date      Time CO(GT)
7849  31/01/2005  19.00.00    6,8


            Date      Time CO(GT)
7850  31/01/2005  20.00.00    6,8


            Date      Time CO(GT)
7851  31/01/2005  21.00.00    3,7


            Date      Time CO(GT)
7852  31/01/2005  22.00.00    2,1


            Date      Time CO(GT)
7853  31/01/2005  23.00.00    1,4


           Date      Time CO(GT)
486  31/03/2004  00.00.00    1,3


           Date      Time CO(GT)
487  31/03/2004  01.00.00      1


           Date      Time CO(GT)
488  31/03/2004  02.00.00    0,9


           Date      Time CO(GT)
489  31/03/2004  03.00.00    0,5


           Date      Time CO(GT)
490  31/03/2004  04.00.00    0,5


           Date      Time CO(GT)
491  31/03/2004  05.00.00    0,6


           Date      Time CO(GT)
492  31/03/2004  06.00.00      1


           Date      Time CO(GT)
493  31/03/2004  07.00.00    3,1


           Date      Time CO(GT)
494  31/03/2004  08.00.00    4,1


           Date      Time CO(GT)
495  31/03/2004  09.00.00    2,2


           Date      Time CO(GT)
496  31/03/2004  10.00.00    1,7


           Date      Time CO(GT)
497  31/03/2004  11.00.00    1,9


           Date      Time CO(GT)
498  31/03/2004  12.00.00    2,9


           Date      Time CO(GT)
499  31/03/2004  13.00.00    2,2


           Date      Time CO(GT)
500  31/03/2004  14.00.00    2,6


           Date      Time CO(GT)
501  31/03/2004  15.00.00    3,1


           Date      Time CO(GT)
502  31/03/2004  16.00.00    2,3


           Date      Time CO(GT)
503  31/03/2004  17.00.00    2,4


           Date      Time CO(GT)
504  31/03/2004  18.00.00    2,8


           Date      Time CO(GT)
505  31/03/2004  19.00.00    2,7


           Date      Time CO(GT)
506  31/03/2004  20.00.00    2,3


           Date      Time CO(GT)
507  31/03/2004  21.00.00    1,5


           Date      Time CO(GT)
508  31/03/2004  22.00.00    1,4


           Date      Time CO(GT)
509  31/03/2004  23.00.00    1,2


            Date      Time CO(GT)
9246  31/03/2005  00.00.00    1,2


            Date      Time CO(GT)
9247  31/03/2005  01.00.00    1,1


            Date      Time CO(GT)
9248  31/03/2005  02.00.00    0,7


            Date      Time CO(GT)
9249  31/03/2005  03.00.00    0,6


            Date      Time CO(GT)
9250  31/03/2005  04.00.00    0,5


            Date      Time CO(GT)
9251  31/03/2005  05.00.00    0,6


            Date      Time CO(GT)
9252  31/03/2005  06.00.00    0,9


            Date      Time CO(GT)
9253  31/03/2005  07.00.00    4,0


            Date      Time CO(GT)
9254  31/03/2005  08.00.00    4,1


            Date      Time CO(GT)
9255  31/03/2005  09.00.00    1,9


            Date      Time CO(GT)
9256  31/03/2005  10.00.00    1,3


            Date      Time CO(GT)
9257  31/03/2005  11.00.00    1,2


            Date      Time CO(GT)
9258  31/03/2005  12.00.00    1,2


            Date      Time CO(GT)
9259  31/03/2005  13.00.00    1,2


            Date      Time CO(GT)
9260  31/03/2005  14.00.00    0,9


            Date      Time CO(GT)
9261  31/03/2005  15.00.00    1,0


            Date      Time CO(GT)
9262  31/03/2005  16.00.00    1,1


            Date      Time CO(GT)
9263  31/03/2005  17.00.00    1,5


            Date      Time CO(GT)
9264  31/03/2005  18.00.00    2,1


            Date      Time CO(GT)
9265  31/03/2005  19.00.00    2,1


            Date      Time CO(GT)
9266  31/03/2005  20.00.00    1,5


            Date      Time CO(GT)
9267  31/03/2005  21.00.00    1,0


            Date      Time CO(GT)
9268  31/03/2005  22.00.00    0,8


            Date      Time CO(GT)
9269  31/03/2005  23.00.00    0,8


            Date      Time CO(GT)
1950  31/05/2004  00.00.00    0,2


            Date      Time CO(GT)
1951  31/05/2004  01.00.00    0,3


            Date      Time CO(GT)
1952  31/05/2004  02.00.00   -200


            Date      Time CO(GT)
1953  31/05/2004  03.00.00   -200


            Date      Time CO(GT)
1954  31/05/2004  04.00.00   -200


            Date      Time CO(GT)
1955  31/05/2004  05.00.00   -200


            Date      Time CO(GT)
1956  31/05/2004  06.00.00    0,5


            Date      Time CO(GT)
1957  31/05/2004  07.00.00    1,6


            Date      Time CO(GT)
1958  31/05/2004  08.00.00    3,6


            Date      Time CO(GT)